[2017-12-04 16:04] GuillaumeAV opened #5 "Ajouter complément d'adresse dans l'ontologie ..."

[2017-12-04 16:10] GuillaumeAV opened #6 "Mettre hasSubject_Pair pour Event"
Sujet de l'événement

[2017-12-05 15:33] GuillaumeAV opened #12 "Pouvoir requêter via le moeteur de recherche des concepts dbpedia"

[2017-12-06 14:20] GuillaumeAV opened #14 "Problème avec l'affichage des images"
Présente dans mon profil mais pas dans les interfaces publiques ...

Par ailleurs ca a déconné quand j'ai voulu mettre celle d'un projet ..

[2017-12-06 14:30] #5 closed

[2017-12-06 14:30] #6 closed

[2017-12-07 14:58] GuillaumeAV commented on #14
Ca va mieux mais sur event, j'ai du raffraichir 2 fois pour que l'image s'affiche ..

[2017-12-07 15:02] GuillaumeAV commented on #14
Par ailleurs, la je crée un projet et l'image de l'event est affichée par défaut ..

[2017-12-07 15:19] SebLemoine commented on #14
Le problème est du au faut que tu créée une ressource vide mais avec une image

[2017-12-07 15:19] SebLemoine commented on #9
je suis dessus

[2017-12-08 08:12] GuillaumeAV commented on #14
Et il y a une solution ?

[2017-12-13 08:59] GuillaumeAV commented on #19
Pour la V2 essayer de trouver une solution pour situer les POI au niveau de la commune ou  du quartier  pour la partie publique ...

[2017-12-13 09:15] GuillaumeAV commented on #18
Réfléchir cependant au processus d'inscription...

L'idée du matin : Proposer le formulaire personne en guise d'inscription sur la plateforme ..

Solution technique envisageable : Retirer le type jusqu'à validation du compte ...

[2017-12-13 09:17] #14 closed

[2017-12-13 09:19] GuillaumeAV commented on #10
Pas possible d'y accéder ;-)

[2017-12-21 14:50] GuillaumeAV commented on #33
A ce sujet, je me disais qu'on pouvait tirer profit des URI uniques et des labels multilingues ..

[2017-12-21 15:10] SebLemoine commented on #33
Très compliquer a gérer

[2017-12-21 15:18] GuillaumeAV commented on #33
Okay ... Et via une relation hasEnglishVersion ?

[2017-12-21 15:23] SebLemoine commented on #33
L'idée est surtout de proposer le site en +ieur langues, pas le contenu des formaulires (au moins dans un premier temps)

[2017-12-21 15:44] GuillaumeAV commented on #28
Mettre : Ses amis et collaborateurs

[2017-12-21 15:46] GuillaumeAV commented on #10
Tu la fermes quand tu veux celle-ci ?

[2017-12-22 17:27] SebLemoine commented on #29
spec de form a construire pour chaque et ok :)

[2017-12-29 08:17] SebLemoine commented on #29
form type ajouté pour projet,event et proposition

[2018-01-09 15:40] atantet commented on #35
Même problème concernant les panneaux "document" et "Est concerné par"

[2018-01-10 09:30] GuillaumeAV commented on #33
Curieux d'en savoir plus sur ce que tu envisages !

[2018-01-10 09:35] GuillaumeAV commented on #34
C'est trop cool !

A ce sujet, Jean Marc suggérait que le bout de code qu'il a écrit, lequel permet d'afficher la carte de manière à ce qu'elle englobe l'ensemble des noeuds, pourrait être pertinent ... Je crois aussi ! Je lui suggère de faire un petit pull request !

[2018-01-10 09:41] GuillaumeAV commented on #29
Il manque la capacité à éditer les domaines d'activités ;-)

[2018-01-16 09:03] SebLemoine commented on #35
Bonjour ! Normalement résolu, c'étais suite à une mise à jour oublié... merci !

[2018-01-16 09:04] SebLemoine commented on #30
Suite à la réunion : pas forcément besoin pour le moment

[2018-01-16 09:10] SebLemoine commented on #17
Suite à la réunion : pas forcément besoin pour le moment

[2018-01-16 09:18] SebLemoine commented on #34
Je vais créer une autre issue !

[2018-01-19 15:04] GuillaumeAV opened #42 "Front : remplacer "Ses ami(e)s au MMM Fest""
Par "Ses amis et collaborateurs"

[2018-01-22 14:26] SebLemoine commented on #37
Import pour une personne disponible ! Déploiement pour les autres types en cours

[2018-01-29 09:15] GuillaumeAV opened #53 "La page les utililsateurs est bugguée..."
http://sandbox.assemblee-virtuelle.org:8000/administration/user/list

[2018-01-29 09:20] GuillaumeAV opened #54 "Les domaine thématiques ne sont pas présents sur 8080"

[2018-01-29 09:21] GuillaumeAV opened #55 "Sur la complétion dbpedia limiter l'affichage de l'abstract à une ligne ..."
La ca prend tout le paragraphe, ce qui nuit à la lecture ...

[2018-01-29 09:22] GuillaumeAV opened #56 ""l'image a été rajouté avec succès" alors que je n'ai pas ajouté d'image .."
Quand j'ai sauvegardé le profil de l'orga AV... Mais aussi pour projet et je crois personne ...
On dirait que ca correspond en fait à :
"Le profil a été créé avec succès"

[2018-01-29 09:25] GuillaumeAV opened #57 "Pour Orga : Rendre obligatoire le fait de renseigner un responsable au moins ..."
Je me suis fait avoir pour Assemblée Virtuelle ;-)

[2018-01-29 09:31] GuillaumeAV commented on #57
Par ailleurs, je pensais que le profil AV était perdu (puisque pas de responsable renseigné) mais en fait :

Quand j'ai par la suite créé mon profil personne et renseigné "Responsable AV" j'ai ensuite eu accès à l'interface admin de AV, alors que normalement, l'admin est censé être attribué uniquement aux personnes renseignées par l'organisation .... (L'histoire du double lien..)

[2018-01-29 10:35] GuillaumeAV opened #59 "Voir si on peut saisir les entrées DBPedia en francais ..."
V1 ? V2 ?

[2018-01-29 10:39] GuillaumeAV opened #60 "Changements dans les textes"
**CONTEXTE PERSONNE**

Projets de vous : Projets personnels
Ajouter un projet pour vous -> Ajouter un projet personnel

**TEXTE**
**Les projets**
Remplacer "Outre le projet de votre atelier au MMM, [...]" par :

Vous pouvez éditer un projet :
- En tant que Personne
- Ou en tant qu'Organisation si vous avez des droits d'administration sur cette dernière.

Si vous n'avez pas de droits d'édition sur

[2018-01-29 10:59] GuillaumeAV opened #61 "Mettre complément d'adresse sur event"
Bizarrement, il est manquant ...

[2018-01-29 11:13] GuillaumeAV opened #62 "Enlever proposition et types de propositions ..."
Pas nécessaire dans le cadre de nos use cases ...

On va par ailleurs sans doute le retirer de l'ontologie ...

[2018-01-29 13:54] SebLemoine commented on #53
résolu avec le dernier commit

[2018-01-29 13:54] #53 closed

[2018-01-30 09:56] SebLemoine commented on #59
Pas possible sur dbpedia à l'heure actuel

[2018-01-30 11:03] SebLemoine commented on #50
done !

[2018-01-30 11:05] #42 closed

[2018-01-30 11:09] SebLemoine commented on #62
Je vais le laisser pour la v1. On verra dans la V2 s'il est utile ou non a être retiré

[2018-01-30 11:09] #62 closed

[2018-01-30 11:10] SebLemoine commented on #47
same as #62

[2018-01-30 11:12] SebLemoine commented on #58
linked to issue #37

[2018-01-30 11:14] SebLemoine commented on #29
Je vais recréer une issue pour ce cas

[2018-01-30 11:14] SebLemoine opened #63 "Move all *component*type form to a skos form"

[2018-01-30 11:16] SebLemoine commented on #31
Je préfère laisser un datatype pour éviter de créer des personnes dont le profil sera vide et potentiellement non éditable

[2018-01-30 11:37] #59 closed

[2018-01-30 13:25] jmvanel commented on #59
Comme je disais, c'est possible,
à condition de charger une partie utile de dbPedia dans SF,
et alors SF va utiliser ça dans son service /lookup , lequel renvoie un format de réponses compatibles avec le service dbPedia lookup.

Tout ça a été testé il y a un an ou 2 environ;
il y a de la doc.:
https://github.com/jmvanel/semantic_forms/blob/master/doc/en/administration.md#populating-with-dbpedia-mi

[2018-01-30 18:03] SebLemoine commented on #57
see commit 88b8395a39ea3fbf3de8c655088547911adc3377

[2018-01-30 18:03] SebLemoine commented on #52
On voit ça demain enssemble ;)

[2018-01-31 08:48] GuillaumeAV opened #64 "Alexis s'est mis en membre des chemins de la transition mais il n'appariat pas ..."
Petit bug ?

[2018-02-01 10:08] SebLemoine commented on #64
Eh non ;) L'organisation doit le déclarer membre pour qu'il y ait accès maintenant :)

[2018-02-01 10:08] #64 closed

[2018-02-02 10:56] GuillaumeAV commented on #61
Le form Event buggue ... http://sandbox.assemblee-virtuelle.org:8000/mon-compte/component/event/form

[2018-02-02 12:03] GuillaumeAV opened #69 "Invite -> Inviter des personnes"

[2018-02-02 12:10] GuillaumeAV opened #70 "Texte éditeurs Orgas"
Mettre une infobulle :

"Important : Lorsque des membres, employés et responsables de l'organisation sont renseignés ici, cela leur donne des droits d'édition sur l'ensemble des contenus de l'organisation (profil orga, projets, événements, documents). Renseignez donc ici les personnes auxquelles vous souhaitez donner des accès en édition !

[2018-02-02 12:13] GuillaumeAV opened #71 "Footer"
Enlever les personnes

[2018-02-02 12:25] #55 closed

[2018-02-02 12:25] #56 closed

[2018-02-02 12:27] GuillaumeAV commented on #60
Si tu peux ...

En lève :

Une belle occasion de les faire connaître et de créer de nouvelles opportunités !

[2018-02-02 12:43] GuillaumeAV opened #73 "erreur création d'orga : responsable (utilisateur courant) non renseigné automatiquement"

[2018-02-02 12:48] #54 closed

[2018-02-02 12:49] SebLemoine commented on #61
Mettre a jour spec de form côté sf

[2018-02-02 12:49] #61 closed

[2018-02-02 13:27] SebLemoine commented on #65
Je ne sais pas mais à surveiller

[2018-02-02 13:39] SebLemoine commented on #73
Peut être erreur de mise à jour, testé en locale et cela fonctionne. A vérifier

[2018-02-05 08:19] atantet opened #74 "Amis et collaborateurs absent du panneau de droite"
Sur SemMaps 8080, la section "Amis et collaborateurs" est absente du panneau de droite.
En fait il réapparaît une fois que je rajoute des nouveaux amis, mais n'affiche que les nouveaux amis (dans mon cas Jonas, mais pas Guillaume et Liubov).

[2018-02-05 14:25] SebLemoine commented on #74
Ok maintenant !

[2018-02-05 14:25] #74 closed

[2018-02-06 09:13] GuillaumeAV opened #75 "Ajouter bouton retirer sur orga ..."
Y compris quand c'est une ressource créée localement ;-)

[2018-02-06 09:41] SebLemoine commented on #76
Done !

[2018-02-06 10:09] GuillaumeAV opened #81 "Ajouter un texte pour les types"
Sur les types (Vue liste), ajouter un texte :

Attention : L'édition des types est partagée entre l'ensemble des membres de la plateforme. Veillez donc à en faire bon usage ! Si vous souhaitez supprimer ou refondre en profondeur la logique des types, rapprochez vous de l'administrateur de la plateforme en envoyant un mail à [...]

[2018-02-06 10:13] GuillaumeAV opened #82 "Localisation - Trop précis en mode public"
On en avait discuté, n'y a t'il pas moyen de restreindre la précision au code postal en mode public ? (Et non à la rue ni au numéro ? )

[2018-02-06 10:22] SebLemoine commented on #79
same as #48

[2018-02-06 11:19] SebLemoine commented on #73
Fiat pour les profil importé mais pas pour ceux créer directement sur la plateforme.

[2018-02-06 11:22] SebLemoine commented on #65
Done !

[2018-02-11 11:07] SebLemoine commented on #84
Je n'ai pas importé l'ontologie sur sf ! Ce n'est pas grands choses :D

[2018-02-12 13:01] GuillaumeAV opened #89 "Intégrer la syntaxe Markdown"
Parce que c'est cool !

[2018-02-12 15:37] #89 closed

[2018-02-13 10:50] GuillaumeAV opened #91 "Problème de design sur les pairs liés au concepts dbpedia"
Les projets, documents et autres ne respectent par la charte graphique du reste ;-)

Exemple :
http://semapps.virtual-assembly.org/ressource?uri=http%253A%252F%252Fdbpedia.org%252Fresource%252FSemantic_Web&person=http%253A%252F%252Fdbpedia.org%252Fresource%252FSemantic_Web

[2018-02-14 11:18] GuillaumeAV opened #93 "Trouver un layer OSM coool et lisible"
Si vous avez des suggestions ;-)

[2018-02-14 11:31] atantet opened #94 "Tags pour la langue lors de l'ajout d'un document"
Lorsqu'on ajoute un document, le champ "langue" est libre alors qu'il pourrait proposer les langues existantes.

[2018-02-14 11:32] #91 closed

[2018-02-14 11:33] #82 closed

[2018-02-14 11:33] #81 closed

[2018-02-14 11:33] #75 closed

[2018-02-14 11:35] #70 closed

[2018-02-14 11:35] #69 closed

[2018-02-14 11:35] #73 closed

[2018-02-14 11:36] #63 closed

[2018-02-14 11:38] #60 closed

[2018-02-14 11:50] #71 closed

[2018-02-15 14:52] GuillaumeAV opened #95 "Bugs sur les domaines d'activité"
Quand on clique sur le domaine d'activité d'une personne, ca n'affiche rien ... Chelou !

[2018-02-15 15:01] GuillaumeAV opened #96 "Avoir de la complétion en Français..."
Ce serait  génial !

[2018-02-15 15:17] SebLemoine commented on #96
Su DBPédia, pas possible...

[2018-02-15 15:18] SebLemoine commented on #95
Normal ! On ne les "gères" pas encore dans l'application, on importe un thésaurus de l'extérieur !

[2018-02-15 15:52] jmvanel commented on #96
J'ai répondu à ça sur Slack ( pas bon , je reconnais )

[2018-02-16 09:39] GuillaumeAV opened #99 "Ce serait bien d'ajouter le bouton retirer dans l'interface de visualisation"
Ca évite de passer par l'interface admin ...

[2018-02-26 18:13] GuillaumeAV opened #102 "Fautes sur les labels access control"
Mettre des majuscules à Partager (écriture / lecture)

Reformuler ...
- Partager sur le web
- Partager avec les membres de cette plateforme

[2018-02-28 16:51] cocolinette opened #103 "Mettre un bouton "Signaler un problème" visible et accessible sur le semapps de l'AV"
Pour permettre d'avoir un retour d'expériences d'utilisateurs qui (comme moi) n'y connaissent r.i.e.n au codage et qui ne feraient pas l'effort de s'inscrire sur le github (parce que c'est trop dur >.<)

_J'ai volontairement mis une expression française et pas "feedback" ou "report an issue" parce que parmi les gens à qui on va montrer la plateforme pour la promouvoir il y en a beaucoup qui sont a

[2018-03-02 11:47] GuillaumeAV opened #105 "Organiser les items par ordre alphabétique"
- Les objets en visualisation (mots-clés, personnes, documents etc.
- Les listes d'items dans l'interface admin (sauf peut être les événements ...)

[2018-03-02 13:43] GuillaumeAV opened #107 "Tous les membres de l'AV ont accès en édition aux orgas ChezNous et CodeSocial.org"
Je pense que c'est parce que tu dois sans doute ouvrir des droits en édition aux "Partenaires" de ChezNous, alors qu'il faudrait seulement en ouvrir aux membres / Employés / Responsables ;-)

[2018-03-02 14:05] atantet opened #108 "Proposition de suivi des version des documents"
Une feature qui pourrait être bien serait de pouvoir rassembler plusieurs version d'un même document en une entrée SemApps, avec un moyen de choisir la version.
Par version, j'entends:
- Une itération: v0.1, v1, v2, ...
- Une langue: FR, EN, ...

[2018-03-02 17:04] GuillaumeAV opened #109 "Il y a 2 Marc Tirel et 2 Chemins de la Transition ;-)"
Il faudrait supprimer ces doublons et peut-être veiller à ce que ca ne se reproduise plus ?

[2018-03-05 10:17] GuillaumeAV opened #110 "Petit bug au niveau des centres d'intérêts / thesaurus thématique"
Il y a des false ... C'est très bizarre ..

http://semapps.virtual-assembly.org/detail?uri=http://data.virtual-assembly.org:9050/ldp/1520244062237-4576640630395141

[2018-03-05 13:33] GuillaumeAV opened #111 "Pouvoir mettre des images sur les documents ..."
Ce serait top !

[2018-03-05 13:55] GuillaumeAV commented on #109
Il y a 2 cheznous également ...

C'est peut être lié à une erreur de manip de ma part ... On voulait voir si en enlevant AV des partenaires AV de ChezNous, ca enlevait les droits d'édiution à la communauté AV ... J'ai raffrfaichi tout en étant sur le profil chez nous et 2 chez nous sont apparus ...

[2018-03-06 14:55] GuillaumeAV opened #113 "Indiquer la source des données"
Ce serait peut-être bien d'indiquer par défaut, et automatiquement, en partage public, la source des données ? (Et non l'uri précise ...)

[2018-03-07 10:27] GuillaumeAV commented on #104
Nice to have :
Avoir des rubriques : Evenements passés / Aujourd'hui / A venir ..

[2018-03-07 10:33] GuillaumeAV commented on #101
Il y a peut-être une logique un poil spécifique à construire :

Proposer ou demander un service :
1. Décrire le service
2. Décrire la propriété objet : Vendre ? Prêter ? Acheter ? Louer ? (...)

Sans quoi il faudrait créer je crois des classes de type "offering" "demand" etc.

[2018-03-07 10:36] #95 closed

[2018-03-07 10:37] GuillaumeAV commented on #93
Le layer d'origine allait mieux avec la charte graphique de AV ...

[2018-03-07 10:41] GuillaumeAV commented on #39
Cette issue vaut encore pour les numéros de tel et les mails notamment ..

[2018-03-07 11:07] johanricher commented on #93
Plutôt d'accord... mais je pense qu'on peut aussi trouver mieux.

[2018-03-12 14:16] atantet opened #118 "Bulle descriptive (i) à côté de chaque champ"
Quand on édite un objet (projet, évènement, document, etc.), certains champs peuvent prêter à confusion (thème, mots-clés, concerne, etc.).

Ça pourrait rendre le site plus ergonomique d'avoir une bulle d'information avec une description du champ à côté de chaque champ.

[2018-03-14 20:10] GuillaumeAV commented on #107
Merci pour l'explication, la solution que tu proposes (génériciser les rubriques formulaires et catégoriser leur provenance) est pas mal !

[2018-03-14 20:12] GuillaumeAV commented on #108
ca suppose d'avoir un prédicat hasVersion ...

[2018-03-14 20:31] GuillaumeAV commented on #118
Et notamment Description (Avec un tuto markdown simplifié)

[2018-03-14 20:54] GuillaumeAV opened #121 "Faire une doc ! Et partager les accès pour faciliter la collaboration ;-)"
Et abstraire ;-)

[2018-04-05 09:11] GuillaumeAV commented on #113
Par exemple : http://semapps.virtual-assembly.org/

[2018-04-10 11:58] GuillaumeAV opened #122 "Problème lors de la suppressions de documents liés ..."
Je ne parviens pas à enlever un doc du le profil de l'AV (Metropolitan civic mappers ..) même en enlevant le lien des 2 côtés ;-)

http://semapps.virtual-assembly.org/detail?uri=http://data.virtual-assembly.org:9050/ldp/1518201886008-2534464400820744

[2018-05-12 08:41] jmvanel commented on #123
Je fais face à la même problématique avec Semantic_forms. En effet dbPedia n'est pas mort, mais en perte de vitesse (livraison retardée, problèmes sur le service de complétion).

Pour la complétion, voir "Services web Wikidata" dans
http://semantic-forms.cc:9112/ldp/1513413388009-29094334797951709

Pour les données existantes utilisant dbPedia, la liaison doit être assurée.
La correspondance owl:s

[2018-05-12 09:07] jmvanel commented on #123
Ou alors, on lance sur dbPedia une grosse requête qui recupère tous les triplets
`?URI_DBPEDIA owl:sameAs ?XXX .`
où `?XXX` commence par `wikidata:` .
pour les charger sur SF .
Ainsi, il n'y a aucun développpement sur SF .

[2018-05-14 13:14] bouviermullerp commented on #124
S'inspirer du fonctionnement des webcomponents.
Avant de se lancer, documenter la procédure de mise à jour souhaiter et l'architecture pour la supporter.

[2018-05-24 14:03] bouviermullerp commented on #100
Regarder quels quick win on pourrait mettre en place pour faciliter la navigation sur smartphone

[2018-05-24 14:04] bouviermullerp commented on #4
Il y a peut-être une logique un poil spécifique à construire :
Proposer ou demander un service :
Décrire le service
Décrire la propriété objet : Vendre ? Prêter ? Acheter ? Louer ? (...)
Sans quoi il faudrait créer je crois des classes de type "offering" "demand" etc.

[2018-05-24 14:10] bouviermullerp commented on #103
un lien qui redirige vers github pour y créer une issue :)

[2018-05-24 14:12] bouviermullerp commented on #110
investigation à faire ?

[2018-05-24 14:15] GuillaumeAV commented on #110
En fait ca déconne quand on clique sur les entrées du thésaurus, à partir de profils personnes, sur la droite de l'interface

[2018-05-24 14:19] bouviermullerp commented on #116
Dans l'interface Admin de l'Assemblée Virtuelle, le bug n'est pas corrigé

[2018-05-24 14:21] bouviermullerp commented on #117
ajouter des petites info bulles ? A spécifier :)

[2018-05-24 14:41] bouviermullerp opened #127 "Déploiement ShareCoop"

[2018-06-04 10:11] GuillaumeAV commented on #4
To-do **commune à Biens Services, Lieux**, suite au test de création d'un service :

- Afficher les relations sur la droite (offeredBy - Assemblée Virtuelle ...)
- Afficher les résultats sur la partie publique (dans les onglets afférents) et via le moteur de recherche

[2018-06-13 11:14] GuillaumeAV opened #133 "Bouton Mon compte - Le séparer en :"
- Mon compte (Un icone Editer avec "Mon compte en survol ?)
- Déconnexion (Un icone avec "Se déconnecter en survol ?)

Bénéfice : S'économiser un clic à chaque fois ...

[2018-06-14 16:33] GuillaumeAV opened #134 "Ajouter les accès en écriture lecture pour biens, services et lieux .."
(...)

[2018-06-14 17:05] GuillaumeAV opened #135 "Les biens services lieux n'apparaissent pas sur la partie publique des organisations qui les offrent .."

[2018-07-09 23:45] SebLemoine commented on #137
J'aime bien quand l'image est statique :o

[2018-07-10 00:12] SebLemoine commented on #125
A voir si, avec les derniers commits, le bug n'est pas résolu

[2018-07-10 09:23] PulsarFox commented on #137
Nan bah en fait le background y'avait pas de problème, c'est juste le scroll hidden qui posait problème, sur la page mmmfest on l'a mis en overflow-y: scroll

[2018-07-16 15:09] PulsarFox opened #138 "Rendre le site responsive pour vues Mobiles"
Semapps est vraiment pas du tout responsive pour les vues mobiles, y'a quelques éléments mais pas assez.
Pour un site de carto c'est bien de l'avoir sur mobile

[2018-07-16 15:37] #102 closed

[2018-08-19 12:13] Swannbm commented on #140
Very interesting feedback. Many thanks !
I'll update readme with your comments (points a to c). Others are out of my skills :)

[2018-10-01 09:07] PulsarFox opened #141 "Les comptes sont parfois bloqués"
Parfois les comptes sont bloqués, mettre le mot de passe donne un "identifiants inccorect" et le seul moyen de se reconnecter est d'envoyer un mail de réinitialisation du mot de passe.

[2018-10-01 09:09] PulsarFox opened #142 "Mettre un choix de plusieurs cartes"
Ajouter a la page principale un choix de cartes/svg/images
Par exemple pour les grands voisins, avoir la carte de la france et la cartographie du site, pour prats la carte de la france, l'image de la ville et pourquoi pas l'image d'un quartier spécifique

Tout ça paramétrable par fichier de conf

[2019-11-02 17:46] bouviermullerp opened #1 "Visualiser sous forme de liste"
On est capable d'afficher la liste de tous les enregistrements qu'on a en base, sous la forme d'un tableau simple.
Toutes les informations sont affichées, chaque champ.

[2019-11-02 17:50] bouviermullerp opened #2 "Visualiser les données en carte"
**Description**
Certains enregistrements ont des coordonnées (des évènements et des lieux principalement). On peut les afficher sous forme de carte géographique.

**Issues**
- [x] Composant React-Admin qui affiche les données sur une carte Leaflet #577
- [x] Pouvoir ajouter une donnée de géolocalisation dans react-admin #482

**Améliorations possibles dans le futur**
- Afficher des marqueurs de co

[2019-11-02 17:51] bouviermullerp opened #3 "Visualiser sous la forme d'agenda"
Il est possible de visualiser les enregistrements qui ont une date (de début et de fin) sur une timeline

[2019-11-02 17:53] bouviermullerp opened #4 "Visualiser les données en graph"
**Question originale de Pierre :**
"Il est possible de visualiser tous les enregistrements sous la forme d'un graph (comme Flodio ?)"

**Description**
L'objectif est de fournir une vue en graph en réseau, soit pour l'ensemble d'un Semapps, soit pour une donnée précise. Mais contrairement à l'application CartoSemapps actuelle, celle-là devra être intégrée à Semapps en tant que service optionnel.

*

[2019-11-02 17:59] bouviermullerp opened #7 "Afficher l'historique d'une ressource"
**prérequis** : traçabilité

En plus de l'affichage des éléments qui le constitue. On a une idée de l'activité d'un noeud par les relations qui se sont créées, enlevées.

[2019-11-02 18:01] bouviermullerp opened #8 "Editer sous forme de formulaire"
Il est possible de créer de nouveaux éléments par un formulaire

[2019-11-02 18:01] bouviermullerp opened #9 "Editer en édition libre (type wiki),"
afin que tout le monde puisse enrichir les données

[2019-11-02 18:02] bouviermullerp opened #10 "Possibilité de fonctionner en édition temps réel (hackMD…)"
Possibilité d'éditer un éléments de manière collaborative (surtout si c'est un document :) )

[2019-11-02 18:04] bouviermullerp opened #11 "Historisation / versionage / modération / Git (merge/pull request)"
Chaque action de création/modification/suppression est tracée.

[2019-11-02 18:05] bouviermullerp opened #13 "Recherche avancée via Sparnatural"
**Description**

**Issues liées**
- [ ] Virer jQuery de sparnatural
- [ ] Créer un composant React qui intègre sparnatural
- [ ] Intégrer ce composant dans l'interface Archipel

**Estimation du temps de travail en JH**
- @srosset81:
- @simonLouvet:

[2019-11-02 18:07] bouviermullerp opened #15 "Concevoir un logiciel générique, capable de travailler avec différentes ontologies partagées et partageables"
Auto-configuration de l'application en fonction de l'ontologie pour simplifier le déploiement

[2019-11-02 18:10] bouviermullerp opened #16 "Développer l'application mobile"

[2019-11-05 09:20] bouviermullerp opened #17 "Internationalisation"

[2019-11-05 09:25] bouviermullerp opened #18 "Inscription en local"
Possibilité de créer son user sur la plateforme

[2019-11-05 09:26] bouviermullerp opened #19 "CAS - Authentification - se déconnecter"
En tant qu'utilisateur, je peux me déconnecter de mon profil.

[2019-11-05 09:27] bouviermullerp opened #20 "Identification par les communs"
https://login.lescommuns.org/

[2019-11-05 09:27] bouviermullerp opened #21 "Mot de passe oublié"

[2019-11-05 09:28] bouviermullerp opened #22 "Changer login/mot de passe"

[2019-11-05 09:30] bouviermullerp opened #23 "Recherche par mots clefs"

[2019-11-05 09:30] bouviermullerp opened #24 "Affichage sur la carte (icônes, regroupements)"

[2019-11-05 09:31] bouviermullerp opened #25 "Filtrage par type de donnée (onglets)"

[2019-11-05 09:31] bouviermullerp opened #26 "Liste des résultats avec pagination"
Visualisation de la requête en mode tableau.

[2019-11-05 10:12] bouviermullerp opened #27 "Affichage des informations de base"

[2019-11-05 10:13] bouviermullerp opened #28 "Affichage de la carte (OSM)"

[2019-11-05 10:13] bouviermullerp opened #29 "Affichage de la description en markdown"
Avoir un éditeur/visualisateur markdown

[2019-11-05 10:13] bouviermullerp opened #30 "Affichage de documents HackMD en iframe ?"

[2019-11-05 10:13] bouviermullerp opened #31 "Affichage de la colonne de droite (données liées)"

[2019-11-05 10:14] bouviermullerp opened #32 "Formulaires dynamiques en fonction du type de donnée"

[2019-11-05 10:14] bouviermullerp opened #33 "Ajouter une donnée"

[2019-11-05 10:14] bouviermullerp opened #34 "Lier une donnée"

[2019-11-05 10:15] bouviermullerp opened #35 "Éditer une donnée"

[2019-11-05 10:15] bouviermullerp opened #36 "Supprimer une donnée"

[2019-11-05 10:15] bouviermullerp opened #37 "Gérer données DBPedia ?"

[2019-11-05 10:15] bouviermullerp opened #38 "Uploader un fichier / une image"

[2019-11-05 10:15] bouviermullerp opened #39 "Editeur WYSIWYG en markdown"

[2019-11-05 10:16] bouviermullerp opened #40 "Éditer mon profil"

[2019-11-05 10:16] bouviermullerp opened #41 "Inviter des personnes"
En tant qu'utilisateur enregistré, je peux inviter une personne à créer un profil avec son adresse email.

[2019-11-05 13:30] #33 closed, assigned to nobody

[2019-11-08 18:06] GuillaumeAV opened #43 "Avoir une complétion sur wikidata"
Un enjeu majeur.
Wikipedia est une base de connaissance planétairement utilisée et reconnue comme faisant autorité. Elle peut constituer un tiers de confiance.
Si nous faisons tous référence aux URIs Wikidata / DBpedia  pour taguer nos contenus, alors nous créerons des liens entre nos données par delà les systèmes d'informations, par delà les langues, par delà les continents.
Et nous permettrons l

[2019-11-20 15:51] bouviermullerp opened #44 "Recherche en SPARQL"
En tant qu'utilisateur, je peux effectuer une requête en base.
Les résultats s'affichent sous la forme d'une liste.

[2019-11-20 15:53] bouviermullerp opened #45 "Cliquer sur un résultat pour afficher le détail"
En tant qu'utilisateur, je peux cliquer sur la ligne du tableau d'une requête pour en afficher le détail.

[2019-11-20 15:56] bouviermullerp opened #46 "Edition d'un élément"
Prérequis : Issue #45

En tant qu'utilisateur enregistré, je peux écrire/modifier une donnée directement de l'affichage détaillée de celle-ci.

[2019-11-20 15:57] bouviermullerp opened #47 "Sparql EndPoint"

[2019-11-20 15:58] bouviermullerp opened #48 "Authentification - créer son profil"
En tant qu'utilisateur, je peux créer/déclarer mon profil.

[2019-11-20 15:58] bouviermullerp opened #49 "Authentification - s'identifier"
Prérequis : #48

En tant qu'utilisateur, je peux m'identifier

[2019-11-20 15:59] bouviermullerp opened #50 "Faire respecter les droits d'aspect ACL"

[2019-11-20 16:00] bouviermullerp opened #51 "Déployer Jena en Docker"

[2019-11-20 16:00] bouviermullerp opened #52 "Mettre en place les droits ACL"
**Description**
Customiser Fuseki pour qu'il prenne en compte les droits ACL en lecture et en écriture.
Créer un service Moleculer qui s'occupe d'ajouter et supprimer les droits, en fonction des régles métiers.

**Fuseki**
- [x] Prendre en compte les droits ACL en lecture et en écriture assemblee-virtuelle/semapps#569
- [x] Ne pas retourner les résultats du graph avec les webacl assemblee-virtuell

[2019-12-07 19:02] srosset81 opened #58 "Lancer automatiquement Prettier à chaque PR"
https://stefanzweifel.io/posts/run-prettier-or-php-cs-fixer-with-github-actions/

[2019-12-07 19:32] srosset81 commented on #51
Je ferme car ça a été fait par Simon

[2019-12-07 19:32] #51 closed, assigned to srosset81

[2019-12-12 15:30] bouviermullerp opened #65 "Cultiver la relation avec Nicolas de Logilab"
partager le code et la stack de SemApps

[2019-12-12 15:30] bouviermullerp commented on #65
Pierre Facilite

[2019-12-12 15:34] bouviermullerp commented on #65
Générer du code HTML à partir du code JS ?
Navigateur pour naviguer dans le sémantic.

1 réunion où c'est Nicolas qui présente + webcomponent natif à la main Vanilla sans framework.
1 réunion où c'est nous qu'on fait la démo
Ouvrir perspective sur le P2P festival

[2019-12-12 15:35] bouviermullerp opened #66 "Avoir une documentation propre et bien structurée"

[2019-12-12 15:35] bouviermullerp opened #67 "Traduire le wiki en anglais"

[2019-12-12 15:50] bouviermullerp opened #68 "Gestion des utilisateurs"
- Pouvoir créer un nouvel utilisateur, idéalement en RDF ou JSON-LD.
- Pouvoir lister tous les utilisateurs existants
- Pouvoir récupérer un utilisateur

[2019-12-12 17:29] bouviermullerp commented on #65
Email envoyé à Nicolas ce soir

[2019-12-15 12:02] simonLouvet opened #72 "Multiple Returns from a Routine"
Le fait de faire des retours multiples au cours d'une fonction me pose des problèmes de lisibilité et de maintenabilité. Bien que ce soit une pratique courante, j'ai déjà gaspillé plusieurs heures sur des projets complexes pour résoudre des bugs qui provenaient de ce genre de pratique car elles entraînaient une mauvaise compréhension du fonctionnement de la fonction.

Cela se confirme dans le chap

[2019-12-15 18:42] srosset81 commented on #72
En lisant le chapitre de Code Complete, il me semble qu'ils ne sont pas si opposés que ça aux multiples retours. Par exemple ils donnent ça comme un exemple de bonne pratique en C++:
[code]
Je pense que c'est surtout problématiques pour les grosses fonctions, qui font des returns là où on n'aurait pas imaginé. Si c'est vers la fin de la fonction, c'est déjà plus lisible.

Pour moi, le meilleure re

[2019-12-15 19:12] simonLouvet commented on #72
ma conclusion était mal formulée.

[2019-12-18 15:07] srosset81 opened #76 "Gérer correctement l'outbox d'ActivityPub"
- Un `POST` enregistre l'activité dans le triple store et l'attache à l'outbox
- Un `GET` retourne toutes les activitées postées dans l'outbox, par date d'envoi

[2019-12-18 15:14] srosset81 opened #77 "Créer un mass importer"
Utiliser [CommanderJS](https://github.com/tj/commander.js/) pour permettre d'importer des fichiers JSON-LD avec des activités ActivityPub dans le triple store.

S'inspirer de de ce qui a été fait pour le [serveur Symfony ](https://github.com/reconnexion/reconnexion-server/blob/master/src/Command/ImportCommand.php)

Si possible permettre d'importer tous types de ressources JSON-LD.

[2019-12-18 15:20] srosset81 opened #78 "Attacher une Inbox et une Outbox aux nouveaux utilisateurs"
A chaque fois qu'un utilisateur est créé, lui attacher ces endpoints:
[code]

[2019-12-18 15:21] srosset81 commented on #78
@simonLouvet  Pour que cela soit possible, il faudra émettre un événement à chaque fois qu'un nouvel utilisateur est créé, avec au minimum l'URI de l'utilisateur nouvellement créé, et si possible son username.

[2019-12-18 15:45] srosset81 opened #79 "Service pour envoyer des notifications mobiles push"
Créer un ExpoPushService (dans un package `@semapps/expo-push`) sur le modèle de [celui-ci](https://github.com/reconnexion/reconnexion-server/blob/master/src/Service/PushService.php).

- Gérer l'ajout de nouveaux devices et les lier à des utilisateurs
- Gérer l'envoi de notifications à un utilisateur ou à un device en particulier

Dans un premier temps utiliser le SDK fourni par Expo :
https://git

[2019-12-18 15:47] srosset81 commented on #79
Réfléchir à si on enregistre le token des devices dans le triple store ou dans une autre base de donnée (MongoDB ?)

[2019-12-18 16:08] srosset81 opened #80 "Service pour gérer les incoming webhooks"
Permettre d'envoyer de nouvelles actualités par un incoming webhook, afin de pouvoir réceptionner les données transformées via le bus sémantique.

Créer un service IncomingWebhooksService dans un package `@semapps/incoming-webhooks`.

Permettre de créer une clé API par acteur (via CommanderJS ?).

On peux ensuite envoyer les données vers un URL de type `/webhook/{apiKey}`.

S'inspirer sur le modèl

[2019-12-18 16:14] srosset81 commented on #80
Réfléchir où on enregistre les clés d'API. Si on les enregistre dans le triplestore, il faudrait mettre des droits d'accès pour que seul l'utilisateur loggé puisse voir sa clé.

[2019-12-21 12:06] simonLouvet commented on #78
@srosset81 si je comprends bien, tu parle d'un user qui serait ajouter par un post ldp? que le service ldo émette un message sur le broker pour que activity pub fasse une opération dédié à la gestion des inbox/outbox?
Si 'est bien cela, ok pour moi

[2019-12-23 09:03] srosset81 commented on #76
Réalisé dans la PR https://github.com/assemblee-virtuelle/semapps/pull/75

[2019-12-23 09:03] #76 closed, assigned to srosset81

[2019-12-23 09:22] srosset81 opened #83 "Gestion flexible des containers LDP standards"
Pour le serveur ActivityPub, j'ai besoin de pouvoir définir "à la volée" le container LDP dans lequel iront les objets, et j'ai besoin le nom de cet objet dépende du container.

Par exemple pour une ressource de type `ActivityStreams#Note`, j'ai besoin qu'elle soit enregistrée dans un container `/note` (défini par moi).
De plus, j'ai besoin que la ressource créée obtienne un URI de type `/note/{id

[2019-12-23 09:30] srosset81 commented on #83
Pour le `GET http://localhost:3000/note` et `GET http://localhost:3000/note/mon-commentaire`, on peut utiliser un catch-all qui est appelé systématiquement si aucun autre path ne match. Express gère ça très bien, et sans doute aussi Moleculer (via un middleware peut-être ?).

[2019-12-23 09:36] srosset81 commented on #83
Qu'en pensez-vous @simonLouvet @nikoPLP ?

[2019-12-23 09:42] srosset81 commented on #78
@simonLouvet Oui il s'agit d'émettre un message au broker. Au début cela sera sans doute fait par le service LDP, mais quand on aura un vrai système d'autentification, ce sera peut-être un autre service qui émettra l'événement. Tant que je peux le recevoir ça me va ;-)

[2019-12-23 09:49] srosset81 opened #84 "Finaliser les bases du serveur LDP"
Finaliser les bases du serveur LDP.
Avoir des conteners circonstanciés, à la racine.
S'assurer que les API répondent au besoin du front.

[2019-12-23 09:51] srosset81 commented on #68
@bouviermullerp J'ai splitté cette story : https://github.com/assemblee-virtuelle/semapps/issues/84 https://github.com/assemblee-virtuelle/semapps/issues/78 https://github.com/assemblee-virtuelle/semapps/issues/52 https://github.com/assemblee-virtuelle/semapps/issues/85

Cela facilitera la gestion et nous permettra de discuter de chaque point.

[2019-12-23 09:52] srosset81 commented on #68
A priori il faudrait trois endpoints:
- `POST /user`
- `GET /user/{id}`
- `GET /user`

[2019-12-23 10:07] srosset81 opened #85 "Gestion front des utilisateurs"
- Formulaire pour créer un nouvel utilisateur
- Page qui liste tous les utilisateurs enregistrés
- Formulaire pour envoyer un message (via ActivityPub) à un utilisateur enregistré

[2019-12-23 10:13] srosset81 opened #86 "Gérer le versioning des objets"
Si on mets à jour un objet, ActivityPub devra gérer plusieurs versions de cet objet. Par exemple si on crée une Note puis qu'on change le titre, on pourrait avoir ça dans l'outbox:

[code]
Il faut donc réfléchir à une stratégie de versioning.

[2019-12-23 10:30] srosset81 opened #87 "Utiliser une librairie pour construire les requêtes SparQL"
Eviter de construire "manuellement" les requêtes SparQL mais utiliser un builder comme ceux-ci :

https://github.com/AtomGraph/sparql-builder
https://www.npmjs.com/package/json-rql
https://github.com/D2KLab/sparql-transformer
https://github.com/GeoKnow/Jassa-Core/tree/master/lib/sparql

Autre possibilité : se baser sur https://github.com/RubenVerborgh/SPARQL.js qui permet de convertir un tableau J

[2019-12-23 10:44] srosset81 commented on #87
Personellement je pense qu'il serait bien de privilégier une librairie qui se base sur celle de Ruben, car cette dernière est super bien maintenue et testée.

J'aime bien https://github.com/AtomGraph/sparql-builder car c'est une interface très légère et bien pensée. Il ne serait pas difficile de l'améliorer pour qu'elle réponde à nos besoins.

https://github.com/gsvarovsky/json-rql est intéressant

[2019-12-23 11:24] srosset81 opened #88 "Mettre en place les premiers tests d'intégration"
Mettre en place quelques tests simples, genre :

- Sébastien demande à suivre Simon
- Simon envoie un message à ses followers
- Sébastien reçoit dans son inbox le message de Simon

[2019-12-23 11:52] srosset81 commented on #88
Il faudra sans doute prévoir un dataset de test dans Jena, et commencer chaque test par un `DROP ALL` qui nettoie toutes les données existantes.

[2019-12-23 13:50] nikoPLP commented on #87
En effet une interface "fluent" (c'est le nom) comme celle de sparql-builder est ce qui sera de plus pratique.
Ces interfaces de type fluent qu'on retrouve aussi dans LDFlex ou gremlin, permettent d'ecrire des requetes en une seule ligne, de composer des requetes avec de la logique conditionnelle, et reste trss lisibles.

Est ce que tu as testé sparql-builder ? est ce que ca convient a tes besoins

[2019-12-23 14:12] simonLouvet commented on #68
Je m'oriente plutôt vers ce type d'API

- CREATE one
  - POST /container/pair:actor + data sans son type
  - POST /subject + data avec son type (mais /subject n'est pas un container alors  bof, moins que /subject soit le container généraliste dans lequel on peut tout poster)

- READ one
  - GET /subject/{id}

- READ all
  - GET /container/pair:actor

- UPDATE one
  - PUT /subject/{id}
  - PATCH /s

[2019-12-23 14:22] simonLouvet commented on #84
J'ai commencé la spécification de LDP pour pouvoir se mettre d'accord.
https://hackmd.lescommuns.org/IwNgrAhgzCVQtADgGYFMAs90BN2PhGMgugOwQCcADKtsAEb0XBA=

[2019-12-23 14:30] srosset81 commented on #87
Bien dit ! :+1:
Doctrine, l'ORM utilisé par Symfony, propose aussi ce type d'interface et ça donne beaucoup de liberté.

Pas encore, je voulais d'abord avoir vos retours. Mais en effet il ne semble pas y avoir tout dans cette librairie, cela dit on pourrait voir pour l'améliorer.

[2019-12-23 15:00] simonLouvet commented on #68
voir #84

[2019-12-23 16:38] srosset81 commented on #84
Merci pour le document.
Je ne trouve pas qu'un hackmd soit très adapté pour discuter puisqu'on ne peut pas mettre de commentaires, alors voici mes observations.

Je trouve tes différentes solutions plus rigides que nécessaires. Tu pars sur l'idée d'un URL unique (`/subject`) pour accéder à toutes les ressources alors que rien dans les spécifications LDP n'impose de faire ça, et que d'autres soluti

[2019-12-23 16:42] srosset81 commented on #84
Ping @nikoPLP

[2019-12-23 16:47] simonLouvet commented on #84
@srosset81 oui, je les ai lu mais je partais de la conception qui me paraissait la plus cohérente pour me permettre de vous l'exposer. Je suis ouvert à toutes critiques, évolution et aller vers les besoins tel que tu les a exprimé.
Ok pour changer de support et ne pas utiliser hackmd.
"OWL" c'est juste pour expliquer d'ou vient le terme Object Property
``/note`` sous entends que c'est un container

[2019-12-23 16:53] simonLouvet commented on #83
@srosset81 pourquoi avoir besoin d'un slug. Un UUID ne te convient pas? Pas de problème pour gérer les slug pour un basic container à première vu mais je cherche le besoin.

[2019-12-23 16:57] srosset81 commented on #83
C'est une possibilité évoquée dans le LDP primer (section 2.4). Cela peut avoir du sens. Par exemple si les utilisateurs sont gérés par LDP (ce dont je ne suis pas sûr sur le long terme, mais c'est un autre sujet ... !), on pourrait avoir l'username en slug, et ainsi avoir un URI de type `/user/srosset81` plutôt que `/user/5t15sdgtdc78`.
Des API claires, c'est mieux pour la DX, et ça peut aussi êt

[2019-12-23 21:52] simonLouvet commented on #84
un subject en sémantique peut avoir plusieurs type. Comment gérer ce cas? le meme subject serait retourné par ``/ontology:class1`` et ``/ontology:class2``. Quel API utiliser en POST pour créer un objet dans ce cas la?

[2019-12-23 21:54] simonLouvet commented on #84
deux ontologies peuvent contenir la même classe mais elle ne sont pas forcement équivalente. Il est donc nécessaire d'inclure l'ontologie dans l'url. ``/onotology1:note`` et ``/ontology2:note`` par exemple.

[2019-12-24 04:23] nikoPLP commented on #83
@srosset81 pas besoin de middleware, moleculer-web fait ça tres bien, voir ici pour des exemples:
https://moleculer.services/docs/0.14/moleculer-web.html#Aliases

[2019-12-24 04:32] nikoPLP commented on #78
Donc il s'agirait de faire, coté LDP, un `broker.emit("user.created", user);` avec user qui est un objet contenant l'URI et le username.
Et coté activitypub, dans la definition du service ce serait cela:
[code]

[2019-12-24 09:06] srosset81 commented on #83
Ah effectivement puisque ça gère path-to-regexp :-) Faudrait faire `GET :path` ou `GET *` ?

[2019-12-24 11:18] simonLouvet commented on #83
++ pour le slug

[2019-12-24 11:27] srosset81 opened #90 "Exporter le triple store de SemApps v1"
https://semapps.virtual-assembly.org

- Le garder disponible quelque part en téléchargement
- L'importer dans un dataset du serveur de test

[2019-12-24 14:11] srosset81 commented on #88
Fait ! https://github.com/assemblee-virtuelle/semapps/pull/91

[2019-12-24 15:40] nikoPLP commented on #83
[code]
est un exemple de ton cas : un accès generique (premiere ligne), et un acces avec slug (seconde ligne)
Dans l'action `users.get` tu auras donc un `ctx.params.slug`

[2019-12-24 16:33] srosset81 opened #92 "Gérer la connexion CAS"
Le SSO de Colibris est de type CAS.
https://monprofil.colibris-lemouvement.org/

Voir quel librairie est la plus adaptée :
https://github.com/AceMetrix/connect-cas
https://github.com/TencentWSRD/connect-cas2
https://github.com/jmarca/cas_validate
https://github.com/kylepixel/cas-authentication
https://github.com/kcbanner/node-cas

Adapter la connexion OIDC afin de permettre plusieurs types de conn

[2019-12-25 18:40] srosset81 commented on #58
Fait https://github.com/assemblee-virtuelle/semapps/pull/93

[2019-12-28 23:03] simonLouvet commented on #84
spécification basique ici : https://github.com/assemblee-virtuelle/semapps/blob/master/docs/basicLDP.md

[2019-12-28 23:04] simonLouvet commented on #84
Nous faisons le choix de ne pas implémenter les containers de properties (Direct Container & Indirect Container) pour le moment. Documentation ici : https://github.com/assemblee-virtuelle/semapps/blob/master/docs/PropertiesContainer.md

[2019-12-28 23:16] simonLouvet commented on #84
en cours : https://github.com/assemblee-virtuelle/semapps/tree/_%2384

[2019-12-31 09:21] srosset81 commented on #84
@simonLouvet Je trouve quand même qu'un URL comme https://monserveur.com/pair:Event/ ça fait pas très "régulier". On pourrait pas plutôt utiliser https://monserveur.com/pair/Event ? De cette manière on aurait deux path distincts:
[code]
Par ailleurs on pourrait passer le mapping des ontologie comme paramètre du service LDP ?
[code]

[2019-12-31 10:02] simonLouvet commented on #84
On est d'accord pour les alias comme spécifié dans la doc. J'ai pas creuser/spécifié complètement les alias et j'ai des propositions alternatives dans la tête. Pour le moment, je me concentre sur la syntaxe par défaut

[2019-12-31 10:05] simonLouvet commented on #84
Je réfléchi à ta proposition de séparer ontologie et classe dans l'url. Idée intéressante à première vue mais plutôt en évolution.

[2019-12-31 18:16] srosset81 commented on #92
Il y a aussi une librairie pour PassportJS.
https://github.com/appdevdesigns/passport-cas

@simonLouvet est-ce que tu comptes utiliser PassportJS pour la connexion OIDC ? J'ai vu qu'il y a une librairie pour ça aussi http://www.passportjs.org/docs/openid/. Cela permettrait d'utiliser une seule interface pour tous les types de connexions, ce qui aiderait sans doute pour la modularité.

[2020-01-03 23:09] simonLouvet commented on #92
@srosset81 pour OIDC je compte bien utiliser passeport comme ce boilerplate qui doit être opérationnel : https://github.com/simonLouvet/OIDC-LesCommuns

[2020-01-07 21:52] srosset81 opened #97 "L'ontologie FOAF ne marche pas"
Si je poste sur http://localhost:3000/ldp/foaf:Person le JSON ci-dessous ça n'enregistre rien:

[code]

L'erreur suivante apparait dans les logs:

`Request error! jsonld.InvalidUrl : Dereferencing a URL did not result in a valid JSON-LD object. Possible causes are an inaccessible URL perhaps due to a same-origin policy (ensure the server uses CORS if you are using client-side JavaScript), too many

[2020-01-07 21:54] srosset81 opened #98 "LDFlex envoie des headers Accept qui ne sont pas reconnus"
LDFlex utilise un Accept header qui n'est pas accepté par le serveur LDP:

`application/n-quads,application/trig;q=0.95,application/ld+json;q=0.9,application/n-triples;q=0.8,text/turtle;q=0.5,*/*;q=0.1`

[2020-01-07 22:01] GuillaumeAV commented on #97
Tu pourrais utiliser l'ontologie Pair aussi ?
http://virtual-assembly.org/ontologies/pair/index-fr.html

Le mar. 7 janv. 2020 à 22:52, Sébastien Rosset <notifications@github.com> a
écrit :

[2020-01-08 09:25] simonLouvet opened #100 "Gérer la connexion OIDC"

[2020-01-08 21:04] srosset81 opened #101 "Gérer le slug dans la création de ressources"
Comme indiqué dans les specs https://www.w3.org/TR/ldp/ (exemple 15). si on passe un argument `Slug` dans le header lors de la création d'une ressource, utiliser ce slug au lieu d'un UUID.

Si le slug existe déjà, ajouter un nombre après (?)

[2020-01-13 15:16] srosset81 opened #104 "Gérer les configs dans des fichiers .env et .env.local"
Faire la même chose que CREA et Symfony :
https://create-react-app.dev/docs/adding-custom-environment-variables/#what-other-env-files-can-be-used
https://symfony.com/doc/current/configuration.html#managing-multiple-env-files

Apparemment cette librairie permet de gérer ça de manière automatique:
https://github.com/kerimdzhanov/dotenv-flow

[2020-01-13 16:29] srosset81 opened #106 "Lancer le front en mode production"
Pour le moment le front est lancé en dev (`npm start`), ce qui a des impacts sur la performances et les variables d'environnement.

Pistes:
- Faire un deuxième Dockerfile de prod, pour qu'on puisse continuer à utiliser le front en mode dev
- Utiliser a priori Nginx
- Faire un `npm build` dans le dossier /src/frontend et pointer le serveur vers le dossier où les fichiers ont été buildé

[2020-01-20 14:43] simonLouvet commented on #52
Faire respecter des droits ACL "en dur" lors d'une requête SPARQL

[2020-01-20 14:43] srosset81 commented on #52
https://github.com/solid/web-access-control-spec

[2020-01-20 15:15] srosset81 commented on #48
- Créer un `WebIdService` géré par Moleculer
- Après l'authentification, si l'utilisateur n'existe pas encore, un profil est automatiquement créé avec les informations disponibles (email, nom, etc.)

Endpoints:
- `GET /me` renvoie le profil FOAF de l'utilisateur s'il est connecté, null sinon -> `webid.view`
- `GET /users/userId` renvoie le profil FOAF d'un utilisateur -> `webid.view`
- `PATCH /me`

[2020-01-20 15:54] srosset81 commented on #48
@simonLouvet @nikoPLP J'ai mis à jour mon commentaire ci-dessus, dites-moi si quelque chose ne joue pas.

[2020-01-20 23:26] simonLouvet commented on #97
Je n'ai pas réussi à reproduire le bug mais j'ai eu d'autres problèmes qui doivent être liés.
J'ai pas vraiment compris pourquoi mais l'ontologie foaf ne peut pas être directement la valeur de @context. Je pense que il existe une liste d'ontologie directement reconnus en json-ld (as, schema...) qui peuvent être directement la valeur de @context et que les autre ontologies doivent respecter un patt

[2020-01-21 11:08] simonLouvet commented on #101
fix by https://github.com/assemblee-virtuelle/semapps/pull/111

[2020-01-21 16:56] srosset81 opened #112 "Config pour déployer automatiquement sur Vercel"
https://github.com/marketplace/actions/zeit-now-deployment
https://zeit.co/docs/v2/git-integration

[2020-01-22 11:44] srosset81 opened #114 "Impossible d'avoir des routes secured et unsecured dans le même service"
Bug à travailler et éventuellement à remonter vers Moleculer

[2020-01-22 12:42] srosset81 commented on #97
Même en utilisant `@id` au lieu de `id`, cela ne marche pas :
[code]
Tandis que ça ça marche effectivement bien:
[code]
Pour moi le bug est toujours là, alors je réouvre l'issue pour qu'on en reste conscients.

[2020-01-22 14:20] simonLouvet commented on #97
Comme écrit ci dessus un json-ld foaf avec l'ontologie directemetn dans le @context, ce n'est pas valide.
Tu peux le tester sur  https://json-ld.org/playground/
[code]
n'est pas valide

[code]
est valide

[2020-01-23 08:05] srosset81 commented on #97
@simonLouvet OK je comprend, mais comment on fait pour le gérer proprement avec SemApps ? Il faudrait que le @context auto-généré par LDP service (via `getPrefixJSON`) utilise @vocab comme tu suggérais dans ton précédent post, non ? Du coup ajouter peut-être un paramètre sur le fichier `ontologies.json` pour indiquer cette particularité de FOAF.

Si on ne le fais pas, on va régulièrement avoir ce

[2020-01-23 08:50] simonLouvet commented on #97
solution 1 : utiliser systématiquement @vocab
solution 2 : utiliser @vocab en fonction d'un paramètre de config des otologies

Préférence pour l'option 1.
@nikoPLP ton avis?

[2020-01-23 10:21] srosset81 commented on #114
Le problème est réglé en mettant à jour moleculer-web vers la version 0.9.0-beta7.

Je l'ai fait sur la PR https://github.com/assemblee-virtuelle/semapps/pull/113 et j'ai activé les routes secured/unsecured de LDP.

[2020-01-23 10:21] #114 closed, assigned to nobody

[2020-01-23 15:40] srosset81 opened #115 "La méthode PATCH échoue si on a un nouveau triple"
Si je crée d'abord une ressource avec ces données :

[code]
Puis je fais un PATCH avec un nouveau triple (url):
[code]
La requête ne renvoie pas d'erreur mais aucun triple n'est mis à jour

[2020-01-24 09:45] simonLouvet opened #116 "réflexion sur l'uri des users "system""
Je n'ai pas compris pourquoi les profils foaf des users soient avec une uri de type /user/id plutôt que ldp/foaf:Person/id. Je suis toujours ok pour des alias de manière à ce que ldp/foaf:Person/id soit accessible à travers alias/user/id et peut être user/id (a spécifier) grâce à de la configuration du serveur (par fichier ou backoffice). Est ce que c'est pour différencier les users "métier" des u

[2020-01-24 09:50] simonLouvet opened #117 "OIDC: utiliser le JTI plutôt que l'email pour identifier un utilisateur"
Dans le cas d'une authentification OIDC, Le middleware recherche le profil foaf à partir du mail présent dans le token qui vient du serveur OIDC.
J'aurais stocké le jti ou le token entier dans le profil foaf pour retrouver le profil correspondant à l'authentification plutôt que de se baser sur le mail qui est beaucoup moins stable.

[2020-01-24 14:11] srosset81 commented on #117
Bonne idée !
Plutôt favorable à stocker le JTI plutôt que le token, afin d'éviter des soucis de sécurité.
Cependant quel prédicat est-ce qu'on pourrait utiliser ? Il y a un [`foaf:openid`](http://xmlns.com/foaf/spec/#term_openid) mais je ne comprends pas trop à quoi il correspond.

[2020-01-24 14:19] srosset81 commented on #116
J'ai créé un path particulier justement pour éviter que http://host:port/users soit un container à part entière ! Car on ne veut pas que les utilisateurs puissent POSTer dans /users : il faut impérativement qu'ils passent par l'autentification. Avec ce que j'ai fait, c'est le service `webid` qui contrôle tout le processus, même s'il passe par le service `ldp` pour éviter de répéter du code (c'est

[2020-01-25 14:16] srosset81 opened #119 "Adapter la palette du front aux couleurs de l'AV"
[code]

[2020-01-26 13:08] srosset81 opened #120 "Créer un module SemApps pour gérer les OpenBadge"
Le standard [OpenBadge](https://openbadges.org/get-started/), promu notamment par Mozilla, utilise une ontologie et du JSON-LD :

http://www.imsglobal.org/sites/default/files/Badges/OBv2p0Final/index.html

Grâce à notre architecture modulaire, il serait peut-être possible de gérer la création et la récolte d'OpenBadge. En lien avec l'ontologie PAIR, cela aurait ouvrirait plein de perspectives !

[2020-01-26 14:07] GuillaumeAV commented on #120
Olalala ooh oui ! Notamment pour les chemins de la transition pour lesquels
on veut implémenter les open badges !

Le dim. 26 janv. 2020 à 14:08, Sébastien Rosset <notifications@github.com>
a écrit :

[2020-01-28 14:39] #115 closed, assigned to simonLouvet

[2020-01-28 19:36] srosset81 opened #123 "Service Webfinger"
Dépendant de https://github.com/assemblee-virtuelle/semapps/issues/129

[2020-01-28 19:38] srosset81 opened #124 "Déconnexion OIDC"
https://github.com/assemblee-virtuelle/semapps/blob/cas-logout/src/middleware/packages/connector/OidcConnector.js#L57-L60

[2020-01-29 09:17] srosset81 opened #125 "Mieux séparer l'API des services"
Actuellement les services sont très liés à l'API, ce qui pose un certain nombre de problèmes.

Par exemple le service `ldp.get` récupère le paramètre `accept` dans les `ctx.meta.headers`. Par ailleurs, il définit les variables `ctx.meta.$statusCode` (200 ou 404) et `ctx.meta.$responseType` en fonction du résultat.

Cela fait qu'il est compliqué d'appeler ce service directement d'un autre service.

[2020-01-29 13:03] simonLouvet commented on #125
d'accord avec la conclusion et la conception générale. J'ai pas compris le première solution (syntaxe, archi), peux tu expliquer un peut plus (le code avant, après cette méthode par ex).

[2020-01-29 15:57] srosset81 commented on #125
@simonLouvet C'est le code qui se trouve dans le(s) fichier(s) routes.js. Il remplace ça :
[code]
On peut utiliser des fonctions pour les aliases, comme indiqué dans [la doc](https://moleculer.services/docs/0.13/moleculer-web.html#Aliases)

[2020-01-29 21:14] nikoPLP commented on #125
L'idée est tres bonne.

Je prefere la deuxieme solution, qui permet d'avoir acces a des fonctions et aux settings.

Une idée: tu pourrais avoir deux actions pour chaque cas, en mettant les 2 actions dans le meme fichier. La premiere appelant la deuxieme
- 'ldp.api_get'
- 'ldp.get'

Un raffinement : on peut dire quelle est la visibilité d'une action. visibility `published` est accessible justement

[2020-01-29 21:18] srosset81 opened #126 "Premiers tests d'intégration pour le serveur LDP"
Avec le CRUD

[2020-01-29 21:22] srosset81 commented on #125
Merci @nikoPLP !
J'ai pensé à ton idée, mais le problème c'est qu'on a déjà des fichiers de services assez longs et ça n'aiderait pas à la lisibilité de tout mettre dans le même service.
Ou alors il faudrait mettre chaque action dans un fichier à part, ce qui pourrait avoir du sens, surtout si on veut commencer à faire les choses un peu plus clean avec Moleculer (en utilisant notamment les props `

[2020-01-30 10:23] nikoPLP commented on #125
Dans ce cas, alors un fichier par action serait pas mal. Dans le fichier tu mets deux exports : l'api et l'action.

[code]

Et dans le fichier service.js il s'agirait juste de faire les imports et de lister les actions
[code]

[2020-01-31 18:36] srosset81 opened #128 "Service HTTP Signature"
Se baser sur ces packages:
https://github.com/digitalbazaar/http-signature-header
https://github.com/joyent/node-http-signature

Deux actions:
- `signature.sign`
- `signature.verify`

[2020-01-31 18:37] srosset81 opened #129 "Configurer le domaine playground.semapps.org"
Dépendant de https://github.com/assemblee-virtuelle/semapps/issues/106
Nécessaire pour https://github.com/assemblee-virtuelle/semapps/issues/123

Configurer un nom de domaine type `playground.semapps.org`

[2020-01-31 22:55] srosset81 opened #130 "Créer un DBAdapter Moleculer pour LDP"
**Pourquoi ?**

Moleculer propose un certain nombre d'adaptateurs qui permettent de facilement enregistrer des données.

https://moleculer.services/docs/0.13/moleculer-db.html

Si on proposait un adaptateur LDP (ou triple store, à voir ce qui est plus pertinent), on pourrait permettre à n'importe quel service Moleculer d'enregistrer du JSON-LD soit avec MongoDB, soit avec un triple store.

Cela se

[2020-01-31 22:56] srosset81 commented on #130
Ping @simonLouvet @nikoPLP :-)

[2020-02-01 18:31] srosset81 commented on #126
Ils sont en train d'envisager la création d'outils pour faciliter les tests sur les services Moleculer, on aura peut-être avantage à attendre que ce soit prêt avant de continuer les tests, à moins qu'ils ne nécessitent pas d'attendre des événements.

https://github.com/moleculerjs/rfcs/issues/3

[2020-02-01 21:29] srosset81 opened #131 "Générer une activité ActivityPub à chaque modifications du serveur LDP"

[2020-02-02 20:02] srosset81 opened #132 "Créer un BotService"
S'inspirer du `DbAdapter` ou du `ApiGateway` de Moleculer pour proposer un mixin facile à utiliser permettant de créer un bot ActivityPub.

Exemple d'interface idéale:

[code]

[2020-02-02 22:28] srosset81 commented on #119
Done ! :-)
https://github.com/assemblee-virtuelle/semapps/commit/dfa7e047a1765dfb8b182f01b937d3a9345276d1

Visible sur le playground http://51.68.81.68:5000/ @GuillaumeAV

[2020-02-02 22:28] #119 closed, assigned to srosset81

[2020-02-02 22:31] #101 closed, assigned to simonLouvet

[2020-02-02 22:31] #19 closed, assigned to nobody

[2020-02-02 22:31] #78 closed, assigned to srosset81

[2020-02-02 22:31] #48 closed, assigned to srosset81

[2020-02-02 22:31] #92 closed, assigned to srosset81

[2020-02-02 22:31] #49 closed, assigned to nobody

[2020-02-02 22:31] #68 closed, assigned to simonLouvet

[2020-02-02 22:31] #85 closed, assigned to srosset81

[2020-02-02 22:31] #36 closed, assigned to nobody

[2020-02-02 22:32] #104 closed, assigned to srosset81

[2020-02-02 22:32] #58 closed, assigned to srosset81

[2020-02-02 22:32] #88 closed, assigned to srosset81

[2020-02-02 22:32] #100 closed, assigned to simonLouvet

[2020-02-02 22:32] #84 closed, assigned to simonLouvet

[2020-02-03 09:58] nikoPLP commented on #130
Oui c'est tres cool comme idée !
Il me semble que le plus simple serait un adaptor LDP, plutot que sparql, car tout le boulot pour les CRUDS est deja fait dans le middleware LDP vers sparql, donc LDP est vraiment ben adapté pour faire un adaptor ;)
Qu'en pensez vous ?

[2020-02-03 10:39] simonLouvet commented on #130
ok sur le principe. LDP c'est une surcouche de HTTP donc ca me semble être une couche d'architecture trop haute et j'aurais tendance à faire l'adapter sur le tripleStore. Cependant, si nous dissociations le service LDP de l'interface http (#125 )  c'est ok de faire un adapter sur le service mais on le peut pas dire que c'est un adapter LDP car la couche de service n'est pas LDP qui est l'interface

[2020-02-03 10:41] simonLouvet commented on #47
fournir un endpoint SPARQL pour pouvoir réaliser des recherches

[2020-02-03 11:11] nikoPLP commented on #130
Tres bien, ce serait un adapteur triplestore alors, qui en interne, utilise les CRUDs resultant de la sissociation entre API HTTP et action moleculer. Ca me parait une bonne solution

[2020-02-03 20:07] simonLouvet commented on #128
peux tu préciser l'usage stp.

[2020-02-04 09:08] srosset81 commented on #128
@simonLouvet Pour signer et vérifier les messages ActivityPub qui sont envoyés de serveur à serveur.
https://www.w3.org/wiki/SocialCG/ActivityPub/Authentication_Authorization

[2020-02-04 09:22] srosset81 commented on #130
D'accord avec la solution ! :-)

[2020-02-04 18:26] srosset81 commented on #87
Pour mémoire, la réponse d'AtomGraph:

implemented only what was required for our project.

a method for each builder method for each of the terms from SPARQL.js,
making it a fluent API.
It depends on an older SPARQL.js which does not use the RDF/JS spec.
That upgrade would be good to have, and shouldn't be very difficult.

propose a broader collaboration around LinkedDataHub. It is an
open-source

[2020-02-04 19:25] srosset81 opened #136 "Permettre à l'utilisateur de participer sans être authentifié"
## Problème

L'authentification est souvent un obstacle important à l'usage des outils. Les personnes n'aiment pas s'enregistrer, car cela prend du temps, est source d'erreurs et cela signifie souvent de la collecte de données, notamment d'emails permettant d'envoyer ensuite des messages non-désirés.

Proposer divers types de SSO allège le processus d'authentification, mais il ne résoud pas le pro

[2020-02-04 19:34] srosset81 commented on #136
Et une réflexion intéressante autour de ces questions :
https://www.looic.com/2005/10/connaissez-vous-la-difference-entre-identification-et-authentification/

[2020-02-04 19:41] srosset81 opened #137 "Finaliser WebID"
S'assurer qu'on respecte bien toutes les spécifications de WebID:
https://www.w3.org/2005/Incubator/webid/spec/identity/

[2020-02-05 08:31] #124 closed, assigned to simonLouvet

[2020-02-05 11:25] srosset81 opened #139 "Permettre de persister les données ActivityPub sous MongoDB"

[2020-02-05 11:46] srosset81 opened #140 "Pouvoir lier des resources PAIR entre elles"

[2020-02-05 20:24] #47 closed, assigned to simonLouvet

[2020-02-06 08:07] bouviermullerp opened #144 "Impossible d'envoyer un message"
1 - Login
2 - Follow a user
3 - Send a message with a title and a message
4 - Error -> http://playground.semapps.org:5000/messages/?recipientUri=http://51.68.81.68:3000/users/simon.louvet.zen

![Capture d’écran 2020-02-06 à 09 06 29](https://user-images.githubusercontent.com/36893311/73917616-0e5b3300-48c0-11ea-90a7-8ff4868348ee.png)

[2020-02-06 12:52] simonLouvet commented on #125
@nikoPLP et @srosset81 J'ai commencé l'issue avec #143  "not ready" mais j'ai un gros doute.
Pour que les actions soient exploitables par d'autres services, elles devrait retourner des objets. Le standard d'API objet du web sémantique c'est les quad de  RDFJS. ca voudrait dire que les actions retournent des quads qui serait interprété par la couche d'API HTTP pour le sérialiser dans le format souh

[2020-02-06 13:42] srosset81 commented on #125
@simonLouvet Je pense qu'il faut faire comme on le fait déjà pour certaines actions: utiliser un paramètre `accept` (qui pourrait éventuellement être renommé) et renvoyer les données en fonction de ce paramètre.
Je ne pense pas que la sérialisation devrait être faite sur la couche d'API, car dans certains cas ça pourra être plus efficace de demander directement à Jena les données au bon format. Re

[2020-02-06 13:46] srosset81 commented on #125
De mon point de vue la surcouche API ne sert qu'à préprocesser les paramètres (body, request, etc) et à renvoyer les bons headers en retour. Elle n'a pas vocation à faire plus de choses que l'action elle-même.
L'intérêt de cette story est de pouvoir faire des appels directs entre services, et de pouvoir faire des tests plus facilement.

[2020-02-06 13:47] simonLouvet commented on #125
Il me semble que c'est ce que j'ai commencé à faire dans la PR, Peux tu regardé si ca correspond à ta vision stp.

[2020-02-06 13:49] srosset81 commented on #125
Oui pour l'instant ça a l'air parfait.

[2020-02-06 13:51] simonLouvet commented on #125
Je suis d'accord avec ton/cet argument depuis le début mais il y a 2 partie dans ma reflexion.
1/ le format d’échange : quads ou serialisé en fonction d'un accept : ok pour le sérialisé (pour les perfs) même si je pense que c'est se tirer une balle dans le pied pour la réutilisation.
2/ "inteligence" dans le package LDP ou TripleStore : plus j'avance et plus je me dit que la couche LDP ne devrait

[2020-02-06 16:27] srosset81 commented on #125
? Permettre de choisir le format de retour est au contraire une garantie de (ré)utilisation du service.

Je comprend qu'il y a de la répétition, on a des actions très similaires entre le service ldp et le service triplestore. Cela crée une certaine redondance. Cependant pour moi l'essence même de LDP c'est du CRUD : pouvoir poster, éditer, lire des données. Il n'y a pas de notion de ressource dans

[2020-02-06 16:29] srosset81 commented on #125
PS: A la limite les actions CRUD (patch, delete) qui sont dans le service triplestore devraient être mises dans le service ldp, et on ne garderaient que les requêtes SPARQL bas niveau dans le service triplestore, comme `query` , `insertData`, `dropAll`...

[2020-02-06 16:46] srosset81 opened #145 "Créer un container Fuseki dédié aux tests"
Lancer le container docker Fuseki sans passer par docker-compose, afin de pouvoir donner un autre nom au container. Ou alors créer un fichier docker-compose dédié aux tests (avec seulement Fuseki, car le reste ne passe pas par Docker pour le moment).

L'avantage c'est qu'on pourrait lancer les tests en local tout en développant, alors que maintenant c'est pas possible puisqu'à la fin le container

[2020-02-06 17:34] srosset81 commented on #145
Fait dans la branche `mongo-triplestore-adapter`: https://github.com/assemblee-virtuelle/semapps/pull/141/commits/9379c5dd2043940b45a08475db4f156cec94ce2d

[2020-02-07 06:48] GuillaumeAV opened #146 "Impossible de se connecter ..."
Je ne sais plus si c'est normal ou pas ...

Quand j'essaie de me connecter sur l'oidc des communs je tombe systématiquement sur :
"_Vous devez vérifier votre courriel pour activer votre compte_."

Je pensais l'avoir activé .. Et puis le mail n'arrive jamais ...

[2020-02-07 07:20] GuillaumeAV opened #147 "Implémenter les fonctionnalités Github"
- Fork : Je peux dupliquer une donnée et son contexte sur une autre instance par exemple, et la faire évoluer indépendamment de la branche principale. Tout en conservant l'historique et la "généalogie" du fork -> Ce qui revient à créer une branche.

- Merge : Je peux décider de fusionner des branches en revenant à la source ou en actualisant la source.

- Pull request : Je peux proposer à qui de d

[2020-02-07 08:57] srosset81 commented on #147
Avec l'activité Offer on pourrait déjà offrir une sorte de pull request simplifiée :

https://socialhub.activitypub.rocks/t/idea-for-a-new-suggest-activity/328

[2020-02-07 17:14] simonLouvet opened #148 "Faire les appels sur Fuseki avec le WebID de l'utilisateur connecté"
call SPARQL with header X-SemappsUser filled by webid of conneced user

[2020-02-07 23:46] simonLouvet commented on #125
pour le moment je fais une séparation purement technique comme prévu mais je pense qu'il faut qu'on prenne du temps pour clarifier tout ca à terme

[2020-02-07 23:47] simonLouvet commented on #125
@srosset81 je constate que tu n'utilise plus standardContainer et attachToContainer. Je peux les supprimer? Pour le moment je les ai mis en commentaire. Je commence une nouvelle branche à partir de 125_separation_service_interface pour envoyer le user à fuseki pour implémenter #148. Tu peux commencer à refondre ActivityPub sur la branche 125?

[2020-02-10 19:13] srosset81 commented on #125
Je les utilise sur ma PR en cours https://github.com/assemblee-virtuelle/semapps/pull/141
Je me demande s'il faudrait pas faire un ContainerService pour gérer les containers persistés, il suffirait d'implémenter quelques méthodes simples (create, edit, delete, attach) et je trouve que ça aurait un certain sens. A discuter...

Je ferai ça sur une branche à part.

[2020-02-10 19:47] simonLouvet commented on #125
ca me parait cohérent

[2020-02-11 10:30] srosset81 commented on #125
:+1: Du coup je propose de faire ce ContainerService sur ma PR https://github.com/assemblee-virtuelle/semapps/pull/141. Pas grave si tu effaces (ou mets en commentaire) les méthodes `standardContainer` et `attachToContainer`.

[2020-02-12 17:39] srosset81 opened #151 "Implémenter la méthode PUT sur le serveur LDP"
Pouvoir remplacer entièrement un objet par de nouvelles données, sans garder les anciennes.

[2020-02-12 18:19] srosset81 commented on #151
4.2.4 HTTP PUT
Per [RFC7231], this HTTP method is optional and this specification does not require LDP servers to support it. When a LDP server supports this method, this specification imposes the following new requirements for LDPRs.

Any server-imposed constraints on LDPR creation or update must be advertised to clients.

4.2.4.1 If a HTTP PUT is accepted on an existing resource, LDP servers mus

[2020-02-14 08:29] #40 closed, assigned to nobody

[2020-02-14 08:31] srosset81 commented on #146
@GuillaumeAV Ce bug me semble être du côté des Communs, on ne peut pas faire grand chose.

[2020-02-14 10:12] srosset81 commented on #146
Assigné à @simonLouvet

[2020-02-14 13:58] simonLouvet commented on #146
mail et messages envoyé à marc qui est a maintainer de login.lescommuns.org

[2020-02-14 16:49] simonLouvet opened #153 "LDP Action et TripleStore doivent supporter les paramètre accept et content-type"
pour permettre une réutilisation sans dégrader les performances, les action LDP et les methoses du service tripleStore doivent prendre en paramètre 'content-type' pour signifier le type de contenu envoyé et 'accept' pour signifier le type atendu. Les types possible sont accessible par des constantes
dans chaque package

[2020-02-15 16:09] srosset81 opened #154 "Mettre à jour Moleculer vers la version 0.14"
https://github.com/moleculerjs/moleculer/blob/master/docs/MIGRATION_GUIDE_0.14.md

[2020-02-15 19:27] srosset81 opened #156 "Enlever les actions patch/post/etc du service triplestore"
Ce service ne devrait gérer que des actions de bas niveau (insertData, query, etc).

La notion de PATCH/POST/etc n'a de sens que pour LDP, puisqu'il y a des notions de ressources, donc ces actions devraient être déplacées dans le service ldp.

[2020-02-15 22:33] #129 closed, assigned to simonLouvet, nikoPLP

[2020-02-19 17:34] #139 closed, assigned to srosset81

[2020-02-19 17:34] #145 closed, assigned to srosset81

[2020-02-20 09:05] #153 closed, assigned to simonLouvet

[2020-02-20 09:05] #148 closed, assigned to simonLouvet

[2020-02-20 09:05] #125 closed, assigned to simonLouvet, srosset81

[2020-02-20 09:06] #130 closed, assigned to srosset81

[2020-02-20 09:06] #35 closed, assigned to nobody

[2020-02-21 09:28] srosset81 opened #160 "Afficher les données de SemApps v1 dans le front"

[2020-02-21 11:10] simonLouvet commented on #137
+ refactoring de Connector pour lui passer une méthode de webID pour pouvoir retrouver l'uri du WebId à partir du token plutôt que de lui fournir une méthode depuis le runner

[2020-02-21 11:10] GuillaumeAV opened #161 "Planifier une petite résidence de 3 ou 4 jours !"

[2020-02-25 11:20] #154 closed, assigned to srosset81

[2020-02-25 11:24] srosset81 opened #163 "Installer un logiciel pour présenter la documentation"
Si on veut que SemApps soit utilisé par d'autres développeurs, et que d'autres développeurs puissent contribuer, il faut qu'on ait une documentation technique claire, lisible et à jour.

Il faudrait notamment que chaque package, et même chaque service, soit documenté précisément.

Nous avons déjà décidé de mettre la documentation technique directement sur le repo Github, afin que le versioning pui

[2020-02-25 17:46] srosset81 commented on #163
Une autre option serait d'utiliser le même logiciel que pour la doc Moleculer: https://hexo.io/
L'avantage serait de rester dans l'écosystème :-)

[2020-02-27 10:56] simonLouvet commented on #163
j'aurais tendance à prendre le plus réputé qui répond à notre besoin :  Docusaurus

[2020-03-03 13:50] simonLouvet opened #168 "les données du profil ne sont pas affichés"
apres authentification, la fiche du profil est vide
![image](https://user-images.githubusercontent.com/5068825/75781900-543fd580-5d5e-11ea-91cc-97171ffe8d89.png)

[2020-03-03 14:37] #168 closed, assigned to nobody

[2020-03-03 14:39] simonLouvet commented on #146
Problème avec login.lescommuns.org résolu.
La réinitialisation du mot de passe est réparé.
En cas de grosse complication ou corruption du compte (comme c'était le cas pour guilaume) il faut supprimer le compte sur le serveur OIDC

[2020-03-03 14:39] #146 closed, assigned to simonLouvet

[2020-03-04 10:43] srosset81 opened #171 "Essayer react-admin"

[2020-03-04 11:57] tfrancart commented on #97
@context dans un JSON-LD doit référencer une URI qui retourne un fichier JSON-LD valide décrivant un @context. Ce qui n'est pas le cas pour l'URI de l'ontologie FOAF.
Effectivement, il ne faut pas confondre @context et @vocab, qui déclare simplement l'espace de nom par défaut de toutes les clés qui ne pourraient pas être mappées sur des URIs via un préfixes ou qui ne sont pas elles-mêmes déjà des

[2020-03-04 12:04] tfrancart commented on #87
Dans [Sparnatural](https://github.com/sparna-git/Sparnatural/) on utilise SPARQL.js, qui m'apparaissait comme un choix évident : https://github.com/sparna-git/Sparnatural/blob/master/src/QueryGenerators.js#L256

Bien faire attention à ce que la librairie choisie n'ai pas de limitations sur le SPARQL qu'elle peut produire pour ne pas se retrouver bloqué.

[2020-03-04 12:08] tfrancart commented on #43
D'expérience dans Sparnatural, une autocompletion directement sur Wikidata est difficillement faisable du fait des problèmes de performance actuels du service Wikidata.

Voilà le thread où j'avais posé la question à Wikidata : https://lists.wikimedia.org/pipermail/wikidata/2019-October/013573.html, avec quelques pistes d'implémentation techniques, en attaquant directement l'API Mediawiki sous-jace

[2020-03-04 15:31] srosset81 commented on #87
La librairie `sparql-builder` se base sur SPARQL.js, qui est effectivement incontournable. C'est une simple interface "fluent" qui est en surcouche.
Elle est pour l'instant très basique mais l'idée c'est d'y contribuer, d'où la prise de contact avec les gens d'AtomGraph.

[2020-03-04 15:34] srosset81 commented on #97
Merci pour les précisions qui ont le mérite d'être clairs !

Assez partant pour ma part pour utiliser ces préfixes "standardisés".

[2020-03-10 15:58] srosset81 opened #176 "Implement LDP paging"
Specs: https://www.w3.org/TR/ldp-paging/

[2020-03-12 17:52] srosset81 opened #181 "Récupérer les données des Grands Voisins"
... avec le même bon résultat que ça a été fait pour les données d'AV ;-)

Intérêt: pouvoir éventuellement présenter quelque chose lors d'un prochain événement autour des GV.

[2020-03-13 22:43] srosset81 opened #182 "Proposer une CLI pour créer un projet SemApps"
Create React App propose un [système de templates](https://create-react-app.dev/docs/custom-templates), qui permet de créer un nouveau projet sur certaines bases.
NextJS propose également un système qui permet de créer un projet via [une ligne de commande](https://nextjs.org/docs#setup).

Il serait intéressant de proposer un outil similaire pour SemApps, un package nommé par exemple `@semapps/crea

[2020-03-16 09:40] srosset81 commented on #182
Autre projet qui propose une installation en une ligne de commande:
https://factor.dev/guide/quickstart

[2020-03-16 10:04] GuillaumeAV commented on #182
Ooh ce serait beau !!

Le lun. 16 mars 2020 à 10:40, Sébastien Rosset <notifications@github.com> a
écrit :

[2020-03-18 11:28] simonLouvet opened #185 "Timeout après connexion OIDC"
![image](https://user-images.githubusercontent.com/5068825/76956260-fbeb0500-6913-11ea-9dcb-762a278b187f.png)

[2020-03-18 11:29] simonLouvet commented on #185
au retour d'une authentification

[2020-03-18 16:39] srosset81 opened #186 "LDP: gérer l'upload de fichiers"
Voir https://www.w3.org/TR/ldp-primer/ (section 2.5) et https://www.w3.org/TR/ldp/#ldpnr

[2020-03-18 18:09] simonLouvet commented on #186
@srosset81  est ce que c'est urgent? tu as un besoin?

[2020-03-18 18:22] srosset81 commented on #186
Non pas de besoin pour le moment, c'est juste pour ne pas oublier :-)

[2020-03-18 18:44] nikoPLP commented on #185
a  propos du bug "nginx" c'est le serveur middleware qui n'a pas repondu. je ne vois rien dans les logs car le docker a été redémarré par la suite. i lfaudrait refaire la meme manip qui a conduit a cette heure, et indiquer l'heur et minute exacte de la manip, pour qu'on retrouve dans les logs. En tout cas, c ést un probleme du middleware, pas de nginx.

[2020-03-19 08:45] srosset81 commented on #185
Il est possible que j'ai fait un déploiement à ce moment.
@simonLouvet peux-tu essayer de reproduire ? Sinon je propose de fermer cette issue.

[2020-03-19 09:16] simonLouvet commented on #185
@srosset81 j'ai reproduit 2 fois, il suffit de se déconnecter globalement puis de retourner sur se connecter. @nikoPLP c'etait vers 10h12 en france. Je regarde si j'ai le temps coté middleware. @nikoPLP t'as acces au serveur OVH? cool c'est @srosset81 qui a ajouté ta clef ssh sur le serveur?

[2020-03-19 09:46] srosset81 commented on #185
@simonLouvet Oui je l'ai ajouté dans la liste des `authorized_keys` de l'user ubuntu
Je reproduits également (seulement dans le cas où on passe par le formulaire de connexion des Communs), mais je pense pas que c'est une erreur Nginx.

A noter que j'ai refait un build il y a quelques minutes, donc certaines anciennes erreurs ont été effacées (faudrait peut-être mettre les logs en dehors des contai

[2020-03-19 10:10] simonLouvet commented on #185
Je reproduis en locale sans le nginx, le serveur middlware ne repond pas au retour OIDC.

[2020-03-19 10:32] GuillaumeAV opened #188 "[Playground] Fusionner les boutons Rechercher / Ajouter"
Proposer, comme dans RoamResearch, une barre de complétion sur les données existantes. Dans le cas où la donnée n'existe pas, ajouter une donnée ...

[2020-03-19 16:10] #97 closed, assigned to simonLouvet

[2020-03-19 16:13] simonLouvet commented on #126
TODO : CRUD sur la couche basse et la couche haute. GET dans  tous les type accept sur la couche basse

[2020-03-19 17:07] srosset81 opened #189 "Documenter les services actuels"
- LDP
- ActivityPub
- WebID
- SparqlEndpoint
- TripleStore
- ...

[2020-03-23 15:00] srosset81 commented on #144
Je ferme cette issue puisque les fonctionnalités basiques (et très buggées) d'ActivityPub ont été enlevées du playground pour le moment.

[2020-03-23 15:00] #144 closed, assigned to srosset81

[2020-03-23 15:03] bouviermullerp commented on #144
@srosset81 cette issue n'est pas reproductible dans le DMS alors ?

[2020-03-23 17:18] srosset81 commented on #144
@bouviermullerp Il n'y a pas de fonctionnalités ActivityPub dans le DMS.

[2020-03-23 19:28] srosset81 opened #191 "Commencer à publier les packages sur NPM avec Lerna"
Dans l'optique de pouvoir écrire une bonne documentation technique, et pour aider les étudiants de l'UTC qui vont avoir besoin de tester leur propre projet, il faudrait commencer à publier des packages sur NPM.
Même si la mise à jour n'est pas très régulière, cela sera mieux que rien.

Cela permettra de lancer des instances du middleware en local sans avoir besoin de cloner tout le repo, et égalem

[2020-03-24 08:01] #185 closed, assigned to simonLouvet

[2020-03-24 09:53] #126 closed, assigned to simonLouvet

[2020-03-24 10:37] srosset81 commented on #182
Autre inspiration:
https://github.com/moleculerjs/moleculer-cli
On pourrait d'ailleurs se baser sur les templates moleculer pour proposer des middleware "prêts à l'emploi"

[2020-03-30 07:28] #77 closed, assigned to srosset81

[2020-03-30 07:36] srosset81 opened #195 "Ajouter un bouton "Sponsor" en haut du repo Github ?"
Voir la doc:
https://help.github.com/en/github/administering-a-repository/displaying-a-sponsor-button-in-your-repository

On pourrait créer un compte sur https://opencollective.com ?

[2020-03-30 07:42] GuillaumeAV commented on #195
Si vous êtes chauds, je suis chaud !

[2020-03-30 07:50] ReX-AV-Gab commented on #195
Je suis chaud bouillant !

[2020-03-30 08:21] srosset81 commented on #195
@GuillaumeAV Je pense qu'il faut que ce soit toi qui ouvre un compte sur https://opencollective.com
Après on peut configurer le bouton sur Github.

[2020-03-30 08:41] GuillaumeAV commented on #195
J'ai lancé une [discussion sur l'AGP SemApps en préalable](https://framavox.org/d/HbT1Ia24/est-ce-qu-on-ouvrirait-pas-un-compte-sur-open-collective-) !

[2020-03-31 16:07] srosset81 opened #197 "Utiliser le moleculer-runner pour le boilerplate runner"
Jusqu'à maintenant on n'avait pas pu utiliser le [Moleculer Runner](https://moleculer.services/docs/0.14/runner.html) car on avait besoin d'Express pour les connecteurs.

Maintenant qu'[on a réussi](https://github.com/assemblee-virtuelle/semapps/pull/194) à les mettre entièrement dans l'ApiGateway, ce serait mieux d'utiliser la configuration standard de Moleculer, qui a l'avantage d'être beaucoup

[2020-04-01 14:48] #181 closed, assigned to GuillaumeAV

[2020-04-01 14:49] srosset81 opened #199 "Automatiser le backup des données Jena Fuseki"

[2020-04-02 07:31] srosset81 opened #200 "Sponsoriser Moleculer"
Le succès de SemApps dépend beaucoup de la qualité de code de Moleculer.

Lorsqu'on aura le budget, il serait bien de sponsoriser son créateur, afin d'encourager la maintenance et la mise à jour du logiciel.

https://opencollective.com/moleculer

[2020-04-02 07:39] GuillaumeAV commented on #200
D'accord avec ça ! Il est important qu'on développe culture de la contribution financière pour le financement de "services communs" (par analogie à l'impot qui finance les services publics) !

[2020-04-02 08:44] ReX-AV-Gab commented on #200
Je suis prêt à contribuer à développer cette culture, à la culture du commun.
Je suis enthousiasmé par l'idée du financement de services communs... en attendant d'ouvrir la fondation du bien commun !

[2020-04-02 13:58] srosset81 opened #203 "Créer un doc "Contribuer à la documentation""

[2020-04-02 16:52] srosset81 opened #205 "Créer un nouveau service pour les "containers automatiques""
Pour créer une ressource avec un serveur LDP, il faut impérativement le POSTer dans un container LDP. C'est ce que disent les spécifications.

Jusqu'à maintenant, on le postait dans les containers type `/ldp/as:Note`, ce qui avait pour résultat de créer un objet type `/ldp/as:Note/{id}`. Si on voulait, on pouvait passer un paramètre `containerUri` pour changer l'URL de base, par contre on avait au

[2020-04-03 13:56] ReX-AV-Gab opened #206 "Ma première !"
Merci à Sébastien pour la formation... et la hotline ! ;-)
Merci à Guillaume pour son enthousiasme et sa constance ! 👍
Merci à Pierre de m'avoir appelé ! 👍
Un petit coucou à Jean-Marc si tu nous regarde ! :D

[2020-04-03 14:51] srosset81 commented on #205
Après discussion avec @simonLouvet, nous avons pris la décision de ne plus fournir un endpoint de type `/ldp/as:Note`, mais de toujours utiliser le nouveau container service. Je ferme donc cette issue.

[2020-04-03 14:51] #205 closed, assigned to nobody

[2020-04-03 14:59] ReX-AV-Gab opened #209 "Présentation de notre démarche de documentation"
Où met-on cette présentation ?
Dans le readme.md ?
On pourrait y indiquer nos choix en termes de structuration de la documentation, des cibles de la documentation et cetera, et cetera !
Je me redis qu'il serait bien de s'attarder un peu sur l'identité (Caractère de ce qui, sous des dénominations ou des aspects divers, ne fait qu'un ou ne représente qu'une seule et même réalité [CNRTL]) de SemApps

[2020-04-03 15:01] srosset81 commented on #209
@GuillaumeAV a créé une PR https://github.com/assemblee-virtuelle/semapps/pull/204, je suggère que tu travailles dessus directement (en te mettant sur sa branche).

[2020-04-03 20:27] ReX-AV-Gab commented on #209
#163
https://github.com/assemblee-virtuelle/semapps/issues/163
Installer un logiciel pour présenter la documentation #163

[2020-04-06 08:33] #206 closed, assigned to GuillaumeAV, srosset81, ReX-AV-Gab

[2020-04-07 10:21] GuillaumeAV opened #215 "Retravailler la homepage du docusaurus"
Sur https://website-3rr9j6b6k.now.sh/, nous avons :
- Trop facile : Nous utilisons les standards du web sémantique qui permettent à de multiples systèmes d’information de s’interconnecter.
- Trop cool : SemApps intègre la spécification SOLID portée par Tim Berners Lee (inventeur du web), ainsi que le protocole ActivityPub.
- Trop bien : Nous concevons SemApps sur la base des principes suivants : I

[2020-04-07 15:18] bouviermullerp commented on #136
Je ne connaissais pas la différence entre les 2 concepts ident et auth.
Ca me parait hyyyper intéressant et avec beaucoup de valeur ajouté.
En terme de priorité, ça serait intéressant de connaitre la position de notre communauté pour déterminer à quel point c'est un besoin essentiel ou non pour eux.
Pour les cdlt par exemple, nous n'aurons pas ce besoin expressement

[2020-04-08 08:53] ReX-AV-Gab opened #221 "Issue et PR / How to document"
Guillaume,
Ne serait-il pas intéressant de mieux distinguer l'usage de l'issue de celui du PR dans le Comment faire ?
Sébastien me disait :
_En principe il est plus adapté d'avoir [aux] discussions dans les Issues.
La Pull Request est une proposition construite, qui peut être validée ou amendée._

[2020-04-08 09:25] ReX-AV-Gab commented on #215
Un peu de chipotage :
- 1 ...de s’interconnecter et d'interagir.
Dans la mesure où la structure en Trop est figée, je trouve les Trop vraiment trop bien
- 4 je peux aider en donnant un oeil critique sur les cas d'usage
- 5 Pour moi, SemApps est un système de gestion de base de connaissances interopérables et modulaires... en quelques mots (en toute la légitimité :D)
- 6 "Sous le capot, je crois qu

[2020-04-08 12:19] ReX-AV-Gab opened #222 "Fiche d'identité de SemApps"
Seriez-vous partants pour rédiger une fiche d'identité qui établirait la vision partagée de SemApps ?

[2020-04-08 14:11] simonLouvet commented on #136
Techniquement ca me parait faisable également. J'ai par contre plus de doute sur l’utilité pour le projet. Il me parait par exemple plus important pour le projet de mettre en place les droits ACL, démontrer les bases de données distribuées, démontrer  l’interopérabilité avec startin'blox,  les web component Solid, GoGoCarto, Mnemotix....

[2020-04-10 10:25] srosset81 opened #224 "Service ActivityPub Dispatcher"
Créer un nouveau service qui écoute les events `activitypub.outbox.posted`.

- Si le destinataire est local, attacher l'activité à son inbox (comme on fait actuellement dans le service Inbox)
- Si le destinataire est distant, envoyer l'activité via le mécanisme de fédération.

[2020-04-14 13:26] srosset81 opened #225 "La méthode PATCH ne marche pas avec les objets JSON imbriqués"
Si je crée un objet Note en postant ce JSON:
[code]
Puis que j'essaie d'ajouter une location en faisant un PATCH comme ça:
[code]
... la requête SPARQL générée par `triplestore.patch` est fausse:
[code]

En GET cela donne ça:

[code]
En gros les objets Note et Place sont fusionnés. Cela doit être à cause du fait que l'objet Place n'a pas d'ID, mais c'est pourtant parfaitement possible avec du JSON

[2020-04-14 13:29] srosset81 commented on #225
@simonLouvet J'ai l'impression que construire la requête manuellement dans la méthode `buildPatchQuery` est compliqué, c'est la 3ème fois qu'il y a des bugs à cause de cas particuliers. Tu es sûr qu'il n'existe pas de librairies pour faire cela de manière plus automatique ?

[2020-04-14 20:47] #151 closed, assigned to simonLouvet

[2020-04-15 12:04] GuillaumeAV commented on #215
Suite à une discussion avec @ReX-AV-Gab on suggère plutôt de faire une home page avec 3 entrées par type de public, par exemple :

**Développeurs**
SemApps est un système de gestion de bases de connaissances interopérables. Construit sur une architecture modulaire (micro-services - moleculer.js), il prend la forme d'un midleware intégrant les protocoles et standards du web sémantique.

**Communaut

[2020-04-15 13:58] #163 closed, assigned to nobody

[2020-04-15 14:48] #66 closed, assigned to GuillaumeAV, ReX-AV-Gab

[2020-04-15 14:51] GuillaumeAV opened #229 "Réaliser un tutoriel Docusaurus"
Pour la documentation de SemApps

[2020-04-15 14:51] #229 closed, assigned to nobody

[2020-04-15 15:13] GuillaumeAV opened #230 "Contribuer et inviter des gens au meetup"
* [Pour le meetup ca se passe ici](https://roamresearch.com/#/app/virtual-assembly/page/Nrj73F6ji)
* [Pour la résidence, ca se passe ici](https://roamresearch.com/#/app/virtual-assembly/page/J1ZUEhp3b)

[2020-04-15 15:17] srosset81 commented on #229
@GuillaumeAV Normal que tu ais fermé cette issue dès la création ?

[2020-04-15 15:17] srosset81 commented on #229
Et si tu peux donner quelques précisions sur ton idée, je pense que ça serait profitable :-)

[2020-04-15 17:08] #156 closed, assigned to simonLouvet

[2020-04-17 12:29] bouviermullerp commented on #230
@GuillaumeAV dans la logique Agile et petit-pas. Mieux vaut faire une issue par item (je crois). Energiser le meetup et energier la résidence sont 2 actions complémentaires mais différente.

[2020-04-17 12:40] GuillaumeAV commented on #230
Ça roule ! Je me posais la question en effet n'hésite pas à les séparer !
Au passage, Fabrice est chaud pour venir !

[2020-04-17 14:05] srosset81 opened #233 "Ne plus utiliser les données de session pour l'authentification"
Passer le paramètre `redirectUrl` dans l'URL de redirection, afin qu'on puisse se passer de sessions.

Cela permet au serveur d'être scalable.

[2020-04-17 14:10] srosset81 opened #234 "Générer un token JWT propre à SemApps aussi pour OIDC"
Faire la même chose que pour le CasConnector.

N'enregistrer que le `webId` dans le token JWT, cela facilitera pour https://github.com/assemblee-virtuelle/semapps/issues/136.

Vu et validé avec @simonLouvet

[2020-04-17 14:15] srosset81 opened #235 "Add a `search` parameter to the LDP container service"
Modify `ldp.container.get` to accept an (optional) `search` parameter that would return only those container resources that contain the keyword.

Based on @simonLouvet's request:

[code]

For the moment, do not make this parameter available via the API.

[2020-04-17 14:17] srosset81 commented on #197
Fait avec https://github.com/assemblee-virtuelle/semapps/pull/210

[2020-04-17 14:17] #197 closed, assigned to srosset81

[2020-04-17 14:18] srosset81 commented on #182
Fait dans ce repo: https://github.com/assemblee-virtuelle/semapps-template-ldp

[2020-04-17 14:18] #182 closed, assigned to srosset81

[2020-04-17 14:18] #171 closed, assigned to srosset81

[2020-04-17 14:18] #160 closed, assigned to srosset81

[2020-04-17 14:18] #140 closed, assigned to srosset81

[2020-04-17 14:19] #132 closed, assigned to srosset81

[2020-04-17 14:19] #65 closed, assigned to GuillaumeAV

[2020-04-17 14:19] #191 closed, assigned to srosset81

[2020-04-17 14:19] #106 closed, assigned to srosset81

[2020-04-17 14:19] #67 closed, assigned to bouviermullerp

[2020-04-17 14:19] #80 closed, assigned to srosset81

[2020-04-17 14:19] #90 closed, assigned to GuillaumeAV

[2020-04-17 14:19] #44 closed, assigned to simonLouvet

[2020-04-17 14:21] Septentrion commented on #230
Hello tout le monde ! On va encore dire que je suis le râleur de service, mais je découvre **fortuitement** (car je ne lis pas toutes les notifications Github) ces projets d'organisation... quelques heures après que nous ayons parlé de ces questions en Conseil d'Administration de l'Assemblée Virtuelle. Je trouve ça désespérant.

Alors que 2-3 personnes, Franck, Massimo et moi-même nous sommes prop

[2020-04-17 14:48] GuillaumeAV commented on #230
Michel ! J'ai mentionné l'idée d'organiser un meetup semapps le 8 avril, en
notifiant l'ensemble des membres du channel SemApps, si tu ne lis pas le
channel, c'est sur que t'auras du mal à être au courant des trucs ! =>
Cette idée de meetup ca fait des mois qu'on en parle, elle précède de
beaucoup de CA d'avant hier ..
Aujourd'hui par ailleurs on a juste la date .. du coup, pas grand chose à
parta

[2020-04-17 14:49] srosset81 commented on #136
Idée après discussion avec @simonLouvet:
- La génération du nom (et de l'image) est faite du côté du frontend
- A la première action qui requiert d'être identifié, on propose à l'utilisateur:
  - Soit de créer une identité éphémère (éventuellement en fournissant un username, qui sera repris comme slug)
  - Soit de se connecter via un SSO
- Si on ne veut pas imposer cette étape supplémentaire à l'u

[2020-04-17 14:50] bouviermullerp commented on #230
@Septentrion surtout que l'issue a été ouverte hier... et que le CA était la veille.
J'ai vraiment de la peine à lire ce commentaire, je me sens attaqué, comme si on avait pas communiqué de manière intentionnelle. C'est dur

[2020-04-17 16:58] Septentrion commented on #230
Oui, comme tu dis Pierre, c'est dur. En effet. D'où le message un peu brusque et râpeux, désolé.

Je ne crois pas avoir dit (et ça ne m'a même pas effleuré l'esprit) qu'il y avait une intention de cacher quoi que ce soit. Je ne suis absolument pas complotiste. Vous avez simplement “oublié”. Voilà. Ça ne vous a sans doute pas traversé l'esprit que votre meetup pouvait être **aussi** un meetup de l'

[2020-04-23 16:46] srosset81 commented on #199
Il y a une commande simple pour créer un backup sous forme compressée:

Voir https://jena.apache.org/documentation/fuseki2/fuseki-server-protocol.html

Il suffit donc de faire un simple `POST` sur l'endpoint `/$/backup/{datasetName}`. J'ai testé et ça marche bien. Il faudrait voir comment on pourrait transférer le fichier gzip généré vers un autre serveur.

[2020-04-24 07:39] ReX-AV-Gab commented on #136
Voilà le scénario que j’imagine en tant qu’utilisateur pour la mise en œuvre de l’identité éphémère (par ex. Canard bleu) pour pouvoir participer sans être obligé de m'authentifier.
Lors de la première utilisation de l’appli en question :
- apparaître en Canard bleu dès l’entrée dans l’appli ;
- pouvoir, en sortie de l’appli de préférence, faire appel - ou non - à un compte pré-existant - ou à cré

[2020-04-24 13:10] srosset81 commented on #136
Suite à la réunion tech avec @simonLouvet aujourd'hui, deux idées sont apparues:

- Pour la génération des noms éphémères uniques, développer un package indépendant type `name-generator`, permettant d'ajouter un endpoint qui retourne un nom unique.
  - Ce nom expirerait après XX jours. Le frontend serait responsable de ne plus l'utiliser avec ce laps de temps, et de demander un nouveau nom.
  - Ce

[2020-04-27 18:24] srosset81 opened #239 "Utiliser le snapshot testing de Jest"
Utiliser le [snashop testing](https://jestjs.io/docs/en/snapshot-testing) de Jest pour augmenter la fiabilité des tests et réduire la quantité de code à écrire.

Pour que les résultats soient les mêmes d'un test à l'autre, il faudra faire un mock de la fonction `generateId` (en incrémentant chaque ID ?) et de `new Date`.

[2020-04-27 18:25] srosset81 opened #240 "Ajouter tous les champs de SemApps v1 au DMS"
Compléter le DMS pour que toutes les données qui se trouvaient dans les données de SemApps v1 apparaissent bien.

[2020-04-28 06:34] GuillaumeAV commented on #240
A moins qu'on attende la nouvelle version de l'ontologie ?

[2020-04-28 06:46] GuillaumeAV opened #241 "Gérer automatiquement les liens inverses"
J'ai par exemple renseigné l'orga Maisons de l'Intelligence Collective et ai mentionné qu'elle était partenaire de Assemblée Virtuelle.

Sur la description de l'Assemblée Virtuelle (les MIC) n'apparaissent pas comme partenaire :

Ce n'est pas forcément une mauvaise chose ..

Piste d'amélioration :
Une notification (Activity Pub ?) pour que AV soit au courant de ce lien, et qu'elle en valide la sym

[2020-04-28 07:31] srosset81 commented on #241
Je pense que la symétrie est une affaire d'OWL mais je ne sais pas comment la mettre à l'oeuvre. Est-ce que ça pourrait se faire automatiquement via Jena ? @simonLouvet @nikoPLP

Si on devait faire valider un tel ajout (du coup dans les deux sens), on pourrait en effet passer par une activité ActivityPub:

[code]

Et pour l'accepter, il y a une activité `Accept`.

[2020-04-29 14:21] srosset81 opened #242 "Finaliser la nouvelle version de l'ontologie PAIR"

[2020-04-29 14:22] srosset81 opened #243 "Convertir les données de SemApps v1 vers la nouvelle ontologie PAIR"

[2020-04-29 14:37] simonLouvet commented on #243
Utiliser le Bus Sémantique pour faire A import + transformation + export en passant par LDP.
1ere étap : connecteur import -export
2eme etape : une fois l'ontologie owl connu, faire les transformations

[2020-04-30 14:59] srosset81 opened #244 "Générer des IDs uniques plus long"
L'ID actuel est trop court.

Je proposerai un type d'ID similaire à celui utilisé par MongoDB, qui rend presque impossible d'avoir deux IDs similaires.

Voir https://stackoverflow.com/a/58762723

[2020-05-01 13:28] srosset81 commented on #241
Après discussion avec @simonLouvet, les liens inverses ne peuvent pas se créer automatiquement, mais on pourrait gérer ça au niveau du middleware, en lisant le fichier OWL associé à l'ontologie et en ajoutant les triples inverses au moment de la création / mise à jour d'une ressource.
J'ai renommé l'issue dans ce sens.

[2020-05-01 13:31] srosset81 opened #246 "Mettre à jour le package sparql-endpoint + webId"
Au lieu de `onBeforeCall` utiliser les middlewares du package LDP.

Au lieu d'avoir les routes dans un fichier à part, ajouter une action `getApiRoutes` au niveau des services `sparl-endpoint` et `webid`

[2020-05-01 13:33] srosset81 opened #247 "Permettre d'accéder à d'autres datasets"
Renommer `mainDataset` en `defaultDataset`

Permettre de passer un paramètre `dataset` optionel.

Au début ne faire que ça pour le service `triplestore`, on verra plus tard pour les services `ldp` et `sparql-endpoint`

[2020-05-01 13:36] srosset81 opened #248 "Renommer le package Connector"
Le nom n'est pas clair et il va porter confusion avec les futurs packages LdpConnector et ActivityPubConnector.

- Renommer le package `@semapps/connector` en `@semapps/auth`.
- Renommer la classe `Connector` en `Authenticator`

[2020-05-01 13:38] srosset81 opened #249 "Ajouter un guide pour Jena Fuseki"
Ajouter un petit guide dans la documentation technique (docusaurus) pour:

- Lancer une instance Jena
- Accéder à l'interface Jena
- Créer un dataset Jena

[2020-05-01 13:42] srosset81 opened #250 "Lerna: unifier les versions"
Avoir la même version pour tous les packages.

[2020-05-01 13:44] srosset81 opened #251 "Créer une template pour le DMS"
https://create-react-app.dev/docs/custom-templates/

Et écrire un petit guide sur comment faire sa propre instance du DMS

[2020-05-03 08:58] GuillaumeAV opened #255 "Générer des "individus" à la volée"
Comme sur Roam Research et autres wikis...

Par exemple quand on renseigne une organisation, et qu'on ajoute un responsable : S'il n'est pas dans la liste, on ne peut pas l'ajouter :

Il faudrait pouvoir l'ajouter, et donc créer l'individu (au sens owl) correspondant, avec possibilité de renseigner ses données ultérieurement ;-)

[2020-05-03 09:01] GuillaumeAV opened #256 "Problème quand on actualise une donnée sur le DMS"
=> J'ai changé 2 titres et complété les fiches orgas :
* Coop des territoires
* Les chemins de la transition

Les données en question ont disparu !

[2020-05-03 13:41] GuillaumeAV commented on #243
Hey !

J'ai eu une autre idée entre temps ! On pourrait baser l'inscription au meetup sur un framaforms reprenant l'ontologie pair nouvelle version, et créer une passerelle entre le Framaforms et SemApps ? On aurait du coup la chaine de traitements entre un tableur et semapps / pair ?
Plus de la donnée intéressante à visualiser ? (Davantage que les données AV d'il y a 2 ans ?)

[2020-05-03 18:23] simonLouvet commented on #243
Le bus peut digérer le résultat du framaform si besoin.

[2020-05-04 22:16] simonLouvet opened #257 "make start failed after #253 Extract @semapps/react-admin package"
make start failed because botstrap not executed with make start execution after #253

[2020-05-05 11:00] GuillaumeAV opened #259 "Gérer les relations ternaires"
Dans le cadre de la refonte de PAIR, on crée plusieurs relations ternaires entre quelques uns des concepts clés de l'ontologie :
Acteurs - Projets
Acteurs - Activités
Acteurs - Evenements
Acteurs - Ressources
Acteurs - Acteurs

Ces relations ternaires permettent un typage souple plutôt que gravé dans le marbre de l'ontologie, ce qui apporte de la flexibilité et de l'extensibilité et devrait s'avér

[2020-05-05 12:42] srosset81 commented on #259
Intéressant... Cela dit, je trouve que ça rend la sémantique moins lisible. Entre les deux, celle de gauche est quand même plus facile à "lire" non ?
![Capture d’écran de 2020-05-05 14-37-06](https://user-images.githubusercontent.com/17931931/81066806-f5254b00-8edd-11ea-8b11-801ccc7ef768.png)
Techniquement c'est faisable bien sûr. Mais ça va demander d'abstraire plus de choses pour que ça reste si

[2020-05-05 12:44] srosset81 commented on #259
Cela donne un peu l'impression qu'on contourne les limitations de RDF, qui ne supporte les [réifications](https://github.com/blazegraph/database/wiki/Reification_Done_Right) que dans la version RDF* qui n'est pas (encore ?) officielle.

[2020-05-05 13:14] tfrancart commented on #259
Il faut les 2 : les liens directs et les relations réifiées (quand ces dernières ont un intérêt).
Sur l'exemple donné, c'est ce que fait ORG par exemple https://www.w3.org/TR/vocab-org/#overview-of-ontology, avec hasMember/memberOf pour les liens directs, et Membership pour la relation réifiée.

La question est : a-t-on suffisamment de choses à dire sur la relation pour en faire une entité à part

[2020-05-06 09:54] iPlumb3r commented on #259
Disons que du côté gauche on a N relations spécifiques dont la sémantique est "cablée en dur" dans des couple d'ObjectType Properties (donc plus direct à lire) et du côté droit on a 1 UNIQUE relation générique dont la sémantique est paramétré par la sélection d'un individual de la classe "Mode".
Effectivement, cela requiers un travail de mapping entre la modélisation sou-jacente et l'interface pou

[2020-05-06 09:55] iPlumb3r commented on #259
Oui, c'est exactement ça !
 => c'est un mode de modélisation qui permet de "contourner" la limitation intrinsèque de RDF pour réifier des relations

[2020-05-06 10:04] iPlumb3r commented on #259
Est-ce que tu veux dire qu'une relation réifiée doit AUSSI exister en mode "normal" ...
... ou disais-tu simplement qu'il y a potentiellement dans une ontologies des relations "normales" ET des relation réifiées ?

Dans le cas présenté par Guillaume, la "chose à dire" est essentiellement de préciser la sémantique particulière de la relation.

[2020-05-06 13:00] tfrancart commented on #259
Non ce n'est pas une obligation, encore que, quand on fait des relations réifiées, on s'aperçoit vite qu'on a envie quand même d'avoir la relation directe.

Oui, c'était plutôt ça le sens de ma remarque

Ca peut se comprendre aussi comme "préciser le rôle que je joue la personne dans l'organisation".

[2020-05-06 13:16] iPlumb3r commented on #259
Oui, je me suis exprimé de manière "générique" ...
... mais de manière plus "spécifique" c'est exactement le sens que tu dit dans le contexte de cette relation en particulier !

[2020-05-07 18:07] srosset81 opened #262 "Automatiquement "sluggifier" les slugs"
Utiliser la librairie [slugify](https://www.npmjs.com/package/slugify) pour générer des slugs corrects à partir du paramètre passer au service LDP.

[code]

[2020-05-08 10:01] tfrancart opened #263 "Gérer l'accept header application/sparql-results+json"
J'essaie de brancher Sparnatural sur https://middleware.semapps.org/sparql.
J'ai ce retour d'erreur :
[code]

La requête envoyée est celle-ci (notez le header Accept) :

[code]

[2020-05-08 10:09] simonLouvet commented on #263
@tfrancart : pour le moment il n'y a que 3 accepts possibles :
const MIME_TYPES = {
  JSON: 'application/ld+json',
  TURTLE: 'text/turtle',
  TRIPLE: 'application/n-triples'
};

https://github.com/assemblee-virtuelle/semapps/blob/master/src/middleware/packages/mime-types/constants.js

[2020-05-08 10:14] srosset81 commented on #263
Ce serait pertinent de gérer `application/sparql-results+json` quand même non ? Faudrait ajouter ça au service `sparql-endpoint`.

[2020-05-08 10:15] tfrancart commented on #263
OK... c'est dommage de ne pas supporter le format JSON de résultat SPARQL (https://www.w3.org/TR/2013/REC-sparql11-results-json-20130321/). Le support de ce format (et des autres, comme le format de résultat SPARQL en XML) serait le bienvenue pour que le middleware Semapps soit un endpoint SPARQL compatible.

[2020-05-08 10:18] simonLouvet commented on #263
on a pas prévu de supporter sparql-results+json par ce que une requête sparql peut être un construct par ex et il me semble que ce n'est pas sérialisable en  sparql-results+json

[2020-05-08 10:20] srosset81 commented on #263
@simonLouvet Notre but est de fournir un endpoint SPARQL complet, donc je ne vois pas pourquoi on ne gérerait pas ce cas.
J'ai modifié le titre de l'issue.

[2020-05-08 10:21] simonLouvet commented on #263
On pourrait considérer que  sparql-results+json = application/ld+json mais ce n'est pas vrais. sur un select par exemple ce n'est pas le même résultat il me semble.

[2020-05-08 10:22] simonLouvet commented on #263
et comment ca se passe si le accept demandé est  sparql-results+json et que la requete est un construct? Une erreur?

[2020-05-08 11:48] tfrancart commented on #263
Le support du [protocole SPARQL](https://www.w3.org/TR/2013/REC-sparql11-protocol-20130321) est nécessaire si vous voulez que le middleware SemApps soit un service SPARQL compatible et interrogeable comme tel. Cela implique le support des [formats de réponse SPARQL](https://www.w3.org/TR/2013/REC-sparql11-protocol-20130321/#query-success) JSON, XML et CSV/TSV.

Normalement le client doit positionn

[2020-05-08 14:04] srosset81 commented on #43
Pour le meetup du 20 mai, nous allons faire un premier test de lier des données depuis l'interface React-Admin. Il suffira d'ajouter l'URL de l'endpoint SPARQL dans les configurations du data provider.

[2020-05-08 14:09] srosset81 commented on #263
@tfrancart Après discussion avec Simon, on va se contenter de passer l'header Accept à Fuseki, et si jamais il y a une erreur, on la gérera nous-mêmes. Cela permettra d'offrir toutes les fonctionnalités propres à Fuseki.
Est-ce que ce problème est bloquant pour Sparnatural ou tu peux avancer ?

[2020-05-08 16:16] tfrancart commented on #263
Très bonne idée, le middleware n'a sans doute (?) aucune valeur ajoutée pour ce service SPARQL qui est offert nativement par Fuseki.

C'est un problème bloquant pour n'importe quel client SPARQL.
Ca ne m'empêche pas d'avancer sur d'autres aspects pour le moment, mais si c'était en place pour le 20, ça pourrait ajouter une petite démo sympa :-)

[2020-05-08 17:47] simonLouvet opened #265 "better dev experience with docker"
make start ne fonctionne pas pour lancer le frontend
objectif :
- pouvoir lancer toute la pile du repository principale à partir du git clone brut
- pouvoir lancer make init  et npm start à la main puis passer en docker

[2020-05-13 13:20] GuillaumeAV commented on #209
Travailler la fiche d'identité de SemApps : de manière à pouvoir dire, à un nouveau par exemple ... "SemApps, c'est ça".

2 façons de répondre :
- Un projet AV
- Un outil

=> on crée une issue dédiée

[2020-05-13 13:25] GuillaumeAV commented on #209
Présenter la démarche de documentation  :
- Quoi :
   - Doc interne
   - Doc externe
- Ou :
   - Externe : Sur doc.semapps.org
- Qui : Le cercle dédié
- Comment : En anglais ...
Etc .

[2020-05-13 13:34] ReX-AV-Gab commented on #209
https://roamresearch.com/#/app/virtual-assembly/page/Uz-O4iO5V
Lien vers la page documentation SemApps dans RoamResearch

[2020-05-13 13:34] GuillaumeAV opened #267 "Créer une fiche d'identité pour SemApps"
Travailler la fiche d'identité de SemApps : de manière à pouvoir dire, à un nouveau par exemple ... "SemApps, c'est ça".

2 façons de répondre :

    Un projet AV
    Un outil

=> on crée une issue dédiée

[2020-05-13 13:41] #221 closed, assigned to GuillaumeAV

[2020-05-13 13:42] #203 closed, assigned to GuillaumeAV, ReX-AV-Gab

[2020-05-13 14:48] bouviermullerp commented on #267
@GuillaumeAV @ReX-AV-Gab il me semble que l'issue #222 est similaire. Si oui, peut-on la fermer ?

[2020-05-13 14:51] bouviermullerp commented on #200
@srosset81 est-il possible de récupérer facilement la liste de toutes les dépendances ? J'essaierai de faire un tableau avec le statut de chacune et arbitrer éventuellement un budget.
En plus, ils sont bien actif dans le développement : The next Moleculer version 0.14 is coming soon. The built-in metrics & tracing features has been rewritten completely. More powerful & extendable. Here are some sc

[2020-05-13 14:54] #18 closed, assigned to nobody

[2020-05-13 14:54] #20 closed, assigned to nobody

[2020-05-13 14:54] #21 closed, assigned to nobody

[2020-05-13 14:54] #22 closed, assigned to nobody

[2020-05-13 15:22] GuillaumeAV commented on #267
Sources d'inspiration :

https://roamresearch.com/#/app/virtual-assembly/page/L3luYmixT

https://www.virtual-assembly.org/semapps/

https://docs.google.com/presentation/d/17jFILmUOOBB3uNwxM0GFmk2YDGsI92YrDG4ZqGorLjc/edit?usp=sharing

https://docs.google.com/presentation/d/1fH1ZEa3Rokr_cX30tc_kk67iWKQPOUgmXc0P4lJxfN4/edit?usp=sharing

[2020-05-13 15:31] bouviermullerp commented on #255
@GuillaumeAV quelle priorité selon toi ?

[2020-05-13 15:32] #1 closed, assigned to nobody

[2020-05-13 15:32] #8 closed, assigned to nobody

[2020-05-13 16:27] srosset81 commented on #200
Tu peux voir les dépendances sur les packages NPM, par exemple:
https://www.npmjs.com/package/@semapps/activitypub puis cliquer sur "Dependencies"

Oui, ils avancent et ils répondent aussi aux demandes. Pourtant il semble qu'il y a surtout un développeur derrière ce logiciel (un dénommé "icebob"), s'il pouvait avoir plus d'intérêts financiers cela l'aiderait sans doute à tenir sur le long terme...

[2020-05-13 16:28] #244 closed, assigned to srosset81

[2020-05-14 08:58] srosset81 commented on #176
Implementation note:

A subset query should work better for pagination:
[code]
If you put the LIMIT directly in the main query, it won't work because it stops after 50 triplets.

[2020-05-14 14:33] #265 closed, assigned to nobody

[2020-05-14 14:51] srosset81 opened #269 "Ajouter un guide pour créer son DMS"

[2020-05-14 15:00] bouviermullerp commented on #263
Même service que le cas #246

[2020-05-14 15:05] bouviermullerp commented on #269
Lié au #251

[2020-05-14 15:07] srosset81 commented on #250
Ca a été rapide: https://github.com/assemblee-virtuelle/semapps/commit/4494e7e73386f85fa266c86afed6b08c46d0e00b

[2020-05-14 15:07] #250 closed, assigned to nobody

[2020-05-14 15:24] srosset81 opened #270 "Guide pour utiliser des composants Startin'blox"
Composants liste / carte / calendrier

... à moins que ça sorte de notre périmètre ?

Autre possibilité: une page de démo, avec un lien vers le code source.

[2020-05-14 15:33] GuillaumeAV commented on #255
En terme d'usage ça peut faire toute la différence, je dirai donc priorité plutôt haute ;-)

[2020-05-15 13:46] simonLouvet commented on #137
Apres consultation de de Ruben et Henry, et Echange avec @srosset81 nous somme arriver à la conclusion que [le théorème de toujours référencer un élément du monde réel (Thing) par un document numérique](https://www.w3.org/TR/cooluris/) était inapproprié dans l'état d'avancement actuel du projet et potentiellement pour le projet lui-même. Cela vient notamment du fait que une ressource sérialisé dan

[2020-05-15 14:47] simonLouvet commented on #263
The response body of a successful query operation with a 2XX response is either:

a SPARQL Results Document in XML, JSON, or CSV/TSV format (for SPARQL Query forms SELECT and ASK); or,
an RDF graph [RDF-CONCEPTS] serialized, for example, in the RDF/XML syntax [RDF-XML], or an equivalent RDF graph serialization, for SPARQL Query forms DESCRIBE and CONSTRUCT).

[2020-05-15 16:28] simonLouvet commented on #263
analyse des comportement de semapps et de fuseky en fonction du verbe sparql et du accept :
https://docs.google.com/spreadsheets/d/1cjNmqwTdxVMo0WJrbEoPmWPTw-qgazf1JIdng88iMSs/edit#gid=2029847051

[2020-05-16 03:41] simonLouvet opened #273 "Traiter le formulaire d'inscription du meet up pour les injecter dans un semapps"

[2020-05-19 14:06] #189 closed, assigned to simonLouvet, srosset81

[2020-05-20 08:46] bouviermullerp opened #277 "LDP Server documentation improvement"
**1 - Documenter les prérequis - et comment les installer**
npm docker docker-compose make

**2 - Ajouter comment installer moleculer** avec un lien direct vers la [doc](https://moleculer.services/docs/0.14/moleculer-cli.html) et la ligne de commande pour l'installer npm i -g moleculer-cli

**3 - préciser les impacts de 3 questions**
Quand on lance la commande moleculer init assemblee-virtuelle/se

[2020-05-20 12:10] bouviermullerp opened #279 "Enhancement on Please start by creating a localData dataset."
Quand j'ai suivi la doc d'install, c'était tout clair sauf

Please start by creating a` localData` dataset. This is where your triples will go.

Je n'avais pas compris que 'localData' signifiait qu'il était nommé de cette manière.

Proposition de reformulation :
Please start by create a new dataset and name it `localData`
Your triples will be stored there.

[2020-05-20 12:30] srosset81 commented on #279
OK pour une PR de ta part :-)

[2020-05-20 13:34] #269 closed, assigned to srosset81

[2020-05-20 13:41] #279 closed, assigned to bouviermullerp

[2020-05-20 17:11] balessan commented on #277
And once the installation is complete, there is no information on the README on how to access anything.

It's just because the build failed that I know it uses localhost:3000, but I do not know which service is running there when the docker-compose is starting 3 containers as shown below:

[code]

[2020-05-20 20:37] scenaristeur opened #286 "footer links"
Salut, les liens dans le footer de https://semapps.org/

renvoient vers
https://semapps.org/guides/ldp-server  au lieu de https://semapps.org/docs/guides/ldp-server
et https://semapps.org/guides/dms au lieu de https://semapps.org/docs/guides/dms

[2020-05-20 20:58] scenaristeur opened #287 "install jena without docker, restApi for post & dms update"
Ma machine n'a que 2Go de RAM et Docker en demande 4. J'avais par le passé déjà installé Fuseki sur cette machine, aussi, j'aimerais savoir si je peux utiliser l'install de base de fuseki plutôt que docker, et dans l'afirmative, que dois-je configurer ?

J'ai par ailleurs remarqué que l'image Docker utilisée ne contient pas la dernière version de Fuseki (V2 au lieu de 3.15)
Est-ce par choix ? par

[2020-05-21 13:51] GuillaumeAV commented on #287
Merci David pour tous ces commentaires pertinents ! Moi pas capable de te
répondre mais les autres te feront des retours j'imagine très bientôt !

Le mer. 20 mai 2020 à 22:58, David <notifications@github.com> a écrit :

[2020-05-22 07:22] srosset81 commented on #286
Merci, c'est réglé !

[2020-05-22 07:22] #286 closed, assigned to nobody

[2020-05-22 09:49] srosset81 commented on #287
Merci beaucoup @scenaristeur pour ces retours très pertinent, on va les prendre en compte et résoudre une bonne partie des problèmes que tu évoques dès la semaine prochaine !

[2020-05-22 09:56] srosset81 opened #288 "Améliorer le readme principal du repo"
A mon avis cela devrait entrer dans une zone "Participer" ou "Contribuer" du site web, au même titre que le document sur la [documentation](https://github.com/assemblee-virtuelle/semapps/blob/master/website/docs/participate/documentation.md) (qui n'est pas encore en ligne).

- Indiquer les 3 couches et comment y accéder
- Enlever ce qui concerne le déploiement en prod
- Inclure aussi les informati

[2020-05-22 10:01] srosset81 commented on #277
@balessan L'issue de Pierre fait référence au [guide](https://semapps.org/docs/guides/ldp-server) qui permet de créer son propre serveur à partir d'une template moleculer. Dans ce guide, il n'y a qu'un container Docker, avec Fuseki.
La doc pour lancer le repo semapps complet (avec les 3 containers) est encore fragmentaire effectivement, je viens de créer une [issue](https://github.com/assemblee-vi

[2020-05-22 10:04] srosset81 commented on #277
Le problème c'est que l'installation diffère de chaque OS, et qu'elle peut varier avec le temps. J'ai mis des liens vers la page pour installer NodeJS (qui inclus NPM).

Bonne remarque, ça a été ajouté !

Peux-tu expliquer ce que tu entends par impact ? Tu veux dire préciser dans la question ce que ça signifie ? N'hésites pas à faire des propositions dans ce sens !

[2020-05-22 16:08] balessan commented on #277
@srosset81 : Yes I got that afterwards actually. During the demonstration I mean.

[2020-05-22 16:09] balessan commented on #270
I would tend to think an easy way to handle that would be for you to provide sources (like a list of available public LDP Endpoints) and for us at SIB to provide some demonstration snippets using CodePen or equivalent.

[2020-05-25 08:51] simonLouvet commented on #273
done : https://grappe.io/ihm/application.html#workspace/5ec28c5f64cec0002aecea57/component

[2020-05-25 08:54] simonLouvet commented on #263
réouvert car pas vu en sprint review

[2020-05-25 08:54] simonLouvet commented on #246
réouvert car pas vu en sprint review

[2020-05-25 08:54] simonLouvet commented on #273
réouvert car pas vu en sprint review

[2020-05-25 08:55] #230 closed, assigned to simonLouvet, GuillaumeAV, srosset81, bouviermullerp, nikoPLP

[2020-05-25 08:55] #79 closed, assigned to srosset81

[2020-05-25 08:55] #257 closed, assigned to nobody

[2020-05-25 09:01] simonLouvet commented on #251
réouvert car pas vu en sprint review

[2020-05-25 09:03] simonLouvet opened #289 "documenter sparql-endpoint"

[2020-05-26 06:40] srosset81 opened #290 "Déployer un serveur DMS avec Now.sh"
En ajoutant un fichier now.json à la template DMS, cela permettrait à n'importe qui de facilement déployer son instance SemApps.

Il faudra cependant utiliser un triple store extérieur (p.ex https://fuseki.semapps.org/)

[2020-05-27 12:53] srosset81 opened #291 "Fixer le déploiement automatique du site web"
[code]

[2020-05-27 14:01] srosset81 opened #292 "Paramétrer un DMS avec les données des participants du meetup"

[2020-05-27 14:07] GuillaumeAV commented on #161
- [Préinscriptions](https://docs.google.com/spreadsheets/d/1-7VQBNfR7LFRLJPMS6GE7KfX-sz5kdtdxlVi3gCfD8o/edit?usp=sharing)
- Faire la réunion rôles là-bas
- Planifier

[2020-05-27 14:10] GuillaumeAV opened #293 "Peaufiner la homepage du docusaurus"
Mettre des pictos, des couleurs, un habillage plus jolis ...

[2020-05-27 14:16] #37 closed, assigned to nobody

[2020-05-27 14:19] srosset81 opened #294 "Finaliser les vidéos du meetup"
Hello,

Dernière ligne droite avant diffusion des [vidéos du Meetup SemApps](youtube.com/playlist?list=PLw8CdIbrt0JGevxI0q4iOwXWEgO-oHUwd) : Sous-titre et traduction en anglais

[Ce tuto vous aide à corriger et valider les sous-titres en français de vos vidéos respectives dans un premier temps](https://vimeo.com/channels/assembleevirtuelle).
Puis nous les passerons à la traduction automatique en a

[2020-05-27 14:24] GuillaumeAV opened #295 "Voir si Thomas serait chaud pour gérer les ACL"

[2020-05-27 14:25] GuillaumeAV opened #296 "Explorer Github sponsors vs Open Collective vs HelloAsso"

[2020-05-27 14:33] #263 closed, assigned to simonLouvet

[2020-05-27 14:34] #251 closed, assigned to simonLouvet

[2020-05-27 14:34] #246 closed, assigned to simonLouvet

[2020-05-27 14:35] #83 closed, assigned to simonLouvet

[2020-05-27 14:35] #137 closed, assigned to simonLouvet

[2020-05-27 14:36] #215 closed, assigned to bouviermullerp, ReX-AV-Gab

[2020-05-27 14:36] #273 closed, assigned to simonLouvet

[2020-05-27 14:38] GuillaumeAV opened #297 "Plannifier la résidence"
- Envies résidence
    - Vision
    - Plan stratégique à 1 / 3 ans
    - Idéation
    - Spec / design
    - SiB
    - Visios
    - Peer programming
    - Prototypage
    - Travail de fond

[2020-05-28 16:34] srosset81 opened #298 "Créer un Queue service"
Créer un package `@semapps/queue` qui se base sur [Bull](https://github.com/OptimalBits/bull). Suffisamment générique pour qu'on puisse aussi utiliser d'autres logiciels par la suite.

## Settings
- `redisUrl`
  URL permettant d'accéder à Redis

- `defaultOpt`
  Options par défaut des queues

## Actions

- `create(queueName, action, options)`
  Créer une queue. Le paramètre `action` est une action

[2020-05-28 16:47] srosset81 commented on #298
J'ai fait un [premier essai](https://github.com/assemblee-virtuelle/semapps/pull/299) qui marche plutôt bien, et qui permet d'afficher un joli GUI comme ci-dessous. Mais le service proposé par Moleculer n'est pas assez générique, c'est pour ça que je propose ce nouveau service.
![Capture d’écran de 2020-05-28 18-46-02](https://user-images.githubusercontent.com/17931931/83169745-c3398a00-a113-11ea-

[2020-06-03 15:48] srosset81 opened #300 "Les clés letsencrypt sont effacée si on change de branche"
Problème remonté par @nikoPLP : sur le serveur de prod, si on change de branche Git, les clés publiques/privées de Letsencrypt sont effacées, ce qui oblige à les régénérer.

[2020-06-04 17:07] srosset81 opened #301 "TripleStoreAdapter: gérer le cache proprement"
Si on active le [cache](https://moleculer.services/docs/0.14/caching.html) au niveau de Moleculer, les données retournées par l'adapteur TripleStore sont automatiquement cachées pour les actions `find`, `count`, `list` et `get`.

Cela pose des problèmes, par exemple pour les containers ou les collections AP qui sont mis à jour par d'autres biais que par l'adaptateur. Il faudrait essayer de désacti

[2020-06-04 17:09] srosset81 commented on #298
Pour finir je n'ai pas utilisé un nouveau service mais je me suis basé sur le service proposé par Moleculer. Voir la PR https://github.com/assemblee-virtuelle/semapps/pull/299

[2020-06-04 17:09] #298 closed, assigned to nobody

[2020-06-04 17:10] srosset81 commented on #16
Ca correspond à quoi cette issue @bouviermullerp ?

[2020-06-04 17:11] srosset81 commented on #86
Ce problème est réglé depuis qu'on enregistre les activités sur Fuseki. On règle le problème en utilisant des blank nodes.

[2020-06-04 17:11] #86 closed, assigned to nobody

[2020-06-04 17:12] #72 closed, assigned to srosset81, nikoPLP

[2020-06-04 17:14] #161 closed, assigned to GuillaumeAV

[2020-06-05 07:47] #224 closed, assigned to srosset81

[2020-06-05 14:37] bouviermullerp commented on #16
@srosset81 c'est un cas que j'ai ouvert à l'ouverture du projet lors de la création du backlog. ça correspond à s'assurer qu'on peut accéder à SemApps sur mobile, mais comme j'ai l'impression que le titre est suffisamment explicite, je me demande si j'ai bien compris ta question.

[2020-06-05 17:24] srosset81 commented on #16
Pour moi une application mobile c'est différent d'un site qui est accessible sur mobile (et qui est donc "responsive" comme on dit). Une application mobile, c'est ce que développe Reconnexion par exemple, avec déploiement dans les stores Google Play et Apple.

J'ai quand même de la peine avec cette issue car on a déjà plusieurs sortes d'interface, alors de quoi parle-t-on ? Du DMS ? Du playground

[2020-06-06 06:21] bouviermullerp commented on #16
@srosset81 cette issue a été créé au lancement du projet, à l'époque j'avais créé tout une série d'issue pour constituer un backlog et offrir de la visibilité sur ce qu'on pourrait développer et générer des discussions.
Si elle te gène, on peut la fermer, il n'y a pas grand chose à faire pour le moment, si ce n'est discuter sur la pertinence de l'issue - et donc la spécifier.

[2020-06-10 19:25] scenaristeur opened #303 "Status Code: 400 No @context is provided for the resource"
lorsque je tente un POST avec du turtle sur http://127.0.0.1:3000/resources

[code]

j'ai une erreur

[code]

et dans la console semapps
[code]

[2020-06-16 14:54] srosset81 opened #305 "TripleStoreAdapter: permettre de faire des updates en PUT"
Actuellement la méthode `updateById` de l'adaptateur fait un patch, mais ça peut poser problème, notamment pour la mise à jour des objets postés via ActivityPub, qui sont toujours en PUT pour les envois serveur-à-serveur.

Peut-être permettre de passer un paramètre à l'adapteur ?

[2020-06-25 14:16] srosset81 opened #306 "Rendre visible les rôles sur le site web"
Maintenant qu'on a défini les 13 premiers rôles de l'équipe, il me semblerait important de réfléchir à un moyen de les mettre en valeur sur le site, et de corriger ou mettre à jour [cette page](https://semapps.org/docs/governance/team).

[2020-06-25 14:18] #297 closed, assigned to GuillaumeAV, ReX-AV-Gab

[2020-06-25 14:36] #291 closed, assigned to srosset81

[2020-06-25 14:37] srosset81 opened #307 "Proposer des data aux développeurs qui veulent expérimenter"
Par exemple les données de la v1 de SemApps, sous forme de triplets ?

A décider où on stockerait ces données...

[2020-06-25 14:42] srosset81 opened #308 "Finaliser un logo pour le site web"
A voir si on reprend la base faite par Benoit.

Générer aussi un favicon.

[2020-06-25 14:54] GuillaumeAV commented on #306
Yep ! Malheureusement je ne peux pas prioriser ça de mon côté, éventuellement courant juillet ..

[2020-06-25 15:08] srosset81 commented on #306
On verra ça vendredi ;-)

J'avais oublié que @bouviermullerp avait commencé une PR #281 là-dessus.

[2020-06-25 15:50] srosset81 commented on #287
Mes réponses avec du retard, désolé !

Rien de particulier, si ce n'est créer un dataset `localData`. Tu peux voir ce qu'ils configure dans le [Dockerfile](https://github.com/stain/jena-docker/blob/master/jena-fuseki/Dockerfile).

La description de l'image Docker `stain/jena-fuseki` parle de v2 mais c'est la version 3.14.0 qui est installée en vérité.

On recommande [Insomnia](https://insomnia.res

[2020-06-25 15:50] #287 closed, assigned to srosset81

[2020-06-25 18:27] srosset81 opened #310 "Gérer la pagination sur les collections ActivityPub"
https://www.w3.org/TR/activitystreams-core/#paging

Peut-être régler #311 d'abord.

[2020-06-25 18:30] srosset81 opened #311 "Mettre en cache les activités ActivityPub"
Les activités ActivityPub sont par nature immutables. Nous n'avons donc aucune raison de ne pas les mettre en cache, ce qui ferait un gros gain de performances sur les inbox/outbox.

Voir si on peut passer par le cache Moleculer, à condition d'avoir régler l'issue #301

[2020-06-25 19:40] bouviermullerp opened #313 "Permettre au middleware de se connecter à plusieurs datasets fuseki"
Il n'est pas possible de sélectionner le dataset fuseki qu'on souhaite utiliser, et donc on est obligé de multiplier les instances.
Peut être revoir le fonctionnement des API avec un /_dataset_ ?

[2020-06-26 06:44] GuillaumeAV opened #314 "Faire la liste des extensions SemApps"
Lien vers le document de travail : https://docs.google.com/document/d/1TVCOhd5xO51S4vXlgtjQUYpN2Zj5RTibj5u9Z7Xbm0U/edit?usp=sharing

**Canevas de description**

- Pourquoi (Besoins identifiés)
- Quoi (Descriptif de la solution envisagée)
- Comment (Moyens & ressources mobilisables)
- Qui (fournisseurs et clients potentiels)
- Compétences requises
- Estimation du temps nécessaire
- Niveau d’avancem

[2020-06-26 09:26] srosset81 commented on #314
Peux-tu nous expliquer ce que tu entends par extension ?
Je ne vois pas le lien entre les éléments de ta liste...

[2020-06-26 10:44] GuillaumeAV commented on #314
Héhé :) C'était quelque part une manière d'engager un processus de clarification et de compréhension mutuelle :)

D'après ce que je comprends du champ des possibles, on peut envisager de plugger sur le middleware SemApps, une multiplicité d'interfaces : celles que j'ai listé plus haut.

Outre les micro-services qui pourraient être les véritables extensions de SemApps, j'imagine qu'on peut donc env

[2020-06-26 10:59] srosset81 commented on #314
Merci pour la clarification !

Cela me semble très pertinent pour SiB, Sparnatural et FluidGraph, ainsi que peut-être pour d'autres créations de @scenaristeur. Je suis partant pour réfléchir sur comment on peut mettre en valeur ces "extensions" afin de montrer l'intérêt du découplage données-interface.

Pour les autres, ça demande de passer par ActivityPub donc c'est plus complexe à mettre en oeuv

[2020-06-26 14:29] simonLouvet commented on #225
Cela a été résolu avec la refonte de LDP.
@srosset81
ATTENTION : Etant donné que LDP GET ne retourne pas la résolution des blancknode, un GET sur un container actuel (pas une API + TripleStoreAdapter) ne renvéra pas les sujets imbrique . Il  faut faire une requete SPARQL ou une API + mixin TripleStoreAdapter pour obtenir l'objet imbriqué

[2020-06-26 14:29] #225 closed, assigned to simonLouvet

[2020-06-26 14:38] srosset81 commented on #313
Deux manières de gérer ça concrètement:
- Permettre de configurer un container pour se baser sur un dataset
- Permettre de configurer plusieurs endpoints SPARQL

[2020-06-26 14:40] GuillaumeAV opened #315 "Réfléchir à l'exploitation commerciale de SemApps"
Qui assure le développement et l'exploitation commerciale de SemApps ?

Les financements acquis ou en cours .. https://docs.google.com/spreadsheets/d/1CFfwF8f2AEqZ1B-zTS07FaluXIAtXThKALI427PIKmI/edit?usp=sharing

[2020-06-26 14:41] simonLouvet opened #316 "Ajouter un paramètre dereference à l'action ldp.resource.get"
L'objectif est de pouvoir déclarer les "relations" à résoudre depuis le sujet principale demandé.

packages/ldp/services/resource/actions/get:action
S'inspirer du populate de mongoose.

[2020-06-26 14:44] simonLouvet commented on #303
coucou @scenaristeur , on va traité ce bug dans ce sprint normalement

[2020-06-26 15:00] simonLouvet opened #317 "Pouvoir configurer les containers LDP"
#316 permet de réaliser un populate grâce au TripleStoreAdapter ou un appel direct à l'action get de ldp/ressource/get.
L'objectif est de paramétrer un container pour qu'il réalise toujours le même populate.

2 possibilités :
persister ce paramétrage dans le TripleStore => propice à une logique backoffice/configuration par interface
ajouter un fichier de paramétrage => plus facile à mettre en oeuv

[2020-06-26 15:45] srosset81 commented on #316
Il faudra aussi l'ajouter à l'action `ldp.container.get`, afin que les ressources du container s'adaptent (comme pour le paramètre queryDepth qui peut être utilisé dans les deux actions)

[2020-06-26 15:47] srosset81 commented on #317
J'ai édité le titre de cette issue car ça pourrait aussi s'appliquer à d'autres paramètres du container, comme `queryDepth` ou le dataset (voir #313)

Pour l'option 2, tu parles de fichier de paramètre, mais pour moi c'est juste une config du LDP service. Cette config peut être mise dans un fichier à part (comme les ontologies) mais rien ne l'oblige.

[2020-06-26 15:53] srosset81 opened #318 "Mettre en valeur les projets qui utilisent SemApps en prod"
Nous avons maintenant deux projets en prod:

- https://alertes.colibris-lafabrique.org
- Data Food Consortium

Cela pourrait valoir la peine de l'indiquer sur le site web ?

[2020-06-26 15:55] srosset81 commented on #318
A noter que les deux serveurs ActivityPub sont non seulement en open source, mais bien documenté ;-)

https://github.com/reconnexion/colibris.social
https://github.com/reconnexion/activitypub-mailer

[2020-06-28 13:40] scenaristeur commented on #303
Cool, ensuite je réessaierai de me plugger dessus 👍

[2020-06-29 13:54] bouviermullerp opened #319 "When/Who decide to merge a pull request ? - To be discussed"
**Issue créée pour lancer une discussion**

Ca fait un moment que je me pose la question, et la lecture de la doc me fait penser que c'est important d'en discuter : qui accepte les merge, quelle est notre stratégie à ce sujet ? - que ça soit pour la doc ou pour le code.

## Documentation
Dans la partie docs/contribute/documentation, il est proposé 3 modalités de contribution : General Scheme, Prop

[2020-06-29 14:03] srosset81 commented on #319
La bonne pratique Git c'est de laisser le créateur de la PR merger une fois que tous les reviewers ont validé. C'est ce qu'on fait pour la partie code en tout cas. Cela évite de soucis techniques, quand il y a plusieurs PR qui "se mergent les unes dans les autres".

-> Je ne suis pas sur de comprendre l'avantage de General Scheme, par rapport aux 2 autres modalités.

A voir avec @GuillaumeAV qui a

[2020-06-29 14:05] #288 closed, assigned to srosset81

[2020-07-03 10:44] srosset81 opened #320 "Ne pas modifier le Content-Type ou l'Accept des headers"
Je viens de passer une journée à débugger un problème qui était dû au fait que les middlewares changeaient la valeur du `Content-Type`, `application/json` devenant `application/ld+json`.

On ne devrait pas toucher aux headers de la requête originelle.

On pourrait en revanche avoir une fonction type `parseType` qui retournerait `application/ld+json` si on lui met `application/json` en input, facil

[2020-07-03 10:49] srosset81 opened #321 "Implement Linked Data Signature"
https://github.com/digitalbazaar/jsonld-signatures

[2020-07-03 11:47] bouviermullerp opened #322 "Terminer le process sur les rôles"
Comment on les fait évoluer ? Est-il possible de démissionner d'un rôle ? Combien de temps dure le mandat ?

[2020-07-03 13:02] bouviermullerp commented on #222
@ReX-AV-Gab cette issue est-elle toujours active au regard des dernières mises à jour du site ?

[2020-07-03 17:19] srosset81 commented on #322
Je propose a minima une réunion à la rentrée pour faire un retour sur les 3 premiers mois des rôles: qu'est-ce qui marche ? qu'est-ce qui ne marche pas ? comment on pourrait améliorer les choses ?

En holocracy il est recommandé d'avoir une réunion gouvernance tous les mois. A voir le rythme qui nous conviendra, mais je pense que 3 mois est un minimum pour garder le processus de gouvernance vivant

[2020-07-03 17:29] srosset81 opened #323 "Template Moleculer pour créer un serveur ActivityPub"

[2020-07-03 17:32] srosset81 opened #324 "Guide pour créer son serveur ActivityPub en 5 minutes"
- Initialisation de la [template Moleculer ActivityPub](https://github.com/assemblee-virtuelle/semapps/issues/323)
- Création d'un acteur avec ses clés de signature
- Suivre un acteur Mastodon via SemApps
- Suivre l'acteur SemApps via Mastodon
- Poster un message via SemApps et vérifier qu'il apparait bien dans le fil de l'acteur Mastodon

[2020-07-06 08:30] ReX-AV-Gab commented on #322
Je serais partant pour fixer une date à l'occasion d'une réunion sprint. Et plutôt favorable à cette incontournable réunion vers la fin septembre pour avoir un peu plus de recul. Merci Sébastien

[2020-07-07 12:47] GuillaumeAV commented on #324
C'est génial !!!

[2020-07-07 14:10] bouviermullerp opened #325 "Architecture de la doc externe semapps.org"
**Spécifications**
Déplacer la page [About](https://semapps.org/docs/about) dans une section de la *page d'accueil*
Ajouter une section "ils contribuent et utilisent SemApps" avec les logos de l'AV, CdlT, Reconnexion, Oseons, DFC (_apparté_: qu'est ce que classe comme éco-système de projet contributeurs !!! je suis fierrrrr :D )

Ajout d'une page "Code Social" et de sous-pages pour chacun des modè

[2020-07-07 15:06] srosset81 commented on #325
Yes trop cool ! :-)

Pas sûr de bien comprendre l'idée mais je pense qu'il serait important que les pages gouvernance / équipe restent facilement accessibles.

[2020-07-08 11:44] ReX-AV-Gab commented on #222
Et bien j'estime que non et je me permets de la closer !

[2020-07-08 11:44] #222 closed, assigned to simonLouvet, GuillaumeAV, srosset81

[2020-07-08 11:52] ReX-AV-Gab commented on #16
Oui, on la ferme.

[2020-07-09 07:39] #16 closed, assigned to nobody

[2020-07-09 21:43] #123 closed, assigned to srosset81

[2020-07-09 21:43] #128 closed, assigned to srosset81

[2020-07-10 08:24] srosset81 commented on #323
Fini ! La template est disponible ici https://github.com/assemblee-virtuelle/semapps-template-activitypub

[2020-07-10 08:24] #323 closed, assigned to srosset81

[2020-07-10 09:57] GuillaumeAV commented on #323
Génial !!!

[2020-07-12 14:46] #306 closed, assigned to bouviermullerp

[2020-07-16 10:28] srosset81 opened #327 "Améliorer la doc pour onboarder les nouveaux développeurs"
Se baser sur l'excellente doc de React-Admin https://github.com/marmelab/react-admin#contributing

Tout est à reprendre, et une partie pourra même être reprise tel quel ! :-)

[2020-07-16 15:49] scenaristeur commented on #327
En anglais ? En  Français ( vos premiers utilisateurs) ? Les deux ?

[2020-07-16 15:57] srosset81 commented on #327
@scenaristeur En anglais, ça ira sur cette page: https://semapps.org/docs/contribute/code

[2020-07-16 17:55] GuillaumeAV opened #329 "Tenir à jour le fichier clients AV / SemApps"
[Vous trouverez le tableur ici !](https://docs.google.com/spreadsheets/d/1CFfwF8f2AEqZ1B-zTS07FaluXIAtXThKALI427PIKmI/edit?usp=sharing)

[2020-07-16 19:41] srosset81 opened #330 "Séparer le package @semapps/react-admin"
Séparer le package @semapps/react-admin en 3 packages:

- `@semapps/semantic-data-provider` avec le dataProvider
- `@semapps/auth-provider` avec l'authProvider et les composants nécessaires
- `@semapps/archipelago-layout` pour les composants d'affichage

[2020-07-17 10:00] J9rem opened #331 "Créer une fiche description coographie"
- Décrire le terme coographie
- archiver cette description, une fois validée, à l'endroit le plus indiqué

[2020-07-17 10:05] J9rem commented on #331
Où déposer la fiche une fois validée ? Wiki du Github, .md dans les sources ? comimd ? Roam ?

[2020-07-17 14:26] simonLouvet commented on #330
Ca me semble cohérent.

[2020-07-19 17:57] srosset81 opened #333 "Webfinger: action pour récupérer un acteur distant"
Ajouter une action `getRemote` au service Webfinger qui prend un alias Webfinger type `@actor-name@domain-name` et qui retourne l'URI de l'acteur.

Pour voir à quoi ressemble les données:
https://framapiaf.org/.well-known/webfinger?resource=acct:srosset@framapiaf.org
Seul le lien `application/activity+json` importe pour nous.

[2020-07-19 18:33] srosset81 commented on #243
Je ferme cette issue puisqu'on a décidé de ne pas réutiliser les données de la v1

[2020-07-19 18:33] #243 closed, assigned to simonLouvet

[2020-07-19 18:35] srosset81 commented on #240
Je ferme cette issue puisqu'on a décidé de ne pas réutiliser les données de la v1

[2020-07-19 18:35] #240 closed, assigned to nobody

[2020-07-19 21:21] srosset81 opened #334 "Utiliser la nouvelle action addRoute de moleculer-web"
A [notre demande](https://github.com/moleculerjs/moleculer-web/issues/175), des actions `addRoute` et `removeRoute` ont été implémentées dans l'API Gateway (moleculer-web).

Dès que ce sera publié, on pourrait supprimer les actions `getApiRoutes` et ajouter automatiquement les routes dans la méthode `started`, qu'est-ce que vous en pensez ? Est-on sûr que c'est une bonne pratique ? En tout cas ça

[2020-07-20 12:27] srosset81 opened #335 "Réorganiser les données du meetup"
Comme les données du meetup sont amené à devenir les données de référence de l'AV, il est utile de penser à une structure de containers cohérente qui aidera les différentes interfaces à se brancher dessus.

Nous avons actuellement 5 types de données:

[code]

## Ma proposition

- Je mettrai les données `pair#Project` dans un container `/projects`
- Je mettrai les données `pair#Person` dans un cont

[2020-07-20 12:36] simonLouvet commented on #335
ok sur le principe Toutes les classes utilisée sont celle du OWL pour info.
2 sujets à arbitrer pour moi :
- réconciliation des users : je pense qu'il faut dissocier les acteur au sens PAIR des profils utilisateur au sens identification/authentification. Un user authentifier pourrait rapprocher son profil d'un acteur PAIR ou en créer un
- réconciliation des thèmes/skills/tag. ok de pouvoir utilise

[2020-07-20 13:12] srosset81 commented on #335
Les deux seraient des `pair:Person` non ?
Pour moi ça compliquerait passablement la gestion des données, on repartirait sur une distinction utilisateur / profil qu'on n'avait écarté lors de nos discussions sur WebID. En plus je ne vois pas l'usage: je ne pense pas qu'on aura des personnes qui vont remplir le profil de quelqu'un d'autre (on est pas Wikipedia non plus, l'intérêt est limité...), du c

[2020-07-20 16:56] simonLouvet commented on #335
Si il y a 2 notions distinct entre le compte de connexion et les Personnes comme donnée de la bdd, je pense qu'il faudra 2 classes distincts mais c'est à réfléchir.

[2020-07-29 13:44] bouviermullerp commented on #112
@srosset81 I believe this issue is done, isnt'it ?

[2020-07-29 13:46] bouviermullerp commented on #50
Duplicate of #52

[2020-07-29 13:49] bouviermullerp commented on #290
Linked to #112

[2020-07-29 13:50] bouviermullerp commented on #335
@simonLouvet this is done, correct ?

[2020-07-30 09:27] simonLouvet commented on #335
non, il s'agit ici de distinguer un container par classe ce qui n'est pas actuellement le cas (mais facile à faire). par contre la discussion à soulevé une discutions sur les users que nous devons arbitrer (développeurs+ designers).

[2020-07-31 09:24] #324 closed, assigned to srosset81

[2020-08-01 13:49] J9rem commented on #331
La fiche est crée et déposée ~~ici~~.
Qui pour la revue finale ?
Nouveau lien : https://github.com/assemblee-virtuelle/semapps_coographie/wiki/Coographie

[2020-08-02 19:26] ReX-AV-Gab commented on #331
Je te propose de faire une suggestion et, si tu n'as pas d'objection, d'y aller. Il me semble pertinent de pointer au moins Guillaume, notre infoculteur, pour la revue finale. J'envisage d'évoquer le rôle d'infoculteur, entre autres, lors de la prochaine réunion de gouvernance pour lui apporter mon soutien pour la documentation interne et les comptes rendus.

[2020-08-05 13:26] bouviermullerp commented on #329
mis à jour

[2020-08-05 13:32] bouviermullerp commented on #331
Coographie est un nom de code et n'a pas vocation à être perenne.
C'est triste ça ! pourquoi ? :)
Ne pas confondre l'outil technique de son **application**.
On peut éventuellement écrire _instance_ à la place d'application. Coographie est une instance de SemApps

[2020-08-05 13:38] bouviermullerp commented on #318
@srosset81 on pourrait ajouter une partie supplémentaire à la page d'accueil :
Ils utilisent SemApps : et ajouter les logos de chaque projet avec un lien hyper texte vers chacun des projets ?
Je ne suis pas à l'aise avec la modification de la page d'accueil (un peu trop technique). J'ai besoin qu'on m'explique davantage pur le faire moi même car je ne suis pas autonome pour réaliser ma proposition

[2020-08-05 15:38] J9rem commented on #331
Pour moi, tout me va, je collecte les différentes remarques. J'ai bien besoin de l'avis des autres aussi.

[2020-08-05 23:00] simonLouvet commented on #335
J'ai suivi l'ontologie et je pense qu'il ne faut pas s'en éloigner. Si il a des problèmes dans l'ontologie, il me semble qu'il faut corriger l'ontologie et non le logiciel qui doit rester cohérent avec celle-ci.

[2020-08-05 23:00] simonLouvet commented on #335
curl --request GET \
  --url http://virtual-assembly.org/ontologies/pair/ \
  --header 'accept: application/rdf+xml'

[2020-08-05 23:09] simonLouvet commented on #335
@GuillaumeAV : @srosset81 me dit que tu es au courant et que tu devait corriger la faute d'orthographe sur "Thema". Cela n'est pas encore fait et provoque des tensions entre moi qui dit qu'il faut coller à l'ontologie et @srosset81 qui pense que nous pouvons nous permettre des divergences entre les containers de semapps/coographie. Peux tu corriger l'ontologie pour éviter cela stp.

[2020-08-06 07:17] srosset81 commented on #335
Corriger l'ontologie prend du temps... Cela ne justifie pas de garder des fautes d'orthographe comme `/themas` (ou `/persons`, que tu as voulu garder) qui ne font pas sérieux auprès des anglophones.

Plus généralement, poser une objection _après_ avoir réalisé une issue n'est pas correct. Cela ne me donne plus envie de mettre par écrit des propositions complètes, puisqu'elles sont ignorées...

[2020-08-06 07:37] bouviermullerp commented on #335
@simonLouvet est-ce que ça te convient si dans l'état, on conserve les propositions de @srosset81 puissqu'elles sont développées et on crée une issue liée pour corriger le problème quand la nouvelle version de l'ontologie sera livrée ?
On peut considérer cette issue comme un workaround, le temps que l'ontologie soit livrée, n'est ce pas ? (je ne me rends pas compte de l'impact sur la suite du déve

[2020-08-06 08:27] bouviermullerp commented on #315
[Un pad](https://pad.lescommuns.org/aQl1z37ISD292m7g3j6DsQ?both#) pour poser quelques idées sur la coopérative avec EIG

[2020-08-06 08:32] bouviermullerp commented on #256
Je reproduit toujours cette issue. A corriger en fonction de ce qu'on veut faire avec le DMS

[2020-08-06 08:40] simonLouvet commented on #335
Je suis d'accord que j'aurais du vérifier l'ontologie, exprimer a divergence d'opinion, écrire l'issue, trouver un consensus et développer après. Le probleme c'est que je n'ai pas trouvé le temps de faire cela avant le rdv de startin'blox qui a accéléré les choses, que cela devenait une tache urgente et que je dépile plein de projets avant mes vacances. J'ai donc vérifié l'ontologie au moment de r

[2020-08-06 08:54] bouviermullerp commented on #335
Le rôle produit suggère qu'on suivre les spécifications, et d'utiliser *user* - c'est imoortant aussi de faire évoluer l'issue dans le kanban.
Le rôle facilitation suggère qu'on prenne le temps de privilégier la méthodo qui permet de prendre soin de notre petit collectif, plutôt que l'urgence de livrer quelque chose. :)

[2020-08-06 09:19] simonLouvet commented on #335
Je peux changer les containers (suppression des datas, reconfiguration, redéploiement, réinjection des datas) quand Sébastien me donnera le feux vert (il bosse dessus en ce moment).

Je ne suis pas d'accord mais je ne fait pas objection. Pour information, les changement de nommage de container change également tous les @id des sujets contenus dans ces containers et c'est une opération à risque si

[2020-08-06 09:30] ReX-AV-Gab commented on #335
J'espère qu'un échange de vive voix vous permettra de trouver une solution convenable.

[2020-08-06 10:49] GuillaumeAV commented on #331
Yop !

Coographie ferait pas doublon avec archipel.assemblee-virtuelle.org ou nom
similaire ?

La bise !

Le mer. 5 août 2020 à 17:38, Jérémy Dufraisse <notifications@github.com> a
écrit :

--
Guillaume Rouyer
+33 (0)6 28 34 54 99
<http://assemblee-virtuelle.org>http://virtual-assembly.org

https://www.facebook.com/grouyer
https://twitter.com/Guillaume_AV

[2020-08-06 11:01] simonLouvet commented on #335
Il y a qqc qui me dérange dans notre méthodo. Dans ma manière de fonctionner, faire une issue ne veut pas dire créer une spécification. Cela veut dire proposer une spécification qui peut être amendé, modifiée, bonifiée, améliorée, refusée, retravaillée.. ou bien sur accepté tel quel. Il me semble que les rôles / Personnes qui valide les issues ne sont pas clairement identifiés. Je pense aux rôle p

[2020-08-06 11:25] ReX-AV-Gab commented on #335
J'ai hâte que l'on puisse aborder ce sujet de vive voix. En l'occurrence, cela pourrait être à l'occasion d'une réunion de gouvernance où il pourrait être question de pilotage et d'une revue des rôles. Je ferai des propositions concrètes au plus tard pour la deuxième réunion sprint à venir.

[2020-08-06 11:33] srosset81 commented on #315
Très clair, merci ! Hâte de faire une rencontre avec ces EIG !

[2020-08-06 22:07] simonLouvet opened #338 "nettoyage du container lors de la suppression d'une ressource par LDP"
Lors de la supression d'une ressource d'un container grâce à LDP, l'enssemble des triplet e cette ressource sont bien supprimé mais la référence à cette ressource dans le container ne l'est pas.

[2020-08-07 08:06] scenaristeur opened #339 "Pagination inutilisable car masquée par Fab button"
Sur le dernier dms la pagination est masquée par le bouton + donc inutilisable sur mobile
![Screenshot_20200807-100146_Chrome](https://user-images.githubusercontent.com/4020744/89623869-ab118400-d895-11ea-877b-b4f3c7b20364.jpg)

[2020-08-11 13:16] GuillaumeAV opened #340 "La création de personnes ne marche pas"
Sur https://dms-srosset81.semapps.vercel.app/, à partir de firefox, ca donne une page blanche ...

[2020-08-11 13:19] GuillaumeAV opened #341 "Générer automatiquement les liens inverses"
Voir par exemple à partir de l'orga des Chemins de la Transition que je viens de créer ;)

[2020-08-12 13:35] GuillaumeAV commented on #294
Les vidéos sont enfin en ligne sur la chaine de l'Assemblée Virtuelle !
https://www.youtube.com/channel/UCg7sYh_Y8cHFT4s82K4SVmA/

[2020-08-12 14:42] J9rem commented on #331
La présente issue passe en statut **Done** car une nouvelle Issue la remplace : https://github.com/assemblee-virtuelle/semapps_coographie/issues/4 dans le projet coographie

[2020-08-12 14:42] #331 closed, assigned to GuillaumeAV, J9rem

[2020-08-12 15:25] bouviermullerp commented on #335
Suite au sprint de ce jour, il a été convenu qu'on ne dissociait pas la donnée "utilisateur" de l'utilisateur enregistré et authentifié. C'est une manière simple et agile d'avancer.
Le sujet est très complexe et entraine vers considérations qui mériteront certainement d'être exploré par un groupe de travail spécifique.

[2020-08-12 15:27] bouviermullerp commented on #329
Issue récurrente qui est prise en charge par le référent.

[2020-08-12 15:27] #329 closed, assigned to GuillaumeAV, bouviermullerp

[2020-08-12 15:30] bouviermullerp commented on #295
lié à #50 (clos duplicate) et #52

[2020-08-12 15:32] #50 closed, assigned to nobody

[2020-08-12 15:49] bouviermullerp commented on #28
Duplique #2

[2020-08-12 15:49] #28 closed, assigned to nobody

[2020-08-12 15:52] bouviermullerp commented on #242
Je suggère qu'on ferme cette issue qui est relative au projet PAIR et pas SemApps si vous êtes d'accord. @GuillaumeAV @srosset81

[2020-08-12 15:56] bouviermullerp commented on #267
@GuillaumeAV @ReX-AV-Gab may we close this issue ?

[2020-08-12 15:56] bouviermullerp commented on #293
Est-ce que ce cas peut être fermé ?

[2020-08-12 15:58] bouviermullerp commented on #188
duplicate de assemblee-virtuelle/archipelago#171 n'est ce pas ? @GuillaumeAV

[2020-08-12 15:58] #188 closed, assigned to nobody

[2020-08-12 15:59] #209 closed, assigned to GuillaumeAV, srosset81, ReX-AV-Gab

[2020-08-12 16:00] bouviermullerp commented on #335
lié à #116

[2020-08-12 16:01] bouviermullerp commented on #116
Est-ce qu'on peut fermer cette issue @simonLouvet @srosset81 ?

[2020-08-12 16:03] #34 closed, assigned to nobody

[2020-08-12 16:06] bouviermullerp commented on #11
Duplicate #147

[2020-08-12 16:06] #11 closed, assigned to nobody

[2020-08-12 16:06] #25 closed, assigned to nobody

[2020-08-12 16:06] bouviermullerp commented on #25
This is done

[2020-08-12 16:06] bouviermullerp commented on #26
This is done

[2020-08-12 16:06] #27 closed, assigned to nobody

[2020-08-12 16:07] #30 closed, assigned to nobody

[2020-08-12 16:07] bouviermullerp commented on #24
Duplicate #2

[2020-08-12 16:07] #24 closed, assigned to nobody

[2020-08-12 16:25] simonLouvet commented on #116
ok pour moi. l'API user authentifié et un container de pair:Person ne sont pas la même chose. l'API des user Authentifiés sert pour l'authentification, la gestion de droits alors que'un api de type container de pair:Person sert à stoker des datas "classique" sur une personne.

Si seul l'API user authentifié existe, cela veut dire que toute données lié à une personne sont rattachées directement au

[2020-08-12 17:21] #116 closed, assigned to srosset81

[2020-08-12 21:33] ReX-AV-Gab commented on #267
Oups, j'étais vraiment persuadé d'avoir déjà donné la réponse positive !

[2020-08-13 17:19] GuillaumeAV commented on #242
Yes!

[2020-08-13 17:21] #242 closed, assigned to GuillaumeAV

[2020-08-13 17:21] GuillaumeAV commented on #293
Nooo, il faut qu'on la peaufine ...

[2020-08-14 12:46] GuillaumeAV commented on #295
Attendre le retour de @srosset81 de Grèce qui devrait croiser @nikoPLP et en discuter avec lui ;)

[2020-08-15 11:20] srosset81 commented on #341
Pour l'instant rien n'a été fait au niveau du middleware pour générer les liens inverses à partir du fichier OWL. C'est tout un sujet...

Ping @simonLouvet

[2020-08-15 11:34] #294 closed, assigned to GuillaumeAV

[2020-08-15 11:39] #26 closed, assigned to nobody

[2020-08-17 07:55] GuillaumeAV commented on #341
C'est un joli sujet :)

[2020-08-18 07:04] simonLouvet commented on #341
comme @srosset81 l'a evoqué, la solution la plus cohérente semble  d'analyser les fichier owl des taxonomies gérées par un semapps pour detecter (par un mini raisonneur) que ajouter un lien dans un sens est équivalent à ajouter un lien inverse et il est alors possible d'ajouter ce lien inverse de manière silencieuse ou explicite.
Il faut d'abord designer l'ergonomie et le comportement avant de le

[2020-08-18 11:49] GuillaumeAV commented on #341
Ok, peut-être également demander à @tfrancart les bonnes pratiques dans ce domaine ?

Je crois que ca concerne l'ensemble des relations entre classes oui ..

[2020-08-18 11:57] simonLouvet commented on #341
la question est de savoir si le produit / développeurs ont besoin de pouvoir configurer certaines relation en relation inverse systématiquement et d'autre en relations normales sur le même serveur / produit

[2020-08-19 09:05] tfrancart commented on #341
Matérialiser les liens inverses dans la base n'est pas toujours une bonne solution. Si le besoin est de _voir_ ou de _requêter_ ces liens inverses, il n'est pas nécessaire qu'ils soient matérialiser puisque ça peut se faire par des requêtes.
Si on veut pouvoir matérialiser certains liens il me semble que c'est nécessairement au cas par cas avec de la config. D'ailleurs cette config peut être faite

[2020-08-19 10:12] simonLouvet commented on #320
a discuter. Le serveur est censé fournir le content-type de la data qu'il produit. C'est effectivement critiquable de répondre avec un différent que ce qui est dans le accept. Si nous étions rigoureux, nous devrions refuser un accept ```applicaiton/json``` car le serveur ne produit que du ```application/ld+json``` et également refuser les body en ```application/json```.

[2020-08-19 10:13] #292 closed, assigned to simonLouvet

[2020-08-19 20:08] srosset81 commented on #320
Je ne vois pas l'intérêt d'être rigoureux à ce point. Toutes les implémentations ActivityPub que j'ai vues acceptent `application/json`. Notre but devrait être de simplifier la vie des développeurs, pas la compliquer...

[2020-08-25 14:22] srosset81 commented on #29
C'est implémenté avec react-admin.

[2020-08-25 14:22] #29 closed, assigned to nobody

[2020-08-25 14:35] srosset81 opened #345 "Gérer les liens cassés vers les ressources locales ou distantes"
Actuellement sur le DMS coographie, si un lien vers une ressource est cassée:

- Pour la page d'affichage (colonne de droite), cela affiche une erreur en bas de page et rien n'est affiché.
- Pour la page d'édition, cela affiche "Label manquant" à la place du label.

Plusieurs options s'offrent à nous:

1. Lorsqu'une ressource est supprimée, s'assurer que tous les liens vers cette ressource sont ég

[2020-08-25 14:47] srosset81 commented on #340
Le problème venait du label de certains projets qui était à double. Cela a été réglé en utilisant la méthode `PUT` au lieu de `PATCH` pour l'édition des données.

La dernière version est visible ici https://coographie.vercel.app

[2020-08-25 14:47] #340 closed, assigned to srosset81

[2020-08-25 15:02] srosset81 opened #346 "Passer un slug à la création de ressources"
Actuellement si on crée une ressource via le DMS, son URL sera de type https://data.virtual-assembly.org/organizations/5f44baf059ee10ee1d9a4916

Pour avoir un URL plus joli type https://data.virtual-assembly.org/organizations/assemblee-virtuelle, il suffirait de passer le `Slug` que l'on désire en header de la requête HTTP.

Il suffirait pour cela, dans le fichier de config des ressources (`config

[2020-08-25 16:31] ReX-AV-Gab commented on #315
Je note que le premier point de la raison d'être du rôle Pérennité économique est : "Garant des conditions matérielles permettant la contribution des contributeurs". Au vu de la question, le périmètre est peut-être à préciser.
Et pour répondre à la question, il me semble intéressant de s'informer en amont l'organisation de l'AV sur l'exploitation commerciale de ses produits.
Par ailleurs, je ne su

[2020-08-26 09:35] srosset81 commented on #345
Concernant le premier point, je propose d'ajouter une option `deleteReverseLinks` au service LDP. Si elle est `true`, les liens vers la resource seront supprimés lorsque celle-ci sera effacée. Cela ne marchera que pour les ressources locales, mais c'est déjà ça. Je ne vois pas l'intérêt de garder les liens vers une ressource effacée.

Concernant le point 2, j'ai posté une proposition ici: https://

[2020-08-26 09:57] srosset81 commented on #341
Merci pour le partage de tes réflexions @tfrancart !

C'est vrai que l'inférence peut être faite au moment du GET de la ressource, mais cela va alourdir la requête SPARQL générée par le middleware et je crains déjà qu'on va faire face à des problèmes de performances lorsqu'on aura les ACLs en place.

Faire la requête au niveau du front est trop compliqué pour le moment (dans le contexte React-Admi

[2020-08-26 10:19] srosset81 opened #1214 "Ignorer les accents dans la recherche"
Actuellement si on entre "Séb" on trouve bien "Sébastien Rosset", mais pas si on entre "Seb" ou "séb".

Les majuscules et les accents ne devraient pas être pris en compte par la requête SPARQL.

[2020-08-26 10:35] srosset81 commented on #1214
Ignorer les majscules était facile, c'est fait ici https://github.com/assemblee-virtuelle/semapps_coographie/pull/3/commits/6276c28e8edbc837670f83288d3528b1f61ce20c

Pour les accents, ça va nécessite de faire une regex complexe je pense...

[2020-08-26 12:51] bouviermullerp commented on #292
il existe un serveur data.virtual-assembly.org

[2020-08-26 12:57] bouviermullerp commented on #52
Seb sollicite l'aide de Nico pendant cette itération.

[2020-08-26 13:00] srosset81 commented on #335
Très bien !
Pour corriger les fautes d'orthographes, il faudrait donc renommer:

- `/themas` en `/themes`
- `/persons` en `/users`

Tu pourras t'en occuper @simonLouvet ?

[2020-08-26 13:29] Ancelin-Moulherat-AV opened #348 "SemApps des Grands Voisins - BDD sémantique, installation, link sparnatural"
J'ai besoin d'aide pour avoir une instance SemApps minimalement fonctionnelle d'ici au 15 septembre, puis-je avoir un coup de main svp ?

INFOS
Plateau Urbain va m'envoyer leurs fichiers de Voisins pour reconstituer une BDD d'acteurs.
Nous avons encore quelques restes de SemApps V1
Alain Hays propose un hébergement gratuit avec son serveur.

QUESTIONS
Comment sémantiser ce tableur ?
Où installer S

[2020-08-26 13:37] srosset81 commented on #256
Normalement cette issue est réglée sur https://coographie.vercel.app

[2020-08-26 13:52] Ancelin-Moulherat-AV commented on #348
Chantiers

Simon sémantiser via le bus sémantique, pas là
Installer SemApps avec PAIR
Connection Sparnatural : pointage vers les données SemApps sans lien direct
Local ou en ligne ? Clarifier, en ligne public et en local privé confidentiel
Cagnotte des voisins
explorer des financements

Seb prêt à mettre qq heures, installer instance, couleurs GV
Dead line instance, possibilité de MAJ

Pierre : re

[2020-08-26 14:06] bouviermullerp opened #349 "Faciliter une réunion sur la stratégie produit pour les 6 prochains mois"
Action :
- [ ] Framadate + convocation
- [ ] Statut des projets ad-hoc
- [ ] Fonctionnalités financées

[2020-08-26 14:11] Ancelin-Moulherat-AV commented on #348
Alain : serveur VPS chez contabo 1 tera
Demander aux GV budget hébergement / nom de domaine voulu = privilégier OVH
Clarifier les demandes de validation auprès des personnes concernées
Issues doivent être une action unique affectée à une personne seule
Scinder le projet en plusieurs morceaux / issues

1 travailler la BDD (Ancelin)
2 installer SemApps (Gab)
3 mise en ligne sur serveur avec nom de d

[2020-08-26 14:18] srosset81 commented on #348
@Ancelin-Moulherat-AV Pour l'installation de l'instance GV, j'aurai donc besoin:

- Accès "root" SSH à un serveur (celui d'Alain s'il est adapté, sinon un serveur OVH Cloud idéalement financé par les GV)
- Nom de domaine (ou sous-domaine) qui pointe vers l'adresse IP du serveur

Il faudrait que je puisse tester ça rapidement pour qu'il n'y ait pas de surprise plus tard.

[2020-08-26 14:24] Ancelin-Moulherat-AV opened #350 "Reconstituer une BDD sémantique des Voisins"
Possibilité 2 : ajouter à la main les données tabulaires

Ancienne BDD incomplète
https://matrix.virtual-assembly.org/_matrix/media/r0/download/matrix.virtual-assembly.org/WnjKkPxdaEIacEcmFcWuGOpa

Modèle de données des fichiers de Plateau Urbain
[BDD GV stucture de base.xlsx](https://github.com/assemblee-virtuelle/semapps/files/5130393/BDD.GV.stucture.de.base.xlsx)

[2020-08-26 14:39] GuillaumeAV opened #351 "Brainstormer une stratégie pour débloquer les fonds"
Poser les différents scénarios qui nous permettraient de débloquer les subventions, d'accélérer les développement et de générer des effets de levier ...

Parmi les options :
- Le prêt à la banque  (pour la plateforme CdlT notamment)

[2020-08-26 14:40] Ancelin-Moulherat-AV opened #352 "Installer une instance SemApps pour les GV"
**Préalable à clarifier :**
Veut-on une instance en local sur laquelle il y aurait les données confidentielles ? Cela permettrait d'avoir une "instance jouet" sur laquelle faire des tests, et une instance public en ligne avec uniquement les données non sensibles (en attendant d'avoir un système de droit d'accès)

[2020-08-26 14:40] Ancelin-Moulherat-AV commented on #352
Priorité pour le 15 sept : que ce soit local ou en ligne, nous avons besoin de pouvoir faire une démonstration qui fait Waouh

[2020-08-26 14:41] Ancelin-Moulherat-AV commented on #352
Pour l'installation de l'instance GV, j'aurai donc besoin:
Besoin de Seb pour installation :

Accès "root" SSH à un serveur (celui d'Alain s'il est adapté, sinon un serveur OVH Cloud idéalement financé par les GV)
    Nom de domaine (ou sous-domaine) qui pointe vers l'adresse IP du serveur

Il faudrait que je puisse tester ça rapidement pour qu'il n'y ait pas de surprise plus tard.

[2020-08-26 15:56] Ancelin-Moulherat-AV commented on #350
Start In Bloc peut faire un form sémantique pour ajouter de la donnée

[2020-08-26 16:56] srosset81 opened #353 "Ajouter un lien vers une ressource sur un autre serveur"
![Interopérabilité entre instances SemApps (1)](https://user-images.githubusercontent.com/17931931/133049127-815f4173-e4f9-427e-83d2-da12a17adf1d.png)

Avec @simonLouvet nous avons discuté de plusieurs sujets techniques autour de la fédération avant les vacances, notamment l'ajout de liens vers des ressources sur d'autres instances.

L'idéal serait un moteur de recherche multi-instances (en mode "

[2020-08-26 17:12] srosset81 opened #354 "Naviguer sur une ressource d'une autre instance"
![Interopérabilité entre instances SemApps (3)](https://user-images.githubusercontent.com/17931931/133049318-ef753164-b897-4c00-9d1b-97dcf8ea1204.png)

Lorsqu'on [crée un lien vers une ressource d'une autre instance](https://github.com/assemblee-virtuelle/semapps/issues/353), le nom de cette ressource va apparaître sur la partie droite.

La question est: **qu'est-ce qui se passe lorsqu'on clique s

[2020-08-26 17:16] srosset81 commented on #352
@Ancelin-Moulherat-AV Je proposerai de ne pas mettre de données confidentielles pour le moment, quitte à supprimer celles qui le sont.

[2020-08-26 17:26] srosset81 opened #355 "Déplacer coographie sur le repo SemApps"
**Problématique**

Maintenir deux bases de code (sur les repo semapps et sur semapps_coographie), avec en plus à chaque fois un middleware et et un frontend différent, n'est pas faisable sur le long terme. L'instance https://dms.semapps.org va être décalée, ou alors il faudra continuellement la mettre à jour.

Par ailleurs, avoir un repo différent pose des problèmes pour le développement. Notammen

[2020-08-26 17:59] Ancelin-Moulherat-AV commented on #352
Ok

[2020-08-26 19:49] Ancelin-Moulherat-AV opened #356 "Candidater pour la cagnotte des GV"
Candidature cagnotte des voisins

INFOS
Source : CRs cercle cagnotte
https://docs.google.com/document/d/1gDwg-aQK8VBe6KKaISvSHdaxML70MRNxivtc_r2Qkb4/edit
restait 5500 euros environ fin décembre
YWC a reçu 4000€ pour leur crowfunding sur la distribution alimentaire depuis le COVID
Reste des sous mais pas de montant indiqué
(plus vieux) :
kacekode a eu 1500 pour leur crowfunding
autre plus gros budg

[2020-08-27 09:44] GuillaumeAV commented on #353
Héhé on entre dans le vif du sujet !

@tfrancart @bblfish @Rouffi   vous avez sans doute un avis sur la question ?

[2020-08-27 09:50] GuillaumeAV opened #357 "Quand on modifie le label d'une resosource..."
Le nouveau label est suivi de l'ancien label ..

Un exemple ... La compétence : "Architectures de coopération,Aarchitectures de coopération"

[2020-08-27 10:38] GuillaumeAV opened #358 "Bug quand on veut modifier une personne"
Exemple : https://dms-srosset81.semapps.vercel.app/#/User/https%3A%2F%2Fdata.virtual-assembly.org%2Fpersons%2Fbenoit_ferchaud

Quand on clique sur le bouton éditer, une page blanche apparaît...

[2020-08-27 10:44] GuillaumeAV opened #359 "Bug à l'ajout de membres d'une orga"
Quand on veut ajouter un membre à une orga ... La liste déroulante, classée par ordre alphabétique, s'arrête à Frédérique Assal (la 23ème personne)... On ne peut donc pas ajouter les membres ne faisant pas partie de ces 23 premiers résultats ...

Autre sujet, un petit mécanisme de complétion sur la liste déroulante serait très user friendly ;)

[2020-08-27 12:50] srosset81 commented on #358
Le site est maintenant https://coographie.vercel.app, merci d'utiliser celui-là pour les tests.

Je reproduits effectivement sur https://coographie.vercel.app/#/User/https%3A%2F%2Fdata.virtual-assembly.org%2Fpersons%2Fbenoit_ferchaud

[2020-08-27 12:51] srosset81 commented on #357
C'est corrigé sur https://coographie.vercel.app, merci d'utiliser celui-là pour les tests.

[2020-08-27 12:51] #357 closed, assigned to srosset81

[2020-08-27 15:45] GuillaumeAV commented on #267
Avec @Rouffi & @bouviermullerp on se lance dans une cartographie de c'est quoi semapps avec l'idée de mapper cet objet complexe ;)

## Ressources
- [Carto GV](https://docs.google.com/presentation/d/1sp1BhlzuadxDSipQjDsN3yKvh5udjFQIXsi5KfUZ1Qk/edit?usp=sharing)
- [MMMfest](http://mmmfest.fr/rechercher)
- [SemApps AV](semapps.virtual-assembly.org/)
- [Vidéo Archi](https://www.youtube.com/watch?v=oRb

[2020-08-28 07:04] srosset81 commented on #339
Fixé sur la dernière version de https://coographie.vercel.app

[2020-08-28 07:04] #339 closed, assigned to srosset81

[2020-08-28 09:13] #262 closed, assigned to srosset81

[2020-08-28 13:17] srosset81 commented on #346
Réalisé ici https://github.com/assemblee-virtuelle/semapps_coographie/pull/3/commits/7629cc4df4947ded2de705853b9f695f6e296ae0

[2020-08-28 13:17] #346 closed, assigned to srosset81

[2020-08-28 14:21] srosset81 commented on #345
Les développeurs de react-admin m'ont répondu. En [ajoutant un try/catch](https://github.com/assemblee-virtuelle/semapps_coographie/pull/3/commits/b4553e105194243b0e33dc64dc4c57b8bace910d) dans la méthode `getMany`, on peut éviter de générer une erreur, et seules les ressources valides sont affichées. C'est pas encore parfait mais c'est mieux en terme UX.

Il va falloir tout de même gérer la suppr

[2020-08-29 07:32] GuillaumeAV commented on #358
C'est résolu, c'est trop cool ! Merci ;)

[2020-08-29 07:36] GuillaumeAV opened #362 "Traiter les compétences et les centre d'intérêt comme les autres classes"
Avec possibilité d'ajout d'une description.
Avec les relations : ex :
* Développement web est une compétence de Sébastien Rosset
* Jardinage est un centre d'intérêt de Chuck Norris

[2020-08-29 07:42] GuillaumeAV opened #363 "Quand on veut compléter le profil d'une personne, nombre d'individus limité"
Quand on veut compléter le profil d'une personne en ajoutant des projets / orgas / Compétences / Intérêts, on est limité à une vingtaine d'entrées (classées par ordre alphabétique ou pas) alors qu'il y en a bien plus ;)

[2020-08-29 07:43] #359 closed, assigned to srosset81

[2020-08-29 07:44] GuillaumeAV commented on #359
Remplacée par l'issue #363 ;)

[2020-08-29 07:44] GuillaumeAV commented on #363
Autre sujet, un petit mécanisme de complétion sur la liste déroulante serait très user friendly ;)

[2020-08-29 07:52] GuillaumeAV opened #364 "Recherche: retourner les résultats pour toutes les classes"
Proposition :

Avoir une barre de recherche sans le menu des classes ni le bouton hop.
Lorsqu'on utilise la complétion dans la barre de recherche, ca affiche les résultats par classe dans les différents onglets.

* Si je tape Guillaume, il restera au final un seul onglet : Personne
* Si je tape Jardin, il y restera potentiellement plusieurs onglets : (Jardin partagé de Pantin - Projet ; Jardinage

[2020-08-30 22:27] #358 closed, assigned to GuillaumeAV, srosset81

[2020-08-31 06:38] GuillaumeAV commented on #315
Hello !
Top le doc ! Hâte d'en discuter à l'apéro ! Est ce qu'on à je e date
d'ailleurs ?

Pas trop compris ta remarque Gabriel (plusieurs idées dans une même phrase,
trop compliqué pour moi à cette heure matinale ;)  )

Le mar. 25 août 2020 à 18:32, Gabriel_ReX_AV <notifications@github.com> a
écrit :

[2020-08-31 06:45] GuillaumeAV commented on #341
Ça à l'air top la, perspective long terme avec l'activity offer!

Le mer. 26 août 2020 à 11:57, Sébastien Rosset <notifications@github.com> a
écrit :

[2020-08-31 06:50] GuillaumeAV commented on #348
Yop ! Tu passes aux GV cette semaine Ancelin ?

Le mer. 26 août 2020 à 16:18, Sébastien Rosset <notifications@github.com> a
écrit :

[2020-08-31 08:29] ReX-AV-Gab commented on #315
@GuillaumeAV, j'ai attendu 10h30 pour te répondre en reformulant ;)
Est-ce que le rôle Pérennité économique pourrait être concerné par l'exploitation commerciale ?
Est-ce que l'on considère que l'exploitation commerciale entre dans les "conditions matérielles permettant la contribution des contributeurs" dont ce rôle est garant ?
Je pense qu'il est nécessaire d'intégrer l'AV pour répondre à la que

[2020-09-01 07:31] #256 closed, assigned to nobody

[2020-09-01 09:19] #338 closed, assigned to srosset81

[2020-09-01 09:26] srosset81 opened #366 "Emettre des événements lors des manipulations des ressources LDP"
Emettre les événements suivants:

- `ldp.resource.created`
- `ldp.resource.updated`
- `ldp.resource.deleted`

Y ajouter les données suivantes:

- `resourceUri` (pour tous les événements)
- `newData` (pour les événements created et updated)
- `oldData` (pour les événements deleted et updated)
- `webId` (s'il est disponible)

Cela permettra à ce que d'autres services Moleculer agissent de manière in

[2020-09-02 10:10] GuillaumeAV opened #368 "Ajouter des événements sur Coographie"
A partir de PAIR : https://www.virtual-assembly.org/ontologies/pair/index-fr.html
Ce serait très utile !

[2020-09-02 19:05] GuillaumeAV opened #370 "Les liens Intérêts & Compétences ne sont pas cliquables"
Ils ne sont en fait pas cliquables ... Issue en lien avec #362

[2020-09-02 19:08] srosset81 commented on #370
Le problème avec intérêts et compétence, c'est que si on rend les liens cliquables, on aura une page toute blanche avec juste le titre.
Est-ce vraiment ce que l'on veut ?
Je pensais qu'on attendrait d'avoir la complétion DbPedia/Wikidata avant d'améliorer cet aspect...

[2020-09-02 19:58] GuillaumeAV commented on #370
Oui, dans la v1 on avait avait une complétion sur dbpedia, dont on récupérait les contenus : on avait donc pas de page blanche, mais les définitions des thèmes & compétences ...
Hâte à ce sujet qu'on attaque le sujet DBpedia / Wikidata / Interop / LOD !

[2020-09-02 20:16] srosset81 commented on #370
Je corrige le titre de l'issue. Les liens inverses fonctionnent, c'est juste qu'ils ne sont pas visibles.

[2020-09-02 20:17] srosset81 opened #371 "Les déploiements Now/Vercel ne fonctionnent plus"
Essayer d'utiliser l'intégration officielle

[2020-09-04 09:14] #366 closed, assigned to srosset81

[2020-09-04 09:15] #341 closed, assigned to srosset81

[2020-09-04 09:15] #345 closed, assigned to srosset81

[2020-09-04 10:20] #371 closed, assigned to srosset81

[2020-09-04 10:21] srosset81 commented on #371
C'est fixé. Grâce à l'intégration officielle, semapps.org sera déployé à chaque fois qu'on merge sur master.
On va aussi pouvoir faire un déploiement automatique de Coographie, [lorsqu'il sera déplacé sur ce repository](https://github.com/assemblee-virtuelle/semapps/issues/355).

[2020-09-04 10:36] srosset81 commented on #199
Il faut qu'on s'occupe de cette issue.
Pour Colibris, j'upload chaque nuit le backup sur ma Dropbox personnelle.
@simonLouvet est-ce que tu as une idée vers où on pourrait uploader les backups pour Coographie, les Grands Voisins, etc ? OVH Cloud propose plusieurs types de storage, mais je ne sais pas lequel serait le plus adapté...

[2020-09-04 11:37] srosset81 commented on #363
@GuillaumeAV L'auto-complétion marche déjà ! :-D Une recherche SPARQL est lancé dès qu'on tape une lettre dans le champ principal. A noter toutefois que:

- les accents sont pour le moment [pris en compte](https://github.com/assemblee-virtuelle/semapps/issues/1214)
- la recherche est faite sur le mot entier: une recherche sur "la" va retourner autant "Laure" que "Guillaume"

Par défaut, react-admi

[2020-09-04 11:46] srosset81 commented on #364
Pour la barre de recherche, j'ai copié ce qui était dans la V1.

![GV_Home](https://user-images.githubusercontent.com/17931931/92235732-74d71c80-eeb4-11ea-9736-64182edf7ddc.png)

Pour ce qui concerne les **résultats**, c'est vrai que c'est sympa de voir combien il y a de résultats pour chaque classe au niveau de l'onglet. Il faudrait quand même le faire intelligemment, pour éviter de lancer une re

[2020-09-04 11:55] #352 closed, assigned to srosset81, Ancelin-Moulherat-AV

[2020-09-04 11:56] srosset81 commented on #352
Fait https://grandsvoisins.semapps.org

[2020-09-04 11:56] srosset81 commented on #348
Je ferme cette issue puisqu'elle a été déplacée sur plusieurs autres issues.

[2020-09-04 11:56] #348 closed, assigned to Ancelin-Moulherat-AV

[2020-09-04 15:33] srosset81 opened #373 "Explorer Walder"
Extrait de [ce post](https://forum.solidproject.org/t/build-websites-and-web-apis-on-top-of-pods-with-walder/3418).

Walder est écrit en NodeJS, il serait intéressant de voir s'il y a des interconnexions possibles avec SemApps.

Voir ce tutorial: https://pieterheyvaert.com/blog/2020/08/31/getting-started-with-walder/

[2020-09-04 15:43] srosset81 opened #374 "Faire une newsletter régulière sur les avancées de SemApps"
Je me dis qu'on serait mûr pour sortir tous les 2-3 mois une petite newsletter avec les avancées réalisées sur SemApps. Il me semble qu'il y a de la matière à partager, et pas mal de gens potentiellement intéressés 🤔

Ce pourrait même être inclus dans un potentiel "blog" présent sur le site web (Docusaurus gère ça facilement)

[2020-09-06 11:46] simonLouvet commented on #199
Un stockage de fichier le plus basique possible me semble adapté. Le protocole le plus cohérent à utiliser me semble FTP. OVH cloud archive me semble le service le plus approprié.
![image](https://user-images.githubusercontent.com/5068825/92325000-50f81000-f047-11ea-95a3-c88a951e4122.png)

Je rajouterai dans le besoin la suppression des archives qui ont plus de X jours (faisable par ftp je pense).

[2020-09-07 14:31] srosset81 commented on #199
Ta solution semble idéal :+1: Je regarde pour le faire...

[2020-09-07 15:52] srosset81 commented on #199
J'ai ajouté les instructions pour lancer un backup automatique dans notre repo Gitlab privé:

https://gitlab.com/assemblee-virtuelle/semappsconfig/-/blob/master/README.md#automatic-backup-of-the-fuseki-triple-store

A voir si on déplace ces instructions ailleurs, ou si on automatise avec un script (je suis pas très bon en scripts shell).

J'ai mis en place le backup journaliser pour les instances

[2020-09-08 07:15] GuillaumeAV commented on #315
Yop ! Désolé pour le temps de réponse ..

Est-ce que le rôle Pérennité économique pourrait être concerné par l'exploitation commerciale ?
=> A mon avis oui, dans la mesure ou l'exploitation commerciale peut être un moyen de la pérennité économique

Est-ce que l'on considère que l'exploitation commerciale entre dans les "conditions matérielles permettant la contribution des contributeurs" dont ce r

[2020-09-08 08:03] GuillaumeAV commented on #363
Yop ! L'enjeu est de pouvoir sélectionner 100% des résultats possibles, parce que par exemple, si Seb est membre de l'AV, je veux pouvoir le dire, même s'il est le 50000ème par ordre alphabétique .. La solution, complétion à partir de 2 ou 3 caractères me semble pertinente ...

[2020-09-08 08:06] ReX-AV-Gab commented on #315
Merci Guillaume pour ton retour.
L'AV est ici considérée dans sa dimensions structurelle comme l'organisation dont dépend le groupe projet SemApps. Si le groupe SemApps peut gérer des relations avec l'extérieur - notamment concernant l'exploitation commerciale - hors de tout cadre validé par l'AV, le rôle Pérennité économique sera amener à travailler sur le sujet. Après la dimension structurelle,

[2020-09-08 08:18] simonLouvet commented on #199
Je trouverai ça plus ergonomique pour le produit que l'ensemble de la fonctionnalité soit assumé par un module sans qu'il y ai besoin de rajouter un script en plus.

[2020-09-08 08:37] GuillaumeAV commented on #364
Au passage, le bouton hop ne servait à rien, dans la mesure où il y avait une complétion...

[2020-09-08 09:39] srosset81 commented on #199
Comme il y avait besoin d'un cron, j'ai pensé que ça passerait obligatoirement par un script. Mais c'est vrai qu'il y a une extension moleculer pour gérer les cron: https://github.com/davidroman0O/moleculer-cron#readme Du coup effectivement on peut envisager un service de backup !

En tout cas le script actuel fonctionne, un backup a bien été fait cette nuit !

[2020-09-08 09:56] GuillaumeAV commented on #199
Aah ca a l'air génial comme solution ce petit servie moleculer :)

Le mar. 8 sept. 2020 à 11:40, Sébastien Rosset <notifications@github.com> a
écrit :

--
Guillaume Rouyer
+33 (0)6 28 34 54 99
<http://assemblee-virtuelle.org>http://virtual-assembly.org

https://www.facebook.com/grouyer
https://twitter.com/Guillaume_AV

[2020-09-08 10:32] GuillaumeAV commented on #315
Huuum je comprends, vivement la refonte de l'AV !

[2020-09-08 15:34] srosset81 commented on #289
Le service fuseki-admin est documenté ici https://github.com/assemblee-virtuelle/semapps/pull/375

Reste encore sparql-endpoint

[2020-09-08 15:41] srosset81 commented on #301
Une option intermédiaire serait de désactiver le cache pour le TripleStoreAdapter, de cette manière:

https://github.com/moleculerjs/moleculer-db/issues/116

On pourrait créer un mixin `NoCacheDbService` de cette manière:

[code]

[2020-09-08 16:00] srosset81 opened #376 "Mettre en cache les ressources LDP"
Pour l'instant le serveur Coographie semble lent car on fait de nombreux appels GET sur les ressources, et chaque appel doit générer une requête SPARQL.

Une solution simple serait de [mettre en cache](https://moleculer.services/docs/0.14/caching.html) l'action `ldp.resource.get`.

Quand on appelle `ldp.resource.put`, `ldp.resource.patch` ou `ldp.resource.delete`, il faudrait effacer le cache de l

[2020-09-10 07:42] bouviermullerp commented on #349
Lien pour le frama : https://framadate.org/zASyILSp7oNf6P1v

[2020-09-10 07:44] bouviermullerp commented on #322
Je me permets de t'indiquer comme contributeur de cette carte cher Gabriel !

[2020-09-11 08:33] tfrancart commented on #354
C'est un scenario déjà assez avancé où la description de la même ressource est splittée entre plusieurs serveurs. Le scenario plus simple et plus courant est que des références soient faites à des ressources distantes qui portent l'intégralité de leurs propriétés.
Dans le scenario décrit il faudrait faire un merge de la description locale et de la description distante de la ressource. Mais d'aille

[2020-09-11 08:36] tfrancart commented on #353
Plutôt qu'une requête SPARQL multi-instance, une autre solution basique serait d'envoyer la même requête SPARQL à toutes les instances et à aggréger les résultats ensuite pour les montrer à l'utilisateur.

On a le même genre de problème avec OpenArchaeo, on a utilisé la première solution que tu décris : index de recherche Lucene qui indexe toutes les sources, mais pas mis à jour en mode push, mis

[2020-09-11 09:32] srosset81 commented on #354
La ressource ne serait pas splittée. Dans mon exemple, la ressource sur l'instance GV comporterait simplement des propriétés que l'instance AV ne connait pas, et ne peut donc pas afficher. Donc plutôt que d'afficher la ressource GV sur l'instance AV (avec certaines propriétés qui ne s'affichent pas), il pourrait être plus pertinent de simplement faire un lien vers l'instance GV.

[2020-09-11 13:19] srosset81 opened #378 "Configurer la requête FullText sur Fuseki"
Sur recommandation de @tfrancart

https://jena.apache.org/documentation/query/text-query.html

- Adapter la configuration côté Jena Fuseki
- Modifier la requête SPARQL de recherche pour utiliser `text:query`

Cela pourrait aussi résoudre https://github.com/assemblee-virtuelle/semapps/issues/1214

[2020-09-11 13:20] srosset81 opened #379 "Explorer Linked Data Fragments"
https://linkeddatafragments.org

Comprendre à fond l'intérêt et les mécanisme de cet outil qui semble bien pensé, et qui est développé activement par l'équipe de Ruben Verborgh, en lien avec [Comunica](https://comunica.dev/).

Voir en particulier si cela pourrait nous aider concernant les problèmes de fédération.

[2020-09-11 13:25] srosset81 commented on #354
Décision du jour: en parler avec toute l'équipe lors de la prochaine réunion sprint.

Remarques:
- Les liens vers les interfaces SemApps pourraient être calculés à partir du fichier `ecosystem.json` ou `archipel.json` qui répertorierait toutes les instances "cousines".
- On pourrait activer ou non ces liens "réels" au niveau de la config de l'interface, ou alors (éventuellement) au niveau des opti

[2020-09-11 13:29] srosset81 commented on #353
Décisions du jour:
- Dans un premier temps, le client pourrait lancer plusieurs requête sur les différents serveurs et agréger les résultats, sans avoir besoin de passer par le middleware.
- Les résultats ne s'afficheraient qu'une fois tous les résultats retournés par les différentes instances. Ce n'est pas idéal mais ce serait compliqué de faire autrement avec React-Admin.
- Si cela pose un probl

[2020-09-14 07:54] bouviermullerp commented on #349
Nouveau framadate car peu de dispo la semaine du 21 : https://framadate.org/Sywcyjbi4EbLkzUU

[2020-09-16 12:11] srosset81 opened #383 "Trouver un outil pour monitorer les perfs des endpoints"
Trouver un outil facile à utiliser pour monitorer certains endpoints (par exemple pour récupérer une ressource ou un container LDP) et ainsi s'assurer que les performances ne baissent pas lors de refactoring.

[2020-09-16 12:20] srosset81 commented on #383
Apparement Postman propose une solution https://www.postman.com/api-monitor/

[2020-09-16 22:04] srosset81 commented on #383
Autres options
https://k6.io/blog/load-testing-using-github-actions
https://github.com/k6io/example-github-actions
https://medium.com/@thomaspoignant/ci-build-performance-testing-with-github-action-e6b227097c83

[2020-09-17 07:43] GuillaumeAV commented on #383
Hey ! Je crois que @Swannbm est un fan de postman ;)

[2020-09-17 13:42] srosset81 opened #384 "Utiliser create-react-library pour nos packages React"
A tester

https://www.npmjs.com/package/create-react-library

[2020-09-18 06:50] #376 closed, assigned to srosset81

[2020-09-18 11:44] srosset81 opened #385 "Remettre en place l'authentification"
- Refactorer l'auth provider de react-admin pour qu'on puisse se connecter de manière optionnel (jusqu'à maintenant, quand l'auth provider était activé, on était redirigé immédiatement sur le SSO)

- Créer automatiquement l'utilisateur en tant que `pair:Person` après la création du compte.

Il faudra décider ce qu'on fait des ressources `pair:Person` existantes. Personnellement je serai pour les s

[2020-09-18 11:47] srosset81 commented on #368
@GuillaumeAV Peux-tu dire ce que tu attends comme propriétés et comme relations avec les autres classes existantes ?

[2020-09-18 12:46] GuillaumeAV commented on #368
Yop !

Sur la base de https://www.virtual-assembly.org/ontologies/pair/index-fr.html

Propriétés :
#label
#description
#aboutPage : Article, FB, Twitter par exemple
#homePage : HelloAsso
#startDate
#endDate

**Relations :**
hasInterest / interestOf : Par exemple SemApps (Projet) ou interopérabilité (Thema)
deliveredBy / delivers : SemApps (Projet)
localizedBy : (Place) Exemple Grands Voisins, mais

[2020-09-18 18:21] srosset81 commented on #368
Merci !

Pour "Participe à" on a `involves`, j'ai utilisé ça pour les projets.

[2020-09-18 18:37] srosset81 commented on #355
### Validé à la réunion technique de ce jour 18/09 avec @simonLouvet

- On va proposer trois types d'interfaces "génériques" qui seront sur le repo SemApps:

  1. dms (une version basique de react-admin)
  2. archipelago (le design utilisé pour coographie, mais avec un logo SemApps au lieu d'AV)
  3. playground (qui n'est pas amené à évoluer à court terme)

- Dans un premier temps, on va garder le

[2020-09-18 19:57] srosset81 opened #386 "Développer un CLI spécifique à SemApps"
Plutôt que d'utiliser un mélange de templates Moleculer et de templates Create-React-App, proposer un utilitaire `semapps-cli` qui éventuellement appelerait les deux CLI en question et construirait un projet SemApps avec:

- Un middleware au choix
- Une interface au choix (dépendant peut-être du middleware choisi)
- Un docker-compose pour l'orchestration (avec Fuseki, évent. Redis, le middleware e

[2020-09-18 20:07] srosset81 opened #387 "Configurer un bac à sable sur le serveur Coographie"
Actuellement nous avons des données de "prod" sur https://data.virtual-assembly.org

Il faudrait ajouter sur le docker-compose.yml de Coographie la config pour un deuxième middleware, qui se baserait sur la même base de code, mais sur un dataset différent. Je propose d'utiliser le sous-domaine https://test.data.virtual-assembly.org

Pour l'interface du "bac à sable", on pourra continuer à utiliser

[2020-09-18 20:15] srosset81 opened #389 "Tester Traefik"
Tester [Traefik](https://containo.us/traefik/) comme solution pour remplacer la combinaison Nginx/Certbot pour les déploiements en prod.

@nikoPLP tu connais ce logiciel ? Il a l'air pas mal !

[2020-09-18 20:20] srosset81 commented on #327
Dans un premier temps, on va surtout essayer de tester `yarn link`.

Voir https://github.com/marmelab/react-admin#testing-your-changes-in-your-app
Et https://classic.yarnpkg.com/en/docs/cli/link/

[2020-09-19 14:08] srosset81 commented on #368
C'est fait
https://archipel.assemblee-virtuelle.org/#/Event

[2020-09-19 14:08] #368 closed, assigned to srosset81

[2020-09-19 14:09] srosset81 commented on #363
C'est fait sur https://archipel.assemblee-virtuelle.org
Désormais la liste de suggestion ne s'affiche que quand on tape 2 caractères

[2020-09-19 14:09] #363 closed, assigned to srosset81

[2020-09-23 07:27] bouviermullerp commented on #322
Prochaine réunion gouvernance le 30/09 à 16h !

[2020-09-23 07:31] bouviermullerp commented on #325
lié à #318

[2020-09-23 10:43] GuillaumeAV commented on #368
Trop bien !!

Le sam. 19 sept. 2020 à 16:08, Sébastien Rosset <notifications@github.com>
a écrit :

[2020-09-23 10:44] GuillaumeAV commented on #363
Génial !!

Le sam. 19 sept. 2020 à 16:09, Sébastien Rosset <notifications@github.com>
a écrit :

[2020-09-23 12:51] bouviermullerp commented on #350
@Ancelin-Moulherat-AV as tu des nouvelles de cette action ?
Est-ce que la sémantisation des données est toujours d'actu ?

[2020-09-23 13:45] bouviermullerp commented on #307
#387 a réaliser avant

[2020-09-23 14:08] srosset81 commented on #385
Décidé en réunion sprint de supprimer les ressources `pair:Person` existantes.

[2020-09-24 09:32] ValentineMathieu commented on #374
@srosset81 yes je pense que c'est une très bonne idée ! Je me lance sur le sujet début octobre une fois mes missions pour les CDLT bouclées :) est-ce qu'il y a des CR actus semapps pour que je récupère déjà un bon nombre d'infos ?

[2020-09-24 16:30] Ancelin-Moulherat-AV commented on #350
Hello @bouviermullerp  merci pour ta relance !
C'est pour cette action que j'ai obtenu 500€ de la cagnotte des voisins.

Je dois clarifier le besoin et sélectionner les BDD ainsi que les propriétés qu'on veut sémantiser selon ce que nous permet le RGPD.
Il y aura à minima le fichier des organisations de la saison 2 ainsi que d'autres petits fichiers pour compléter l'annuaire au niveau des personne

[2020-09-25 14:44] srosset81 commented on #374
@ValentineMathieu Début octobre serait parfait pour l'envoi !
J'ai fait un premier jet ici https://github.com/assemblee-virtuelle/semapps/pull/391, il y a pas mal de cases à remplir mais les principales actus sont là.
Je me disais qu'on pourrait passer par http://tinyletter.com (aussi utilisé par SOLID) qui est gratuit jusqu'à 5000 inscrits je crois.

[2020-09-26 18:44] ReX-AV-Gab opened #392 "Obtenir un prêt bancaire"
**Projet :** obtenir un prêt bancaire en faisant valoir le règlement à venir de la facture sur justificatifs des CdlT Grand Est. Facture d’un montant de 97.155 € (commun mobilisé : SemApps).

**Finalité :** être en mesure de faire face aux prochaines rétributions des membres de l’équipe

**Cadre :** Garantir des conditions matérielles permettant la contribution des contributeurs

**Prochaine actio

[2020-09-28 09:08] bouviermullerp opened #393 "Définir un concept de référence"
**Prérequis** : Je suis utilisateur de la plateforme A (par exemple CdlT Grand-Est) sur laquelle j'ai créé un profil.

Je souhaite me créer une identité sur la plateforme B (par exemple Passerelle Normandie). Je peux indiquer - à la création de mon profil - que mon identité référence est celle de plateforme CdlT.

**Questions** : Comment respecter la vie privée ? Est-ce que je doit être connecté à

[2020-09-28 12:32] ReX-AV-Gab opened #394 "Contribuer à la mutualisation et à la coopération en matière de financement et d'exploitation commerciale"
Pourquoi ne pas mutualiser une compétence dans ces domaines qui serait rémunérée par un pourcentage sur le chiffre concrétisé ?
A voir avec les interlocuteurs concernés de l'AV.

[2020-10-07 07:43] srosset81 opened #397 "Visualiser les données en calendrier"
**Description**
Certains enregistrements ont des dates de début et de fin (des évènements principalement). On peut les afficher sous forme de calendrier.

**Implémentation**
- Créer un composant React qui utilise la librairie [React Big Calendar](http://jquense.github.io/react-big-calendar/) ou autre pour afficher une liste via un itérateur React-Admin ([voir example ici](https://marmelab.com/reac

[2020-10-07 08:12] #333 closed, assigned to nobody

[2020-10-07 13:57] GuillaumeAV opened #398 "Evaluer la faisabilité du projet Humus"
- [Voici la maquette](https://xd.adobe.com/view/9b62f4c7-8774-4e85-8d94-fb9f0ee35c42-ce31/screen/fedb3f3c-dfa6-4420-96ec-14a3ba096bdb)
- [Plus des éléments de présentation](https://drive.google.com/drive/folders/1BaOyShLCnt2X_6ArEHIC_2MpVxIQ6_7E?usp=sharing)
- Est-ce intéressant pour nous ? Pour eux ?
- Le budget de 47 000 + 25 000 + 25 000 est-il suffisant ?
- On propose un premier package à 10 o

[2020-10-08 15:34] simonLouvet commented on #389
Testé et approuvé @srosset81 !

config plus simple que avec Nginx. Pas de manip autre que bien renseigner le docker-compose. Renouvellement automatique de certificat https.

exemple : https://gitlab.com/fluidlog/cartofabmob-server/-/blob/master/docker-compose-prod.yaml

[2020-10-08 20:04] srosset81 commented on #389
Excellent !

[2020-10-15 07:11] #186 closed, assigned to simonLouvet

[2020-10-15 07:13] #355 closed, assigned to srosset81

[2020-10-15 07:13] #330 closed, assigned to srosset81

[2020-10-15 09:19] GuillaumeAV commented on #392
Il est possible qu'on puisse éviter le prêt bancaire grâce au financement ANCT, réponse dans les prochains jours !

[2020-10-15 10:00] GuillaumeAV commented on #397
C'est génial !!! J'ai hâte !!!

[2020-10-15 14:11] ValentineMathieu opened #401 "Créer un logo SemApps"
Point discuté avec Sebastien
Le travail sera entrepris dès demain en collaboration avec @anika-d !
N'hésitez pas si vous avez commentaires :)

[2020-10-15 16:38] GuillaumeAV commented on #401
Génial !!!

Quelques idées peut être .. (mais que ca ne vous bride pas !)
Des noeuds, des liens, des hexagones
Ou peut-être, idée de l'instant : Le [super schéma de la stratégie AV](https://www.youtube.com/watch?v=44jUwTHAeU8&t=13s) sous la forme du logo opensource en mode simplifié & stylisé ? C'est peut être débile hein ;)

[2020-10-16 10:25] GuillaumeAV opened #403 "Les liens inverses ne semblent pas implémentés avec les projets ?"
Exemple avec SemApps & Gabriel :

- [SemApps](https://archipel.assemblee-virtuelle.org/#/Project/https%3A%2F%2Fdata.virtual-assembly.org%2Fprojects%2Fsemapps/show)
- [Gabriel](https://archipel.assemblee-virtuelle.org/#/User/https%3A%2F%2Fdata.virtual-assembly.org%2Fpersons%2Fgabriel_henry/show)

[2020-10-16 10:30] srosset81 commented on #403
Gabriel est mis comme "Responsable" (`pair:hasResponsible`) de SemApps.
Sur la page de Gabriel, on affiche les projets dont il est "Participant" (`pair:memberOf`) et non pas Responsable.
C'est donc normal qu'il n'y ait pas de lien inverse dans ce cas. Il faudrait ajouter une rubrique sur la page des utilisateurs concernant les projets dont la personne est responsable.

[2020-10-16 11:30] ValentineMathieu commented on #401
@GuillaumeAV Ce n'est absolument pas débile Guillaume, chaque remarque est bonne à prendre ! Ca nous a donné des pistes dans la conception du logo, on a déjà pas mal de versions différentes hâte de vous les proposer :D

[2020-10-16 11:43] anika-d commented on #401
Hello! Avec @ValentineMathieu on vous propose une première version du logo [ici](https://www.canva.com/design/DAEKwpDHa0I/2EKD_wNX6l8Bn9M3543Iyg/view?utm_content=DAEKwpDHa0I&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink).

- Vous verrez il y a plusieurs versions avec juste le S de SemApps

- la couleur évidemment peut évoluer car on ne savait pas trop quelle couleur prendre

[2020-10-16 12:09] ValentineMathieu commented on #401
PS : On a eu une autre idée de logo (2 dernières pages) mais on a pas encore fini, on a besoin de photoshop pour continuer donc on vous préviendra quand ce sera terminé

[2020-10-16 14:45] simonLouvet commented on #401
je ne trouve pas le lien vers le canvas

[2020-10-18 12:50] srosset81 commented on #401
@simonLouvet https://www.canva.com/design/DAEKwpDHa0I/2EKD_wNX6l8Bn9M3543Iyg/view?utm_content=DAEKwpDHa0I&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink

[2020-10-19 06:54] simonLouvet commented on #401
Est ce que les travaux précédents de Benoît ferchaud et @GuillaumeAV ont été considérés ?

[2020-10-19 08:28] bouviermullerp commented on #401
Compte rendu d'un appel avec @ValentineMathieu - elle va appeler @BenoitFerchaud avec @anika-d pour énergiser cette carte (dans la semaine)

[2020-10-19 09:18] ValentineMathieu opened #405 "Modifier l'architecture de la page d'accueil du site SemApps"
Sous-issue créée à partir de l'issue #325.
Idée serait de proposer un modèle pour une nouvelle page d'accueil à partir de Canvas (avec la participation de @anika-d si possible) qui aurait pour but d'être traduite en Javascript par la suite.

Composantes proposées pour cette page :
- Intégrer le nouveau logo SemApps (après validation de l'équipe) ==> voir issue #401
- Intégrer l'écosystème de contr

[2020-10-19 09:36] ValentineMathieu opened #406 "Fusionner les pages Team et Governance du site web"
Sous Issue de l'Issue #325
Idée serait de créer du lien entre ces deux pages, de les rendre plus graphiques/visuelles, et de simplifier/réorganiser la page Governance qui est trop longue. La modélisation de ces idées se fera également par Canvas et sera partagée à l'ensemble de l'équipe pour être soumise à des modifications, et enfin être traduite en Javascript (le Markdown ne permettant pas de me

[2020-10-19 09:45] ValentineMathieu commented on #325
Hello tout le monde !
Comme convenu, @bouviermullerp et moi-même avons décidé de diviser cette issue en sous-issues, pour plus d'efficacité et de visibilité :D Rendez-vous sur les issue #405 et #406 pour nous donner vos plus beaux commentaires, et nous guider dans cette mission. Je ferme donc cette issue !

[2020-10-19 09:45] #325 closed, assigned to bouviermullerp, ValentineMathieu, anika-d

[2020-10-19 16:59] BenoitFerchaud commented on #401
Je suis un peu surpris que les journées de travail fournies par moi-même il y a quelques mois soit à peine évoquée, et seulement au 8e message. Je rappelle que j'avais soumis ce travail en disant clairement que s'il n'était pas respecté je ne ferai plus de bénévolat en design. Le lien vers le travail ( et non les "idées" ) fourni aurait dû se trouver dès le premier message de ce ticket. Ainsi que

[2020-10-20 08:18] bouviermullerp commented on #401
Salut @BenoitFerchaud,
Je prends ma part de responsabilité, j'ai appris que Valentine allait travailler sur le logo, j'ai pensé qu'il fallait que je lui parle de ton taff et quand on s'est appelé, on a parlé de tellement de sujets que c'est passé à la trappe, je m'en excuse.
Ca aurait été cool que Valentine et Anika partent de ton travail, sauf qu'elles ne l'ont pas fait, elles sont arrivés à un r