[2021-04-02 15:16] srosset81 opened #675 "Intégrer un forum de discussion du type Discourse à Archipel"
**Description**
Nous avons pas mal réfléchi à [intégrer un tchat Hubl sur des pages SemApps](https://github.com/assemblee-virtuelle/semapps/issues/464), mais cela pose actuellement des problèmes techniques qui ne dépendent de Startin'Blox. Une alternative plus simple serait d'intégrer des forums type [Discourse](https://www.discourse.org/).

On pourrait imaginer qu'en bas de chaque page d'Archipel

[2021-04-03 09:35] J9rem commented on #565
Est-ce qu'une telle réunion aurait sa place sur le temps de concertation technique des vendredis ?
Je fais cette proposition car ça concerne la documentation technique, ça nécessite un dev. pour mettre à jour docusaurus et il y a des questions techniques et des arbitrages à faire sur le contenu de la documentation technique.

[2021-04-03 18:12] srosset81 commented on #131
Je découvre qu'il existe une notion de `Relationship` dans l'ontologie ActivityStreams qui permettrait de facilement notifier de la création de liens entre des objets.

Voir https://www.w3.org/TR/activitystreams-vocabulary/#connections et particulièrement cet exemple:

[code]

Lorsqu'un utilisateur ajoute une relation à une ressource, au lieu d'utiliser l'activité `Update` sur l'objet, et ensuite

[2021-04-03 18:16] srosset81 commented on #131
Une autre activité qu'il serait intéressant de générer automatiquement, c'est l'activité `Add`, pour indiquer qu'une ressource LDP a été ajoutée à une collection LDP.

Voir:
- https://www.w3.org/TR/activitystreams-vocabulary/#dfn-add
- https://www.w3.org/TR/activitystreams-vocabulary/#motivations (Collection Management)

[2021-04-05 19:42] srosset81 opened #676 "Use PATCH instead of PUT in data provider"
**Issuel**
In the data provider, we currently use a PUT request to update data. The problem is that if two people update the same data, there's a risk that one person's update will be overwritten by the other's update.

**Proposal**
Just as, on the middleware side, we now do https://github.com/assemblee-virtuelle/semapps/pull/664 a diff to update data, we could do a diff on the frontend that would

[2021-04-06 07:31] bouviermullerp commented on #670
Je suis très très chaud, et je crois aussi que j'atteint la limite de mes capacités cognitives, je vais énergiser cette carte mais là j'ai besoin de temps, ou de déléguer.

[2021-04-06 08:18] srosset81 commented on #622
Done :smile:

[2021-04-06 08:18] #622 closed, assigned to nobody

[2021-04-06 08:58] GuillaumeAV commented on #622
Alleluia !!!!!

Le mar. 6 avr. 2021 à 10:18, Sébastien Rosset ***@***.***> a
écrit :

[2021-04-06 12:28] srosset81 commented on #565
C'est vrai, cependant on a souvent beaucoup de sujets à voir les réunions de concertation technique. Il y a pas mal de spécifications de chantiers qui s'accumulent. Personnellement je préférerai que ce soit sur un autre créneau.

[2021-04-06 13:10] J9rem commented on #565
Faudra être patient donc

[2021-04-07 09:00] srosset81 opened #678 "Les droits par défaut du container racine ne remontent pas partout"
**Décrivez le bug**
Je fais partie du groupe des super-admins, qui a un droit Write et Control sur l'ensemble des ressources (le droit est mis sur le container racine). Si je fais des requêtes sur les ACL de n'importe quelle ressource (par exemple https://dev.data.virtual-assembly.org/_acl/organizations/colibris_lorient), j'obtiens ça:

[code]

On voit bien les droits `DefaultWrite` et `DefaultCon

[2021-04-07 09:13] srosset81 commented on #678
C'était juste un problème de cache Redis. J'aurai dû effacer tout le cache après avoir ajouté les super-admins :-)

[2021-04-07 09:13] #678 closed, assigned to nobody

[2021-04-07 09:21] srosset81 opened #679 "Invalider le cache Redis spécifique à un utilisateur"
Pour l'instant le service webacl.cache-cleaner invalide le cache quand une ressource est modifiée. Mais il faudrait aussi l'invalider quand les droits d'un utilisateur sont modifié.

Supprimer tout le cache spécifique à un utilisateur:

- quand il est ajouté ou supprimé à un groupe (p.ex. super-admin)
- quand on lui donne un droit `acl:default` sur un container
- etc...

[2021-04-07 09:28] srosset81 commented on #678
J'ai fait une issue spécifique concernant ce problème: https://github.com/assemblee-virtuelle/semapps/issues/679

[2021-04-07 13:22] #516 closed, assigned to sauvagemathilde

[2021-04-07 16:23] #508 closed, assigned to capucinemasson, sauvagemathilde

[2021-04-07 16:26] srosset81 commented on #426
Fait sur https://dev.archipel.assemblee-virtuelle.org avec les WebACL activés.

[2021-04-07 16:26] #426 closed, assigned to nobody

[2021-04-07 16:28] #356 closed, assigned to Ancelin-Moulherat-AV

[2021-04-07 16:29] srosset81 commented on #362
Pas sûr de comprendre, mais je crois que c'est bon.

[2021-04-07 16:29] #362 closed, assigned to nobody

[2021-04-07 16:30] #334 closed, assigned to sauvagemathilde

[2021-04-07 16:33] srosset81 commented on #290
Je ne crois plus que ce soit pertinent. Vercel est plutôt sur du serverless, et ça rendrait difficile de suivre ce qui se passe.

[2021-04-07 16:33] #290 closed, assigned to nobody

[2021-04-07 16:39] srosset81 commented on #41
Nécessaire pour les CDLT.

[2021-04-07 16:41] srosset81 commented on #10
On pourrait permettre d'intégrer des hackmd, comme on le faisait dans la v1, mais gérer de l'édition temps réel directement dans SemApps c'est irréaliste.

[2021-04-07 17:00] srosset81 opened #680 "Séparer les données des relations dans l'édition des ressources"
Faire sur Archipel comme on a fait pour les CDLT:
https://app.lescheminsdelatransition.org/Path/https%3A%2F%2Fdata.lescheminsdelatransition.org%2Fpaths%2Fchemin-des-low-tech

Code source:
https://github.com/chemins-de-la-transition/semapps

[2021-04-08 07:26] GuillaumeAV commented on #680
Yes !

[2021-04-08 09:44] GuillaumeAV commented on #362
Oui elle date un peu cette issue .. Je crois qu'on peut la fermer en effet, d'autant plus que le next step sera de gérer ces items à l'aide de bases de connaissances dédiées ;)

[2021-04-09 08:20] GuillaumeAV commented on #498
Huum le SSO c'est cool je trouve, je me dis d'ailleurs, c'est sans doute hors sujet cependant, que ce serait cool de rattacher à login.lescommuns, la possibilité de renseigner un profil perso riche avec des données sémantiques, par exemple liées à pair:person / foaf:person ? Ou c'est peut-être débile ?

[2021-04-09 08:47] srosset81 commented on #498
Si on peut lier un compte sur le SSO Les Communs avec un webId (URL du profil de l'utilisateur), comme le suggère Simon dans son précédent commentaire, alors oui ce serait possible de lier le compte avec des données sémantiques riches.

[2021-04-09 09:15] GuillaumeAV opened #681 "Permettre l’interopérabilité avec Peertube"
**Description**

PeerTube permet d'héberger et de partager des vidéos de manière décentralisée

Cet outil, doté de belles communautés, est basé sur ActivityPub et peut donc être intéropéré avec SemApps.
Il apporte une spécificité et des fonctionnalités métiers (transmedia) tout à fait intéressantes susceptibles d'être complémentaires de celles apportées par SemApps.
En intéropérant SemApps avec Pe

[2021-04-09 09:16] GuillaumeAV commented on #43
@srosset81 @simonLouvet  Est-ce qu'il y a eu des mises à jour sur la spec autour de ce chantier ?

[2021-04-09 09:51] GuillaumeAV opened #682 "Permettre l'interopérabilité avec Mobilizon"
**Description**

Mobilizon permet de partager des événements de manière décentralisée

Cet outil, doté de belles communautés, est basé sur ActivityPub et peut donc être intéropéré avec SemApps.
Il apporte une spécificité et des fonctionnalités métiers (gestion d'événements) tout à fait intéressantes susceptibles d'être complémentaires de celles apportées par SemApps.
En intéropérant SemApps avec M

[2021-04-09 10:01] GuillaumeAV commented on #681
A ce sujet je ne retrouve plus la discussion dans laquelle on évoquait la possibilité d'un double héritage pour les documents : à la fois Objet et Ressource ...

[2021-04-09 12:41] J9rem commented on #565
Je mets cette PR attribuée à Seb et moi car nous allons installer la dernière version de Docusaurus pour permettre l'internationalisation.

[2021-04-09 13:13] GuillaumeAV opened #683 "Afficher les items par ordre alphabétique"
**Décrivez le bug**

- Lorqu'on va sur la liste des personnes
- Lorsqu'on regarde les thèmes sur la droite de l'interface
- Lorsqu'on regarde dans l'interface d'édition ou de visualisation des rôles
=> Les Items sont organisés de manière non intuitive (parfois partiellement alphabétique)

**Etapes pour reproduire**
1. Aller sur 'Archipel'
2. Cliquer sur 'liste de personnes' / liste de n'importe qu

[2021-04-09 13:18] #430 closed, assigned to srosset81

[2021-04-09 13:20] #581 closed, assigned to fluidlog

[2021-04-09 13:31] Alice-Po opened #684 "Les données que j'ajoute via un post ActivityStreams ne mette pas à jour l'interface"
Hello !
J'ai suivis la doc jusqu'[ici](https://semapps.org/docs/guides/ldp-server#add-data-with-the-ldp-server).

J'utilise Postman et j'ai réussi à poster Guillaume Cousin qui apparait sur http://localhost:3000/persons/ mais cette donnée ne s'affiche pas sur http://localhost:5000/#/Person qui n'affiche que les données remplit à partir de l'interface (Ici Folie Baila).

En regardant l'API je me su

[2021-04-09 14:30] srosset81 opened #686 "Amélioration du dataModel utilisé par le semantic data provider"
**Problématique**
Actuellement il est possible de configurer différents paramètres mais on ne comprend pas trop à quoi ils servent:

[code]

Pour clarifier:
- Le paramètre `types` est utilisé pour la création de nouvelles ressources, mais aussi pour faire une requête SPARQL.
- `containerUri` est utilisé pour poster des ressources, mais aussi pour faire une requête lorsqu'aucun `types` n'est fourni

[2021-04-09 14:41] srosset81 commented on #684
Hmm étrange !
As-tu essayé de poster en mettant un context JSON ?

[code]

Cela dit, je crois bien que le contexte est ajouté automatiquement s'il n'est pas indiqué.

Pour identifier mieux le problème, pourrais-tu aller sur l'interface de Fuseki (http://localhost:3030/) > localData > action "query" > onglet "edit" puis cliquer sur "list current graphs". Cliquer sur le graph par défaut. Tous les tr

[2021-04-09 14:45] srosset81 commented on #684
Cela dit, si le dernier bout de code est ce que tu obtiens en allant sur http://localhost:3000/persons, le problème doit être plutôt au niveau du DMS, qui n'a pas été mis à jour depuis un bout de temps.

[2021-04-09 16:01] srosset81 commented on #682
J'imagine que ça regarde plutôt Peertube.

[2021-04-10 01:30] scenaristeur opened #687 "Allez, juste pour le plaizir !!!"
- @srosset81: https://scenaristeur.github.io/ipgs/?url=https%3A%2F%2Fdata.virtual-assembly.org%2Fusers%2Fsrosset81
- @simonLouvet: https://scenaristeur.github.io/ipgs/?url=https%3A%2F%2Fdata.virtual-assembly.org%2Fusers%2Fsimon.louvet.zen

[2021-04-10 09:50] Alice-Po commented on #684
"@context": "http://localhost:3000/context.json", // ou { "foaf": "URL_DE_LONTOLOGIE_FOAF"  }
    "@type": "foaf:Person",
    "foaf:familyName": "Plastic",
    "foaf:firstName": "Gogo"
}

Marrant ca marche avec ca !
Faudrait mettre à jour la doc du coup :) C'est où les process de mise à jour de la doc ?

[2021-04-12 10:28] srosset81 commented on #599
@capucinemasson @mathildesauvage
Mathilde a dit vendredi que vous aviez des erreurs lors de la création de groupes. Aviez-vous noté le prérequis ci-dessus qui indiquait qu'il fallait créer un container /groups sur le middleware ? C'est le fichier /src/middleware/boilerplates/pair-ldp-server/containers.js qui doit être édité. Si vous ne travaillez pas avec un middleware local, je vous propose de fa

[2021-04-12 10:30] srosset81 commented on #684
Cool ! Le process est ici:
https://semapps.org/docs/contribute/documentation
Merci !

[2021-04-12 10:46] srosset81 opened #688 "Automatiquement ajouter les dates de création, de mise à jour et le créateur"
Actuellement nous n'avons pas moyen de connaître les dates d'ajout ou de mise à jour des ressources. C'est une information qui serait pourtant utile à bien des égards. @tfrancart n'est pas favorable à l'ajout de ces notions dans l'ontologie PAIR (voir https://github.com/assemblee-virtuelle/pair/issues/161), car il s'agit plutôt de meta-données liées à la documentation et [Dublin Core](https://www.

[2021-04-12 10:56] simonLouvet commented on #688
++

[2021-04-12 10:56] srosset81 commented on #43
Non. Je continue à réfléchir à ces prédicats `synchronizedWith` et `forkedFrom`, notamment pour s'assurer que le code pourra être utilisé dans le plus grand nombre de cas.

Je me suis dit (pas plus tard que cette nuit !) que ça pourrait être aussi un bon moyen de copier des ressources d'un SemApps à un autre. Lorsqu'on crée une ressource, on pourrait choisir, soit de la créer à partir de zéro, soi

[2021-04-12 11:11] srosset81 opened #689 "Mettre plus en avant l'AV sur le site semapps.org"
Pour l'instant il n'y a aucun lien vers l'AV, et le nom "Virtual Assembly" n'est mentionné que dans le copyright (copyright qui ne devrait d'ailleurs pas vraiment en être un, puisqu'on est sur de l'open source...)

A mon avis on aurait tout avantage à indiquer clairement que SemApps est hébergé par l'AV, avec un logo et un lien, car ça peut donner confiance à des personnes qui connaissent déjà l'A

[2021-04-12 11:49] tfrancart commented on #688
je ne suis pas favorable à introduire ces propriétés dans PAIR. Il ne s'agit pas de la description des entités décrites par PAIR mais de la description des _notices_ de ces entités dans SemApps. PAIR peut être utilisé en dehors de SemApps et SemApps doit pouvoir fonctionner avec autre chose que PAIR.
Comme ces propriétés seront positionnées de façon automatique par SemApps (pas de problème pour ce

[2021-04-12 12:36] srosset81 commented on #688
Oui on est d'accord là-dessus :-) Une raison de plus de ne pas utiliser PAIR pour ça.

:+1:

Oui tu fais bien de le rappeler. Et effectivement créer un autre document pour gérer les méta-données serait trop lourd à gérer. En utilisant l'ontologie Dublin Core, je pense que ça aidera à comprendre qu'on fait référence au document et non pas au projet, à l'organisation, etc.

[2021-04-12 12:40] srosset81 commented on #683
Pour la "liste de personnes", tu parles de quoi ?
Si tu parles de https://archipel.assemblee-virtuelle.org/Person, c'est ordré par ordre alphabétique, sauf que c'est les noms de famille, ce qui peut prêter à confusion, mais qui reste quand même un moyen simple de trouver quelqu'un. Tu préférerais un ordre par prénom ?

[2021-04-12 14:39] GuillaumeAV commented on #682
En effet, je suis allé un peu vite en copiant collant le texte de l'issue #681 ;)

[2021-04-12 14:50] GuillaumeAV commented on #43
Oui c'est tip top ça !
Préoccupé quoique content que ca t'occupe ton esprit la nuit ;)

[2021-04-12 14:50] GuillaumeAV commented on #689
En effet !

[2021-04-12 15:47] GuillaumeAV commented on #683
Aaah oui, desfois je vais trop vite désolé ! C'est bien comme ça, ne changeons rien sur la liste des personnes !

[2021-04-12 18:42] srosset81 opened #690 ""Parameters validation error" quand on fait un GET sans header Accept"
Normalement le Accept par défaut devrait être le format turtle.

Cela se produit lorsqu'on GET un container, peut-être aussi une ressource.

[2021-04-13 08:20] fluidlog opened #691 "Convergence des projets de cartographie en réseau"
**Description**
Ce chantier a pour objectif de trouver des convergence entre tous les projets de cartographie en réseau.

**Issues liées**
- [x] Faire le point sur les 3 projets de carto en réseau #596
- [x] Rédiger une plaquette des projets de carto en réseau #692

**Estimation du temps de travail en JH**
- @fluidlog : 4h toutes les 2 semaines
- @scenaristeur : 4h toutes les 2 semaines
- Adrien :

[2021-04-13 08:24] fluidlog commented on #691
Nous avons décidé avec David et Adrien de nous faire toutes les 2 semaines des réunions le vendredi matin.
Le contenu des réunions se trouve sur le PAD : https://pad.lescommuns.org/k52s_XG-TMue-WTaCsy8Hg#

[2021-04-13 08:25] fluidlog commented on #596
Création d'une issue de type "chantier" pour suivre sur le long terme les travaux effectués par le groupe.
Voir : https://pad.lescommuns.org/k52s_XG-TMue-WTaCsy8Hg#
Je vais donc fermer cette issue, qui est devenue "temporaire" pour ne pas polluer le kanban technique.

[2021-04-13 08:26] #596 closed, assigned to fluidlog

[2021-04-13 08:27] fluidlog commented on #596
Voir chantier : https://github.com/assemblee-virtuelle/semapps/issues/691

[2021-04-13 08:59] fluidlog opened #692 "Rédiger une plaquette des projets de carto en réseau"
**Objectif**
Pouvoir présenter en une plaquette l'offre de cartographie liés à SemApps en réseau des différents projets de l'AV.

**Proposition**
Dans un premier temps, on parle des valeurs de l'AV, des briques techniques, et ensuite, on décline les possibilités graphiques des différents outils.

[2021-04-13 09:00] fluidlog commented on #692
Adrien a commencé à rédiger un début de plaquette en mars 2021.

[2021-04-13 11:04] scenaristeur commented on #691
Première lib à tester https://github.com/scenaristeur/ouiz/tree/main/examples/easy
L'idée étant d'avoir en commun la fonction ouiz.load() ensuite selon la librairie de visualisation, il faut décliner la fonction ouiz.toVis()

[2021-04-13 14:24] fluidlog commented on #600
J'ai commencé à ajouter les classes dans le frontend (pour l'instant en local chez moi).
Plus d'infos dans le PAD : https://pad.lescommuns.org/PoW1qZkNRe-Zdt98RtaFlQ?view

[2021-04-13 14:30] capucinemasson commented on #599
Hello Sebastien,

On a bien édité
sur  /src/middleware/boilerplates/pair-ldp-server/containers.js.
Normalement ca c'est bon. Maintenant, notre serveur nous indique ces
erreurs dans la console. Qu'en pense tu ? Si tu dispo tu peux aussi nous
retrouver ici  jusqu'a 17h30. Tu t'introsuis les screens des erreurs.
Merci beaucoup par avance

Capucine et Mathilde

Participer à la réunion Zoom
https://us0

[2021-04-13 16:26] srosset81 commented on #599
Salut @capucinemasson
J'ai vu ton message trop tard. Par ailleurs tes captures d'écran ne sont pas passées dans ton commentaire Github.
S'il y a des soucis pour lancer le middleware en local, je propose que vous fassiez une PR avec la modif et que je déploie sur data.virtual-assembly.org

[2021-04-14 09:09] srosset81 opened #693 "Améliorer le message d'erreur si les infos OIDC ne sont pas fournies"
Si on lance pair-ldp-server sans avoir indiqué les informations OIDC, on a cette erreur:

[code]

Il faudrait améliorer le message d'erreur pour que l'utilisateur comprenne le problème.

[2021-04-14 11:58] srosset81 commented on #681
Avant de pouvoir spécifier ce chantier, il faudrait faire une exploration de Peertube et de l'usage qu'ils font d'ActivityPub. Et surtout tester la compatibilité avec notre implémentation de SemApps, car parfois il y a des surprises (cela ne marchait pas avec la version alpha de Mobilizon, mais j'espère que c'est fixé maintenant).

[2021-04-14 14:39] srosset81 opened #695 "Explorer PeerTube et l'interopérabilité LDP/ActivityPub"
- API https://docs.joinpeertube.org/api-rest-reference.html
- Pourrais-t-on envisager un PeerTubeLDP ? (comme WPLDP, YesWikiLDP et GogocartoLDP)
- Usage d'ActivityPub (quelles activités sont générées, quels acteurs, quels objets...)
  - Peut-on suivre toutes les activités d'une instance ou seulement des channels en particulier ?
  - Doit-on importer les vidéos existantes (via l'API) ou pouvons-nou

[2021-04-14 14:43] srosset81 commented on #681
Suite à la réunion de ce jour, nous avons décidé de créer des issues taggées "r&d" qui devront être faites (et peut-être financées) avant que l'on puisse faire le chiffrage. J'ai du coup ajouté une section "Prérequis" https://github.com/assemblee-virtuelle/semapps/issues/695 qui devra être faite avant qu'on puisse chiffrer quoi que ce soit.

[2021-04-14 14:56] srosset81 opened #696 "Explorer Mobilizon et l'interopérabilité avec SemApps via ActivityPub/LDP"
- API https://docs.joinmobilizon.org/contribute/graphql_api/
- Pourrais-t-on envisager une extension MobilizonLDP ? (comme WPLDP, YesWikiLDP et GogocartoLDP)
  - Voir aussi l'idée GraphQLDP #697
- Usage d'ActivityPub (quelles activités sont générées, quels acteurs, quels objets...)
  - Voir https://docs.joinmobilizon.org/contribute/activity_pub/#activitypub
  - Peut-on suivre toutes les activités

[2021-04-14 17:52] srosset81 opened #697 "GraphQLDP"
Idée: transformer un API GraphQL en serveur LDP, avec ses containers et ses ressources.

Pourrait servir pour ouvrir en sémantique les données de [toutes les instances Mobilizon](https://docs.joinmobilizon.org/contribute/graphql_api/), [Open Collective](https://graphql-docs-v2.opencollective.com/), [Github](https://docs.github.com/en/graphql), et beaucoup d'autres services.

Par exemple si on POST

[2021-04-14 17:58] srosset81 commented on #686
Issues liées:
- #674
- #495

[2021-04-14 18:03] srosset81 opened #698 "Importer des données d'autres instances SemApps"
![Interopérabilité entre instances SemApps (4)](https://user-images.githubusercontent.com/17931931/133049394-169937d3-188c-4648-b83e-028c98278b6a.png)

![Interopérabilité entre instances SemApps (5)](https://user-images.githubusercontent.com/17931931/133049403-31f44444-9f3f-460a-9a5a-a556947f75ab.png)

Lorsqu'on crée une ressource, pouvoir choisir:
- soit de la créer à partir de zéro (mode actuel)

[2021-04-14 18:10] srosset81 commented on #43
Quelques remarques suite à une réunion avec @simonLouvet aujourd'hui:

- Même si les données n'ont qu'un label, un intérêt serait de pouvoir importer le label en multi-langue.
- Certains types de données sont plus riches que d'autres, p.ex. les livres https://www.wikidata.org/wiki/Q180736.
- Il faudrait voir quel requête faire (si possible non-SPARQL) pour pouvoir retourner toutes les entités qui

[2021-04-16 09:04] GuillaumeAV commented on #697
Ruben avait publié cet article au sujet de GraphQL & LDP ;) https://ruben.verborgh.org/publications/taelman_iswc_demo_2018/ / https://comunica.github.io/Article-ISWC2018-Demo-GraphQlLD/

[2021-04-16 10:12] srosset81 commented on #697
Ruben n'attaque pas la même problématique. Il propose un outil ([disponible ici](https://github.com/rubensworks/GraphQL-LD.js)) qui permet de requêter un serveur SPARQL en utilisant un format similaire à celui de GraphQL (il n'y a d'ailleurs aucun lien avec LDP). Ici je propose de transformer un serveur GraphQL existant en un serveur LDP (donc dans l'autre sens).

Il est vrai que les deux noms peu

[2021-04-16 10:33] GuillaumeAV commented on #697
Aah oui j'avais remarqué que c'atait avec du sparql, je ne sais pas pourquoi j'ai mis LDP ...

[2021-04-16 12:11] srosset81 commented on #660
Inclure dans l'event `webid.created` toutes les infos retournées par le provider, au cas où un autre service en aurait besoin.

[2021-04-16 12:16] srosset81 commented on #688
Décision du jour:
- On le fait au niveau du middleware
- Pas d'option pour activer ou désactiver
- On va proposer des "core ontologies" pour s'assurer que Dublin Core, RDF, etc, sont inclus de base

[2021-04-16 12:37] srosset81 commented on #686
Réflexions du jour:
- Pour les sourceType, penser l'architecture en termes de "plugins" (Wikidata, Gogocarto...)
- On pourrait imaginer dans le futur avoir plusieurs choix de cibles pour la création

[2021-04-16 12:43] srosset81 commented on #609
Ce serait aussi utilisé pour `_activities`.

[2021-04-16 18:09] srosset81 opened #700 "Configurateur Moleculer"
Outil qui permettrait, via une interface web, d'ajouter de nouveaux services et de configurer leurs settings.

L'outil aurait pour résultat d'écrire dans le dossier /services.

Quelques idées / remarques:
- Idéalement il devrait être capable d'arrêter ou relancer le runner Moleculer
- Chaque service SemApps devrait être pré-configuré, en indiquant les valeurs possibles pour les settings.
- On pour

[2021-04-16 18:11] srosset81 opened #701 "Définir des ontologies core"
Il y a plusieurs ontologies que nous utilisons et sans lesquelles SemApps ne fonctionne pas.

Ce serait bien qu'elles soient rendues obligatoires, en définissant par exemple un fichier de core ontologies, qui serait fusionner avec les ontologies spécifiques à la plateforme (additionalOntologies ?)

[2021-04-16 18:13] srosset81 commented on #535
Après discussion aujourd'hui, cela n'aurait pas de sens de modifier "à la volée" les paramètres containers, car ils seraient perdus dès que le serveur serait relancé. La seule option pour faire ça serait donc de mettre ces informations dans le triple store, et plus particulièrement dans un graph "system" qui serait inaccessible et qui utiliserait une ontologie propre à SemApps.

[2021-04-19 07:50] GuillaumeAV commented on #663
Helloo !

Au passage ! Réservez votre semaine du 21 au 26 juin pour les 10 ans de l'Av à El Capitan !

[2021-04-20 09:13] BastienSig commented on #680
Je l'ai fais pour les personnes et les organisations, ça me paraissait pertinent pour ces entités. Est ce nécessaire de le faire pour les autres ?

[2021-04-20 09:32] GuillaumeAV commented on #680
Hello Bastien !
Aah super ! De mon coté, je me dis que c'est bien si on a toujours la même interface et j'aurais donc tendance à le faire pour toutes les classes ..
D'ailleurs, je me demande s'il ne serait pas pertinent de mettre les relations en premier onglet et les données en deuxième ...

[2021-04-20 09:41] BastienSig commented on #680
Très bien je vais l'appliquer pour tous.
Pour le switch Relation/données, je peux très simplement les inverser donc pas de problème la dessus pour moi.

[2021-04-20 09:44] GuillaumeAV commented on #680
Attends le retour de @srosset81 tout de même, et peut-être de @bouviermullerp également ! Je n'oserais prendre ce genre de décisions tout seul ;)

[2021-04-20 09:46] BastienSig commented on #680
Oui tu as raison. J'attend la réponse.

[2021-04-20 09:59] bouviermullerp commented on #680
C'est important d'avoir une homogénéité dans nos écrans, donc oui pour l'implémenter sur tous les écrans !

Par contre, il me semble que c'est plutôt commun de remplir d'abord les données avant les relations. En tout cas, le design général est suremnet à affiner car les champs sont très large (ils font quasiment tout l'écran).

**Proposition**: respecter les spécifications de départ : Séparer les

[2021-04-21 07:13] GuillaumeAV opened #703 "Modification des types et statuts"
**Décrivez le bug**
Quand je veux modifier la classe d'appartenance d'un type ou d'un statut, ce n'est pas possible.

**Etapes pour reproduire**
1. Aller sur 'Type / Turoriel'
2. Essayer de changer la classe
3. Voir l'erreur
Sur firefox ..

[2021-04-21 07:19] GuillaumeAV opened #704 "Gérer l'héritage des types"
**Décrivez le bug**
Quand je dis qu'un item (ex : Tuto) est un ObjectType, superclasse contenant Document, je m'attends à ce que je puisse typer un doc avec tuto .. Mais ça n’apparaît pas ...
J'imagine que ca fera de même avec les différentes super classes, genre, agent, subject, activity ..

**Étapes pour reproduire**
1. Renseigner un item "type" avec la superclasse object type
2. Essayer de type

[2021-04-21 07:34] GuillaumeAV opened #706 "Ajouter les statuts aux organisations"
**Décrivez le bug**
J'ai créé des statuts AgentStatus pour pouvoir mettre les statuts suivants sur les orgas :

- Membre AV
- Partenaire AV
- Sympathisant AV

Mais il n'est pas possible de mettre un statut sur une orga

**Etapes pour reproduire**
1. Aller sur une orga
2. Essayer de mettre un statut ...
3. Voir l'erreur

[2021-04-21 08:03] srosset81 commented on #703
C'est intentionel. Si on crée un `pair:DocumentType` "Tutoriel" et qu'on le change ensuite pour `pair:AgentType`, les documents qui utiliseraient le type "Tutoriel" utiliseraient des types de la mauvaise classe et ça poserait problème.

Si on se trompe de classe à la création, il suffit d'effacer le type et d'en recréer un.

[2021-04-21 08:03] #703 closed, assigned to nobody

[2021-04-21 08:04] srosset81 commented on #706
C'est pas un bug, juste une donnée qui n'est pas encore gérée.
Merci de réserver le label bug aux vrais bugs, pas aux choses qui manquent.

[2021-04-21 08:07] srosset81 commented on #704
L'héritage des classes n'est pas du tout géré par SemApps pour le moment.

[2021-04-22 08:25] #680 closed, assigned to BastienSig

[2021-04-22 08:25] #259 closed, assigned to tfrancart, simonLouvet, srosset81, iPlumb3r

[2021-04-22 08:47] srosset81 opened #709 "Invalider le cache webacl des ressources que si on modifie les droits acl:default d'un container"
Si on modifie les droits `acl:default` d'un container, il faut invalider le cache webacl de toutes les ressources qu'il contient.

C'est ce qu'on fait déjà.

Par contre, si on modifie les droits du container lui-même, il n'est pas nécessaire d'invalider le cache webacl des ressources qu'il contient.

Cela permettrait d'invalider moins de cache, et donc d'optimiser les performances.

Cela va nécess

[2021-04-22 09:23] srosset81 opened #710 "Documenter tous les événements envoyés par les services Moleculer"
Cette documentation manque pour le moment. Elle est utile pour savoir comment interragir avec un service.

[2021-04-22 10:13] srosset81 commented on #710
Fait en partie sur cette PR https://github.com/assemblee-virtuelle/semapps/pull/711 (pour exemple)

[2021-04-22 11:07] #687 closed, assigned to nobody

[2021-04-22 15:09] GuillaumeAV commented on #674
Olala ca aussi c'est excitant !!

[2021-04-22 15:11] GuillaumeAV commented on #675
C'est génial je vote pour ! Mais je vais peut-être arrêter de mettre des message sans aucune valeur ajoutée ;)

[2021-04-22 16:00] srosset81 commented on #675
Tu peux mettre une réaction :+1: sur le message ;)

[2021-04-22 17:12] srosset81 opened #712 "Mettre en cache toutes les données LDP"
Lorsqu'on crée une nouvelle instance SemApps, le chargement des données est lent car rien n'est en cache. Il ne serait pourtant pas compliqué de créer une commande qui fasse un GET sur tous les containers et ressources du serveur afin de mettre en cache à la fois les données elles-même et les droits ACL.

- Renommer le service `ldp.cache-cleaner` en `ldp.cache`.
- Ajouter une action `generate` qui

[2021-04-22 17:30] srosset81 opened #713 "Erreur de permission"
En tant que super-admin, si j'édite le [profil de Pierre](https://dev.archipel.assemblee-virtuelle.org/Person/https%3A%2F%2Fdev.data.virtual-assembly.org%2Fusers%2Fpierre/show), j'ai cette erreur:

[code]

[2021-04-22 17:49] srosset81 opened #714 "Informations latitude et longitude sont à double"
https://dev.data.virtual-assembly.org/users/srosset81

[2021-04-22 17:50] #709 closed, assigned to srosset81

[2021-04-22 17:51] #611 closed, assigned to nobody

[2021-04-22 17:51] #612 closed, assigned to nobody

[2021-04-22 17:51] #614 closed, assigned to nobody

[2021-04-22 20:22] srosset81 opened #715 "Utiliser une requête SPARQL inverse dans le ReferenceFilter"
Améliorer la requête SPARQL faite par le composant ReferenceFilter pour ne retourner que les ressources (p.ex. Themes) qui ont la resource parent (p.ex. Projects) en relation inverse (p.ex. pair:hasTopic).

Voir si ça peut permettre aussi d'afficher le nombre de ressources par thème.

[2021-04-23 08:51] srosset81 opened #716 "Erreur de création du slug avec certains caractères spéciaux"
Si on utilise ’  (différent de ', plus penché), cette erreur est générée:

[code]

[2021-04-23 09:47] GuillaumeAV commented on #698
Oooh yeah !!!

[2021-04-23 12:07] #679 closed, assigned to srosset81

[2021-04-23 13:44] srosset81 opened #718 "Partager comment remonter des erreurs sur Sentry"
https://sentry.io/welcome/

Fait par @srosset81 sur le serveur Colibris, à partager avec les autres.

Eventuellement le mettre en place sur Archipel ?

[2021-04-26 06:25] GuillaumeAV commented on #700
ET j'imagine que ca permettrait de faciliter la configuration à la carte et le déploiement d'instances SemApps ?

[2021-04-26 06:27] GuillaumeAV commented on #701
Quelles sont elles ? PAIR, FOAF ?

[2021-04-26 07:04] GuillaumeAV commented on #704
Ok merci pour la réponse !

[2021-04-26 07:08] srosset81 commented on #701
Pas PAIR non, c'est spécifique.
FOAF, RDFS, LDP...

[2021-04-26 15:08] fluidlog opened #720 "Jena Fuseki n'affiche pas le contenu du dataset"
**Décrivez le bug**
Lorsque nous allons dans jena fuseki, dans le dataset, ce dernier n'affiche pas le contenu du triplestore ou de la requête.

**Etapes pour reproduire**
1. Aller sur http://localhost:3030 (admin/admin)
2. Cliquer sur l'onglet dataset
3. Soit vour allez sur Edit > List current graph ou si vous essauez de lancer la requête, rien ne se passe, ça tourne en boucle.

**Comportement at

[2021-04-26 15:11] fluidlog commented on #720
La solution temporaire, en attendant un correctif sur Fuseki, est d'ajouter /localData/sparql dans le champ "SPARQL endpoint" de l'onglet query.

[2021-04-26 16:20] srosset81 commented on #720
Ce n'est pas un bug de SemApps, mais de Fuseki, du coup je ne pense pas que ça ait du sens de mettre une issue ici.

[2021-04-27 07:39] fluidlog commented on #720
Je pensais juste alimenter notre future FAQ avec cette solution de contournement.

[2021-04-27 08:20] GuillaumeAV commented on #701
C'est ce qu'il me semblait ! Coool !

[2021-04-27 12:41] srosset81 commented on #720
Je propose plutôt de faire une page wiki. Les issues n'ont pas pour vocation de répertorier ce type de problèmes.

[2021-04-27 12:41] #720 closed, assigned to fluidlog

[2021-04-29 22:41] simonLouvet opened #722 "simplification et amélioration de GroupedArrayField et FilteredArrayField"
**Problématique**
corriger #666 et #667

coller plus à la philosophie react-admin en simplifiant au maximum les composants tout en permettant un maximum de possibilité d'ergonomie

**Composants concernés**
GroupedArrayField
FilteredArrayField
DataProvider

[2021-04-30 08:32] srosset81 opened #725 "Les tests d'intégration échouent parfois sur Github"
Ils passent en local mais pas sur Github. L'erreur suivante se produit:

[code]

[2021-04-30 09:33] srosset81 opened #726 "Pouvoir savoir si l'utilisateur a créé un nouveau compte"
**Problématique**
Le frontend n'a pas moyen de savoir si l'utilisateur a créé un nouveau compte, ou s'il s'est connecté à un compte existant. Or cela pourrait être intéressant, par exemple, de renvoyer sur l'édition de profil lors de la création d'un nouveau compte.

**Proposition**
Lorsque le middleware redirige vers le frontend (méthode `redirectToFront` du Connector), ajouter `new=true` dans la

[2021-04-30 09:33] srosset81 commented on #660
Prendre en compte ce besoin dans le refactoring: https://github.com/assemblee-virtuelle/semapps/issues/726

[2021-04-30 09:46] #601 closed, assigned to fluidlog, VincentFarcy

[2021-04-30 10:36] srosset81 opened #727 "PATCH sur les droits ACL en JSON-LD ne marche pas bien"
Si je fais un PATCH de ce genre sur l'endpoint http://localhost:3000/_acl/organizations

[code]

... je n'ai pas d'erreur, par contre les données sont mal enregistrées dans Fuseki:

[code]

Au lieu de `<acl:AuthenticatedAgent>` on devrait avoir `<http://www.w3.org/ns/auth/acl#AuthenticatedAgent>`.

Cela marche bien si le content-type est du Turtle.

Une idée @nikoPLP ?

[2021-04-30 13:49] srosset81 opened #728 "Le context JSON-LD sur les droits ACL est incorrect"
Le problème est dans ce bout de code:

https://github.com/assemblee-virtuelle/semapps/blob/next/src/middleware/packages/webacl/services/resource/actions/getRights.js#L87-L92

On supprime le context et on en remet un autre qui n'est pas correct, car il manque cela:

[code]

[2021-04-30 13:50] srosset81 commented on #727
Il manquait des éléments au context:

[code]

En les ajoutant https://github.com/assemblee-virtuelle/semapps/commit/86ae287878fbad719ee51b080c28a0112dd42dc8 ça marche à nouveau.

J'ai été trompé par le context qu'on reçoit en GET qui n'est pas correct https://github.com/assemblee-virtuelle/semapps/issues/728

[2021-04-30 13:50] #727 closed, assigned to nobody

[2021-04-30 13:58] srosset81 opened #729 "Permettre au navigateur de mettre en cache les images"
Les uploads n'ont aucun header de Cache-Control quand on les affiche.

https://developer.mozilla.org/fr/docs/Web/HTTP/Headers/Cache-Control

Cela a pour résultat que les images ne sont pas gardées en cache par le navigateur, et qu'elles sont rechargées à chaque fois.

[2021-04-30 15:07] srosset81 commented on #713
Requête faite:

[code]

Selon le message d'erreur, c'est le blank node `pair:PostalAddress` qui pose problème.

J'ai pourtant les droits d'écriture, à la fois en tant que superadmin et en tant qu'utilisateur srosset81:

[code]

[2021-05-03 09:36] srosset81 commented on #587
A cause de ce problème on a des informations à double:
https://dev.data.virtual-assembly.org/organizations/data_players

[2021-05-03 15:26] srosset81 commented on #712
Fait https://github.com/assemblee-virtuelle/semapps/pull/730

[2021-05-03 15:26] #712 closed, assigned to srosset81

[2021-05-03 17:37] #706 closed, assigned to fluidlog, VincentFarcy

[2021-05-04 09:54] srosset81 commented on #587
Fait ici https://github.com/assemblee-virtuelle/semapps/commit/0bc8f2e1da34c266e6cccdd4044f6b2851818cad

[2021-05-04 10:06] srosset81 commented on #714
Les données à double ont été effacées, elles n'étaient que sur 2 profil.
A voir si elles réapparaissent quand nous pourrons à nouveau éditer les profils https://github.com/assemblee-virtuelle/semapps/issues/713

[2021-05-05 22:22] scenaristeur opened #732 "erreur sur le container https://data.virtual-assembly.org/users/"
hello, il semblerait qu'il y ait une erreur sur le container https://data.virtual-assembly.org/users/

j'ai ligne 369 du xml en plein milieu du jsonld est-ce normal ?

[code]

[2021-05-06 08:58] srosset81 commented on #732
Bizarre, c'était dans le cache Redis mais en l'effaçant, ce code XML n'apparait plus.

[2021-05-06 08:58] #732 closed, assigned to nobody

[2021-05-06 09:12] srosset81 commented on #718
Service Sentry:
https://github.com/reconnexion/colibris.social/blob/master/services/sentry.service.js

Appel du service depuis le errorHandler de Moleculer:
https://github.com/reconnexion/colibris.social/blob/master/moleculer.config.js#L18-L24

[2021-05-07 14:14] #600 closed, assigned to fluidlog

[2021-05-07 14:23] fluidlog opened #735 "Ajouter un logo et un titre sur Archipelago"
**Tension**
Lorsqu'on arrive sur un Semapps, vu qu'il y a souvent des clones d'Archipel, on ne sais pas forcément sur lequel on est, et donc il faudrait une distinction visuelle unique.

**Proposition**
Il serait bien d'ajouter un logo et un nom d'instance dans le bandeau.

[2021-05-07 14:25] fluidlog commented on #735
Vu qu'il faut pouvoir modifier / mettre à jour ces informations, une fois que ce sera fait, nous pourrions même customiser la couleur du bandeau (avec un choix parmis un panel de couleurs) ?

[2021-05-07 14:44] srosset81 opened #736 "Ajouter les Pages"
Reprendre ce qui a été fait dans https://github.com/reconnexion/colibris-local-groups/tree/master/src/resources/Page

Faire une page d'accueil pour Archipel ?

[2021-05-07 15:07] GuillaumeAV commented on #736
Oooh oui ! Et on pourra virer le wordpress du coup !

[2021-05-07 15:51] srosset81 opened #738 "Créer des issues avec les relations manquantes sur Archipel"
@capucinemasson et @sauvagemathilde ont du temps pour faire des améliorations sur Archipel.

@GuillaumeAV est-ce que tu pourrais faire un tour sur Archipel pour identifier les relations ou data properties qui seraient manquantes, et créer les issues correspondantes ? (une issue par classe à modifier STP)

[2021-05-10 12:35] GuillaumeAV opened #741 "Permettre à SemApps de se passer des relations inverses de PAIR"
**Problématique**
Lourdeur de l'ontologie qui pourrait être simplifiée si SemApps pouvait gérer différemment les relations inverses

**Composants concernés**
React Admin

**Proposition**
Voir https://github.com/assemblee-virtuelle/pair/issues/173

[2021-05-10 13:57] GuillaumeAV commented on #738
Helloo ! Ok super ! Malheureusement, je ne sais pas si vous vous servez d'archipel régulièrement, de mon côté, je n'arrive plus à l'utiliser depuis quelques semaines, ne pouvant plus renseigner de relations ... Je vais faire un vrai diagnostic et une vraie issue dans la foulée ...
Et je proposerai ensuite des issues avec relations et data properties manquantes ..

[2021-05-10 14:37] srosset81 commented on #738
J'avais regardé pour les documents https://github.com/assemblee-virtuelle/semapps/issues/705
Si le navigateur s'emballe pour d'autres relations, merci de le dire (c'est sans doute la même chose, mais intéressant à identifier tout de même)

[2021-05-11 12:29] #666 closed, assigned to simonLouvet

[2021-05-12 07:59] srosset81 commented on #587
Le code ne marche pas, il y a une violation des permissions. Du coup je l'ai enlevé, à voir plus tard, les blank nodes orphelins ne sont pas très graves.

[2021-05-12 08:17] srosset81 commented on #713
Réglé ici https://github.com/assemblee-virtuelle/semapps/commit/7746afd64ce5fe3fe866bfbcd1788d0d26c40d0b

[2021-05-12 08:17] #713 closed, assigned to srosset81, nikoPLP

[2021-05-12 08:17] srosset81 commented on #714
Réglé ici https://github.com/assemblee-virtuelle/semapps/commit/4fa1a6c130268bc8840f2b034794f002c8e1d0c4#diff-cd70886e27ac9718f865b52bdc7f60a7fa55a374fcbbb8354ab762109da3c6eaR34-R40

[2021-05-12 08:17] #714 closed, assigned to srosset81

[2021-05-12 09:16] srosset81 commented on #726
Fait ici https://github.com/assemblee-virtuelle/semapps/pull/734/commits/05db3da35ba32d1ae9f23f3adc4be5933a97457c

[2021-05-12 09:16] #726 closed, assigned to srosset81

[2021-05-12 09:17] #660 closed, assigned to srosset81

[2021-05-12 09:18] #248 closed, assigned to srosset81

[2021-05-12 11:02] srosset81 opened #743 "Ne pas donner le droit d'écriture sur les nouveaux profils utilisateurs"
Lorsqu'on crée un compte, les permissions par défaut sont les mêmes que pour les autres ressources (lecture pour les utilisateurs non-connectés, lecture+écriture pour les utilisateurs connectés).

Seul l'utilisateur connecté devrait avoir le droit de modifier son profil.

[2021-05-12 15:24] srosset81 opened #744 "S'assurer qu'on utilise les mêmes préfixes que prefix.cc"
Voir http://prefix.cc (utilisé par l'interface de Fuseki)

Y aurait-il d'autres usages de ce site ?

[2021-05-12 18:11] srosset81 commented on #743
Fait ici https://github.com/assemblee-virtuelle/semapps/commit/f96e6189abe776ddea4b8c389ab6733ef72c43e9

[2021-05-12 18:11] #743 closed, assigned to srosset81

[2021-05-12 21:15] srosset81 commented on #565
Bon apparemment c'est super facile de proposer une version française 👍
https://docusaurus.io/fr/blog/2021/03/09/releasing-docusaurus-i18n

[2021-05-12 21:27] srosset81 commented on #528
Je pense qu'il faut qu'on s'atèle à une newsletter, ça fait trop longtemps qu'on ne donne plus de nouvelles. Les données dans le pad sont en partie périmées, ou sont trop datées pour que ça ait encore de l'intérêt.

Du coup j'ai créé une PR dédiée: https://github.com/assemblee-virtuelle/semapps/pull/746

On pourra en profiter pour annoncer les WebACL.

[2021-05-13 10:19] fluidlog opened #747 "Invisibilité des compétences sur le profil lorsqu'on est connecté"
**Décrivez le bug**
Lorsque je suis connecté, je ne vois plus les compétences dans mon profil.

**Etapes pour reproduire**
1. Se connecter à Semapps
2. Cliquer sur "voir mon profil"
3. que ce soit dans la partie show ou edit, je ne vois pas mes compétences alors qu'elles sont vraiment présentes dans la base.
4. Se déconnecter permet de nouveau de voir et de pouvoir agir sur les compétences

Remarq

[2021-05-14 08:49] bouviermullerp opened #758 "Possibilité de modifier une ressource dans être connecté sur dev.archipel"
**Décrivez le bug**
Je ne suis pas connecté et je suis sur l'instance DEV.
Je peux modifier les ressources "rôle" et "statut"

https://dev.archipel.assemblee-virtuelle.org/MembershipRole

**Comportement attendu**
Il n'est pas possible de sauvegarder.

ping @srosset81

[2021-05-14 09:06] srosset81 opened #759 "Lorsqu'on édite une organisation, les données des organisations partenaires sont envoyées"
Ce bug pose un problème pour la gestion des permissions.

**Etapes pour reproduire**
1. Aller sur https://archipel.assemblee-virtuelle.org/Organization/https%3A%2F%2Fdata.virtual-assembly.org%2Forganizations%2Fademe
2. Modifier quelque chose
3. Voir les données envoyées:

![Capture d’écran de 2021-05-14 11-05-35](https://user-images.githubusercontent.com/17931931/118248228-5c3bef00-b4a4-11eb-85c8-

[2021-05-14 09:36] srosset81 commented on #758
Fixé https://github.com/assemblee-virtuelle/semapps/commit/360affb09c54bd93e98acb4a2930584407f98603

[2021-05-14 09:36] #758 closed, assigned to srosset81

[2021-05-14 12:13] #722 closed, assigned to nobody

[2021-05-14 14:59] srosset81 opened #760 "Les organisations ne chargent plus"
https://archipel.assemblee-virtuelle.org/Organization

[2021-05-14 15:01] srosset81 opened #761 "L'ajout de nouveaux partenaires échouent"
**Etapes pour reproduire**
1. Aller sur https://dev.archipel.assemblee-virtuelle.org/Organization/https%3A%2F%2Fdev.data.virtual-assembly.org%2Forganizations%2Fademe/2
2. Entrer "tra" pour voir Transiscope, et sélectionner Transiscope
3. L'étiquette Transiscope apparait mais après quelques minutes elle disparait.

Peut-être lié à https://github.com/assemblee-virtuelle/semapps/issues/759

[2021-05-14 15:06] srosset81 commented on #759
Trouvé ! (3h plus tard...) Le problème est dû au framing JSON-LD qu'on fait lorsqu'on récupère les résultats SPARQL. Les organisations partenaires sont embeddés dans les résultats des organisations.

[2021-05-14 15:41] srosset81 commented on #759
Une solution serait de définir explicitement ce qu'on veut "embedder" dans le contexte, en utilisant le paramètre `dereference` qui est disponible dans le data provider. Cela marche bien comme ça:

[code]

Par contre ça ne va pas marcher avec le paramètre queryDepth :-/

[2021-05-14 15:57] srosset81 commented on #759
Je me demande s'il serait pas plus simple de faire une requête SPARQL juste pour récupérer l'ID des ressources, puis de faire un GET sur les ressources. Cela augmenterait le nombre de requête, mais on aurait l'avantage de pouvoir utiliser le cache Redis. On aurait pas à gérer toute la complication de dereferencer côté client. Même pour la pagination, ce serait plus simple, car on aurait pas à fair

[2021-05-14 18:07] srosset81 opened #762 "Améliorer l'utilisation du cache par React-Admin"
https://marmelab.com/react-admin/Caching.html

[2021-05-14 18:12] srosset81 opened #763 "Pouvoir désactiver les WebACL sur certaines ressources"
Avoir la possibilité, sur certaines ressources, d'utiliser un webId "system", ce qui bypasserait la vérification côté middleware.

Cela serait pertinent pour les ressources type concepts, que l'on utilise partout: Statut, Type, Theme, etc.

Pour les requêtes SPARQL, les permissions de ces ressources seraient toujours vérifiées.

[2021-05-14 19:02] srosset81 commented on #763
Il suffirait de mettre une authorisation acl:DefaultRead avec foaf:Agent sur les containers concernés. Le middleware qui traite les WebACL n'aurait qu'à les charger au lancement. S'il détecte un GET sur une ressource de ces containers, alors il passera la vérification. :1st_place_medal:

[2021-05-17 06:59] J9rem commented on #565
Oui toutefois, je crois qu'il faudrait avoir traduit une bonne partie des pages avant de les mettre en ligne histoire que l'expérience en Français soit consistante.
A faire lors du prochain sprint site semapps.org

[2021-05-17 10:30] srosset81 commented on #763
Fait ici https://github.com/assemblee-virtuelle/semapps/pull/764/commits/5b83198ed25fe7aa5945bceef75eeb9f76bc5deb

[2021-05-17 10:30] #763 closed, assigned to srosset81

[2021-05-17 12:15] scenaristeur commented on #760
idem pour moi
les users sont ok https://scenaristeur.github.io/ipgs/?url=https%3A%2F%2Fdata.virtual-assembly.org%2Fusers%2F
mais pas les orgas, https://scenaristeur.github.io/ipgs/?url=https%3A%2F%2Fdata.virtual-assembly.org%2Forganizations%2F

J'ai un blocage CORS / Bad Gateway

![image](https://user-images.githubusercontent.com/4020744/118486725-3cadfc00-b71a-11eb-8cda-4b8dc49d9d4f.png)

[2021-05-17 18:15] srosset81 commented on #759
Fixé ici https://github.com/assemblee-virtuelle/semapps/pull/764

[2021-05-17 18:15] #759 closed, assigned to srosset81

[2021-05-17 18:15] srosset81 commented on #761
Fixé ici https://github.com/assemblee-virtuelle/semapps/pull/764

[2021-05-17 18:15] #761 closed, assigned to srosset81

[2021-05-17 18:52] srosset81 opened #766 "Abandonner le paramètre queryDepth"
Pour résoudre https://github.com/assemblee-virtuelle/semapps/issues/759 j'ai été obligé d'embedder explicitement les blank nodes au moment du framing JSON-LD. Cette technique ne marche pas avec le paramètre `queryDepth` car on ne sait pas où se trouvent les blank nodes.

@simonLouvet est-ce OK pour toi si on laisse tomber le paramètre `queryDepth` ? Personnellement je n'utilise plus que le paramèt

[2021-05-18 07:54] #693 closed, assigned to srosset81

[2021-05-18 07:54] #599 closed, assigned to capucinemasson, sauvagemathilde

[2021-05-18 08:06] srosset81 commented on #760
Il y avait des dizaines de blank nodes pour l'adresse de Data Players. En les effaçant ça passe :-)

Il va falloir mieux gérer l'effacement des blank nodes...

[2021-05-18 08:06] #760 closed, assigned to srosset81

[2021-05-18 10:07] simonLouvet commented on #766
ok pour abandonner le queryDepth. Le déreference est beaucoup plus explicite.

[2021-05-18 10:08] simonLouvet commented on #759
Si j'ai bien compris, tu veux dereferencer par des getter LDP plutôt que du SPARQL? @srosset81

[2021-05-18 10:19] srosset81 commented on #759
Oui j'ai essayé ça mais j'ai laissé tomber car ça posait des problèmes de perf. En fait ça faisait même crasher Fuseki. :-/ Je sais pas pourquoi, ce sera à creuser une autre fois, là je n'avais pas l'énergie, du coup je suis revenu à l'ancienne manière, en ajoutant les directives `@embed` sur le JSON-LD framing.

[2021-05-18 10:50] srosset81 commented on #762
Pour utiliser le application cache de React-Admin, il suffit d'ajouter un paramètre `validUntil` à getList, getOne et getMany.

[code]

Cela a pour résultat que, lorsqu'on retourne sur une liste ou sur une page Show, il n'y a plus de GET (c'était invisible mais ça chargeait un peu le serveur).

Le problème c'est que, si on ajoute une relation, le lien inverse va être ajouté immédiatement mais l'an

[2021-05-19 09:58] srosset81 opened #768 "Problème lorsqu'on ajoute une deuxième relation réifiée"
# Sur archipel.assemblee-virtuelle.org

Si j'ai une relation réifiée sur une organisation et que j'en ajoute une deuxième, le data provider envoie ces informations en PUT:

![Capture d’écran de 2021-05-19 11-54-50](https://user-images.githubusercontent.com/17931931/118794187-9d177780-b899-11eb-9c7c-b0cf027174b8.png)

Et elle reçoit ces informations en GET:

![Capture d’écran de 2021-05-19 11-55-09

[2021-05-19 10:02] srosset81 commented on #768
Une idée @simonLouvet ?
Apparemment c'est un problème au niveau du frontend puisque les données envoyées ne sont pas les mêmes.

[2021-05-19 10:09] srosset81 commented on #768
Autre problème, peut-être lié: si j'ajoute tout de suite 2 relations le PUT est bien formatté:

![Capture d’écran de 2021-05-19 12-07-29](https://user-images.githubusercontent.com/17931931/118795452-e0261a80-b89a-11eb-8f7d-dd92e6ccc941.png)

... mais il génère une erreur 500 sur le serveur:

[code]

La requête faite sur Fuseki:

[code]

[2021-05-19 10:22] srosset81 commented on #768
J'ai sans doute été trop rapide à virer `deleteDisassembly` et `createDisassemblyAndUpdateResource` de la requête PUT lorsque j'ai améliorer le code pour n'ajouter et supprimer que les données modifiées.

Je crois qu'il n'y a pas d'autres choix que de la réécrire complètement ;-/ Quelle galère !

[2021-05-19 10:36] GuillaumeAV commented on #768
Hahaha :)  Je te souhaite bon courage @seb !

Le mer. 19 mai 2021 à 12:23, Sébastien Rosset ***@***.***> a
écrit :

--
Guillaume Rouyer
+33 (0)6 28 34 54 99
<http://assemblee-virtuelle.org>http://virtual-assembly.org

https://www.facebook.com/grouyer
https://twitter.com/Guillaume_AV

[2021-05-19 10:42] srosset81 commented on #768
Si on ajoute une seule relation, la requête marche bien:

[code]

Par contre ça crée un blank node.

![Capture d’écran de 2021-05-19 12-41-16](https://user-images.githubusercontent.com/17931931/118799862-883de280-b89f-11eb-9fe1-5f3b7d7e9bc6.png)

C'est pour ça qu'on n'a pas d'`@id` dans la requête PUT tout en haut.

Tu peux rappeler pourquoi on ne crée pas des blank nodes pour les relations réifié

[2021-05-20 06:49] #668 closed, assigned to VincentFarcy

[2021-05-20 09:26] VincentFarcy opened #770 "Superposition du titre et des actions en version tablette"
**Décrivez le bug**
Lorsque l'on réduit la largeur d'écran autour de 700px le titre principal et les boutons d'action se superposent

**Etapes pour reproduire**
[https://archipel.assemblee-virtuelle.org/Organization](url)
passer en taille d'écran 700px

**Comportement attendu**
Je propose de simplement masquer le titre en dessous d'une certaine taille d'écran.
Le titre est déjà masqué en version m

[2021-05-20 09:28] VincentFarcy commented on #770
@srosset81
Issue dont nous avons parlé Lundi.
J'attend un avis sur la correction proposée avant de la mettre en place.
a+

[2021-05-20 11:24] srosset81 commented on #768
Fixé ici https://github.com/assemblee-virtuelle/semapps/pull/769

@simonLouvet Les tests autour de disassembly sont largement incomplets, notamment pour tous les cas de figures autour de PUT et de PATCH. Il faudra les compléter.

[2021-05-20 15:49] srosset81 opened #771 "LdpService: rediriger vers l'interface quand on visualise une donnée avec un Accept text/html"
Lorsqu'un navigateur va sur une URL comme https://data.virtual-assembly.org/users/srosset81 avec un Accept header `text/html` (consultation depuis un browser) ne pourrions-nous pas rediriger automatiquement sur l'interface "par défaut" (ou "préférée") définie dans le middleware ?

J'ai vu qu'ils font ça pour l'[ESCO](https://ec.europa.eu/esco/portal/api) (open data des compétences):

- Si on va su

[2021-05-20 15:51] tfrancart commented on #771
Ha oui c'est de la négociation de contenu, le header Accept sert exactement à ca et c'est très bien :-)
Autre exemple au hasard sur les URI du thesaurus de l'UNESCO http://vocabularies.unesco.org/thesaurus/concept1179

[2021-05-20 22:40] srosset81 opened #772 "Mettre en avant l'image Docker Fuseki avec WebACL"
https://hub.docker.com/repository/docker/semapps/jena-fuseki-webacl

Elle peut fonctionner même en dehors de SemApps, ce qui peut intéresser d'autres acteurs.

- Faire une doc pour Docker Hub
- Mettre la doc sur le site semapps.org
- Communiquer là-dessus (dans la newsletter ?)
- Fixer les tests automatiques pour qu'ils fonctionnent de manière indépendants du middleware

[2021-05-21 10:56] srosset81 commented on #770
A mon avis le masquage du titre n'est pas souhaitable. Pour la liste des organisations ça peut encore passer, mais lorsqu'on consulte une ressource (mode Show), ne pas voir le titre signifie ne pas voir le nom de la ressource qu'on consulte.

Du coup c'est un truc qu'il faudrait aussi corriger sous mobile...

[2021-05-21 11:01] #735 closed, assigned to VincentFarcy

[2021-05-21 11:02] #768 closed, assigned to nobody

[2021-05-21 11:13] simonLouvet commented on #768
Oui c'est pour les relation inverses. la cible de la relation réifiée doit pouvoir spécifier la relation réifié en relation inverse à son tour etil faut un @id pour cela.

[2021-05-21 11:14] simonLouvet commented on #768
merci d'avoir créé et traiter cette issue.

[2021-05-21 16:47] srosset81 opened #774 "Erreur de version de React en lançant Lerna bootstrap"
Problème rencontré par @mathildesauvage sous Windows avec Node v12.19.1:

https://fr.reactjs.org/warnings/invalid-hook-call-warning.html

Il y avait deux versions de React (une pour le boilerplate archipelago, une autre pour les packages).

Le problème a été résolu en n'utilisant plus Lerna bootstrap, mais en faisant un `npm install` dans le boilerplate archipelago.

C'est un problème identifié ic

[2021-05-24 09:09] bouviermullerp commented on #770
Yep, l'affichage mobile est assez différent, je suis limité à l'affichage en liste - pas possible de basculer en affichage carte.

++ pour le titre de la ressource (et des autres attributs), je pense que c'est important de le conserver. A mon avis, c'est plutôt sur les boutons d'action qu'il faut jouer (list, éditer, carte, exporter).

De manière un peu globale, j'ai l'impression que le bouton "ex

[2021-05-24 09:15] bouviermullerp commented on #729
lié à #762 ?

[2021-05-24 09:19] bouviermullerp commented on #255
@GuillaumeAV il y a une fonctrionnalité comme celle là (je crois) sur classe dehors : https://classe-dehors.org/Person/create

[2021-05-24 09:24] #241 closed, assigned to simonLouvet

[2021-05-24 09:24] bouviermullerp commented on #241
c'est pushé

[2021-05-24 09:25] #349 closed, assigned to bouviermullerp

[2021-05-24 09:27] bouviermullerp commented on #398
@GuillaumeAV à fermer ?

[2021-05-24 09:28] bouviermullerp commented on #17
duplicate #404

[2021-05-24 09:28] #17 closed, assigned to nobody

[2021-05-24 20:26] srosset81 commented on #729
Du tout :-)

[2021-05-25 07:30] GuillaumeAV commented on #255
Aaah c'est trop bien !!!! C'est une modale je crois :) Ca va être très utile pour les Chemins de la Transition !!!!!!!

[2021-05-25 07:32] GuillaumeAV commented on #398
C'est une bonne question, la responsable m'a recontacté il y a 2 semaines, pour un démarrage du projet en septembre ... Pour l'instant ils n'ont pas les sous cependant, je la ferme donc et la rouvrirai le cas échéant !

[2021-05-25 07:32] #398 closed, assigned to GuillaumeAV

[2021-05-26 14:14] #592 closed, assigned to srosset81

[2021-05-26 17:03] srosset81 opened #776 "Supprimer le paramètre forceSemantic de ldp.resource.get"
Il suffirait de regarder le paramètre `accept` (header Accept) pour savoir si on renvoie un fichier ou une donnée sous format sémantique.

Ce paramètre est obscur et il est facile d'obtenir des bugs si on oublie de le passer.

A faire en même temps que https://github.com/assemblee-virtuelle/semapps/issues/576 et https://github.com/assemblee-virtuelle/semapps/issues/659

[2021-05-27 09:57] fluidlog commented on #565
Hello,
Suite à la discussion avec Jérémy ce matin, voici les prochaines actions au sujet de la doc :
- Yannick organise un docathon plutôt sur le créneau d'un mercredi aprem (lorsque nous avons rien). Jérémy ne pourra pas etre présent, mais il participera quand même de son côté lorsqu'il aura le temps.
- Jérémy commence à traduire en anglais la doc d'installation de semapps : https://pad.lescommun

[2021-05-27 10:15] srosset81 commented on #565
La version alpha 71 est déjà ancienne, il faut passer sur la bêta qui vient de sortir :-)
https://docusaurus.io/fr/blog/2021/05/12/announcing-docusaurus-two-beta

[2021-05-27 10:17] srosset81 commented on #565
Sinon c'est cool la roadmap :+1: Je pense que ce serait mieux de mettre à jour Docusaurus avant le docathon, histoire d'être plus productif et d'avoir tous les éléments en main. Excellent si tu peux t'en charger @fluidlog !

[2021-05-28 15:59] srosset81 commented on #728
Fait ici https://github.com/assemblee-virtuelle/semapps/pull/777/commits/d50ab6943c79fff26e4ddc52c6966060aef6085f

Ping @nikoPLP pour information.

[2021-05-28 15:59] #728 closed, assigned to nobody

[2021-05-31 15:53] srosset81 commented on #725
J'espère que https://github.com/assemblee-virtuelle/semapps/pull/778 règlera le problème car il n'y aura plus qu'un seul appel à `https://www.w3.org/ns/activitystreams` et ensuite le fichier de context sera mis en cache.

[2021-06-01 17:58] #602 closed, assigned to BastienSig

[2021-06-01 17:58] #667 closed, assigned to simonLouvet

[2021-06-02 07:46] #533 closed, assigned to BastienSig

[2021-06-02 07:46] #725 closed, assigned to nobody

[2021-06-02 07:49] #736 closed, assigned to srosset81

[2021-06-02 16:01] fluidlog commented on #565
Voici les avancées lors du docathon de cet aprèm : https://pad.lescommuns.org/NsGF6SOlRkiPmLrk97yY_A#
Prochain (et certainement dernier) docathon dans 2 semaines, pour terminer la traduction du site actuel en français, ce qui permettra de fermer cette issue.

[2021-06-04 13:13] #770 closed, assigned to VincentFarcy

[2021-06-09 10:02] #397 closed, assigned to srosset81

[2021-06-14 15:46] srosset81 opened #790 "Le contexte JSON-LD local n'est pas accessible sous Docker 20.10.6"
**Problème**
Si j'ai un contexte local (typiquement https://mondomain.com/context.json), les outils de formattage JSON-LD n'arrivent pas aller récupérer le contexte à l'adresse indiquée. J'ai des erreurs de type `Failed to load remote context`.

**Pistes de résolution**
Si je fais un `nslookup mondomain.com` depuis le container Docker, il me renvoie une IP locale de type 127.0.1.1:53. Même chose s

[2021-06-14 15:47] srosset81 commented on #790
Ping @simonLouvet @fluidlog
A priori évitez Docker 20, sauf si vous voulez investiguer ce délicieux bug (il m'a coûté 2 journées)

[2021-06-15 16:15] srosset81 opened #942 "Générer automatiquement des miniatures des images"
**Tension**
Parfois les images uploadées sont énormes. Cela ralentit considérablement l'affichage des pages.

**Proposition**
Lorsqu'un upload d'image est détecté, générer automatiquement les miniatures (thumbnails) du côté du middleware.
Les lier à l'image principale via une ontologie spécifique à SemApps, pour ne pas dépendre de PAIR (cf [cette issue](https://github.com/assemblee-virtuelle/pair/

[2021-06-15 16:35] srosset81 commented on #494
De même qu'on a dans React-Admin un paramètre spécial `q` qui permet de filtrer les ressources par mots-clés, on pourrait avoir un paramètre spécial `bounds` qui correspond à la recherche par latitude/longitude.

La problématique étant de savoir comment identifier les champs latitude et longitude (qui peuvent être autre chose que PAIR, et aussi être imbriqués dans des sous-ressources, comme `pair:

[2021-06-15 16:37] srosset81 commented on #686
A prendre en compte aussi:

- Ajouter un champ `specialFields` au niveau des sources pour faire des recherches SPARQL par latitude/longitude ou par startDate/endDate. Voir [cette issue](https://github.com/assemblee-virtuelle/semapps/issues/494).

[2021-06-16 07:23] bouviermullerp commented on #2
Sophox: accéder aux données OSM via SPARQL https://forums.assemblee-virtuelle.org/t/sophox-acceder-aux-donnees-osm-via-sparql/95

[2021-06-16 08:08] srosset81 opened #793 "Etablir une roadmap pour le développement de SemApps sur les 6-12 mois à venir"
Comme nous en avons parlé récemment, cela pourrait être une information utile que le cercle "Développement" pourrait partager avec le reste de l'équipe, et aussi avec les acteurs extérieurs.

L'ajout de fonctionnalités dépend des budgets qu'on reçoit, mais comme on est une petite équipe (et qu'on le restera tant que d'autres développeurs expérimentés ne seront pas montés en compétence sur SemApps)

[2021-06-16 08:08] srosset81 commented on #793
A titre d'exemple, l'interopérabilité inter-SemApps ne sera sans doute pas prête avant la fin de l'année. Cela dépend bien sûr de ce qu'on entend par interopérabilité. On pourra peut-être donner une estimation plus précise après la réunion qu'on a sur le sujet demain avec Thomas, Niko et Simon.

[2021-06-16 08:16] #2 closed, assigned to nobody

[2021-06-16 08:16] #452 closed, assigned to nobody

[2021-06-16 08:16] #52 closed, assigned to srosset81, nikoPLP

[2021-06-16 08:45] bouviermullerp commented on #793
De ma vision, voici les éléments que j'ai dans le radar :
- Les CDLT pourraient financer une partie de l'intéropérabilité entre SemApps #451 - si on a du RAB
- La prestation pour l'AFAUP va sans aucun doute permettre de financer ce chantier #451
- La prestation pour le PETR Macon Bourgogne pourrait financer une partie de la recherche avancée avec Sparnatural #13

[2021-06-16 08:49] srosset81 commented on #353
Suite à une discussion SemApps mercredi dernier, la solution présentée sur [cette maquette](https://www.figma.com/proto/dgfKKQHSc1sm3JPw68hSL0/Id%C3%A9e-ajout-lien-SemApps?node-id=1%3A2&scaling=min-zoom) semble plus adaptée en terme d'UX. Ce sera plus facile à implémenter, et les performances seront meilleures qu'une recherche aggrégée.

Je pense qu'on peut difficilement enlever l'input autocomple

[2021-06-16 08:52] srosset81 opened #794 "Pouvoir aggréger les ressources de plusieurs instances"
![Interopérabilité entre instances SemApps](https://user-images.githubusercontent.com/17931931/133048940-560a4e64-c573-48ea-bb3e-246046d2eb97.png)

**Besoin**
Sur une instance type Archipel, j'aimerais pouvoir afficher la liste des ressources de plusieurs instances. Par exemple, sur une carte géographique, lister des `pair:Organization` répertoriées par Archipel et par Glocal-Lowtech.

**Implément

[2021-06-16 09:44] srosset81 commented on #698
Avec @simonLouvet on avait pensé laisser tomber ça pour le moment car ça semblait ne pas être suffisamment compatible avec les concepts du web sémantique.

Cependant lors de la réunion SemApps de mercredi dernier ([CR ici](https://pad.lescommuns.org/3IQ_waK8QXy6Hh5yJPknCQ)) @bouviermullerp a réitéré le besoin de pouvoir ajouter des ressources d'autres instances SemApps.

Le cas d'usage: on a une i

[2021-06-16 09:53] srosset81 opened #795 "Data validation with ShEx and/or SHACL"
There are two standards to validate semantic data:
- [SHACL](https://www.w3.org/TR/shacl/)
- [ShEx](https://shex.io/)

Having read a full book on the subject, it appears ShEx is much more readable so I think we should implement this standard first, eventually adding support for SHACL later.

Proposed implementation:
- Allow to define a ShEx shape for each LDP container
- Create a `ShExMiddleware`

[2021-06-16 09:55] srosset81 commented on #793
Du point de vue des standards, je crois qu'on va aussi devoir s'occuper de WebID-OIDC (#434) car une fois qu'on aura des liens multi-instances, il va nécessairement se poser le problème de l'authentification. Cela me semble être une fonctionnalité coeur du web sémantique, et donc de SemApps.

J'avais pensé aussi à SHACL/SHEX (https://github.com/assemblee-virtuelle/semapps/issues/795) mais je crois

[2021-06-16 09:57] bouviermullerp commented on #698
Merci @srosset81 pour cette synthèse.

Je suis curieux d'avoir vos impressions sur ce sujet et si vous connaissez des pratiques dans des autres communautés ? car chaque site à sa stratégie éditoriale, et un site ne veut pas référencer tous les évènements Mobilizon, ou toutes les vidéos peertube. Comment sélectionner les éléments qu'on souhaite afficher sans cette fonctionnalité ? Quelle serait l'u

[2021-06-16 10:38] srosset81 commented on #698
J'avoue ne pas connaître les usages de Mobilizon ou Peertube concernant les liens avec les autres instances. Ce serait intéressant de prendre le temps de l'explorer.

Il y a plein de solutions "à l'arrache", mais là l'enjeu c'est de faire les choses dans le respect des standards et des bonnes pratiques du web sémantique, afin que la solution soit pérenne et qu'on ne doive pas tout refaire 3 mois p

[2021-06-16 10:51] srosset81 commented on #695
Rapide survol de la doc Peertube aujourd'hui.

ActivityPub est donc utilisé pour deux choses:
- Permettre de synchroniser les vidéos entre deux instances Peertube
- Permettre à des utilisateurs de commenter avec un compte type Mastodon, et recevoir les réponses sur Mastodon.

Concernant le premier point, il y a plus de détails ici:
https://docs.joinpeertube.org/admin-following-instances

En gros,

[2021-06-16 10:56] tfrancart commented on #698
Je vote pour la solution d'import des données avec resynchronisation périodique.

rdfs:isDefinedBy est une propriété définie dans le vocabulaire RDFS pour lier une URI au document qui définit cette URI : https://www.w3.org/TR/rdf-schema/#ch_isdefinedby
C'est l'équivalent du semapps:synchronizedWith proposé plus haut.
D'une façon générale, il pourrait être judicieux de conserver ce triplet de façon

[2021-06-16 17:59] scenaristeur commented on #698
Si je peux me permettre ( on ne me demande pas mon avis, mais je suis toujours là où on ne m'attendais pas)...
J'aurais plutôt penché vers la création d'un resource dans le container, sans synchro, sans import, juste avec un rdfs:seeAlso qui à mon avis est là justement pour ça https://www.w3.org/wiki/UsingSeeAlso .
Ça évite les problèmes de synchro, de cache, de droits...
La ressource décrivant l'

[2021-06-17 14:25] srosset81 commented on #794
Commentaires suite à la réunion de ce jour ([voir le CR complet](https://pad.lescommuns.org/UVcvt8XGT5mUK6mvzlMCTg)):

- On pourrait imaginer des containers LDP qui agrégerait dynamiquement des données de différents servers
- ActivityPub pourrait aussi être utilisé pour faire de l'agrégation, comme c'est fait pour Mobilizon ou Peertube

[2021-06-17 14:28] srosset81 commented on #353
Commentaires suite à la réunion de ce jour ([voir le CR complet](https://pad.lescommuns.org/UVcvt8XGT5mUK6mvzlMCTg)):

- Pour certaines données (ex. compétences) on pourrait n'avoir qu'un serveur distant

[2021-06-17 15:17] srosset81 commented on #517
Informations qu'il serait intéressant de retourner suite à la réunion de ce jour ([voir le CR complet](https://pad.lescommuns.org/UVcvt8XGT5mUK6mvzlMCTg)):

- Est-ce que l'instance accepte/encourage l'ajout de relation inverses en PATCH ?
- Quelles sont les ontologies qu'elle accepte / reconnaît ?

[2021-06-17 15:21] srosset81 commented on #652
Commentaires suite à la réunion de ce jour ([voir le CR complet](https://pad.lescommuns.org/UVcvt8XGT5mUK6mvzlMCTg)):

- Ce type de problématique est peu traité car très peu de serveurs acceptent de faire du read-write. La plupart sont en read.
- Concernant la gestion des droits, le plus simple serait d'utiliser le webId de l'utilisateur connecté pour l'opération PATCH
- Au niveau de [l'endpoint a

[2021-06-17 15:26] srosset81 commented on #771
Commentaires suite à la réunion de ce jour ([voir le CR complet](https://pad.lescommuns.org/UVcvt8XGT5mUK6mvzlMCTg)):

- Autre alternative: obtenir l'URL de "l'interface préférée" via une requête Head, afin de pouvoir mettre tout de suite le bon lien ? (a priori on pourrait proposer les deux solutions)
- Voir si la notion d'interface préférée existe dans les standards du web ou du web sémantique.

[2021-06-17 15:35] srosset81 commented on #698
Commentaires suite à la réunion de ce jour ([voir le CR complet](https://pad.lescommuns.org/UVcvt8XGT5mUK6mvzlMCTg)):

- Pour synchroniser les données entre serveurs, Thomas fait des requêtes SPARQL. Cela peut marcher aussi bien qu'un GET sur la ressource LDP, sauf qu'il faut que le serveur ait un endpoint SPARQL disponible.
- Pour gérer les WebACL, le plus cohérent est d'importer les triplets Web

[2021-06-25 10:40] GuillaumeAV opened #800 "Bug sur la connexion les communs"
**Décrivez le bug**
Une description claire et concise du bug.

**Etapes pour reproduire**
1. Aller sur 'archipel'
2. Cliquer sur 'se connecter'
3. S'inscrire, valider le mail et voir l'erreur ...

**Comportement attendu**
Une fois qu'on valide la mail, on devrait pouvoir être connecté sur Archipel ..

[2021-06-25 11:13] srosset81 opened #801 "Lancer une erreur quand il manque un service"
Par exemple le nouveau service jsonld.

Je crois que ça peut être configuré quelque part dans Moleculer.

[2021-06-25 14:48] srosset81 commented on #800
Résolu. J'avais oublé de mettre à jour le middleware avec la dernière version.

[2021-06-25 14:48] #800 closed, assigned to nobody

[2021-06-25 15:22] srosset81 opened #802 "Add tests on the data provider"
Inspiration:
https://github.com/marmelab/react-admin/blob/master/packages/ra-data-simple-rest/src/index.spec.ts
https://github.com/marmelab/react-admin/blob/43c4fafc8bcedebc386c7d3dc3b63cfd56420a17/packages/ra-data-simple-rest/src/index.spec.ts

[2021-06-30 08:45] srosset81 opened #808 "PUT efface les données déréférencées lorsqu'elles ont un ID"
Bug rapporté par @tawytest pour https://github.com/data-players/observatoire100lieux

Si dans un container avec des données de type X, on a fait un `dereference` sur une donnée de type Y avec un ID (pas un blank node), la donnée de type Y est supprimée au moment où le lien vers cette donnée est supprimé (via une opération PUT sur la donnée de type X).

Voilà la requête SPARQL générée par la requêt

[2021-06-30 08:51] srosset81 commented on #808
La requête PUT:

[code]

[2021-06-30 13:27] srosset81 opened #809 "Garder un log des requêtes SPARQL faites par le middleware"
**Problématique**
Beaucoup de bugs sur le middleware viennent de requêtes SPARQL éronnées.

**Proposition**
Pour faciliter le débuggage, il serait utile d'avoir un endroit où toutes les requêtes SPARQL sont stockées, puisqu'il ne semble pas que Jena Fuseki le fait (le log n'affiche qu'une partie des requêtes).

A voir s'il y a une bonne pratique Moleculer pour ce type de log "custom".

**Composant

[2021-06-30 14:52] #808 closed, assigned to nobody

[2021-06-30 16:17] tfrancart opened #811 "Pas de support du POST sur le service SPARQL"
**Décrivez le bug**
Une requête POST sur le service SPARQL à https://data.virtual-assembly.org/sparql ne fonctionne pas, alors que la même requête fonctionne en GET.
Un service SPARQL compatible doit supporter le POST : https://www.w3.org/TR/2013/REC-sparql11-protocol-20130321/#query-operation
Cela empêche Sparnatural d'interroger ce service.

**Etapes pour reproduire**

Utiliser POSTMAN pour inte

[2021-07-02 13:27] srosset81 commented on #701
Pour info @tawytest n'arrivait pas à afficher des images uploadées car il n'avait pas l'ontologie http://semapps.org/ns/core# dans les fichiers ontologies.js et context.json

Il faudra trouver un moyen d'ajouter automatiquement les ontologies core au fichier de context JSON-LD.

[2021-07-03 18:16] fluidlog opened #813 "Impossible de supprimer une organisation nouvellement créée"
**Décrivez le bug**
Sur Archipel, je viens de tester une organisation appelé "test", et je n'arrive pas à la supprimer.

**Etapes pour reproduire**
1. Aller sur l'organisation "test"
2. Cliquer sur "Editer"
3. Normalement, de mémoire, il y avait un bouton rouge "Supprimer" en bas à droite, et il n'y est plus, du coup, l'utilisateur, même en ayant les droits, ne peut plus supprimer
4. Idem pour les

[2021-07-05 07:54] srosset81 opened #814 "Impossible de créer une ressource sans droits d'écriture en tant que superadmin"
Le problème c'est que la ressource n'est attachée au container qu'après sa création, et donc les droits des superadmins (qui sont hérités du container) ne sont pas pris en compte.

Il faudrait attacher la ressource au container avant d'insérer les triples.

[2021-07-05 07:59] #814 closed, assigned to nobody

[2021-07-07 09:15] tfrancart opened #817 "Activer l'inférence RDFS sur le triplestore"
**Tension**
Il est bien compliqué de configurer Sparnatural sur le modèle PAIR si l'inférence sur les sous-classes n'est pas activée dans le triplestore. Et il n'est pas possible de montrer l'interopérabilité sémantique sans inférence sur les sous-classes.

**Proposition**
Activer l'inférence RDFS dans Fuseki (voir https://jena.apache.org/documentation/fuseki2/fuseki-configuration.html, § Inferenc

[2021-07-07 13:41] srosset81 opened #818 "Documenter les actions de maintenance Moleculer"
- Vider cache
- Supprimer toutes les ressources d'un container
- etc...

[2021-07-08 17:55] fluidlog opened #821 "Bug de chargement des images dans Archipel / serveur GL"
**Décrivez le bug**
Suite au chargement d'une photo sur l'instance GLT, dans la fiche d'une personne ou orga, celle-ci ne se charge pas en entier et apparait tronquée toujours de la même manière.
Pas de problème sur l'instance Archipel de l'AV.

**Etapes pour reproduire**
1. Aller sur le serveur GL : https://semapps.gl.assemblee-virtuelle.org/Person
2. Cliquer sur Yannick (le problème apparait aus

[2021-07-09 11:05] fluidlog commented on #821
Constat de Simon Louvet :
"Nous avons également des probleme d'image sur passerelle mais en upload et pas en download. Ce que nous avons pu constaté c'est que la quantité d'information (image complete ou pas) dépend du réseau et que un upload sur un réseau faiblard se fini souvent par une image à oitier chargé. Je soupçonne un timeout sur l'upload qui coupe le stream de réception coté serveur ou n

[2021-07-12 07:04] srosset81 commented on #821
J'ai la même chose côté Colibris. A priori oui c'est un problème de timeout.

[2021-07-15 07:33] srosset81 opened #823 "Le cache n'est pas invalidé correctement lorsqu'une ressource est déréférencée"
Par exemple pour l'événement https://data.lescheminsdelatransition.org/events/cremaillere-dantesque le lieu https://data.lescheminsdelatransition.org/places/chez-guitou est déréférencé. Quand ce lieu est mise à jour, son propre cache est invalidé, mais pas celui de l'événement.

De même si les droits `acl:Read` du lieu ont changé, on pourra toujours le voir sur le cache de l'événement.

Peut-être

[2021-07-16 08:02] GuillaumeAV commented on #817
Huuum ca s'est une mission pour @nikoPLP ou pour @srosset81 je crois :)
Je peux aussi m'y coller, mais je ne garantis pas le résultat haha :)

[2021-07-16 09:50] srosset81 opened #825 "Les requêtes SPARQL avec double déréférencements sont très lentes"
Découvert avec @tawytest pour l'instances 100 lieux nourriciers.

Si on fait un référencement à deux niveaux (par exemple `pair:hasLocation/pair:hasPostalAddress`), les temps de requête passe de 2.5 secondes à 17 secondes.

Il y a sans doute un problème dans la requête SPARQL qui est effectuée.

[2021-07-16 09:57] srosset81 commented on #817
Oui Niko avait fait une issue similaire (moins détaillée): https://github.com/assemblee-virtuelle/semapps/issues/590
Je pense qu'il pourrait être l'homme de la situation ;)

[2021-07-30 13:21] srosset81 opened #826 "Invalider le cache du container root quand on ajoute un sous-container"

[2021-07-31 10:17] srosset81 opened #828 "S'inspirer de la documentation de HumHub"
Je trouve que l'organisation de la documentation technique de HumHub est excellente et qu'elle pourrait nous inspirer.

https://docs.humhub.org

Elle est aussi réalisée avec Docusaurus.

[2021-07-31 13:10] srosset81 opened #829 "Ajouter une action `webacl.resource.removeRights`"
Cette action serait très utile lorsqu'on veut supprimer automatiquement des droits en fonction de règles métiers.

Actuellement on est obligé de passer par `webacl.resource.setRights`, mais c'est très compliqué.

[2021-08-02 08:49] srosset81 opened #831 "Utiliser le DataModel de RDFJS partout"
Plutôt que créer les triples sous forme de string (comme on fait un peu partout dans le code), utiliser plutôt cette librairie qui permet de rendre le code plus lisible et d'éviter des bugs.

http://rdf.js.org/data-model-spec/
https://github.com/rdfjs-base/data-model

Idéalement le service triplestore devrait pouvoir comprendre ces triples directement.

[2021-08-02 14:35] #688 closed, assigned to srosset81

[2021-08-02 14:35] #829 closed, assigned to srosset81

[2021-08-05 09:58] bouviermullerp opened #943 "Créer un composant pour pouvoir faire du filtrage multiple"
**Pouvoir effectuer des filtres sur plusieurs types de données**
Il y a des composants React Admin qui permettent d'effectuer des filtres sur des attibuts, mais on ne peut en sélectionner qu'un seul.
Nous avons besoin de développer un composant qui permette de sélectionner plusieurs attributs et filtrer sur ces données.

**Prérequis avant chiffrage**
- [ ] Titre de l'issue liée #

**Issues liées**

[2021-08-05 11:03] simonLouvet commented on #943
La problématique est double :
* Les composants d'interface react-admin de filtrage ne sont pas prévu pour pouvoir sélectionner plusieurs valeur dans une liste qui sert à un Filter. Il est nécessaire de créer un CutomFilter avancé avec selection multiple.
* Il est nécessaire d'inventer un langage  pour aller au delà du filter habituel de React-Admin qui n'est prévu que pour une valeur par champ. Le

[2021-08-09 08:11] srosset81 commented on #943
Le premier point ne devrait pas poser de problème.
Le second consiste essentiellement à modifier notre "semantic data provider" pour qu'il gère un array de filter. Plutôt que de gérer uniquement `hasTheme: 'https://localhost/permaculture'`, il devra gérer `hasTheme: ['https://localhost/permaculture', 'https://localhost/tiers-lieux']`

[2021-08-09 09:14] simonLouvet commented on #943
issue initiale pour passerelle : https://github.com/data-players/passerelle_normandie/issues/105

@srosset81 la question est justement de se mettre d'accord sur le formalisme que comprendra le dataAdapter. est ce que un erray se traduit en OU ou en ET? Est ce qu'il est préférable de definir un laguange de filtre plus avancé comme ce qui se fait sur mongo par ex:
https://docs.mongodb.com/manual/ref

[2021-08-09 16:39] srosset81 commented on #943
Pour le moment les filtres gérés par React-Admin sont en ET. Donc je serai pour garder ce fonctionnement avec les array. Et s'il y a besoin d'un OU, on peut voir pour utiliser un langage plus compliqué de type mongodb.

[2021-08-09 16:44] srosset81 commented on #943
Pour info React-Admin réfléchit à comment implémenter ce type de filtrage avancé dans la v4:
https://github.com/marmelab/react-admin/issues/5933#issuecomment-829428150
S'il n'y a pas d'urgence à utiliser un filtrage en OU, je serai pour attendre de voir ce qui en sort.

[2021-08-09 16:58] srosset81 commented on #825
Après analyse, la requête SPARQL ne semble pas poser de problème:

[code]

Le problème doit se situer à un autre niveau.

[2021-08-09 17:10] srosset81 opened #834 "Erreur aléatoire quand on POST des fichiers dans un container LDP"
Remonté par @tawytest

![unnamed](https://user-images.githubusercontent.com/17931931/128745891-37b01b68-dbf3-41a0-ba17-67bb90ca47b3.png)

L'erreur se produit ici:
https://github.com/assemblee-virtuelle/semapps/blob/master/src/middleware/packages/middlewares/index.js#L109

Une idée @simonLouvet ?

[2021-08-09 17:16] srosset81 commented on #834
Il semble que c'est lié à la librairie `dicer` utilisée par `busboy`. La librairie apparaît dans l'erreur.

https://github.com/mscdex/busboy/issues/250

Une PR a été proposée mais n'a pas été intégrée:

https://github.com/mscdex/dicer/pull/22

Malheureusement la librairie `busboy` n'est plus mise à jour depuis 2 ans :-( Mauvais choix de ce côté-là, on risque de n'avoir pas d'autre choix que de réé

[2021-08-10 07:53] GuillaumeAV commented on #943
T'as une idée de pour quand ce sera la v4 @srosset81 ?
Peut-être directement contribuer à React Admin ?

[2021-08-10 07:57] srosset81 commented on #943
Non aucune idée

[2021-08-10 08:11] bouviermullerp commented on #943
Peut être qu'on peut créer une seconde issue pour le filtrage en OU ?
Ce chantier est plutôt destiné à accueillir les spécifications pour du filtrage multiple (plusieurs critères de sélection).

Egalement, pour des filtrages, requêtes plus avancées, on pourra utiliser sparnatural (avant la fin d'année normalement).

[2021-08-10 08:30] simonLouvet commented on #943
Le filtrage demandé par passerelle est justement un filtrage en OU. Je veux les data dont la propriété 1 est A ou B

[2021-08-27 14:11] #498 closed, assigned to nobody

[2021-08-29 18:09] srosset81 opened #836 "Permettre d'afficher les données méta de fichiers non-RDF"
Cela fait partie des spécifications Solid:
https://github.com/solid/solid-spec/blob/master/content-representation.md#metadata

[2021-08-29 18:10] srosset81 opened #837 "Implement WAC-Allow header"
Currently we find about the rights we have on a resource by fetching the whole ACL resource (and we don't use the `Link` header, which make the code incompatible with Solid).

But there exists a header to know about the rights on the resource !

http://solid.github.io/web-access-control-spec/#wac-allow

This means we would only need to GET the resource, and we could know faster if we have write pe

[2021-08-31 06:58] srosset81 opened #838 "Implémenter deleteMany dans le semantic data provider"
Permet de supprimer plusieurs ressources lorsqu'on utilise le DataGrid de React-Admin

https://github.com/assemblee-virtuelle/semapps/blob/master/src/frontend/packages/semantic-data-provider/src/dataProvider.js#L337-L340

[2021-08-31 17:57] simonLouvet commented on #834
Je vais refondre l'upload en changeant de librairie

[2021-08-31 18:05] simonLouvet commented on #943
J'ai regardé la discussion https://github.com/marmelab/react-admin/issues/5933#issuecomment-829428150 et les filtres avancés n'ont pas l'aire encore arbitré. De plus, Il n'est question que de faire des valuer inferieurs ou superieurs et non pas des OU ou des ET. Je propose donc uns spécification.

Lors ce que nous voulons faire un filtre avancé :
[code]
cela pourrait donner
[code]

[2021-08-31 21:23] simonLouvet commented on #821
linked to #834

[2021-08-31 21:30] simonLouvet commented on #836
@srosset81 Est ce que tu sais sous quel forme doivent être retournées le metadata? Des triples (drf, ttl, json-ld) ou la structure initiale des metadata de fichier (que je ne connais pas)?

[2021-09-01 08:53] srosset81 commented on #836
Je pense que c'est libre, j'ai pas trouvé d'informations.
Pour l'instant on utilise une ontologie spécifique à SemApps, mais il faudrait voir si on peut pas utiliser l'ontologie DublinCore qui semble assez complète.

[2021-09-01 08:58] srosset81 commented on #834
Pour info j'ai essayé de forcer l'usage de la PR en ajoutant cette ligne au package.json
[code]
Malheureusement cette technique ne marche pas. Le package est installé depuis Github mais busboy continue à utiliser la librairie publiée sur NPM (en la mettant dans son dossier propre node_modules). J'imagine qu'il doit y avoir une solution pour forcer l'usage d'un repo, mais je ne l'ai pas trouvée.

[2021-09-01 08:59] srosset81 commented on #834
Dispo pour qu'on parle du choix de la librairie. J'avais regardé un peu et presque tout le monde semble utiliser busboy. :-/

[2021-09-01 10:18] GuillaumeAV opened #839 "Lister publiquement les instances de SemApps"
**Tension**
Même moi j'ai du mal à savoir quelles sont les instances SemApps en projet / développement / prod ...

**Proposition**
Lister les instances et leur statut (ex : projet / développement / prod ) sur semapps.org et/ou sur archipel.assemblee-virtuelle.org + flodio etc.

**Alternatives**
ne pas les lister ;)

[2021-09-01 15:03] GuillaumeAV commented on #839
Suite à notre réunion de rentrée cette après midi, une photographie !

* **En projet**
    * SITI (sélectionné, pas encore financé)
    * Actes Sud (RDV semaine prochaine, projet autour de 2 collections, cartographie des livres édités)
    * DUST (projet européen Solid avec €€€€€€€€)
    * HUMUS (réseau social suisse-autriche-allemagne €€€€)
    * Haut-Bearn (S)
    * Campus Cyber (Fabien Gainier)

[2021-09-02 07:17] bouviermullerp commented on #943
Merci pour la spec technique @simonLouvet , preneur d'une clarification sur les impacts fonctionnels, ce qui sera possible (et impossible).

[2021-09-02 20:05] srosset81 commented on #839
Sur semapps.org je limiterai aux instances en prod, qui vont bientôt être assez nombreuses.

Pour le reste, on peut peut-être maintenir un pad ?

[2021-09-03 13:11] simonLouvet commented on #943
modificaiton de spec suit echange avec @srosset81

supoprt uniquement  de $or, $and,$lt, $gt, $eq sur 2 niveu de profondeur.
filter=
{
   advancedFilter : { $or: [ { quantity: { $lt: 20 } }, { price: 10 } ] }
}

[2021-09-06 07:39] srosset81 opened #840 "Utiliser les named routes (moleculer-web)"
Disponible depuis la version 0.10.2:
https://github.com/moleculerjs/moleculer-web/releases/tag/v0.10.2

Cela permet d'éviter qu'une route écrase une autre (https://github.com/moleculerjs/moleculer-web/issues/262#issuecomment-913174589)

[2021-09-06 07:42] srosset81 opened #841 "Utiliser une ressource semapps:Account pour OIDC/CAS"
Enregistrer l'email et d'autres informations dans une ressource semapps:Account, lisible uniquement par l'utilisateur.

Voir le service `auth.account` qui a été ajouté pour la connexion locale.

Idéalement il faudrait que ce soit optionel, ou sinon il faut bien indiquer le breaking change et peut-être proposer un petit outil de migration.

[2021-09-08 12:36] bouviermullerp commented on #451
J'ajoute un petit commentaire, qui me vient à l'esprit suite à discussion avec Thomas des 100 lieux nourriciers. Comme on commence à avoir plusieurs plateformes en prod, peut être un point de vigilance à faciliter les migrations des instances d'une version à une autre. Je pose ça là, je pense que vous l'avez déjà bien en tête, mais au cas ou :)

[2021-09-08 14:34] #553 closed, assigned to simonLouvet

[2021-09-08 15:23] simonLouvet commented on #834
@srosset81 est ce que tu connais le pseudo de thomas? Archipelago n'utilise pas busboy par ce qu'il n'y a pas de multipart. de plus il est possible que #844 resolve le probleme car busboy pouvait ne pas apprécier que la request soit répondu au navigateur alors qu'il était en train d’écrire sur le disque.

[2021-09-08 15:42] simonLouvet commented on #576
probleme résolu par #844 . Le fichier ne devait pas être correctement finalisé.

[2021-09-09 09:32] srosset81 commented on #834
Thomas c'est @tawytest

Donc Archipelago utilise une autre méthode que Thomas pour uploader les fichiers ? Il suffirait au pire qu'il utilise la même méthode que nous pour que le problème se règle ? (si ton fix n'est pas suffisant)

[2021-09-09 09:33] srosset81 commented on #576
Non c'est autre chose. Ce n'est pas un problème d'upload mais d'header sur les images.
L'issue qui est résolue est celle-ci: https://github.com/assemblee-virtuelle/semapps/issues/821

[2021-09-09 09:37] simonLouvet commented on #576
J'ai vérifié : le header et le content-type semblent ok maintenant

[2021-09-09 09:39] srosset81 commented on #451
On s'est amélioré de ce côté avec la description des changements à chaque nouvelle release:
https://github.com/assemblee-virtuelle/semapps/releases
C'est seulement quand on passe de 0.X à 0.Y qu'il y a des "breaking changes" qui doivent être pris en compte (et ils sont décrit)

[2021-09-09 09:43] srosset81 commented on #576
@simonLouvet Le content-type du fichier qui pose problème (dans l'exemple) est bien enregistré dans le triple store, le problème c'est que le middleware renvoie un content-type de type JSON:

[code]

[2021-09-09 10:04] simonLouvet commented on #834
Oui a priori, s'il utilise la même manière d'upload (pas de multipart), ça contournera le problème. Je voudrais voir avec lui pour expliquer tout ça, essayer de conserver le multipart ; contourner au pire

[2021-09-09 17:49] srosset81 opened #845 "Tester le semantic data provider"
Voir un exemple ici:
https://github.com/marmelab/react-admin/blob/43c4fafc8bcedebc386c7d3dc3b63cfd56420a17/packages/ra-data-simple-rest/src/index.spec.ts

[2021-09-10 08:15] simonLouvet commented on #576
je ne comprends pas pourquoi ce probleme se produit sur  https://colibris.social/. Il me faudrait debugger pour comprendre pourquoi le content-type n'est pas bien valué. Est ce que c'est bien les dernière version du serveur qui sont deployés?

[2021-09-10 08:17] #821 closed, assigned to simonLouvet

[2021-09-10 10:23] srosset81 commented on #576
Ce n'est pas spécifique à colibris.social, il se produit aussi sur Archipel:
https://data.virtual-assembly.org/files/coopmuns.png

[2021-09-10 15:53] srosset81 commented on #841
Il faudrait aussi ajouter une notion de status sur l'Account.
Par exemple "Invited", "EmailValidated", etc.

[2021-09-13 08:03] srosset81 opened #945 "Adapter l'interface Create pour importer/forker des données existantes"
Créer un composant similaire au `Create` de React-Admin, qui permet soit de créer une ressource "from scratch" (en indiquant par exemple son titre), soit d'importer une ressource existante, soit de forker une ressource existante.

En lien avec https://github.com/assemblee-virtuelle/semapps/issues/698

Dans la forme, on pourrait s'inspirer de ça:
https://cercles.assemblee-virtuelle.org/Circle/creat

[2021-09-13 08:34] srosset81 commented on #698
Suite à la relecture de cette issue, j'ai une remarque par rapport à cette note:

A partir du moment où les WebACL sont activés sur la ressource distante, il faudra impérativement que WebID-OIDC soit utilisé pour pouvoir lire ou modifier des ressources distantes, car le JWT token qui permet de certifier le webId de l'utilisateur actuel ne pourra pas être compris par le serveur distant.

[2021-09-14 14:49] srosset81 commented on #517
Bonne nouvelle, l'ontologie [void](https://www.w3.org/TR/void/) permet de renseigner déjà pas mal d'informations. Voilà ce que ça pourrait donner en Turtle:

[code]

L'autre bonne nouvelle, c'est que cette ontologie recommande une URL de type `.well-known` pour trouver facilement les données:

https://data.virtual-assembly.org/.well-known/void

J'ai aussi regardé l'ontologie [D-Cat](https://www.w3

[2021-09-14 14:52] srosset81 commented on #461
Je ferme cette issue car c'est un doublon de https://github.com/assemblee-virtuelle/semapps/issues/794

[2021-09-14 14:52] #461 closed, assigned to nobody

[2021-09-14 21:55] srosset81 opened #847 "SsoLoginPage: mieux gérer le GET de l'utilisateur"
Pour l'instant, on fait un `getOne` sur une ressource `Person`.

https://github.com/assemblee-virtuelle/semapps/blob/master/src/frontend/packages/auth-provider/src/components/SsoLoginPage.js#L58

Mais les utilisateurs peuvent avoir un autre nom de ressource. Il faudrait que ce soit configurable.

De plus, si la ressource n'existe pas, getOne retourne une erreur mais on ne la prend pas en compte.

[2021-09-15 09:09] srosset81 opened #848 "WebACL superadmins: ne marche pas sans root container"
Il faudrait afficher une erreur si on a défini des superadmins, mais qu'aucun root container n'existe.

[2021-09-16 08:19] srosset81 opened #849 "Service de miroir des données publiques des autres serveurs"
Nouveau `MirrorService` Moleculer avec ces particularités:

- N'indexe que les données publiques (permission `acl:Read` pour les `foaf:Agent`)
- A l'initialisation, importer toutes les données de différents serveurs (a priori via SPARQL)
- Est tenu au courant des mises à jour des données via ActivityPub

Eventuellement mettre en place un boilerplate pour un serveur qui fait uniquement miroir (SPAR

[2021-09-16 08:21] srosset81 commented on #449
Je ferme car on a laissé tomber cette proposition en faveur d'un serveur d'indexation en SPARQL: https://github.com/assemblee-virtuelle/semapps/issues/849

[2021-09-16 08:21] #449 closed, assigned to nobody

[2021-09-20 13:24] fluidlog commented on #517
Super ! Merci :)
Voici d'ailleurs le PAD du projet META : https://pad.lescommuns.org/-ioDLrRJTuCtMh-9xDSjcA#

[2021-09-21 21:10] Spiff77 commented on #834
Hello, @simonLouvet  C'est moi Thomas ;), l'autre pseudo n'est pas le bon, je viens juste de voir ce message la. Hésites pas a prendre contact sur ce compte la si besoin.

[2021-09-22 09:05] srosset81 opened #850 "UpdateBot: acteur AP qui averti des mises à jour des données publiques"
UpdateBot, qui announce les mises à jour de données publique de l'instance à ses followers.

- Si une donnée est rendue publique (acl:Read pour foaf:Agent), on envoie une activité Create
- Si une donnée publique est mise à jour, on envoie une activité Update
- Si une donnée n'est plus publique ou est effacée, on envoie une activité Delete
- N'indique que l'URI de la ressource, au cas où celle-ci e

[2021-09-22 13:21] srosset81 opened #851 "Choose the container to upload files to"
For the moment, only one URI container is passed in the data provider config.

This could be interesting if we could define, for example in the Input components, in which container we want to post the files.

[2021-09-24 08:34] srosset81 opened #852 "Utiliser les named routes de moleculer-web"
Voir la release: https://github.com/moleculerjs/moleculer-web/releases/tag/v0.10.2

Il faut mettre à jour moleculer-web partout puis ajouter un nom UNIQUE pour tous les appels `api.addRoute` de tous les services.

Cela évitera que des routes soient écrasées par d'autres.

[2021-09-27 07:04] simonLouvet commented on #840
same as #852

[2021-09-27 07:27] simonLouvet commented on #659
cela renvoie actuellement toutes les informations meta des fichiers et non une image. toujours d’actualité cette issue @srosset81 ?

[2021-09-27 07:27] simonLouvet commented on #834
salut @Spiff77 . Je ne sais pas ou prendre contact ailleurs que cette issue. Est ce que tu a un compte sur le chat de communs?
Concernant ce probleme d'upload, je suppose que tu passe par du multipart car busboy n'est utilisé que dans ce cas.
Il est probable qu'un fonctionnement inadéquat du container de fichier revoyait la requette http alors que l'upload n'etait pas terminé et que cela cause cet

[2021-09-27 09:33] srosset81 opened #853 "Pouvoir importer des pads HackMD/CodiMD"
A partir d'un pad HackMD/CodiMD, il est très facile de récupérer le contenu en format Markdown.

https://github.com/hackmdio/codimd/issues/448

Il serait intéressant, lorsqu'on crée un `pair:Document` par exemple, de pouvoir importer un pad existant. Dans l'optique de ce qui est fait dans le chantier interop, on pourrait même envisager une synchronisation régulière avec la source.

[2021-09-27 09:34] srosset81 commented on #853
L'autre option serait d'afficher le pad en iframe. Mais pour moi l'iframe est la solution la plus pauvre en terme d'interop.

[2021-09-27 10:19] srosset81 commented on #659
Ca a l'air réglé en effet !

[2021-09-27 10:19] #659 closed, assigned to BastienSig

[2021-09-27 10:20] #840 closed, assigned to nobody

[2021-09-27 10:27] nikoPLP opened #854 "la base de données TDB2 peut devenir très volumineuse après de nombreux INSERTs"
le backend des Chemins de la transition s'est retrouvé avec des [fichiers TDB2 de jena de plusieurs GB](https://github.com/chemins-de-la-transition/semapps/issues/110).

Jena a besoin qu'on lui dise de compacter les données de temps en temps.

La solution temporaire indiquée dans l'issue précédente doit etre transformée en une solution permanente.
Surement un cron qui va faire tourner un script po

[2021-09-27 11:27] srosset81 commented on #854
En terme de maintenance c'est assez lourd si on doit arrêter Jena Fuseki.
Mais j'imagine qu'il y a pas besoin de le faire chaque jour, l'idéal serait un cron lancé p.ex. une fois par semaine, la nuit.

[2021-09-27 14:44] srosset81 opened #855 "Composant pour filtrer les données par serveur"
- Ajouter une méthode `getServers` au data provider, qui retourne la liste des serveurs en fonction du type de ressource.
- Créer un composant de filtre ([comme ici](https://archipel.assemblee-virtuelle.org/Organization)) qui affiche la liste des serveurs. Lorsqu'on clique sur un filtre, on utilise le mot clé `_servers` pour renvoyer une requête SPARQL qui ne retournera que les données du serveur

[2021-09-27 14:48] srosset81 commented on #794
## Implémentation
Il y aura plusieurs manières de définir les sources:
- Dans le fichier dataServers.js https://gist.github.com/srosset81/2bcf79ef2b5a01619a4e806ecc74db7f#file-ecosystem-js-L18 où l'on défini les serveurs par défaut
- Dans le composant List ou ListBase, où on pourra utiliser la props `filter`, en utilisant la propriété `_servers`
- Avec un composant de filtre (#855)

[2021-09-27 15:09] srosset81 commented on #353
## Implémentation

Trois choses à implémenter:
- Une modale qui permet à la fois de lister les ressources en faisant une recherche par mot-clé mais aussi de créer une nouvelle ressource (avec un lien vers la page Create et le lien inverse pré-rempli) [Voir codesandbox](https://codesandbox.io/s/add-relationship-dialog-9ujme)
- Cette modale pourra se déclencher à différents endroits, par exemple ave

[2021-09-27 15:17] srosset81 commented on #354
## Implémentation

- Adapter ChipField ou AvatarField en ajoutant une prop `remoteFrontends` ou `blankTarget`. La prop peut-être:
  - un boolean
  - une fonction qui reçoit le `record` et renvoie un boolean
- Si false, on affiche la donnée distante dans la même interface
- Si true, le lien renvoie vers l'URI de la ressource (qui redirige ensuite vers l'interface préférée)
  - Un indicateur (icône,

[2021-09-27 15:29] srosset81 commented on #945
## Implémentation

- Interface avec deux onglets: "Créer" ou "Importer une ressource distante"
- Si l'utilisateur coche "Créer une copie locale" (mode fork):
  - On récupère la ressource en GET LDP
  - On mets `@id` dans un nouveau prédicat `https://www.w3.org/TR/prov-o/#wasDerivedFrom`
  - On POST la nouvelle ressource dans le container
- Sinon (mode synchro), on fait un PATCH sur le container LD

[2021-09-28 09:09] srosset81 commented on #517
## Implémentation

- Service Moleculer VOID
- Prendre en compte le WebID
- Va chercher informations via SPARQL ou dans le fichier container.js
- S'assurer qu'il y ait les bonnes infos pour cacher côté client le fichier de config VOID (dépend de WebID)

[2021-09-28 09:18] srosset81 commented on #849
## Implémentation

- Dans les settings du service, on a la liste des serveurs dont on veut faire miroir
- Fetcher config VOID + inbox UpdateBot (via WebFinger)
- Souscrire à UpdateBot (`Follow` dans l'inbox)
- Importer toutes les données publiques via un GET sur les containers (trouvés via VOID), puis réimporté via SPARQL
- Mettre dans un graph dédiée aux données miroirs
- ~~En profiter pour créer

[2021-09-28 10:04] srosset81 commented on #698
## Implémentation

- Ajouter possibilité de faire un PATCH sur container LDP (on ne passe que l'URI)
- Si on détecte que le serveur B est miroir de A, il n'y a rien à faire (les données sont synchronisées)
- Sinon, il faut lancer un cron (p.ex. toutes les heures) pour aller fetcher les données distantes
- Les données sont enregistrées dans le graph miroir (sauf le `ldp:contains` avec l'URI de la r

[2021-09-28 10:20] srosset81 commented on #652
## Implémentation

- Envoyer une activité `Offer > Add > Relationship` vers l'acteur `Relay` du serveur distant
- Si pas d'acteur Relay disponible, on fait LDP PATCH et on voit si elle est acceptée
- Traiter l'activité `Offer` du côté du serveur B (accepter automatiquement, si ce bot existe)

[2021-10-01 22:48] scenaristeur opened #856 "Add dc:label and dc:description to LDP containers"
**Tension**
Est-ce que votre proposition est liée à une tension ? Décrivez-là ici.
Ah oui, je suis trop tendu, là !

**Proposition**
Une description claire et concise de ce que vous proposez.
Pour explorer les datas d'un semapps, ça serait bien d'ajouter les pair:label sur les containers

parce que je les utilise pour afficher le nom dans les noeuds https://scenaristeur.github.io/ipgs/?url=https:/

[2021-10-04 09:55] srosset81 commented on #856
Bonne idée !

[2021-10-04 12:48] alexfauquette opened #858 "Pouvoir incorporer une carte dans n'importe quelle page"
**Tension**
J'aimerai affiché une carte sur la page d'acceuil. Cependant, MapList récupère ses données à partir du context. J'aierai pouvoire faire le fetch de données avec un `useGetList` et passer le resultat à `<MapList/>`

A moins qu'il soit possible de facilement chaner le context localement, mais je n'ai pas trouvé

**Proposition**
ajouter une props `record` qui si elle est définie remplace

[2021-10-04 14:21] alexfauquette commented on #858
I found the solution to my problem:

[code]

[2021-10-04 14:21] #858 closed, assigned to nobody

[2021-10-04 21:59] simonLouvet opened #859 "LDP Disassembly ne met pas à jours les données existantes"
**Décrivez le bug**
Lors d'un POST ou PUT sur un container LDP qui est configuré avec une propriété Disassembly, le service ldp créé bien et supprime bien des nouvelles données de cette propriété mais ne let pas à jour l’entité si elle est mise à jour car elle existe deja.

**Etapes pour reproduire**
1. Créer une donnée avec une propriété qui est isassembly
2. modifier un attribut de l'entité imbr

[2021-10-06 14:51] BastienSig commented on #852
J'avoue ne pas avoir tout compris les enjeux de cette issue. Pour la mise à jour en 0.10.2 c'est bon, est ce que le
moleculmar-web package de @semapps/auth doit être maj ?
Et pour la mise en place des nom uniques, on parle bien du fichier : api.service.json ?

[2021-10-07 09:31] srosset81 commented on #852
Il faut mettre à jour moleculer-web sur tous les packages @semapps. Cela doit toujours être le même numéro de version.

Il faut rechercher tous les appels à l'action `api.addRoute`. C'est le service "api" qui gère les routes, mais les routes sont ajoutées par les différents services, selon leurs besoins.

[2021-10-08 09:08] srosset81 opened #861 "Créer un service JWT"
Les méthodes generateToken et verifyToken du Connector devraient être dans un service JWT à part, chargé par le AuthService.

Cela pourrait permettre de générer manuellement un token à partir d'un webId, p.ex. s'il y a besoin d'impersonifier un utilisateur (ce qui est pratique pour de la détection de bugs).

La génération de la pair de clés pourrait aussi se faire par ce service plutôt que par un

[2021-10-08 09:17] srosset81 opened #862 "2 bugs lors d'un PUT en LDP"
Rapporté par @VincentFarcy:

## Bug 1

Si je crée 2 plages horaires d'un coup pour le même champ, j'ai une erreur 500

PUT, request payload :
[code]

Erreur:
[code]

## Bug 2

Si je crée d'abord 1 seule plage, le résultat est bon:

PUT, request payload :
[code]

GET
[code]

Par contre ça bugge si j'ajoute un deuxième élément:

PUT, request payload :
[code]

GET
[code]

Dans ce cas c'est bien enreg

[2021-10-12 02:34] simonLouvet opened #863 "implementation de getManyReference"
**Tension**
besoin de faire fonctionner ReferenceManyField de react-admin

**Proposition**
implementation de getManyReference

[2021-10-12 13:33] Spiff77 commented on #834
Hello,

Du coup nikel, ca fonctionne parfaitement:
`

    const file:any =  this.fileInput.nativeElement.files[0];
    const httpUploadOptions = {
      headers: new HttpHeaders({
        'Content-Type': file.type
      })
    }

    return this.dataService.postFile('files', file, httpUploadOptions)
`

Ne pas utiliser de FormData comme mentionné sur la plupart des exemples d'upload de fichier avec

[2021-10-13 13:33] #863 closed, assigned to nobody

[2021-10-15 07:31] #861 closed, assigned to nobody

[2021-10-15 08:40] srosset81 opened #868 "Un GET sur un container LDP avec WebACL peut être très lent"
La technique actuelle est de récupérer l'URI des ressources, puis de faire un GET sur chacune d'entre elle.

Mais il semble que la première requête SPARQL (pour récupérer l'URI des ressources) retourne aussi les ressources que l'utilisateur n'a pas le droit de voir. Du coup il peut y avoir un très grand nombre d'appel GET sur les ressources, alors qu'au final seules quelques unes seront retournées

[2021-10-15 08:41] #834 closed, assigned to simonLouvet

[2021-10-18 13:46] srosset81 commented on #576
Je remets ce que j'ai mis dans le chat:

[2021-10-18 14:01] simonLouvet commented on #576
Il me semble que la meilleur solution est de ne pas mettre en cache redis et de demander au navigateur de mettre en cache (header) @srosset81  @Superdrac

[2021-10-22 18:14] srosset81 opened #871 "Datasets created with WAC permissions are not deleted"
If I create a secure "bob" dataset (via fuseki admin), then delete it via the Fuseki interface, this dataset is still visible in the /fuseki/databases folder (bob and bobAcl folders).

This bug does not occur for non-secure datasets (without WebACL). As soon as you delete them, the entire folder disappears.

It therefore seems to be linked to our custom WAC extension.

[2021-10-22 18:15] srosset81 commented on #871
The biggest problem is that if you recreate a dataset with the same name, the old data is still there!

What's more, I've been getting "already closed" errors from Fuseki, which are undoubtedly linked to this.

[2021-10-25 08:53] srosset81 commented on #7
Pour ref, il y a une issue dans le repo ActivityPub sur ce sujet:
https://github.com/w3c/activitypub/issues/343

[2021-10-25 13:32] simonLouvet commented on #818
migrer un dataset non prévu pour les ACL en un dataset qui les supporte
- prise en compte des super-user pour les containers et les ressources

[2021-10-25 14:09] simonLouvet commented on #943
Le besoin pour le projet PETR Sub Bourgogne nécessite de faire une requête à un niveau plus profond que le premier niveau de propriété que les seul propriété de la classe principale intereogé.
exemple du besoin:
- Les tiers lieux sont des organisations.
- Les tiers lieux dispose d'équipements
- les équipements ont un type d’équipement
- l'utilisateur doit pouvoir trouver les tiers lieux qui dispos

[2021-10-25 20:13] simonLouvet commented on #943
@srosset81 est ce que la spécification ci dessus est assez precise?

[2021-10-26 09:52] srosset81 commented on #838
Fait ici https://github.com/assemblee-virtuelle/semapps/pull/872

[2021-10-26 09:52] #838 closed, assigned to BastienSig

[2021-10-26 13:08] srosset81 commented on #943
@simonLouvet Oui merci.

Je note que `$in` est ajouté en plus par rapport à la spec précédente.
J'imagine que `$neq` aurait du sens aussi. Pas compliqué à faire une fois qu'on a `$eq`.

[2021-10-26 20:57] simonLouvet commented on #943
@srosset81 j'ai rajouté $in car je pensais que $or suffirait mais ce n'est pas applicable à des valeurs finales. $neq pourrait être utile mais nous n'en avons pas encore rencontré le besoin. J'ai cherché une lib qui transformerai un mongo query en sparql mais j'ai pas trouvé.

[2021-10-29 15:26] #576 closed, assigned to simonLouvet

[2021-10-29 15:26] #729 closed, assigned to nobody

[2021-11-02 13:42] fluidlog commented on #839
Voilà plusieurs mois que nous maintenons un fichier https://docs.google.com/spreadsheets/d/1XwsjAOfi6sX9sS8_bU7t-eHPLTk-Oc9dtKyUDpNJ2rA/edit#gid=0, à partir duquel j'ai mis à jour :
* un serveur Semapps (instance META) qui contient toutes les instances
* une carto des cartos à jour et fonctionnelle : https://meta.flod.io/

![image](https://user-images.githubusercontent.com/6891994/139859048-2510ad

[2021-11-12 10:27] fluidlog opened #881 "Abonnement à la newsletter semapps"
**Tension**
Pour la première et la deuxième newsletter de SemApps, nous devons maintenir des listes de mail dans un fichier excel en ligne... L'architecture de Docusaurus ne semble pas permettre aux utilisateurs de s'abonner à une newsletter.

**Proposition**
Ajouter un lien à Docusaurus vers Archipel et ajouter dans Archipel la possibilité de stocker les emails... Quid du RGPD ?

[2021-11-12 20:25] srosset81 commented on #881
On stocke déjà l'email des personnes inscrites sur Archipel. Elle est même visible de tous (en tout cas tant qu'on aura pas migré vers la v0.4). Mais ça représente pas beaucoup de monde.

[2021-11-15 11:03] ypilpre opened #884 "Erreur à la creation de l'Image Docker Frontend"
**Décrivez le bug**
Le Build du frontend echoue sur la branch Master avec une erreur de dépendance sur le package npm 'rollup-plugin-import-css'

**Etapes pour reproduire**
1. Faire un docker build . dans le dossier src/frontend à partir du Dockerfile.prod

**Comportement attendu**

Création d'un image docker du Frontend (sans erreur)

**Sortie du Log Docker**

[code]
**Système**
Docker version 20

[2021-11-16 09:06] ypilpre commented on #884
L'ajout de la ligne
` "rollup-plugin-import-css": "^3.0.2"`
dans le fichier package.json corrige le bug, mais le build ne fonctionne pas .

[code]

[2021-11-16 11:12] fluidlog commented on #884
Bonjour, on peut prendre le temps de regarder ça ensemble si tu veux.
Je te propose de nous rejoindre sur https://chat.lescommuns.org/channel/semapps_dev :)
Merci,

[2021-11-16 16:42] fluidlog commented on #884
Suite à l'investigation voici une explication de la différence de lancement entre @ypilpre et nous :
De son côté, pour builder le frontend, il a renommé dans le répertoire src/frontend, le fichier Dockerfile.prod en Dockerfile, puis lancé la commande ```docker build .```, ce qui lance le script Dockerfile renommé, dans lequel il y a une variable $FRONTEND.

De notre côté, nous avons l'habitude d'u

[2021-11-16 16:46] ypilpre commented on #884
Ok le build est correct (Je ferai une autre issue si l'appli a des comportements anormaux)

[2021-11-16 16:46] #884 closed, assigned to nobody

[2021-11-16 16:54] simonLouvet commented on #884
@fluidlog pas si simple, il y a une bonne raison à ce ```${FRONTEND}``` : c'est pour choisir le boilerplate. ne plus l'utiliser ca veut dire maintenir seulement ce boilerplate (archipelago) je pense. @srosset81 ton point de vue?

[2021-11-22 09:00] srosset81 commented on #884
Merci pour les investigations @fluidlog

En faisant un `docker build .`, tu peux quand même passer des variables d'environnement. Donc pas besoin de modifier le Dockerfile a priori, si les bons arguments sont passés.

https://docs.docker.com/engine/reference/commandline/build/#set-build-time-variables---build-arg

On pourrait aussi mettre "archipelago" comme valeur par défaut de la variable FRONTE

[2021-11-22 09:54] simonLouvet commented on #884
je suis pour la variable par défaut

[2021-11-22 10:03] srosset81 opened #885 "Exporter des dates sur Google Agenda (iCalendar)"
Il me semble que ce serait une fonctionnalité clé pour améliorer l'usage de nos calendriers sémantiques.

Google agenda, et d'autres, permettent en effet d'importer des agendas via le protocole [iCalendar](https://icalendar.org/).

Est-ce que tu connais ce standard @simonLouvet ?

Cela pourrait être un service Moleculer supplémentaire. Comme on reste sur du standardisé, il me semble que ça reste c

[2021-11-22 10:57] simonLouvet commented on #885
oui je connais et je l'utilise ou je l'ai utilisé pour différents projets. Pour info, le bus sémantique digère également du ical. @srosset81

[2021-11-22 20:47] bouviermullerp commented on #885
Ho oui, ça serait génial de l'intérop avec les https://fr.wikipedia.org/wiki/CalDAV !!! :)

[2021-11-24 11:30] #854 closed, assigned to nobody

[2021-11-25 14:10] bouviermullerp commented on #885
et avec Mobilizon à propos :)

[2021-11-25 14:10] bouviermullerp commented on #885
Est-ce qu'on demande ça à la région Nouvelle Aquitaine ?

[2021-11-26 10:14] GuillaumeAV commented on #885
j'imagine que c'est l'histoire de 1 à quelques jours d'implémenter ce / ces protocoles ? Dans le cadre d'une demande plus globale, ooh oui ca semblerait très pertinents (en ne mettant pas l'emphase sur google, vu qu'ils financent de l'open-source ;)

[2021-12-01 11:09] simonLouvet commented on #868
C'est étonnant que la requête SPARQL retourne des ressources qui ne devraient pas être accessible. Je croyais justement que c’était le point cruciale que @nikoPLP devait implémenter dans l’implémentation des webALC sur fuseki.

[2021-12-01 14:24] srosset81 commented on #868
Techniquement un triplet comme `<containerUri> ldp:contains <resourceUri>` fait partie de `<containerUri>`, c'est donc normal qu'il soit retournée si l'utilisateur a un droit de lecture sur le container.

[2021-12-02 15:44] srosset81 opened #890 "Erreur MaxListenersExceededWarning"
## Erreur

J'avais pas mal d'erreur de ce type:

[code]

## Solution

En lançant node avec l'option `--trace-warning`, j'ai pu remonter au package `jsonld`.

[code]

En le downgradant de la version 5.2 à 3.3.2, les erreurs disparaissent. Je pense donc qu'un bug a été introduit dans les versions plus récentes. A observer, et éventuellement à signaler.

_(Posté ici pour mémoire)_

[2021-12-03 14:54] simonLouvet opened #891 "Déréférencer sur le DataProvider plutôt que sur le Middleware"
**Problématique**
Déréférencer sur le DataProvider plutôt que sur le Middleware

**Composants concernés**
Le server ne déréférence plus les uri namedNode sur la branche next
Le DataProvider doit tenir compte du Référencement pour le getList (recherche et affichage liste ressource)

**Proposition**
utiliser [ldp-navigator](https://www.npmjs.com/package/ldp-navigator) pour dereferencer les sujet; la

[2021-12-03 16:37] simonLouvet opened #892 "Implémenter la condition where de SPARQL.js comme filtre"
**Problématique**
support du filtre react-admin classique
-> utilisation pour sparnatural
-> utilisation pour les filtre avancés

**Composants concernés**
Data Adapter

**Proposition**
supporter
[code]

[2021-12-06 08:38] simonLouvet commented on #943
a réaliser après assemblee-virtuelle/semapps#892

[2021-12-06 11:05] srosset81 opened #893 "ldp.resource.patch ne marche pas bien quand on a de multiple blank nodes"
Si je fais deux fois appels à `ldp.resource.patch` comme ça:

[code]

Cela apparait comme ça dans le triplestore:

[code]

Alors que les deux blank nodes devraient se trouver lié au même predicate.

De plus cela a pour effet de dédoubler les blank nodes existants (publicKey dans cet exemple):

[code]

[2021-12-06 11:07] srosset81 commented on #891
Je pense finalement que ce n'est pas forcément une bonne idée de déréférencer (côté frontend) les relations pair:organizationOfMembership de toutes les organisations. Potentiellement, si dans https://archipel.assemblee-virtuelle.org/Organization on avait des centaines d'organisations avec des centaines de relations réifiées, cela démultiplierait le nombre de données retournées dans la liste, alors

[2021-12-06 11:10] srosset81 opened #894 "Utiliser ReferenceArrayField/ReferenceArrayInput pour les relations réifiées"
Au lieu de ArrayField/ArrayInput.

Eviter d'avoir à déréférencer au niveau du middleware ou data provider, ce qui pose des problèmes de performances (cf https://github.com/assemblee-virtuelle/semapps/issues/891). De cette manière, les relations réifiées ne sont déréférencées que lorsqu'on arrive sur la page Show/Edit.

Il est aussi possible d'utiliser `useGetMany` (ou plutôt `useQueryWithStore`) s

[2021-12-06 11:14] srosset81 commented on #892
sparqlWhere plutôt que sparql_where

En principe, la ressource "racine" est identifiée avec la variable `?s1`. Il faudra garder cette convention (ou la faire évoluer) pour que la requête additionnelle fonctionne.

Cette issue implique de refactorer les fonctions buildSparqlQuery et buildDereferenceQuery (sur la branche next), afin d'utiliser SPARQL.js pour la construction de la requête SPARQL.

[2021-12-07 00:46] Ancelin-Moulherat-AV commented on #651
@srosset81  le lien vers "rendre sémantique les données de Gogocarto" ne marche pas :'(

[2021-12-07 08:05] seballot commented on #651
Yop ! malheureusement je crois que ton travail a été perdu Sébastien, il date d'il y a plusieurs année, et comme il était toujours en work in progress il n'a pas été mergé. Entre temps il y a de trop nombreux refactors pour que cela soit possible de rebaser ton travail sur la branche actuelle

Mais bon dans la même veine que ce qui a été fait sur yeswiki, je pense que la partie "rendre sémantique

[2021-12-07 22:46] srosset81 opened #895 "Ne pas automatiquement créer des datasets sécurisés"
Par défaut quand on utilise l'image Docker [semapps/jena-fuseki-webacl](https://hub.docker.com/repository/docker/semapps/jena-fuseki-webacl), cela crée deux datasets localData et testData qui sont sécurisés. Cela peut poser un problème car l'utilisateur peut vouloir utiliser cette image pour des datasets non-sécurisés, par exemple pour avoir la fonctionnalité compact (c'est sans doute le problème

[2021-12-07 22:54] nikoPLP commented on #895
on pourrait peutre implementer ca... mais je ne comprend pas trop le besoin...
le docker s'appele jena-fuseki-webacl donc est un peu normal qu'il y ait les webacl dedans, non?
on pourrait a la rigueur ne pas cree rde dataset, et utiliser le middleware fuseki-admin pour creer le dataset localData, et lire la config de semapps pour savoir si le middleware webacl est chargé ?

[2021-12-07 23:07] srosset81 commented on #895
Le problème c'est qu'on a commencé à mettre des choses, en l'occurence le compactage, qui peuvent intéresser des personnes qui n'ont pas besoin des webacl. Donc soit on part de l'idée que cette image peut être utilisée avec ou sans datasets sécurisés (en l'occurence avec les activitypods, je crée un dataset non-sécurisé avec les comptes utilisateurs), soit on crée des images différentes ?

[2021-12-08 06:54] srosset81 opened #896 "Enlever les boilerplates de ce repo"
Suite à la [discussion d'hier](https://forums.assemblee-virtuelle.org/t/compte-rendu-de-la-reunion-semapps-du-7-decembre/371), voilà ce que je vois comme actions à entreprendre:

- [x] Créer un repo assemblee-virtuelle/archipelago
- [x] Y déplacer les boilerplates frontend/archipelago et middleware/pair-ldp-server
- [x] Déplacer aussi la config Docker et la supprimer de ce repo
- [x] Supprimer les

[2021-12-08 07:14] srosset81 commented on #895
Voilà déjà une solution intermédiaire:
https://github.com/assemblee-virtuelle/semapps/pull/897

[2021-12-08 09:51] nikoPLP commented on #896
"Déplacer aussi la config Docker et la supprimer de ce repo" ca veut dire quoi? quelle config Docker? il faut quand meme laisser mon travail sur les webacl, non?

[2021-12-08 10:06] nikoPLP commented on #895
historiquement, il n'y avait pas de service fuseki-admin, et pas moyen de creer des dataset depuis le middleware. C'est pour cette raison que le docker jena-fuseki-webacl avait dans sa config, la creation de deux dataset dès le début, par defaut, avant meme que le middleware ne tourne au moins une fois.

Vu que le code du middleware a change depuis et qu'il y a un appel a fuseki-admin.createDatase

[2021-12-08 14:33] srosset81 commented on #896
Oui on laissera le Dockerfile de fuseki.
Par contre on déplacerait ceux pour le frontend et le middleware, ainsi que les fichiers docker-compose.yml

[2021-12-08 14:38] srosset81 commented on #895
Ah je pensais qu'on avait essayé un compact avec l'image Docker "officielle" de Fuseki. Si ça marche, effectivement il n'y a pas lieu de s'embêter.

S'il y a moyen de réduire les sources d'erreurs ce serait cool :)

[2021-12-09 09:51] VincentFarcy opened #898 "[Branche Next] MoleculerError: Group already exists lors du redémarrage du middleware"
**Décrivez le bug**
Sur la branche next, lors d'un redémarrage du middleware, le docker-compose up plante.
Il faut supprimer le dossier data à chaque fois pour que ça passe.

**Etapes pour reproduire**
Branche next
docker-compose up middleware
=> ok
ctrl+c
docker-compose up middleware
=> plantage :
[code]

[2021-12-09 10:03] VincentFarcy opened #899 "[Branche next] erreur lors de la 1ère connexion au SSO les communs"
**Décrivez le bug**
Lors de la 1ère connexion via le SSO des communs, une erreur apparaît.
La connexion est cependant ok en retournant sur localhost:5000

**Etapes pour reproduire**
branche next
Supprimer le dossier data
cliquer sur l'icône de connexion puis le lien "se connecter"
la mire de connexion des communs apparaît quelques secondes puis est remplacé par un message d'erreur :
[code]
En reto

[2021-12-09 10:09] VincentFarcy opened #900 "[Branche next] Erreur lors de la saisie d'une adresse (auto-complétion)"
**Décrivez le bug**
branche next : Lors de la saisie d'une adresse, une erreur apparaît dès le 1er caractère saisi.

**Etapes pour reproduire**
Branche next
Créer une nouvelle organisation
enregistrer
Saisir une adresse :
[code]

**Captures d'écran**
![image](https://user-images.githubusercontent.com/55813208/145376340-d77e80e8-cad8-491b-9d03-d6c65ce8cc29.png)

**Système**
Google Chrome Version 91

[2021-12-09 13:41] nikoPLP commented on #895
Tout est basé sur l'image officielle de fuseki, mais dan le docker-compose, si tu mets l'image officielle au lieu de la notre avec les webacl, alors il me semble qu'un dataset localData est deja présent et il ne contient pas de webacl, evidemment. (Mais en fait, je ne suis plu ssur de ça. est ce que la docker officiel crée un dataset par defaut? je ne sais plus)
En tout cas, en utilisant le docker

[2021-12-09 13:58] simonLouvet commented on #895
Il n'y a pas de compact dans l'image docker stain/jena-fuseki qu'on utilisait précédemment. C'est pour cela que je veux utiliser  la nouvelle image que @nikoPLP  as réalisé pour 5 projet déjà déployés s qui sont en dataset non sécurisés. L'image stain/jena-fuseki  ne crée pas de datasets. Le service fuseki-admin a presque toujours existé mais il a été amélioré pour pouvoir générer de datasets sécu

[2021-12-09 14:03] simonLouvet commented on #895
L'image stain/jena-fuseki ne contient pas de compact. C'est pour cela que j'ai été vers l'image semmaps qu'a créé @nikoPLP

[2021-12-09 14:51] nikoPLP commented on #896
alors il faut laisser tout le dossier `fuseki-docker` car le Dockerfile se sert de tous ces fichiers.

[2021-12-09 19:53] nikoPLP commented on #898
C'est bon j'ai trouvé le bug. le fix est dans la branche next (Commit 2b561789)
il suffit de faire un
`git pull`.

ne pas oublier aussi de bien effacer tous les dataset et leur fichier de config, car les donnees sont corrompues par ce bug.

[2021-12-09 22:22] nikoPLP opened #902 "le clustering de tous les services n'est pas viable"
Je viens de me rendre compte que dans la branche `next` le middleware est lancé avec `moleculer-runner` et notamment l'option `--instances=max` qui va creer autant de `node` moleculer qu'il y a de core/CPU sur la machine.

le clustering dans nodejs est bien connu, et fonctionne plutot bien. Avec `pm2` par exemple, on peut ecrire un logiciel qui ecoute sur le port 80, et puis le lancer en mode clus

[2021-12-09 22:30] nikoPLP commented on #895
Oui c'est logique. C'est les fichiers binaires java qui n'ont pas le code necessaire. le compact est dansun autre package (jena, pas fuseki).

Donc je comprends que tu veuille utiliser l'image jena-fuseki-webacl.

Cela dit, dans cette image, si tu n'as pas de webacl (datset créé avec secure=false) tu dois pouvoir faire des comapct a chaud ! soit par l'interface web d'admin de fuseki, soit en lanca

[2021-12-09 22:37] simonLouvet commented on #902
Merci beaucoup pour ces vulgarisation @nikoPLP . J'en arrive quasiment eu même conclusion et pour faire simple et rapide je suis pour enlever `--instances=max` sur les instances de production. Je pense que personne ne verra la différence.

Dans l'absolue je trouve la solution du "Mixed architecture" la plus pertinente (avec start-cluster et start-singleton) mais je ne voie pas l’intérêt de faire 2

[2021-12-10 00:34] nikoPLP commented on #902
faire tourner deux processus (2 services) dans le meme docker n ést pas conseillé par Docker. Car ca pose des problemes pour le stop du container (si un des services est en background process, ce qui est inevitable, alors il ne reagira pas au signal envoyé par docker pour arreter le container, et on va devoir attendre un timeout qui va killer le processus qui ne repond pas)
https://docs.docker.com

[2021-12-10 06:47] VincentFarcy commented on #898
C'est ok merci !

[2021-12-10 06:47] #898 closed, assigned to nobody

[2021-12-10 08:07] simonLouvet commented on #902
Intéressant, comment fait pm2 ou nodemon pour s'erreter étant donné que ils sont en background ?

[2021-12-10 08:17] simonLouvet commented on #902
Nous utilisons pm2 pour lancer moleculer afin de pouvoir faire un attach et lancer des actions à la main a chaud

[2021-12-10 08:41] GuillaumeAV commented on #902
Ca pourrait pas faire l'objet d'un petit article sur le fonctionnement de
Moleculer ton explication Niko ?

Même moi j'ai compris !

Bonne journée !

Le ven. 10 déc. 2021 à 09:18, simonLouvet ***@***.***> a
écrit :

--
Guillaume Rouyer
+33 (0)6 28 34 54 99
<http://assemblee-virtuelle.org>http://virtual-assembly.org

https://www.facebook.com/grouyer
https://twitter.com/Guillaume_AV

[2021-12-10 09:00] srosset81 commented on #902
Merci Niko pour ces explications !
Si je comprends bien, en ayant plusieurs nodes, donc plusieurs ApiGateway, c'est le premier ApiGateway qui attrape la requête qui est responsable de la traiter, avec les autres services "locaux".
Je suis surpris de n'avoir jamais rencontré plus de soucis même en utilisant `--instances=max` partout en prod (par contre avec la config actuelle du moleculer-runner, c

[2021-12-10 09:04] #895 closed, assigned to nobody

[2021-12-10 09:24] simonLouvet commented on #902
j'ai pas compris quand tu dis que " avec la config actuelle du moleculer-runner, c'est jamais utilisé en dev" @srosset81 . J'utilise en permanence "moleculer-runner --env --repl --hot services" en dev (dans un container).

[2021-12-10 09:39] srosset81 commented on #902
Oui, et donc il n'y a pas le paramètre `--instances=max`...

[2021-12-10 10:52] nikoPLP commented on #902
il faut l'enlever aussi dans next, ce que je viens de faire

[2021-12-10 12:00] nikoPLP commented on #902
j'imagine qu'il ne sont pas en background ! le process numero 1 (qui lance la CMD) doit resté attaché a pm2 ou nodemon. c'est comme ca que docker sait quel processus contacter pour faire stop. et evidemment, pm2 et nodmon sont la pour gerer plusieurs sous processus, qu'ils controlent.

[2021-12-10 13:11] nikoPLP commented on #896
Sans les boilerplates, il ne sera plus possible de lancer facilement semapps, en clonant juste ce repo et lancant quelques commandes. Les nouveaux arrivants vont etre un peu deconcertés, non ?

[2021-12-10 13:25] nikoPLP commented on #896
on integre ca a la milestone 0.4 ?

[2021-12-10 15:32] srosset81 commented on #896
Les nouveaux arrivants sont de toute façon déjà perdus ;-) A mon avis, on peut pas faire pire que maintenant...
Avec un repo dédiée à Archipelago, on pourra aussi lancer la stack en quelques lignes de commandes, sauf qu'on prendra les packages sur NPM.
Yep ça me semble être un bonne idée d'intégrer ça à la v0.4

[2021-12-10 16:05] nikoPLP commented on #896
j ái rajoute une tache a propos de la doc, qui doit etre revue.

[2021-12-10 16:08] nikoPLP commented on #896
je pense que ca serait quand meme bien d'avoir des images docker pretes a etre installées, ainsiq u'un guide pour lancer le middleware et le front depuis un environement de dev, juste pour pouvoir tester.
peut importe le nom ou le fait que ce soit tres customisé pour un client.
il faut que les devs et les sysadmins qui arrivent sur le site/github, puissent en quelques clicks, faire tourner le truc

[2021-12-10 17:51] simonLouvet commented on #902
@nikoPLP c'est par pour insister, juste pour s'assurer qu'on dispose du même degrés de compréhension. Il me semble que si on utilise `pm2-runtime start processes.json` on devrait pouvoir managé 2 moleculer-runner dans le même container. Dans l'absolu, je m'en fout et ca me va très bien de faire plusieurs container.

[2021-12-10 18:23] nikoPLP commented on #902
ah oui on est d'accord ! avec pm2 oui !!! car le pm2 "God Daemon" sera le seul processus que docker devra contacter pour faire le stop.
Ce que je disais c'est qu'en l'absence de pm2 ou nodemod, alors on est obligé de mettre le premier des 2 processus en background, et ca c'est pas top.
Avec pm2 bien sur que ca passera tres bien !

[2021-12-12 00:01] nikoPLP opened #903 "IMPORTANT security vulnerability in Fuseki because of log4j CVE-2021-44228"
Jena fuseki is vulnerable to the new [security vulnerability CVE-2021-44228 related to log4j](https://logging.apache.org/log4j/2.x/security.html)

The fix is in the commit 80d5847b (both in master and next)

If you are using the docker image in docker hub, I just updated it, so you need to do a pull.
[code]

if you are building the image locally, run:
[code]

In order to test that your instance is

[2021-12-12 00:02] nikoPLP commented on #903
closed by 80d5847

[2021-12-12 00:03] #903 closed, assigned to nobody

[2021-12-12 18:27] srosset81 commented on #578
Je propose de faire ça pour la milesone 0.4
Ca facilitera la doc pour le yarn link en lien avec https://github.com/assemblee-virtuelle/semapps/issues/896
Cela permettra aussi d'utiliser les Yarn workspaces, et ainsi de reduire le nombre de fichiers yarn.lock (voir https://dev.to/tevez07b9/managing-monorepos-with-lerna-and-yarn-workspaces-4bhl je l'ai fait pour le repo ActivityPods et ça marche bie

[2021-12-13 12:46] GuillaumeAV commented on #651
Helloo !

@seballot @srosset81 combien de temps ou d'argent ça pourrait représenter la réalisation de Gogocarto LDP ?
Et qui pourrait le faire ?

**Objectif** : Permettre aux amis de la frugalité heureuse de se positionner ou pas sur le financement ou le co-financement de cette brique !

[2021-12-13 12:49] srosset81 commented on #651
@GuillaumeAV J'avais indiqué 6 JH dans l'issue, sans le complément. Mais c'est à titre indicatif, ça ne constitue pas un devis.

[2021-12-13 14:56] seballot commented on #651
Yop !

@srosset81 est ce que tu peux m'expliquer l'action "Ajouter un container LDP qui renvoie toutes les données" ? je ne comprends pas ce que c'est?

Car pour les trois autre ça semble assez facile non? ajouter un contexte sémantique à chaque champ du formulaire (via le form builder wysiwyg, comme sur yeswiki), inclure ce contexte dans le résultat de l'API, gérer la pagination et inclure le con

[2021-12-13 15:10] srosset81 commented on #651
C'est juste un endpoint qui renvoie des données de ce type: https://data.virtual-assembly.org/ideas

Voir les specs simplifiées de LDP ici: https://www.w3.org/TR/ldp-primer/

La petite difficulté serait d'ajouter la pagination (en respectant les specs ci-dessus), ce qu'on ne fait pas actuellement dans SemApps. Mais sinon rien de sorcier en effet :-)

@VincentFarcy m'a dit que vous aviez évoqué réc

[2021-12-14 21:10] simonLouvet opened #904 "Le cache ne fonctionne plus pour un get resource"
**Décrivez le bug**
La clef n'est pas généré dans redis lors d'un GET

**Etapes pour reproduire**
* supprimer le dossier data
* lancer semapps (archipel + pair-ldp-server) : make start
* naviguer sur une resource (par interface ou http get)
* vérifier la clef sur redis : docker-compose exec  redis redis-cli + KEYS *
* pas de clef générée

**Comportement attendu**
* clef générée

[2021-12-15 19:06] #904 closed, assigned to simonLouvet

[2021-12-16 17:54] srosset81 opened #907 "`webacl.resource.getRights` does not return all rights if webId "system" is passed"
I imagine that the `webacl.resource.getRights` action is intended to return the rights of a user. But it can also be useful to know all the rights of a resource, by passing a webId `system`. However, this is ignored and the user is considered anonymous: no rights are returned.

If we don't want to change the way it works, we should at least return an error when the `webacl.resource.getRights` acti

[2021-12-17 10:41] srosset81 opened #908 "Pass multiple users to `webacl.resource.addRights`"
Currently, to give several users rights to the same resource, we have to call the `webacl.resource.addRights` action once per user.

This is costly in terms of performance, as the addRights action performs a lot of checks (locally, it takes almost 1 second per user).

My suggestion would be to allow multiple users to be passed in this way:

[code]

If I'm not mistaken, all we need to do is change

[2021-12-20 10:24] srosset81 opened #909 "Renommer le paramètre dereference en blankNodes"
Dans la v0.4, le paramètre `dereference` ne déréférence plus que les blank nodes.

[2021-12-20 10:24] srosset81 commented on #766
J'ai ajouté ça dans la milestone v0.4, car ça sera complémentaire avec https://github.com/assemblee-virtuelle/semapps/issues/909

[2021-12-20 16:19] simonLouvet opened #910 "Ne pas bloquer les méthode LDP du du dataProvider si il n'y a pas de endpoint VOID"
**Décrivez le bug**
Si le serveur ne met pas à disposition de endpoint VOID, Les méthodes LDP du DataProvider comme getList sont bloquées et ne répondent pas.

**Etapes pour reproduire**
configurer un middleware 0.4.
configurer un middleware 0.4 avec un semanticDataProvider configuré avec un dataServer qui n'est pas un pod
[code]

**Comportement attendu**
DataProvider opérationnelles

[2021-12-21 10:18] #15 closed, assigned to nobody

[2021-12-21 14:52] bouviermullerp opened #913 "Industrialisation du déploiement : DevOps"
**Description**
DevOps: industrialiser le déploiement des instances et créer une _ferme_ à SemApps.

Au stade d'idée pour le moment, à discuter, brainstormer, spécifier :
1/ Une ferme à SemApps qui permette de déployer des instances en fonction d'un template (organigraphe, archipelago, activity pods).
Avec la possibilité de choisir son URL.

2/ Une ferme à SemApps V2 qui permette de déployer une i

[2021-12-21 15:54] srosset81 commented on #913
Intéressant de penser tout de suite à un choix entre différents produits, ça va nous aider à organiser les repo correctement.

Je serai pour supprimer la v2 de ce chantier. On est des années-lumières de ça. Autant se concentrer sur ce qui est envisageable à moyen terme.

[2021-12-21 15:59] #910 closed, assigned to simonLouvet

[2021-12-21 23:15] srosset81 opened #914 "Nodeinfo endpoint with SemApps instance metadata"
Nodeinfo is not a W3C standard, but it is used by a large number of softwares (many ActivityPub softwares, but also Wordpress).

https://nodeinfo.diaspora.software/
https://github.com/jhass/nodeinfo

This is what the endpoint looks like:

https://github.com/jhass/nodeinfo/blob/main/schemas/2.1/example.json
https://github.com/jhass/nodeinfo/blob/main/schemas/2.1/schema.json

As [the VOID endpoint](

[2021-12-22 16:44] srosset81 opened #915 "Mettre à jour la doc sur la branche next"
En particulier:

- AuthService
- ActivityPubService

[2021-12-22 16:45] srosset81 opened #916 "Utiliser ActivitiesHandlerMixin pour le FollowService"
Cela fera un code plus lisible

[2021-12-22 16:47] srosset81 opened #917 "Uniformiser baseUri / baseUrl"
Certains services prennent `baseUrl` comme setting, d'autres `baseUri`.
Je propose d'utiliser partout `baseUri`, puisque c'est ce qui est le plus utilisé.
Et profiter de la v0.4 pour mettre en place ce breaking change.

[2021-12-27 10:54] #738 closed, assigned to GuillaumeAV

[2021-12-27 10:55] #562 closed, assigned to nobody

[2021-12-27 10:59] #407 closed, assigned to bouviermullerp

[2021-12-27 11:00] #387 closed, assigned to nobody

[2021-12-27 11:14] VincentFarcy opened #919 "[Branche Next] Bug lors de l'utilisation de ReferenceManyField"
**Décrivez le bug**
L'utilisation de `<ReferenceManyField>` provoque un plantage :
`index.js:1 Error: Resource [object Object] is not mapped in resources file`
Le problème se situe dans la nouvelle méthode getManyReference

**Etapes pour reproduire**
Utiliser un composant react admin `<ReferenceManyField>`

**Captures d'écran**
![image](https://user-images.githubusercontent.com/55813208/147466501-

[2021-12-30 16:36] Spiff77 opened #921 "Semapps > v0.3.17: Dereference vide sur les fetchAll."
Lors de la migration de semapps. Les dereferences ne fonctionnent plus:

Call sur middleware `localhost:3000/organizations`
 `0.3.17:`
<img width="651" alt="Capture d’écran 2021-12-30 à 17 28 37" src="https://user-images.githubusercontent.com/600608/147770199-9e5813c2-ebd6-4cbd-ad71-702fa8e53519.png">

`0.3.18`ou `0.4.0-alpha.6`:
<img width="880" alt="Capture d’écran 2021-12-30 à 17 32 32" src

[2021-12-30 19:59] #919 closed, assigned to VincentFarcy

[2022-01-04 09:11] srosset81 opened #923 "Ne plus utiliser de regex pour l'action ldp.resource.generateId"
Selon @nikoPLP :

https://github.com/assemblee-virtuelle/semapps/blob/master/src/middleware/packages/ldp/services/resource/actions/generateId.js#L29-L33

[2022-01-04 15:31] srosset81 opened #924 "Séparer la doc technique en middleware / frontend / fuseki"
Sur le site web de semapps.org, au lieu d'avoir un seul onglet Documentation, faire un onglet pour chacune des 3 couches.

Cela permettra de faire une page d'explication pour chaque couche, qui sont très différentes.

[2022-01-10 09:51] fluidlog commented on #747
Bon, a priori, c'était soit un problème lié à mon poste, j'ai réussi ce jour depuis Brave et Firefox... soit corrigé depuis une nouvelle version...
Je ferme.

[2022-01-10 09:52] #747 closed, assigned to fluidlog

[2022-01-10 10:06] fluidlog commented on #813
Je suis retourné ce matin, et le bouton "supprimé" est bien présent (sous Firefox et Brave)
Je ferme.

[2022-01-10 10:06] #813 closed, assigned to nobody

[2022-01-10 10:16] fluidlog opened #927 "Avoir accès simplement aux versions d'un serveur SemApps"
**Tension**
Difficulté de savoir si un serveur SemApps est en dernière version.

**Proposition**
Il faudrait pouvoir afficher quelque part, soit sur l'interface (en bas comme dans d'autres logiciels) ou à un endpoint spéficique les versions du middleware utilisé, et du front.

**Alternatives**
Seb propose de nous inspirer de cette autre issue assez proche : https://github.com/assemblee-virtuelle/s

[2022-01-10 12:09] srosset81 commented on #927
https://github.com/assemblee-virtuelle/semapps/issues/914 n'est pas une question d'inspiration mais de nécessité. Pas moyen de connaître la version du middleware sans ça.

Attention, avec la v0.4, il peut y avoir plusieurs middleware. Donc pas évident à afficher clairement.

Pour afficher la version du frontend, pourquoi pas, je ne sais pas trop comment il faudrait s'y prendre, sachant que c'est l

[2022-01-10 13:53] VincentFarcy commented on #900
le problème était dû à l'absence de token mapbox en yarn link sur la branche next

[2022-01-10 15:23] srosset81 commented on #900
Faudrait peut-être un meilleur message d'erreur dans ces cas...

[2022-01-10 15:35] simonLouvet opened #928 "harmoniser et centraliser les procedures de migrations de donné"
**Tension**
Lors d'un changement de version, d'un changement de gestion des utilisateurs, d'un changement de gestion des droits ou d'autres opération de ce type, des opérations sont nécessaires sur les données existantes. Ces opérations sont dispersé et leur usage est assez peu documenté.
https://github.com/assemblee-virtuelle/archipelago/blob/master/middleware/services/migration.service.js
https:

[2022-01-13 08:45] #900 closed, assigned to nobody

[2022-01-14 13:37] srosset81 commented on #923
Fait par Niko https://github.com/assemblee-virtuelle/semapps/pull/926

[2022-01-14 13:37] #923 closed, assigned to nobody

[2022-01-14 17:41] srosset81 opened #932 "Si j'active le QueueService mais que Redis n'est pas actif, il n'y a pas d'erreur"
Il faudrait voir si [moleculer-bull](https://github.com/moleculerjs/moleculer-addons/tree/master/packages/moleculer-bull) peut renvoyer une erreur si Redis n'est pas lancé.

Sinon les jobs ne sont pas mis en queue et rien ne se passe.

[2022-01-17 22:40] simonLouvet opened #933 "dereference, jsonContext, queryDepth pas effectif sur les container"
**Décrivez le bug**
Lors d'un get sur un container les dereference, jsonContext, queryDepth ne sont pas appliqué.
Cela vient du fait que le get container appel le get ressource avec les paramètres de ctx.params qui sont undefined et qui surchage la configuration du container lors du get ressource.

**Etapes pour reproduire**
1. get une ressource avec un dereference : ok
2. get le container qui con

[2022-01-17 22:43] simonLouvet commented on #921
same as #933

[2022-01-18 12:26] #933 closed, assigned to simonLouvet

[2022-01-20 08:52] #921 closed, assigned to simonLouvet

[2022-01-20 08:58] simonLouvet opened #935 "pouvoir utiliser les hooks pour LdpContainerService et LdpResourceService inclue dans LdpService"
**Tension**
l'usage de hooks à la déclaration d'un LdpService à très peu d'effet.
LdpService instancie dynamiquement LdpContainerService et LdpResourceService sans hooks.

**Proposition**
Permettre une configuration de hooks  de LdpService pour transmettre cette configuration à LdpContainerService et LdpResourceService

[2022-01-20 10:08] #935 closed, assigned to simonLouvet

[2022-01-20 15:14] srosset81 opened #937 "Extraire le package @semapps/archipelago-layout"
Comme vu à la réunion aujourd'hui, le nom de ce package apporte de la confusion par rapport au projet Archipelago.

## Analyse du package

Des composants (principalement dans le dossier /layout) qui sont vraiment spécifiques au design d'Archipelago et qui ne peuvent plus être utilisés dès qu'on s'éloigne de ce design:
- Layout
- AppBar
- TopToolbar
- TreeMenu
- SearchForm
- theme
- Hero
- ...

Des

[2022-01-20 16:15] srosset81 commented on #176
Reading the specs, I conclude that LDP pagination is optional, so as not to impact clients who don't understand this standard.

If you do a GET on a container like this:

[code]

The server must return a 303 with the URL to the first page (which can be formatted as you like):

[code]

If we then fetch page 1, always indicating the `max-member-count` (so that the server knows how many elements ther

[2022-01-21 18:41] fluidlog opened #940 "Amélioration de la gestion du token dans le local storage"
Actuellement, lorsque le token dans le local storage du navigateur n'est pas bon, nous restons bloqué sur la fenêtre des communs du SSO.
Il faudrait normalement déconnecter l'utilisateur en supprimant le token du local storage.

[2022-01-24 10:15] fluidlog commented on #896
Quid du boilerplate pair-ldp-server, avez-vous tranché ?
Personnellement, j'attendrais bien un peu avant de rechanger des choses, histoire qu'on stabilise déjà les changements de la partie frontend, et qu'on en rediscute tous ensemble.

[2022-01-24 10:55] fluidlog commented on #893
@BastienSig, vu que tu es assigné à cette issue flaguée en "high priority", peux-tu nous mettre un petit point de situation ici ? Merci

[2022-01-24 11:01] srosset81 commented on #896
Le boilerplate pair-ldp-server est déjà transféré sur archipelago (c'est le middleware).
Cette issue est terminée.

[2022-01-24 11:01] #896 closed, assigned to nobody

[2022-01-24 11:26] fluidlog commented on #868
@srosset81 Cette issue "high priority" a-t-elle été corrigée dans les dernières versions ?

[2022-01-24 11:29] fluidlog commented on #862
Est-ce vraiment une "high priority" ?
@simonLouvet, peux-tu donner ton avis là dessus ? Merci :)
Ping @VincentFarcy

[2022-01-24 11:34] simonLouvet commented on #862
oui cela bloque des développements notamment pour PETR Sub Bourgogne. c'est @BastienSig qui travaille dessus

[2022-01-24 13:40] fluidlog commented on #896
Ah, je comprends mieux, je regardais sur la mauvaise branche et je le voyais encore, du coup je pensais qu'il restait des choses à faire sur le middleware suite à vos échanges de décembre... OK

[2022-01-24 14:06] srosset81 commented on #871
For ActivityPods, it's very annoying because you can't easily delete a user account (each user/pod has its own dataset).

[2022-01-24 15:23] srosset81 commented on #868
Non

[2022-01-25 07:51] fluidlog commented on #852
@BastienSig Peux-tu nous dire où tu en es sur cette issue, peut-être que je peux t'aider ?

[2022-01-25 08:20] fluidlog commented on #841
Cette issue doit-elle être fermée ?

[2022-01-25 08:29] fluidlog commented on #828
En effet ! Très bonne idée :)

[2022-01-25 09:54] fluidlog commented on #801
@srosset81 : toujours d'actualité ? Si oui, ça peut être pris par un nouveau qui souhaite bosser sur moleculer...

[2022-01-25 09:57] fluidlog commented on #794
A relier aux travaux sur l'interop ?

[2022-01-25 10:00] fluidlog commented on #942
@simonLouvet Cette issue a-t-elle été analysée lors des travaux sur les upload d'image ?

[2022-01-25 10:01] fluidlog commented on #942
Je la transfert dans Archipelago car cela concerne les perfs, et je trouve qu'il est important d'avoir une version v1.0 ou v1.1 dans laquelle les perfs sont travaillées.

[2022-01-25 10:24] fluidlog commented on #790
Je n'avais pas vu cette issue ! Comme quoi, il est bon de les passer en revue au moins une fois ! :)
Je suis actuellement en docker 20.10;12. Je me l'affecte juste pour faire le test...

[2022-01-25 11:10] fluidlog commented on #776
Je me la mets sous le coude...

[2022-01-25 11:12] fluidlog commented on #774
@srosset81 Je propose de fermer cette issue depuis les derniers changements vers yarn ?

[2022-01-25 11:13] simonLouvet commented on #942
Je ne suis pas d'accord, cela concerne le noyau et pas le produit

[2022-01-25 11:30] srosset81 opened #941 "Utiliser Parcel pour builder les packages frontend"
La config avec Rollup n'est pas du tout optimisée et il y a continuellement des problèmes de packages qui sont inclus alors qu'ils ne le devrait pas.

J'ai essayé [Parcel](https://parceljs.org/getting-started/library/) aujourd'hui et ça a tout de suite fonctionné bien. Par contre il y avait un bug en mode "watch".

Voilà pour mémoire la config du package.json pour les geo-components:

[code]

[2022-01-25 11:51] srosset81 commented on #942
Oui c'est noyau. Surtout que c'est une amélioration qui concerne essentiellement le middleware.

[2022-01-25 11:58] srosset81 commented on #801
Oui toujours d'actualité.

[2022-01-25 12:40] srosset81 commented on #794
Ca fait partie du chantier oui #451

[2022-01-25 12:43] #892 closed, assigned to VincentFarcy

[2022-01-25 12:45] srosset81 commented on #943
Je ne pense pas que ça concerne Archipelago car c'est un composant spécifique, qui sera utilisé principalement dans des projets spécifiques.

Je rebouge dans le repo SemApps.

[2022-01-25 12:48] srosset81 commented on #841
Oui c'est fait par https://github.com/assemblee-virtuelle/semapps/pull/873

[2022-01-25 12:48] #841 closed, assigned to nobody

[2022-01-25 14:05] fluidlog commented on #716
@srosset81 peux-tu préciser si l'occurence de cette erreur est potentiellement importante ? Dans quel contexte crée-t-on un slug, à chaque nouvelle donnée ? Et donc aléatoirement, on peut avoir le cas ? Si oui, ça devient une issue urgente... peut-être à traiter dans la milestone 0.4 ?

[2022-01-26 15:06] srosset81 opened #944 "Ajouter un changelog"
Tout est dit: https://keepachangelog.com/fr/1.0.0/

[2022-01-26 15:13] srosset81 commented on #716
Il faudrait voir si l'erreur n'est pas réglée, on utilise maintenant la librairie [speakingurl](https://github.com/pid/speakingurl) qui est assez performante et ne devrait pas avoir trop de bugs.

Les slugs sont générés à partir du titre généralement, mais c'est configurable. Côté LDP, on passe un header `Slug` lors du POST dans un container. Donc très facile à tester.

[2022-01-27 13:36] fluidlog commented on #942
Je comprends votre point de vue, mais c'était de mon côté pour la mettre en priorité "Archipelago"... mais bon, tant pis, je n'insiste pas, vous êtes 2 ! :)
Ou alors, on pourrait créer un label "A résoudre pour le produit archipelago" dans SemApps...

[2022-01-27 16:37] srosset81 commented on #942
Idéalement il faudrait reprendre le [kanban](https://github.com/assemblee-virtuelle/semapps/projects/3), ça permettrait de mettre de la visibilité sur ce qui est important dans le noyau SemApps.

Malheureusement je crois pas qu'il est possible de faire des kanban cross-projets, sur une organisation. A vérifier, notamment avec [la nouvelle gestion de projet Github](https://docs.github.com/en/issues

[2022-01-28 11:12] srosset81 opened #947 "Mettre à jour React-Admin vers la v4"
A faire quand la version finale sera sortie... ou avant si on veut essayer.

Versions alpha:
https://github.com/marmelab/react-admin/releases/tag/v4.0.0-alpha.2
https://github.com/marmelab/react-admin/releases/tag/v4.0.0-alpha.1

Cela occasionera sans doute des breaking changes de notre côté, en particulier parce qu'on passera à la v5 de MaterialUI

[2022-01-28 14:30] srosset81 commented on #937
Après réflexion, je ne pense plus que ce soit une bonne idée de publier un package `@archipelago/layout`
Ca va être beaucoup de maintenance en plus (versioning, publication, synchronisation avec lerna...) sans beaucoup d'avantages, puisque les forks devront de toute façon se synchroniser avec le reste du code. En plus il faudrait écrire une documentation, ce qui impliquerait de faire un site web o

[2022-01-30 15:10] simonLouvet commented on #937
totalement d'accord, un renommage du package existant style @semapps/common-layout me parait plus cohérente

[2022-01-31 10:14] srosset81 commented on #937
Hmm ce n'est pas vraiment la proposition ci-dessus. Le package existant serait éclaté sur plusieurs packages (list-components, input-components, field-components...), et ce qui est spécifique au layout Archipelago ne sera plus dans un package, mais simplement dans le repo d'Archipelago.

La notion de "Common Layout" n'a pas de sens. Il n'y a pas de layout commun. Il y a un layout Archipelago, et a

[2022-01-31 10:31] simonLouvet commented on #937
Ça me va très bien

[2022-02-01 11:55] srosset81 commented on #587
Pour mémoire, voilà la requête SPARQL qui permet de supprimer les blank nodes orphelins:

[code]

S'il y a des blanks nodes dans les blank nodes, il faut la lancer plusieurs fois.

[2022-02-02 09:08] srosset81 opened #949 "Renommer le service "fuseki-admin" en "dataset""
Le service fuseki-admin ne gère en fait que les dataset: création, backup, list...

Ce serait plus clair s'il était renommé en "dataset". On pourrait profiter du passage à la v0.4 pour le faire.

Si un jour on n'utilise plus fuseki, ou si on propose d'autre datastores, il suffirait de faire un autre service avec les mêmes fonctionnalités (comme on devrait le faire de toute façon pour le service tr

[2022-02-02 09:19] srosset81 commented on #587
Résolu temporairement ici: https://github.com/assemblee-virtuelle/semapps/pull/948/commits/d71883e5812cfde555033285579c93306bfe9607

Tous les blank nodes orphelins sont automatiquement effacés après `ldp.resource.delete` et `ldp.container.clear`. C'est une opération très légère, et de toute façon les actions n'attendent pas qu'elle soit terminée. J'ai laissé un TODO avec une possible solution de c

[2022-02-02 09:19] #587 closed, assigned to srosset81

[2022-02-04 14:12] srosset81 opened #950 "La requête SPARQL ne prend en compte plus qu'un seul container"
Avant le refacto #938 de @VincentFarcy , la requête SPARQL pouvait faire une requête sur plusieurs containers:

[code]

Avec le refacto, il n'y a plus que le premier container qui est pris en compte:

[code]

[2022-02-04 14:15] srosset81 commented on #950
Ah c'est facile à régler, je le fais sur ma PR avec les importers:

[code]

[2022-02-04 15:53] VincentFarcy commented on #950
oups merci seb !

[2022-02-07 09:58] fluidlog commented on #696
@srosset81 On pourra fermer cette issue suite à tes travaux sur Colibris ?

[2022-02-07 10:09] fluidlog commented on #686
@srosset81 Je me suis permis de te l'assigner, vu qu'elle est liée à plusieurs issues que tu suis de près... :)

[2022-02-07 10:11] fluidlog commented on #684
@srosset81 @Alice-Po Je veux bien m'affecter cette issue si la doc n'a pas été mise à jour... Ca me permettra de comprendre un peu mieux AP...

[2022-02-07 10:15] fluidlog commented on #682
Pris en compte dans le devis Colibris ?

[2022-02-07 10:24] fluidlog commented on #674
En cours avec les travaux sur la fédération...

[2022-02-07 10:31] #663 closed, assigned to GuillaumeAV

[2022-02-07 10:33] fluidlog commented on #662
A été rappelé dans le chat... (je ferme pour faire du ménage de printemps :) )

[2022-02-07 10:33] #662 closed, assigned to nobody

[2022-02-07 10:36] fluidlog commented on #670
Carto des cartos, animation de la communauté Semapps, Réunions sur les Actus de l'écosystème AV en 2022, je pense que nous répondons à ces attentes et que nous pouvons fermer cette issue assez ancienne...

[2022-02-07 10:36] #670 closed, assigned to nobody

[2022-02-07 13:51] #950 closed, assigned to srosset81

[2022-02-07 13:56] srosset81 opened #951 "On ne peut plus passer un URI préfixé pour les filtres"
Avant le refacto #892, on pouvait passer un filtre avec un préfixe, par exemple `apod:Coming`.

[code]

Maintenant on est obligé de passer l'URI complet (http://activitypods.org/ns/core#Coming). Cette possibilité était gérée sur cette ligne, qui n'était certes pas très propre:

[code]

https://github.com/assemblee-virtuelle/semapps/pull/938/files#diff-d5468c759a465c7d7483a6502494d9a032d87b045dd09b

[2022-02-07 13:59] srosset81 commented on #682
Pour Colibris je n'ai fait qu'un importeur qui fait une requête GraphQL. Il serait intéressant d'explorer la synchronisation via ActivityPub.

[2022-02-07 14:00] srosset81 commented on #686
Elle a été faite dans le cadre du chantier interop.

[2022-02-07 14:00] #686 closed, assigned to srosset81

[2022-02-07 14:01] srosset81 commented on #696
Pour Colibris je n'ai fait qu'un importeur qui fait une requête GraphQL. Cette issue concerne la synchronisation via ActivityPub.

[2022-02-07 15:43] fluidlog commented on #661
Cette notion a été récemment discuté ici : https://pad.lescommuns.org/JB4oKkzSQdyFwvDLC6jJnA
Nous n'utilisons plus la notion de template, ni boilerplate, Archipelago a été sorti de SemApps et sera un "produit".

[2022-02-07 15:43] #661 closed, assigned to nobody

[2022-02-07 15:54] fluidlog commented on #649
@bouviermullerp que fait-on de cette issue ?

[2022-02-07 15:55] fluidlog commented on #641
Cela a été fait en ligne si je ne m'abuse :)...

[2022-02-07 15:55] #641 closed, assigned to nobody

[2022-02-07 15:57] fluidlog commented on #639
Ca peut m'intéresser, je me l'affecte, voir si on peut le faire aussi côté middleware, depuis le temps, nous sommes en Node JS 16 je crois...

[2022-02-07 16:02] fluidlog commented on #638
@simonLouvet @srosset81 toujours d'actualité depuis la revue de l'authentification ? (je peux tester si vous n'avez pas le temps...)

[2022-02-07 16:13] fluidlog commented on #517
Il semble que cette issue porte l'amélioration bien pratique d'afficher les enfants du conteneur racine.

[2022-02-07 21:53] VincentFarcy commented on #951
J'ai tenté un correctif : https://github.com/assemblee-virtuelle/semapps/commit/46dd94d765a09596bb133b25b3ff6bb8e5e51b8d
Je ne suis pas certain que ça suffise : la méthode literal ajoute la valeur de l'objet entre quottes dans le code sparql.
@simonLouvet  a le même problème avec un autre filtre `filter={"aurba:externalDeleted":true}`
La valeur true est de la même manière générée entre quottes dan

[2022-02-07 22:50] VincentFarcy commented on #951
Après quelques recherches, j'ai vu qu'on pouvait caster les valeurs :
Par exemple `"true"^^<http://www.w3.org/2001/XMLSchema#boolean>`
literal accepte un 2ème argument avec le datatype.
Qu'en pensez-vous ?

[2022-02-10 17:51] simonLouvet commented on #638
je ne sais pas, à tester mais ca fait longtemps que j'a pas vu ce bug

[2022-02-10 17:59] srosset81 opened #952 "Pouvoir enregistrer les données de compte sur un autre dataset ou dans un graph settings"

[2022-02-10 19:11] srosset81 commented on #952
Fait ici pour un dataset:
https://github.com/assemblee-virtuelle/semapps/releases/tag/middleware-v0.4.0-alpha.12

[2022-02-10 19:11] #952 closed, assigned to nobody

[2022-02-14 14:07] GuillaumeAV commented on #942
Est-ce qu'il ne serait pas pertinent de convertir automatiquement toutes les images au format WebP ? Ce serait une belle politique écolo / basse conso non ?

https://nicolas-riviere.fr/2020/11/17/format-image-webp-performance-seo/
https://www.anthedesign.fr/creation-de-sites-internet/format-webp/

[2022-02-22 17:11] fluidlog commented on #406
Suite à notre discussion avec Seb pour fusionner les onglets About / Team & Governance sur le site [Semapps.org](http://semapps.org/), j'ai créé un PAD pour que vous puissiez suivre.
Merci de vérifier / ajouter des choses vous concernant au cas où j'en aurais oublié. Je vous tiendrai au courant lorsque je publierai le contenu (avant la fin de la semaine normalement)
https://pad.lescommuns.org/Lq4z

[2022-02-23 16:28] simonLouvet opened #954 "Imposible de se connecter avec le user simon.louvet.zen sur archipelago"
**Décrivez le bug**
sur https://archipel.assemblee-virtuelle.org/
"se connecter"
Le retour su sso ne redirige pas vers le front.
suspition de bug au retour du SSO

**Etapes pour reproduire**
1. navigation privée
2. "se connecter"
3. retour sur le choix de la méthode de login mais resté bloqué
4. pas de token dans le localstorage

[2022-02-24 16:02] srosset81 commented on #937
Je vais commencer à créer les packages `@semapps/list-components`, `@semapps/field-components` et `@semapps/input-components` et y mettre les composants que j'ai développé pour #955

[2022-02-24 16:25] srosset81 commented on #941
Réessayé aujourd'hui avec la dernière version de Parcel (2.3.2), mais tombé sur le même bug.

Apparemment c'est lié à cette issue: https://github.com/parcel-bundler/parcel/issues/7359

Cela ne concerne que les composants React (les fonctions JS n'ont pas de soucis d'export)

[2022-03-01 17:38] srosset81 commented on #794
Je vais implémenter maintenant cette option qui était prévue:

Ca sera utilisé pour https://github.com/assemblee-virtuelle/semapps/issues/945. Lors de la recherche des données à importer, on veut pouvoir chercher sur tous les serveurs. Je vais passer un filter `{ server: "@all" }`

[2022-03-03 16:58] VincentFarcy opened #956 "En tant qu'utilisateur anonyme on ne peut éditer une ressource malgré le positionnement des droits"
**Décrivez le bug**
Lorsque l'on ajoute un droit d'écriture à un utilisateur anonyme sur une ressource, l'édition de cette ressource reste interdite

**Etapes pour reproduire**
1. Se connecter et aller sur une ressource
2. Cliquer sur le bouton permissions
3. Ajouter un droit d'écriture
4. Se déconnecter
5. retourner sur la ressource
6. modifier la ressource
7. Voir le message d'erreur

**Comporte

[2022-03-08 16:25] #956 closed, assigned to VincentFarcy

[2022-03-08 17:59] srosset81 opened #958 "Pouvoir restaurer un ou plusieurs backups"
Le backup de Fuseki génère des fichiers de quads zippés (`.nq.gz`), mais il n'y a rien qui permet de les réimporter facilement, en particulier quand il y a plusieurs graphs (ce qui est le cas lorsque les WebACL sont activés).

Il serait bien d'avoir une action de type `restoreBackup` qui gère ça automatiquement, et peut-être aussi un `restoreAllBackups` qui lise tous les fichiers dans un dossier.

[2022-03-08 18:02] srosset81 commented on #958
J'ai fait ça mais je me suis heurté au fait que `triplestore.insert` attendant des triples et non des quads (il faut utiliser le mot clé GRAPH pour les triples qui ne sont pas dans le graph par défaut)

[code]

Je pense qu'il serait mieux de passer par un POST dans l'API de Fuseki, comme le fait l'interface. L'upload de quads marche bien, il déduit lui-même les graphs à créer.

https://jena.apache

[2022-03-11 19:12] #945 closed, assigned to srosset81

[2022-03-16 18:02] simonLouvet commented on #949
pas d'objection. J'avais baptisé "admin" par ce que d'autre opération d'admin pourrait être assumé par ce service

[2022-03-25 15:01] fluidlog opened #962 "Arrêt de Vercel - Utilisation de docker pour le frontend"
**Problématique**
Vercel, qui nous servait à publier le frontend devient payant à partir du 12 mai 2022. Nous allons donc passer progressivement tous les frontends (Archipel, Meta, etc...) sur docker (comme le middleware).

**Composants concernés**
Configuration Docker

[2022-03-31 15:34] srosset81 commented on #868
Conclusion du jour: ce serait plutôt un problème à régler côté Fuseki. Fuseki pourrait ne retourner que les resources du container accessibles par l'utilisateur, ce qui aurait une certaine logique, même si cela demanderait de traiter les containers comme des cas particuliers.

Par contre, cette vérification supplémentaire aura un coup sur les performances, et si ça se trouve, cela ralentirait enco

[2022-04-07 16:21] srosset81 commented on #941
Apparemment c'est fixé, l'issue est fermée. A tester à nouveau.

[2022-04-29 16:06] srosset81 commented on #942
@simonLouvet
On va sans doute implémenter ça pour les Chemins de la Transition
La solution qui a été implémentée dans l'ontologie PAIR (voir https://github.com/assemblee-virtuelle/pair/issues/176), c'est de définir un `ImageType` (p.ex. "thumbnail" pour l'image en miniature).
Lorsqu'on upload une image, au lieu d'utiliser un `semapps:File`, on pourrait créer automatiquement plusieurs `pair:Image`:

[2022-05-02 14:41] srosset81 opened #970 "Remplacer Lerna par Nx ou Turborepo"
Lerna a cessé d'être maintenu:
https://github.com/lerna/lerna/issues/2703

Les alternatives:
https://nx.dev
https://turborepo.org

Apparement ces alternatives sont beaucoup plus rapides que Lerna, d'où l'abandon de Lerna.

[2022-05-23 23:08] simonLouvet opened #977 "LDP PATCH gère mal les mise à jour de named Node"
**Décrivez le bug**
LDP PATCH gère mal les mise à jour de named Node.
Les prédicats de named Node ne sont pas mis à jour.

**Etapes pour reproduire**
1. vérifier une donnée par un Get
[code]
2. Faire un Patch sur cette ressource
[code]
3 vérifier la modification en faisant de nouveau un Get
[code]

Le predicat `pair:hasTopic` n'a pas été modifié

**Comportement attendu**
prise en compte du predica

[2022-05-23 23:11] #547 closed, assigned to simonLouvet

[2022-05-23 23:12] simonLouvet commented on #350
@Ancelin-Moulherat-AV cela me semble hors contexte du noyau. Est ce que je peux fermer?

[2022-05-24 07:29] srosset81 commented on #559
Il s'agissait d'ajouter des tests d'intégration pour l'upload. Je ne vois pas ça dans la PR liée.

[2022-05-24 07:30] #350 closed, assigned to simonLouvet, Ancelin-Moulherat-AV

[2022-05-24 07:33] srosset81 commented on #977
@simonLouvet Attention, ce n'est pas un bug mais le comportement attendu pour la méthode PATCH !
En effet, si certaines données ne sont pas indiquées dans la requête PATCH, on assume qu'on veut les garder. Leur absence ne signifie pas une volonté d'effacer. Dans ton exemple, si le `pair:label` n'était pas indiqué dans la requête PATCH, celui-ci resterait inchangé. Si on veut effacer une donnée, il

[2022-05-24 15:42] simonLouvet commented on #977
@srosset81 Je n'ai pas besoin d'un comportement différent pour le moment donc on laisse tel quel. Cependant les sp"cification ne sont pas claire concernant LDP PATH :
https://www.w3.org/2012/ldp/hg/ldp.html#ldpr-resource
https://datatracker.ietf.org/doc/html/rfc5789

Il est essentiellement question du cycle de vie de la donnée et que un PUT remplace alors qu'un PATCH modifie. Rien ne spécifie comm

[2022-05-25 13:36] srosset81 commented on #977
@simonLouvet C'est parce que tu considères

[code]

... comme **une** donnée sous forme d'array alors qu'il s'agit en réalité de **deux** triplets différents, qui sont combinés parce que c'est comme ça que JSON-LD formatte les données.

Si tu passais la même requête en format Turtle, tu ne t'attendrais pas à ce que http://localhost:3000/themes/theme-2 soit effacé.

Tu parles de "named node" mais i

[2022-05-25 14:08] simonLouvet commented on #977
Je suis d’accord avec l'argument de raisonner en triplet et d'imaginer le comportement attendu si le body était sérialisé en Turtle et je suis d'accord avec le résultat attendu avec ce paradigme.

[2022-05-25 14:08] #977 closed, assigned to simonLouvet

[2022-05-30 15:35] simonLouvet commented on #862
linked to #893

[2022-05-31 09:04] srosset81 opened #980 "Quand on efface un utilisateur, aussi effacer tous les droits ACL associés"
A implémenter dans le WebAclMiddleware ?

[2022-05-31 12:53] srosset81 opened #981 "Utiliser le ControlledContainerMixin pour le WebIdService"
**Problématique**
Le WebIdService est un mélange de code obsolète ou inutile qui n'a pas été revu depuis des lustres.
Sur certaines choses comme l'envoi d'événements, il y a de la confusion avec l'AuthService.

**Proposition**
On pourrait utiliser le ControlledContainerMixin pour plus facilement gérer les side-effects propres au webId.
Voir par exemple ce service créé pour les CDLT: https://github

[2022-05-31 13:44] srosset81 opened #982 "When deleting a user, delete the associated ACL rights"
This should be done via the WebAclMiddleware, but for the moment this middleware passes through `webid.create` to add user rights to the creation.

For the SPARQL query, we can take inspiration from this one:
https://github.com/assemblee-virtuelle/semapps/blob/next/src/middleware/packages/migration/service.js#L117

[2022-06-02 13:33] nikoPLP commented on #587
Il fallait surement inverser l'ordre des triplets effacés.
faire d'abord l éffacement des blanknodes,
puis seulement apres effacer la resource.

[2022-06-03 13:42] simonLouvet commented on #893
voir détails de résolution dans #985

[2022-06-09 14:07] srosset81 opened #988 "Data Provider: improve error message if ontology does not exist"
Currently, if you use an ontology for dereference, for example, that is not known to the front end, you get this critical error:

`Cannot read properties of undefined (reading 'url')`

It would be better to have a clear error message (like “Cannot find ontology: sec”).

[2022-06-10 13:59] srosset81 opened #990 "Encoder proprement le Slug passé dans le header"
Actuellement si on utilise quelque chose comme `Gouvernance d’Internet` (avec un caractère `’` qui n'est pas `'`), on obtient ce message d'erreur et la création de la ressource échoue complétement

`Failed to execute 'set' on 'Headers': String contains non ISO-8859-1 code point.`

Il faudrait s'assurer que la string soit compatible ISO-8859-1 et la convertir si besoin.

[2022-06-24 09:45] nikoPLP commented on #771
implemented as follow :

in your `ldp.service.js` file that bootstraps your LDP service, add this setting :
[code]

and in your `containers.js` config file, for each container that you want a redirect for, add this setting (example for users):
[code]

[2022-06-27 09:32] srosset81 opened #995 "Le POST et PUT en Turtle ne fonctionne plus"
C'est pourtant nécessaire si on veut être compatible LDP.

Voir discussions https://github.com/assemblee-virtuelle/semapps/pull/987#discussion_r895910826

Il faudra sans doute revoir le code fait par Niko afin d'utiliser à nouveau `resource` directement (sans `resource.body`)

Ajouter des tests pour éviter des régressions.

[2022-06-27 10:10] nikoPLP commented on #995
Il n'y a plus rien dans le code qui pourrait faire amrcher du Turtle dans les POST et PUT.
je ne sais pas a quel moment le code a disparu.
Quand vous aurez décider de quoi faire, en effet il faudra harmoniser `ldp.resource.create` et peut etre aussi le PATCh sur container, qui utilisent tous les deux le `resource.body`

[2022-06-27 10:48] srosset81 commented on #995
Faut pas dramatiser non plus :smile: Le problème est apparu sans doute quand j'ai séparé `ldp.container.post` et `ldp.resource.create`. Je crois avoir refactoré les actions put et patch à ce moment, en assumant avoir un objet. Je pense pas que c'est un gros travail de revenir à ce qui marchait avant.

[2022-06-27 14:16] #849 closed, assigned to nobody

[2022-06-27 14:17] #771 closed, assigned to nobody

[2022-06-27 14:17] #517 closed, assigned to nobody

[2022-06-27 14:17] #850 closed, assigned to nobody

[2022-06-27 14:18] #698 closed, assigned to nobody

[2022-06-28 08:04] srosset81 opened #996 "Ne plus utiliser le default graph"
Comme l'explique très bien [cet article](https://blog.metaphacts.com/the-default-graph-demystified), la spec actuelle de SPARQL ne permet pas de facilement sélectionner le graph par défaut. L'article recommande au final de ne pas utiliser le default graph:

@nikoPLP confirme que ce serait mieux de n'avoir que des named graph.

Les avantages seraient des requêtes plus lisibles et plus performantes.

[2022-06-28 10:28] srosset81 opened #998 "Le paramètre excludeFromMirror cache les containers de l'endpoint VOID"
C'est embêtant que le nouveau paramètre `excludeFromMirror` introduit dans https://github.com/assemblee-virtuelle/semapps/pull/987 a pour effet de ne pas afficher les containers dans l'endpoint VOID.

On peut vouloir qu'un container ne soit pas "mirroirable" mais tout de même avoir besoin qu'il apparaisse sur l'endpoint VOID, surtout pour le frontend puisse connaître son existence.

Cela pourrait

[2022-06-28 14:00] srosset81 commented on #996
Les requêtes sont encore pires que ça car on doit faire un UNION aussi au niveau de la première partie du WHERE. On réduirait la requête SPARQL de 30 lignes si on utilisait pas le default graph.

[code]

[2022-06-28 14:14] srosset81 opened #999 "MirrorService: si un serveur n'est pas disponible, réessayer plus tard"
Actuellement si un serveur que l'on veut "refléter" (*mirror*) n'est pas disponible au lancement du MirrorService, un message d'erreur apparait ("Mirroring failed for...") mais il n'y a pas de nouvelles tentatives.

Potentiellement, cela signifie que le processus de "réflection" (*mirroring*) est interrompu.

Il faudrait voir pour mettre un timer, ou alors un job type moleculer-bull comme on en ut

[2022-06-28 14:43] srosset81 opened #1000 "updateSingleMirroredResources ne fonctionne pas s'il y a des blank nodes"
`ldp.resource.put` est cassé avec du Turtle lorsqu'on a des blank nodes. Le GET fonctionne bien mais ensuite le PUT échoue.

J'ai essayé avec https://data.virtual-assembly.org/organizations/animacoop (qui a un blank node au niveau de `pair:hasLocation`)

J'ai essayé de remplacer avec du JSON-LD:

[code]

Cela marche à la première mise à jour, mais ensuite j'ai une erreur que je n'ai jamais eu jusq

[2022-06-29 10:36] nikoPLP commented on #999
oui et non :)
Enfin bien sur, cést faisable.
Mais il faut garder a l'esprit que le mirroring integral ne se fait qu'une fois. C"est a dire au redemarrage du serveur de mirroir, apres avoir ajouté un serveur supplementaire à copier dans sa config `servers`.
Par la suite, le serveur souscrit a l ácteur activityPub `relay` et ne va plus refaire de copie integrale.

Ce que je veux dire c'est qu'au mom

[2022-06-29 10:41] nikoPLP commented on #998
il faudrait rajouter un triple dans la reponse VOID qui indique a semapps de ne pas prendre ce container.
Ce triple sera forcement avec un prédicat de l'ontologie semapps, et pas void.
Je ne pense pas que ce soit un probleme.
par exemple `http://semapps.org/ns/core#doNotMirror` pourrait etre ajouté dans les classPartitions de la reponse void, pour tous les containers qui auraient le setting `exclu

[2022-06-29 10:46] nikoPLP commented on #1000
Ce n'est pas a proprement parler un bug lié au service de mirroir.
Dans le code du service mirroir, il n'y a rien de specifique. on recoit des données nouvelles pour une resource et on fait un PUT.
C'est le `ldp.resource.put` qui ne fonctionne pas avec des blank nodes.
Je n'ai pas modifié cette action lors de mon travail sur le service de mirroir.
Je veux bien regarder ce qui se passe, mais je me

[2022-06-29 10:50] srosset81 commented on #1000
En tout cas les performances sont mauvaises avec ce que tu as fait. Si tu as des centaines de resources à mettre à jour, ça va prendre des plombes à tout mettre à jour avec des requêtes PUT.

OK je m'occupe de faire la requête SPARQL. Ca me prendra 10 minutes.

[2022-06-29 10:51] srosset81 commented on #998
Ca me semble être une bonne solution :+1:

[2022-06-29 10:58] srosset81 commented on #999
En effet comme ça n'a lieu qu'une seule fois, c'est moins grave.

Cependant ça reste une source d'erreur et je suis pas sûr que le sysadmin regardera la console au moment du lancement. Je garde cette issue ouverte au cas où on veut implémenter plus tard le même mécanisme que ce qui est utilisé pour le POST ActivityPub, ce qui permettrait d'avoir un joli message d'erreur qui s'affiche via moleculer

[2022-06-29 11:03] nikoPLP commented on #982
If one day you program an action to delete a user profile, after deleting the user resource, please also call the removeAgentGroupOrAgentFromAuthorizations method, with a isGroup=false parameter.

[2022-06-29 11:05] nikoPLP commented on #980
From https://semapps.org/docs/others/ACL

[2022-06-29 11:06] nikoPLP commented on #982
duplicate of #980

[2022-06-29 11:12] nikoPLP commented on #1000
pourquoi tu dis ca? on avait justement decidé ensemble d'utiliser le PUT car il fait un diff. Est ce que c'est si lent que ca? En quoi une requete SPARQL va accélerer ? tu veux dire tout supprimer et tout recréer ?
Si le PUT en l é'tat actuel est lent (et buggé) alors ca concerne tout le monde, et pas seulement le `updateSingleMirroredResources`...
Ce que tu veux faire c'est de réécrire le PUT pou

[2022-06-29 12:57] srosset81 commented on #980
Je ferme car duplicate de #982

[2022-06-29 12:57] #980 closed, assigned to nobody

[2022-06-29 12:59] srosset81 commented on #1000
Je m'en occupe la semaine prochaine et je vois ce que je peux faire en prenant en compte tes commentaires @nikoPLP

[2022-06-29 13:10] srosset81 commented on #1000
Et si besoin on s'appelera.

[2022-06-30 08:52] srosset81 opened #1001 "Stop using a different dataset for WAC permissions"
As indicated by @nikoPLP in his message below, it's possible that with a more recent version of Fuseki, we could simplify the configuration of ACLs, and thus enable hot compaction.

The other advantage is that it would also fix the https://github.com/assemblee-virtuelle/semapps/issues/871 bug.

It's a big job, and one that should be funded.

[2022-06-30 08:59] nikoPLP commented on #1001
If it worked, we'd also have to make a migration tool for configuring ACLs, to recombine the 2 graphs (the 3 in fact, now that we have a graph for the mirror) into a single dataset.

[2022-06-30 10:59] srosset81 commented on #942
Après réflexion, je pense que la manière la plus propre de gérer ça en évitant d'avoir du code trop spécifique (donc non standard) côté middleware, c'est de faire la compression du côté client. Il y a de bonnes librairies pour ça:

https://github.com/fengyuanchen/compressorjs (la plus populaire)
https://github.com/WangYuLue/image-conversion
https://github.com/Donaldcwl/browser-image-compression

A

[2022-06-30 11:14] srosset81 commented on #942
Plus concrètement, le composant ImageInput de React-Admin a une prop `options` dans laquelle on peut passer [toutes les options de react-dropzone](https://github.com/react-dropzone/react-dropzone/blob/master/src/index.js).

La bonne manière de faire semble être d'utiliser l'événement `onDrop` ou `onDropAccepted` pour compresser le fichier au moment où il est sélectionner.

L'autre solution serait

[2022-06-30 13:05] nikoPLP commented on #942
tu peux aussi t'nispirer de ce que j'avais fait dans collabaction, le logiciel de ParLePeuple. j'utilise Sharp

[2022-06-30 16:13] srosset81 commented on #431
@simonLouvet @VincentFarcy @fluidlog Ah ben j'avais déjà fait une issue sur ce sujet il y a 1 année et demi :-)

[2022-07-04 08:32] srosset81 opened #1002 "Ne plus utiliser le graph mirror pour les données importées via LDP PATCH"
## Problématique
Le fait que les données importées via LDP PATCH se retrouvent dans le graph `http://semapps.org/mirror` oblige à systématiquement requêter ce graph et donc à faire des requêtes SPARQL compliquées [telles que montrées ici](https://github.com/assemblee-virtuelle/semapps/issues/996#issuecomment-1168765938) *même quand l'instance ne reflète (mirror) aucune autres instances*.

Je crain

[2022-07-04 08:52] nikoPLP commented on #1002
Je me sers de `singleMirroredResource` dans le code, et de sa valeur (le nom de domaine).

En effet je n'ai pas utilisé lastSynchronized car ca ne me servait a rien de savoir la derniere synchronisation (qui est periodique, et la meme plus ou moin spour toutes les single resources)

[2022-07-04 09:20] nikoPLP commented on #1002
Pour clarifier :
- LDP PATCH n ést pas réservé aux données qui viennent d'un autre serveur. Le PATCH sur le container permet d'ajouter ou d'enelver des resources dans ce container. Cela peut etre des resources locales ou des resources distantes. D'ailleurs, lorsqu'on ajoute une resource dans un container, la seule chose que LDP specifie c'est qu'un triplet `ldp:contains` y soit ajouté. Et c'est ce

[2022-07-04 09:34] simonLouvet commented on #1002
Comme je l'ai mentionné à la dernière réunion technique, je ne mettais pas rendu compte du comportement différent entre les données synchronisées par fetch régulier et des données synchronisées par activity pub. Je pense que les 2 modes sont utiles mais devrait dépendre du type de serveur avec lequel on veut se synchroniser que du cas d'usage (import d'une entité vs miroir complet). Une donnée imp

[2022-07-04 10:01] nikoPLP commented on #1002
ceci n'est pas possible en l' état actuel car on ne peut pas souscrire a un acteur activitypub pour seulement une resource. Lorsqu'on souscrit a l'acteur `relay` (qui est le nom que nous avons choisi) alors on recoit les mises a jour de toutes les resources du serveur. Donc on ne peut pas faire de souscription pour une resource seulement. C'etait prevu dans les specs, mais c'est passé en tache opt

[2022-07-04 10:08] nikoPLP commented on #1002
Je viens de regarder le PAD Simon, et c'est une bonne idée en effet de faire des tests de performance de maniere structurée.

Je vois la requete qui commence par `FILTER(?containerUri IN(<http://localhost:3000/organizations>))`.

Ce genre de requete est un tres bon exemple de ce qu'il ne faut pas faire.

ce filtre doit parcourir tous les triples du dataset (ca deja c'est tres mauvais) puis il doit

[2022-07-04 10:38] simonLouvet commented on #1002
je vais faire des tests dans ce sens

[2022-07-04 10:39] simonLouvet commented on #1002
Je comprends mais le serveur qui reçoit la notification pour une ressource qu'il ne possède pas peut simplement l'ignorer non?

[2022-07-04 10:43] nikoPLP commented on #1002
oui en efet, ca va lui faire tout drole quand meme de recevoir des updates pour chaque resource du serveur distant, alors qu'il est interessé par juste une resource :)

C'est un choix a faire ;)

on avait choisit de ne pas aller dans ce sens et de faire un POLL CRON a la place.

A noter que c'est toujours prevu de creer des acteur pour chaque resource dans la tache " Passer par ActivityPub pour la

[2022-07-04 11:05] srosset81 commented on #1002
Tu es sûr que `FILTER(?containerUri IN(<http://localhost:3000/organizations>))` pose problème ? On l'utilise au cas où on fait une recherche sur plusieurs containers (`FILTER(?containerUri IN(<http://localhost:3000/organizations>, <http://localhost:3000/projects>))` ).

Ce n'est pas un triple, donc je ne pensais pas que ça lançais une requête mais que ça permettait simplement de dire `?containerUr

[2022-07-04 11:08] srosset81 commented on #1002
Apparemment `FILTER` pose bien un problème de performance et il faudrait plutôt utiliser `VALUES`

https://stackoverflow.com/questions/20004956/how-to-improve-slow-query-using-filter-id-in

D'après l'auteur de ce message, en utilisant VALUES au lieu de FILTER, il est passé de requêtes à 14s à des requêtes à 2-3s !

Si c'est le cas, c'est une super nouvelle, merci @nikoPLP ! :-)

[2022-07-04 13:56] srosset81 commented on #1002
Suite à un appel avec @nikoPLP on a décidé de laisser tomber ce refactoring, pour deux raisons:
- Les performances ne devraient pas être affectée par cette UNION supplémentaire
- Comme de toute façon le PATCH sur un container LDP n'est pas censé importer la donnée externe dans le dataset, un développeur qui se base uniquement sur les specs ne s'attend pas à retrouver les données dans le dataset. L

[2022-07-04 13:56] #1002 closed, assigned to nobody

[2022-07-04 13:59] srosset81 commented on #996
@nikoPLP indique que les performances ne seront pas améliorées par ce changement, car lorsqu'on utilise `FROM`, Fuseki fait un `UNION` en background.
Un désavantage de ne plus utiliser de default graph c'est qu'un développeur "lambda" qui ferait une requête sans aucun `FROM` ne verrait aucune donnée. A moins qu'on ne l'ajoute par défaut dans le service `sparql-endpoint` lorsqu'on constate qu'aucun

[2022-07-04 14:08] srosset81 opened #1003 "Améliorer les activités utilisées par le bot relay"
**Situation**
Actuellement lorsqu'une ressource est créée, le bot `relay` émet une activité `Update` sur le container parent.
Les instances qui reflètent (*mirror*) cette instance font un `GET` sur le container et mettent à jour l'intégralité des données via PUT.

**Problème**
Le problème c'est que les `GET` sur les containers LDP peuvent être très long, et peuvent même s'arrêter avant la fin.
De

[2022-07-04 14:09] srosset81 opened #1004 "Fetcher les endpoints VOID des serveurs reflétés"
Lorsqu'on a des données miroirs, l'endpoint VOID devrait fetcher les endpoints VOID des serveurs "reflétés" pour connaître les blank nodes à déréférencer.

[2022-07-04 14:10] srosset81 commented on #998
@nikoPLP Tu veux que je m'en occupe ou tu le fais en même temps que #1004 ?

[2022-07-04 14:40] simonLouvet commented on #1002
@nikoPLP & @srosset81  Utiliser le Values à la place du Filter ne change pas grand chose.
https://pad.lescommuns.org/myZS93qkTw6h1W4etdQ7Mw?both

[2022-07-04 15:32] srosset81 commented on #1002
3 à 10% c'est pas rien quand même, et avec un dataset de 900'000 triplets j'imagine que le gain est plus important encore.

[2022-07-05 14:45] srosset81 commented on #909
Fait pour le frontend ici: https://github.com/assemblee-virtuelle/semapps/pull/997

Reste à faire pour le middleware

[2022-07-05 14:49] #794 closed, assigned to nobody

[2022-07-05 14:50] #353 closed, assigned to nobody

[2022-07-06 09:05] srosset81 opened #1006 "Formulaire d'importation: ne retourner que le titre lors de la recherche SPARQL"
**Problématique**
Actuellement quand on fait un import de resources externes (via le formulaire "Importer une ressource existante"), la requête SPARQL retourne les resources qui matchent **dans leur intégralité** (description, tous les liens, etc).

Le problème c'est que ça peut représenter beaucoup de données. Par exemple sur une recherche de documents Colibris, le résultat de la requête SPARQL f

[2022-07-06 10:01] srosset81 commented on #998
Ping @nikoPLP

[2022-07-06 11:01] srosset81 opened #1007 "Absolute IRI "xsd:dateTime" confused with prefix "xsd"."
Le message d'erreur `Absolute IRI "xsd:dateTime" confused with prefix "xsd"` apparait de temps à autre lorsqu'on fait un framing JSON-LD après avoir récupérer les données de l'endpoint SPARQL.

Le résultat est que tous les résultats de la requête sont ignorés.

Voir un exemple dans le JSON-LD playground:

https://json-ld.org/playground/#startTab=tab-framed&json-ld=%7B%22%40graph%22%3A%5B%7B%22%40i

[2022-07-06 11:20] srosset81 commented on #1007
J'ai trouvé, c'est parce que les données `pair:startDate` et `pair:endDate` ne sont pas enregistrées correctement.

Si je fais une requête SPARQL pour obtenir la date d'un événement:
[code]

J'obtiens ça:
[code]

On a `xsd:dateTime` alors que le préfixe n'est pas défini. Cela a donc été enregistré comme la string "xsd:dateTime" alors que ça aurait dû être "http://www.w3.org/2001/XMLSchema#dateTime

[2022-07-06 13:24] srosset81 commented on #1007
Bon ça ne concernait qu'une seule donnée, celle de https://data.virtual-assembly.org/events/meetup-interoperabilite

J'ai effacé les triplets fautifs avec cette requête:

[code]

[2022-07-06 13:24] #1007 closed, assigned to nobody

[2022-07-07 10:35] #354 closed, assigned to nobody

[2022-07-07 10:51] srosset81 commented on #451
Enfin ! ;-)

[2022-07-07 10:51] #451 closed, assigned to nobody

[2022-07-07 14:02] simonLouvet opened #1009 "les configurations de accept (default, defaultContainerOptions, container) n'est pris en compte si le accept http ="*/*""
**Décrivez le bug**
Le accept du defaultOptions (text/turtle) de ldp.registery n'est pris en compte si le accept http ="*/*"
Le accept du defaultContainerOptions en settings du service ldp n'est pris en compte si le accept http ="*/*"
Le accept d'un container n'est pris en compte si le accept http ="*/*"

**Etapes pour reproduire**
1. faire une requête avec http avec accept "*/*"

**Comportement a

[2022-07-08 10:30] #1009 closed, assigned to nobody

[2022-07-08 10:33] srosset81 opened #1011 "Les uploads obtenus avec un header Accept */* retournent la donnée en Turtle"
Un GET sur un fichier uploadé (p.ex. https://colibris.social/files/p1004411.jpg) avec un `Accept: */*` retourne les données en Turtle:

[code]

Si j'utilise un Accept de type `text/html` ou `image/*`, j'ai une erreur ACCEPT_NOT_SUPPORTED.
Seul l'Accept `application/json` retourne l'image.

Il faudrait retourner systématiquement l'image, quel que soit l'Accept fourni.

[2022-07-08 11:00] srosset81 commented on #1011
Le problème vient manifestement de cette ligne:

https://github.com/assemblee-virtuelle/semapps/blob/master/src/middleware/packages/ldp/services/resource/actions/get.js#L100

En cas de données Turtle, le if ne fonctionne pas.

[2022-07-08 12:23] srosset81 commented on #1011
J'ai réglé le problème temporairement en mettant un default accept JSON sur le container /files:

[code]

[2022-07-10 17:37] srosset81 opened #1013 "Miroir: si une resource a été effacée, le serveur miroir ne l'efface pas"
Voir https://github.com/assemblee-virtuelle/semapps/blob/next/src/middleware/packages/ldp/services/resource/methods.js#L12-L31

Si le serveur miroir n'arrive pas à obtenir une ressource via fetch, il envoie un message d'erreur via `this.logger.warn`. Mais rien ne se passe.

S'il y a une erreur 404 ou même 401 (plus le droit d'accéder à la ressource), il faudrait que la ressource soit supprimée du

[2022-07-12 08:36] srosset81 opened #1014 "InferenceService: pouvoir ignorer des relations inverses"
Suite à discussion: https://github.com/assemblee-virtuelle/pair/issues/173#issuecomment-1178942777

Ajouter un paramètre `inverseRelations.ignore` qui est un array avec des URI complets.

Si on indique p.ex. `http://virtual-assembly.org/ontologies/pair#topicOf`, le prédicat `pair:topicOf` ne sera jamais généré automatiquement (par contre hasTopic peut encore être généré si un `pair:topicOf` est dé

[2022-07-13 09:35] nikoPLP commented on #998
oui je m'en occuperai avec l'autre issue

[2022-07-29 14:51] srosset81 opened #1017 "Enlever ou améliorer cache VOID"
Le cache sur l'endpoint VOID n'est pas pratique du tout car, quand il est mis à jour, le navigateur ne le sait pas et charge une ancienne version.

https://github.com/assemblee-virtuelle/semapps/blob/next/src/middleware/packages/void/service.js#L272-L275

@nikoPLP tu disais que c'était requis par la spec ? J'ai de la peine à le croire tant c'est peu pratique et source de problèmes.

Sinon il faudr

[2022-07-30 08:48] srosset81 commented on #1017
J'ai supprimé le cache (f772bb2ecc035678984e1c93539217f83adcab39) car l'absence de mise à jour faisait planter toute la plateforme des Chemins de la Transition. Je laisse ouvert pour qu'on voit avec @nikoPLP si une solution via ETag est envisageable. Sinon je propose d'ignorer le cache: je pense que la plupart des endpoints VOID sont statiques car ils sont utilisés pour des bases de données docume

[2022-08-12 17:41] srosset81 opened #1020 "ldp.cache.generate est inutile"
Comme on fait un `GET` sur les containers, le paramètre `forceSemantic` est true. Or ce paramètre est utilisé comme clé pour le cache Redis.

Soit on ne prend plus en compte forceSemantic pour le cache Redis, soit il faut que `ldp.cache.generate` appelle chaque ressource une par une.

[2022-08-15 16:21] VincentFarcy opened #1021 "Indiquer le nombre d'éléments sur les filtres"
**Tension**
Est-ce que votre proposition est liée à une tension ? Décrivez-là ici.
Nope juste une proposition

**Proposition**
Une description claire et concise de ce que vous proposez.
La demande est exprimée dans une issue sur le github d'archipelago :
https://github.com/assemblee-virtuelle/archipelago/issues/7
'Indiquer le nombre d'éléments sur les filtres'
L'idée est donc d'ajouter pour chaque

[2022-08-17 09:58] VincentFarcy opened #1023 "Améliorer l'affichage des libellés tronqués dans le menu"
**Tension**
juste une amélioration visuelle

**Proposition**
Lorsque les noms de ressources sont trop longs ils sont purement et simplement tronqués dans le menu :
![image](https://user-images.githubusercontent.com/55813208/185090679-ebf6e25a-7eb2-488a-b525-457d2ddad0b9.png)
Avec un peu de css on peut obtenir :
![image](https://user-images.githubusercontent.com/55813208/185090859-af0f8024-ad78-494

[2022-08-18 07:06] fluidlog commented on #1023
Merci pour cette issue, perso, j'aime bien conserver les deux lignes, tout en pensant à ajouter des "..." pour ne pas qu'il y ait une 3ème ligne... :)

[2022-08-19 09:57] VincentFarcy commented on #1023
j'ai fait une version avec une prop labelNbRows pour choisir le nb de lignes avant le ellipsis (1 ligne par défaut)

[2022-08-26 08:32] #1011 closed, assigned to simonLouvet

[2022-08-26 15:56] srosset81 commented on #1006
J'ai commencé le travail au niveau du data provider ici: https://github.com/assemblee-virtuelle/semapps/pull/1026
Reste à l'implémenter dans le formulaire de recherche.

[2022-08-30 20:09] VincentFarcy opened #1027 "Problème de validation avec MarkdownInput"
**Tension**
Besoin exprimé dans les issues d'archipelago
https://github.com/assemblee-virtuelle/archipelago/issues/43

**Proposition**
La gestion de la validation des inputs markdown est incomplète.
Si la champ est défini comme requis, il faut :
- une étoile à côté du label
- et lorsque le champ est vide : le label coloré en rouge, le textarea entouré en rouge et un message d'erreur rouge en desso

[2022-09-01 11:50] VincentFarcy opened #1030 "Pouvoir ordonner tous les éléments du menu de gauche (avec ou sans enfants)"
**Tension**
Proposition liée à une issue d'archipelago : https://github.com/assemblee-virtuelle/archipelago/issues/10

**Proposition**
Actuellement on ne peut pas choisir complètement l'ordre d'affichage des éléments du menu de gauche.
Les éléments du menu qui ont des enfants (ex: Concepts) apparaissent obligatoirement au-dessus de ceux qui n'ont pas d'enfants (ex: Idées).
La proposition est de pe

[2022-09-01 20:50] VincentFarcy opened #1032 "Problème de réinitialisation du moteur de recherche"
**Décrivez le bug**
Suite issue Archipelago : https://github.com/assemblee-virtuelle/archipelago/issues/76
Lorsque je recherche une organisation, avec un mot clé, puis que je retire ce mot clé pour réinitialiser la recherche, je n'arrive pas à retrouver la liste d'origine sans devoir recharger la page.

**Etapes pour reproduire**

1. Aller sur les organisations
2. Rechercher "assemblo" (qui n'exis

[2022-09-01 21:54] VincentFarcy commented on #1032
Autre point : lorsque l'on clique sur une autre ressource dans le menu et que l'on revient sur la ressource ayant fait l'objet d'une recherche, le filtre est toujours en place. Le seul moyen de retrouver la liste non filtrée est d'actualiser la page.

[2022-09-01 21:58] VincentFarcy commented on #1032
Solution proposée :
- Lorsque l'on efface le critère de recherche et qu'on l'on recherche à nouveau, la liste complète réapparaît.
- après une recherche, lorsque l'on clique sur une autre ressource dans le menu à gauche et que l'on revient sur la ressource initialement filtrée, le critère de recherche est visible dans le champ de saisie.
Ainsi, on sait de quoi la liste affichée est constituée et l

[2022-09-02 08:27] #1027 closed, assigned to VincentFarcy

[2022-09-02 08:28] #1030 closed, assigned to VincentFarcy

[2022-09-05 12:55] #1032 closed, assigned to VincentFarcy

[2022-09-06 13:54] srosset81 opened #1034 "Proposer un CoreService pour faciliter la configuration de serveurs SemApps"
**Tension**
Mettre en place un serveur SemApps implique maintenant d'importer et configurer une douzaine de services. C'est long et ça oblige à dupliquer le code entre les différents produits (Archipelago, OrganiGraph, ActivityPods, les nouveaux ActivityPub bridge et miniparcours...)

**Proposition**
Créer un `CoreService` qui inclus par défaut les services suivants:

- ActivityPub (requis pour Mi

[2022-09-06 15:09] srosset81 opened #1035 "Breaking changes à faire avant passage à la v0.5"
- [x] https://github.com/assemblee-virtuelle/semapps/issues/949
- [ ] ActivityPub: renommer setting `baseUri` en `baseUrl` (pour harmoniser)
- [x] TripleStore: utiliser `url`, `user`, `password` et `mainDataset`
- [ ] Ne plus exporter directement aucun service
- [ ] DataProvider: renommer `ressources` en `dataModel` ?

[2022-09-07 10:05] srosset81 opened #1038 "Mieux gérer les token JWT invalides"
**Tension**
Quand un token JWT est invalide, ça renvoie des erreurs 401 partout (notamment sur l'endpoint VOID) mais il n'y a pas de message d'erreur clair. Cela se produit surtout pour les développeurs qui ont plusieurs apps sur le même domaine (localhost)

**Proposition**
Afficher un message d'erreur
Supprimer le token JWT, car de toute façon l'utilisateur ne pourra rien en fait.

[2022-09-07 13:48] srosset81 commented on #949
@simonLouvet J'ai fait une PR sur #1036 mais je me demande quand même si ça serait pas logique que ce service soit un sous-service du TripleStoreService. Car après tout, la gestion de dataset concerne à 100% le triple store.

[2022-09-13 13:28] srosset81 commented on #949
Pour finir j'ai donc mis le service dans le package `triplestore` et il est initié automatiquement par le service `triplestore`.

Ce qui m'a décidé c'est le fait qu'on doive passer exactement les même settings aux deux services.

[2022-09-13 13:28] #949 closed, assigned to nobody

[2022-09-13 13:30] srosset81 commented on #1034
Fait. Je me demande quand même si c'était judicieux d'inclure le MirrorService. D'un côté on a envie d'encourager la présence de ce service pour pouvoir faire du mirroring depuis d'autres serveurs, mais d'un autre, il demande d'avoir un container où créer le bot `relay`, donc ça complique la configuration de base (même si j'ai inclus un container /bots dans les containers par défaut)

[2022-09-13 13:30] #1034 closed, assigned to srosset81

[2022-09-15 09:10] srosset81 commented on #1034
A noter que pour le moment, il faut configurer un service `auth` pour que le CoreService se lance bien, car le service Webfinger a besoin du sous-service `auth.account`. Je vais voir pour supprimer cette dépendence.

[2022-09-18 08:38] nikoPLP commented on #1017
dans notre spec du travail sur l'interop. C'etait dans le cahier des charges de mon travail. Mais pas de probleme que tu aies enlevé le cache.

[2022-09-18 08:42] nikoPLP commented on #1013
en effet il faudrait l'enlever si on obtient une 404 ou 401.
A mon avis, il faudrait aussi dans ce cas enlever le ldp:contains
Je peux le faire. dites moi ce que vous en pensez

[2022-09-18 09:50] srosset81 opened #1039 "Afficher dans la console les données disponibles"
**Tension**
Maintenant qu'on peut afficher plein des données de pleins de différentes sources, chargées via VOID, c'est difficile de savoir ce qui est disponible.

**Proposition**
Une fois que tous les données VOID ont été chargée, afficher dans la console du navigateur un récapitulatif de tous les serveurs disponibles, et de tous les types de données disponibles dans les serveurs

[2022-09-19 12:41] srosset81 commented on #1013
@nikoPLP Oui effectivement il faudrait aussi supprimer le `ldp:contains` du container parent.

[2022-09-21 06:21] srosset81 commented on #947
Guide de migration complet:
https://marmelab.com/react-admin/doc/4.0/Upgrade.html

[2022-09-22 07:59] simonLouvet opened #1040 "filtre q n'est pas appliqué sur les container fetch"
**Décrivez le bug**
frontend
La recherche (filter q)  ne fonctionne pas pour un container paramétré pour faire un fetch et non du sparql.

**Etapes pour reproduire**
1. Aller sur un ecran de liste d'un container paramétré en fetch
2. faire une recherche
3. la liste n'est pas filtrée

**Comportement attendu**
liste filtrée

**Système**
tous navigateur