[2020-10-20 10:04] ValentineMathieu commented on #405
Hello @assemblee-virtuelle/semapps ! Avec @anika-d on a bien avancé sur cette maquette de page d'accueil ! On l'a faite dans les couleurs de notre logo en attendant d'avoir un échange téléphonique avec Benoit, mais bien évidemment tout ceci est modifiable ! :) n'hésitez pas à nous apporter vos commentaires et idées, même si ce n'est pas encore fini à 100%. Je vous partage le [lien canva](https://w

[2020-10-20 11:36] BenoitFerchaud commented on #401
C'est aussi de ma faute @bouviermullerp , car je crois que tu m'avais dit de créer le ticket et que je t'avais demandé de le faire pour moi. Je ne peux pas t'en vouloir de l'avoir oublié. On va certainement se voir bientôt avec Valentine et Anika, je n'ai pas encore regardé ce qui a été fait mais je suis évidemment d'avis d'essayer d'en retirer quelque chose dans la mesure du possible.

[2020-10-20 13:11] srosset81 commented on #405
Super top ! Beau travail :-)

[2020-10-21 12:58] #389 closed, assigned to simonLouvet

[2020-10-21 13:17] bouviermullerp commented on #350
La première instance est livrée - 170 personnes, mail, téléphone.
Pour les organisations, salle dans laquelle ils étaient, etc..
Une seconde version va essayer d'être livrée avec des données supplémentaires.

[2020-10-21 13:19] bouviermullerp commented on #374
A Gabriel d'ajouter un ou 2 paragraphes avant envoie.

[2020-10-21 13:24] bouviermullerp opened #407 "Informer les utilisateurs coographie"
Envoyer un email à tous les utilisateurs/personnes de coographie qui verront leur profil supprimé afin de respecter le RGPD (ces personnes avaient été créées suite au meetup)
lié à #385

[2020-10-21 13:33] bouviermullerp commented on #349
2 fonctionnalités importantes :
- La recherche - intégrer sparnatural ?
- La fédération, pouvoir crééer des organisations ayant déjà une URI

[2020-10-21 13:58] Rouffi opened #408 "Faciliter une réunion UX Design"
Présentation de la vision et compréhension de Semapps d'un point de vue Design d’expérience utilisateur sous la forme de Slides lors d'une première réunion d'1h.

Ordre du jour proposé :
- Présentation des **ressources** identifiées (technique, documentation, graphique, humaine, ...)
- Présentation des **Challenges** pour les utilisateurs (architecture d'information visuelle, gestion des données,

[2020-10-21 16:09] ValentineMathieu commented on #406
@assemblee-virtuelle/semapps J'ai travaillé sur des exemples de pages team et governance (c'est toujours fait avec notre logo et ses couleurs mais cela peut changer), ce n'est pas fini, j'attends de recevoir les apports d'Anika, mais je vous partage [le lien](https://www.canva.com/design/DAELOKkzMJ0/WPK0u2SmizYLxkqcKNrynA/view?utm_content=DAELOKkzMJ0&utm_campaign=designshare&utm_medium=link&utm_so

[2020-10-22 08:57] ValentineMathieu commented on #401
Lien pour le [PAD charte graphique](https://pad.lescommuns.org/FVoMMJ89TPKYqC8FkXza5w)

[2020-10-22 12:41] ReX-AV-Gab commented on #408
Pour info, il y a une réflexion en cours sur le concept de chantier numérique permettant notamment aux contributeurs potentiels de mettre le pied à l'étrier rapidement et de façon relativement autonome sur un périmètre maîtrisé.

[2020-10-22 13:13] ReX-AV-Gab commented on #374
Fait :)

[2020-10-22 16:29] srosset81 commented on #349
Intégrer Sparnatural dans le code React-Admin ne semble pas évident, car Sparnatural utilise jQuery et les manières de fonctionner de React et jQuery sont assez peu compatibles.
@tfrancart Tu pensais supprimer jQuery de Sparnatural, est-ce que c'est toujours prévu et, si oui, à quelle échéance ?

[2020-10-23 07:46] Alice-Po commented on #405
@ValentineMathieu Est ce qu'on a une charte graphique ?

[2020-10-24 10:09] ValentineMathieu commented on #405
@Alice-Po On est sur le coup avec @BenoitFerchaud et @anika-d :)

[2020-10-26 13:58] bouviermullerp commented on #398
@GuillaumeAV est-ce que tu énergises cette carte ?

[2020-10-26 14:01] bouviermullerp commented on #397
J'étais un peu précurseur alors en créant l'issue #3 l'année dernière au tout début du projet :D
En tout cas, plusieurs clients vont avoir besoin de cette vue, passerelle normandie et CdlT à minima.

[2020-10-26 14:03] bouviermullerp commented on #3
Close as duplicate of #397

[2020-10-26 14:03] #3 closed, assigned to nobody

[2020-10-27 01:14] simonLouvet opened #409 "ajout la possibilité de fournir une base_url au sparql endpoint"
Le service ldp permet de lui fournir un baseUrl ce qui permet notamment que le servuer ldp reponde à un path de type http://domaine/middleware/container.
Le service saprql_endpoint ne le permet pas.

contournement possible : https://github.com/data-players/passerelle_normandie/blob/main/server/services/api.service.js

exemple ci dessous du contournement
SEMAPPS_HOME_URL = http://domaine/middleware

[2020-10-28 01:30] srosset81 commented on #408
Hâte de voir cette présentation ! Un petit framadate ? :-)

[2020-10-28 01:33] srosset81 commented on #406
@ValentineMathieu Les notions de "Scrum master" et de "Product owner" ne sont plus trop d'actualités, ce qui compte maintenant ce sont plutôt les [rôles](https://semapps.org/docs/governance/organisation%20and%20role).

J'aime bien la présentation en cercles, mais je crains que ce soit difficile à transformer en HTML, surtout du HTML qui s'adapte aux différentes tailles d'écrans (paramètre malheure

[2020-10-30 08:49] GuillaumeAV commented on #398
Hellooo !

oui en effet, j'énergise cette carte, on a eu un appel la semaine dernière avec la responsable du projet, elle a bien compris le contexte qui est le notre : R&D, incertitude liée aux difficultés techniques et aux cofinancements (on est pas sur du Wordpress)

Elle comprend également l'approche agile et sa pertinence dans ce contexte.

Les 2 gros besoins sont la carte et le fil d'actus. E

[2020-10-30 09:00] GuillaumeAV commented on #408
Hâte aussi de voir cette présentation, désolé de n'avoir pas pu être là au dernier sprint ou tu pensais présenter tes premiers travaux @Rouffi  !

[2020-10-30 10:40] ValentineMathieu commented on #406
@srosset81 merci pour ton retour ! Je vais re-proposer une disposition différente, peut être que je pourrais essayer de fusionner les pages team et governance si cette dernière n'est plus tellement d'actualité ? Ok je vais tenter de simplifier tout cela :)

[2020-10-30 11:28] ValentineMathieu opened #410 "Conception d'une charte graphique pour SemApps"
Issue interdépendante avec [l'issue du logo](https://github.com/assemblee-virtuelle/semapps/issues/401)
lien vers [le PAD](https://pad.lescommuns.org/FVoMMJ89TPKYqC8FkXza5w?both#Version-Web---r%C3%A9solution--72PPI) de cette charte
Lien vers la [planche de travail](https://www.figma.com/file/RYGi4GaRTuFRYs0MstHOnQ/Planche-Id%C3%A9es-Logo-SemApps?node-id=0%3A1)
Travail en trinôme avec @BenoitFercha

[2020-10-30 12:24] srosset81 commented on #406
Oui je pense qu'une fusion aurait du sens !

[2020-11-04 11:29] ValentineMathieu commented on #406
@assemblee-virtuelle/semapps Hello tout le monde ! J'ai apporté pas mal de modifications aux pages team et governance, que j'ai décidé de fusionner suite aux conseils de Sébastien ! Je me suis permise de reformuler certaines phrases (surtout dans la présentation de l'organisation des rôles SemApps), dites moi ce que vous en pensez :) Et @srosset81 j'ai essayé de faire plus simple que les cercles q

[2020-11-04 11:30] ValentineMathieu commented on #406
@srosset81 est-ce que j'ai besoin de détailler chaque rôle comme je l'ai fais pour l'onboarding, ou un modèle suffit ?

[2020-11-04 12:22] ValentineMathieu commented on #374
@srosset81 @ReX-AV-Gab J'aimerais envoyer la newsletter aujourd'hui, je finis juste d'apporter les dernières modifications à la [version en anglais](https://pad.lescommuns.org/JyhTMTeYSjuU0-5bXghO_A) que j'ai proposé :) Est-elle bien ready ? il me semble, mais elle est notée "not ready" sur la pull request donc je pose la question quand même !

[2020-11-04 13:58] simonLouvet commented on #327
Je propose de faire une documentation pour la création d'un projet complet qui se base sur  les briques semapps :
- création d'un serveur (déjà fait);
- création d'une interface (déjà fait existant);
- industrialisation (docker);
- link entre noyau semapps et projet client (yarn link)

Ce n'est pas vraiment un moyen de contribuer au noyau mais un moyen de faire un projet avec semapps avec la possi

[2020-11-05 13:58] srosset81 commented on #374
@ValentineMathieu Ca a l'air tout bon ! J'ai mis la PR en ready.
Du coup tu mets l'anglais sur la PR (pour le docusaurus), et tu envoies en français ?

[2020-11-06 15:34] srosset81 commented on #406
Salut @ValentineMathieu
J'aime bien, notamment la séparation en trois équipes.
Je reste quand même un peu inquiet pour l'intégration dans le site web. Je ne sais pas si j'aurai beaucoup de temps à consacrer à ça, et ça va être pas mal de boulot. Est-ce qu'il y a d'autres personnes qui ont des capacités en intégration React ?

[2020-11-10 09:46] ValentineMathieu commented on #374
@srosset81 Anglais ajouté à la PR :) je peux la merge ? Yes je pensais l'envoyer en francais comme demandé, peut être je peux donner un lien vers le PAD de la version anglaise pour les intéressés ? ou la faire suivre directement derrière la version française (risque que ce soit un peu long), qu'en penses-tu ? Sinon j'ai bien demandé à Guillaume, je me réfère à la synthèse du tableau AV membres et

[2020-11-10 09:50] srosset81 commented on #374
Tu peux supprimer le français ? Le site est 100% en anglais pour le moment.
Lorsqu'on aura une version française, on pourra retrouver le texte et le mettre.

:+1:

Si Guillaume est OK ça me va, je ne connais pas les fichiers de l'AV.
S'assurer qu'il y a bien les personnes qui ont participé aux meetups SemApps.

[2020-11-10 10:01] ValentineMathieu commented on #374
J'ai supprimé le français :) J'ai copié le texte sur mon PAD au cas où, mais sinon j'imagine que vous en avez une copie quelque part. Je prépare l'envoi, et je redemande confirmation à Guillaume pour les participants du meetup !

[2020-11-10 11:47] simonLouvet opened #411 "ajouter un template Archipelago"
Le Template react actuel est un Template REACT Admin brut.
Les avancées sur des composants plus ergonomiques (archipelago) ne profitent pas d'un template pour déployer des instances de serveur

[2020-11-10 12:09] simonLouvet opened #413 "pas de context transmis par semantic-data-provider sur un put avec des relation"
cas d'usage avec archipelago:
créer un foaf:person ok
modifier un foaf:person ok
modifier un foaf:person avec un foaf:knows ko => pas de @context transmis au middleware

[2020-11-11 11:21] ValentineMathieu commented on #374
@srosset81 Tout est bon au niveau de la liste des contributeurs/sympathisants/CA (+ participants aux meetup), j'ai bien tout inscris sur Tinyletter, configuré la newsletter, et envoyé. Cependant, en vérifiant auprès de Guillaume ce matin, j'ai l'impression que l'envoi ne s'est pas effectué. J'ai donc contacté Tiny Letter Support pour voir avec eux quel était le problème, car je me suis renseigné e

[2020-11-11 11:25] ValentineMathieu opened #416 "Ajout du Code Social au site vitrine"
Sur les conseils de Pierre, je pensais donner l'accès au code social de l'AV sur le site vitrine de SemApps, je pense l'ajouter sur [les maquettes](https://www.canva.com/design/DAELDIilV7g/share/preview?token=EZYIyhruCv3hRjO_-aUC6g&role=EDITOR&utm_content=DAELDIilV7g&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton) des pages de présentation "About SemApps".
Cependant, j'ai cru comp

[2020-11-11 14:35] srosset81 opened #417 "Ajouter un WebID au package sparql-endpoint"

[2020-11-11 15:17] srosset81 opened #418 "Permettre d'insérer des triples dans un graph donné"
Ajouter un paramètre `graph` à l'action `triplestore.insert` qui permettrait d'insérer des triples dans un graph donné:

Selon les [specs](https://www.w3.org/TR/sparql11-update/#insertData), la requête SPARQL ressemble à ça:

[code]

[2020-11-11 16:47] #413 closed, assigned to nobody

[2020-11-11 16:49] #411 closed, assigned to nobody

[2020-11-11 18:10] simonLouvet commented on #417
peux tu expliquer @srosset81 , du mal a comprendre la proposition.

[2020-11-11 18:12] simonLouvet commented on #418
++

cela va de pair avec le fait de pouvoir spécifier un graph dans l'api sparql ou que l'api sparql requete tous les graphs.

[2020-11-11 18:16] simonLouvet commented on #334
déjà fait.

[2020-11-11 18:30] simonLouvet opened #419 "guide pour initialiser, configurer et déployer une application complète back+front"
Les guides existants permettent de lancer un projet (middleware + app) mais il manque les éléments
* configuration des variables d’environnement
* configuration des ontologies, du contexte, des ressource
* projet industrialisé (container + docker-compose)
* branchement au code source du noyau semapps pour débogage et pouvoir contribuer
* déploiement sur un environnement de production (https, confi

[2020-11-11 18:30] simonLouvet commented on #419
pour me permettre d'arriver à un resultat rapidement, je le rédigerai en francais. Un coup de main pour traduire serait le bienvenue

[2020-11-11 18:52] srosset81 commented on #417
Contrairement au package `ldp`, le package `sparql-endpoint` ne passe pas le webID de l'utilisateur loggé à Fuseki.

[2020-11-11 19:26] srosset81 commented on #418
Je ne crois pas que "requêter tous les graph" est possible avec SPARQL. Il faut impérativement connaître le nom du graph pour pouvoir le requêter.

[2020-11-11 19:27] srosset81 commented on #334
Ah bon, où ça ?
On parle d'une action qui peut être appelée depuis un autre service Moleculer.

[2020-11-11 19:31] simonLouvet commented on #334
Je  pensais à ce que on fait dans le service api

[2020-11-11 19:32] simonLouvet commented on #418
Oui mais je parle de l'API http

[2020-11-11 20:59] simonLouvet commented on #417
ok j'ai compris merci. Je suppose que c'est pour pouvoir appliquer des ACL à une requête SPARQL.

[2020-11-11 21:10] simonLouvet commented on #416
je pense qu'on peut le publier en précisant qu'il est en cours de refonte

[2020-11-12 06:49] srosset81 commented on #334
Dans le service api on appelle la *method* addRoute, pas l'action.

[2020-11-12 13:40] ValentineMathieu opened #421 "Rédiger un mail d'accueil des nouveaux arrivants (et automatiser son envoi)"
L'idée (approuvée par @ReX-AV-Gab) serait de rédiger un mail d'accueil pour les nouveaux contributeurs, qu'ils recevraient automatiquement à l'aide d'un plugin type Mailpoet par exemple. Ce mail permettrait de présenter brièvement le projet SemApps, donner les informations et liens nécessaires à une bonne contribution. Il ne remplacera bien évidemment pas l'onboarding de vive voix, ainsi que l'itw

[2020-11-12 18:19] #403 closed, assigned to srosset81

[2020-11-13 08:20] srosset81 opened #422 "Mettre à jour React-Admin vers v3.10"
Si on mets simplement à jour le package, tout est cassé (i18n, data provider) et il y a des warnings.

[2020-11-13 08:28] srosset81 opened #423 "Backup automatique des uploads"
Pour l'instant on a un service pour [automatiser le backup du triple store](https://github.com/assemblee-virtuelle/semapps/pull/375).

Reste à ajouter de quoi faire un backup des uploads.

[2020-11-13 14:00] srosset81 opened #424 "Créer un service Moleculer pour gérer le fichier de context"
- Nom du service `ContextService` ?
- Nom du package `@semapps/context` ?

A inclure:
- Sortir le code d'ApiService
- Une action `getUrl` pour récupérer l'URL du fichier

Idéalement:
- Construire le fichier de context selon certains paramètres (notamment l'objet `ontologies`) et le mettre en cache. A faire peut-être plus tard ?

[2020-11-13 14:00] srosset81 opened #425 "Utiliser la nouvelle config hotReloadModules de Moleculer"
https://github.com/moleculerjs/moleculer/pull/779

[2020-11-13 16:51] simonLouvet commented on #418
@srosset81 je precise étant donné que tu est confus :-).
j'aimerai que le enpoint sparql de semapps  puisse exécuter la requête souhaité sur tous les graph OU que le graph soit précisé de manière simple (en paramètre l'url par ex?).
Je pense qu'il faudrait également qu'un container LDP puisse être configuré pour être "bganché" sur un graph.
Je me pose aussi la question de la relation entre dataset

[2020-11-13 16:52] simonLouvet commented on #418
on en discute vendredi prochain (20/11) ?

[2020-11-13 17:32] srosset81 commented on #418
Les datasets et les graphs sont deux choses indépendantes, chaque dataset pouvant avoir plusieurs graphs. J'ai l'impression que l'on mélange les choses-là...
Quant au package `sparql-endpoint`, je ne vois pas l'intérêt de pouvoir préciser le graph en paramètre, puisqu'on peut faire ça très bien à l'intérieur de la requête SPARQL elle-même. Ce que tu proposes reviendrait à modifier la requête SPARQ

[2020-11-16 08:56] #234 closed, assigned to srosset81

[2020-11-16 08:56] #385 closed, assigned to srosset81

[2020-11-16 12:49] srosset81 commented on #335
Fait

[2020-11-16 12:49] #335 closed, assigned to srosset81

[2020-11-16 15:31] simonLouvet commented on #418
oui, on peut mettre plusieurs graph dans un dataset mais je n'en voie pas beaucoup l’intérêt. Mon besoin est de pouvoir isoler une parti de l'information pour pouvoir ajouter un jeux de triplet à un semapps sans perturber le dataset principale et pouvoir le requête depuis le API.

[2020-11-16 15:43] srosset81 commented on #418
Du coup ça n'a pas de lien avec cette issue, qui est liée à d'autres besoins...

[2020-11-19 09:50] arthurzenika opened #426 "Organisation > cacher le bouton "Créer" en Anonyme"
:clap: pour application, elle est très chouette. Bravo à toutes et tous.

Sans authentification, le bouton "Créer" sur https://archipel.assemblee-virtuelle.org/#/Organization est disponible, et l'accès n'est refusé que lors de la soumission du formulaire, le boutton Enregistré s'active également.

![Screenshot from 2020-11-19 10-49-46](https://user-images.githubusercontent.com/445200/99649872-076b

[2020-11-19 11:07] simonLouvet commented on #406
@ValentineMathieu j'aime boen le découpage que tu as fait dans les 3 "méta-role" et je pense que tu peux t'en servir pour structurer plus globalement ta pensée/présentation. Le dernier slide reprends des termes que nous n’utilisons pas volontairement. Par contre tu mets en évidence les technicals advisors et nous n'avons pas identifié ce rôle et je pense que cela manque. Le probleme c'est que nous

[2020-11-19 11:33] ValentineMathieu commented on #374
@assemblee-virtuelle/semapps **J'ai besoin de vos avis** : comme vous avez pu le voir dans le dernier post que j'ai publié sur Element, je voudrais utiliser MailPoet, outil déjà utilisé par l'AV, pour envoyer notre NL. Cependant, la liste des abonnés à la NL de l'AV (800) ont choisi de s'abonner à la NL de l'AV et pas à celle de SemApps (même si c'est lié).
J'en ai parlé avec @bouviermullerp, qui

[2020-11-19 11:41] srosset81 commented on #374
Je pense qu'il faudrait quand même inscrire "de force" les gens qui ont manifesté un intérêt pour SemApps, soit en participant à un meetup, soit en contribuant, soit en étant lié d'une manière ou d'une autre au projet. J'imagine que la sélection n'est pas facile. Mais si on part de 0 avec que des inscriptions volontaires, on risque d'envoyer la première newsletter à 10 personne ;-P

[2020-11-19 11:44] ValentineMathieu commented on #374
pas faux !

[2020-11-19 11:46] J9rem commented on #374
Sauf que pour rester en conformité avec le RGPD, nous ne pouvons pas inscrire de force des gens qui n'ont pas explicitement exprimé leur envie d'être sur cette liste de diffusion.

Au moins, est-ce que @ValentineMathieu tu peux trouver un moyen de leur envoyer un lien de validation d'inscription ? S'ils ne font rien, ils ne sont pas inscrits.
S'ils cliquent sur le lien, ils sont inscrits et consen

[2020-11-19 11:47] J9rem commented on #374
J'ai fait ça pour une liste de personnes intéressées par la transition à Lorient.
En un week-end, plus de 70 personnes ont cliqué sur le lien.

[2020-11-19 11:56] ValentineMathieu commented on #374
@J9rem oui c'est ce que je me disais :/
Cela peut être une bonne idée, si j'ai bien compris il suffirait de créer une framaliste avec tout le tableau des contributeurs et sympathisants de semapps, et cela va leur envoyer un mail leur permettant d'accepter ou non de faire partie de cette liste d'envoi de la NL ? Parce que MailPoet n'a pas de fonction de la sorte, un mail de confirmation s'envoie un

[2020-11-19 11:57] J9rem commented on #374
Attention framaliste est surchargé, peut-être installé un serveur SYMPA chez nous ?
mais en termes de passage des filtres antispam mailpoet et autres sont plus robustes

[2020-11-20 11:11] ValentineMathieu commented on #374
@J9rem je n'ai pas tellement compris haha, on pourrait en parler en privé ? ou quelqu'un de compétent dans ce domaine pourrait réagir ?

[2020-11-22 18:11] srosset81 commented on #379
Un serveur Linked Data Fragment est très facile à mettre en place, il suffit de suivre les instructions ici:

https://github.com/LinkedDataFragments/Server.js/tree/master/packages/server

En éditant un [fichier de config](https://github.com/LinkedDataFragments/Server.js/tree/master/packages/server#configure-the-data-sources), on peut ajouter plusieurs SPARQL endpoints, et ainsi potentiellement fai

[2020-11-22 18:18] srosset81 commented on #353
Je pensais que, pour appliquer l'option 1, il faudrait développer un serveur spécial qui se baserait sur Elasticsearch. Mais en fait on peut utiliser directement Elasticsearch sans aucune surcouche.

Il serait facile de créer un service Moleculer qui écoute quand une ressource LDP est créé / modifiée / supprimée, qui l'indexe directement sur un serveur Elasticsearch via le client Node d'ES (voir [

[2020-11-22 18:27] simonLouvet commented on #353
Intéressant et viable. L'indexation du triple store ne suffirait pas?

[2020-11-22 18:41] srosset81 commented on #353
Cette issue est en lien avec la requête fédérée: rechercher des ressources dispersées sur plusieurs instances SemApps.

[2020-11-22 18:59] simonLouvet commented on #353
En fait j'avais lu trop vite que tu donnais une solution spécifique pour l'option 1 et je suis d'accord avec ce que tu dis. J'ai répondu en penssant que tu remettait le choix d'implémentation choisi pour me court terme ce qui n'est pas le cas, dsl.

[2020-11-23 13:59] ValentineMathieu commented on #374
Grâce à l'aide de @J9rem je vais tester l'utilisation d'une framaliste pour permettre aux contributeurs/sympathisants de nous autoriser ou non à recevoir la NL SemApps, que j'enverrai probablement à l'aide de Mailpoet, je vous tiens au courant des avancées :) N'hésitez pas à commenter si vous avez des suggestions et autres avis à partager !

[2020-11-23 16:36] srosset81 opened #429 "Proposer un container LDP racine"
Les [specs sur les webACL](https://github.com/solid/web-access-control-spec#acl-inheritance-algorithm) parlent de "containers racine" (_root containers_), c'est en lien avec des "users' accounts", donc on voit que c'est pensé plutôt en relation avec un serveur SOLID et un POD.

Le document LDP Primer parle aussi de "root container", et le mets en relation avec un utilisateur:
https://www.w3.org/TR

[2020-11-23 17:20] srosset81 opened #430 "Mettre à jour les ressources LDP de manière plus intelligente"
Pour l'instant, pour les méthodes `PUT` et `PATCH` du service `ldp.resource`, on efface les anciens triplets et on ajoute les nouveaux.

Il serait préférable d'avoir une gestion plus intelligente des triplets, qui identifie ceux qui ont subit des modifications et ne modifie que ceux-ci.

Cela va être important pour le chantier des WebACL, puisqu'il existe un droit `acl:Append` qui permet d'ajouter

[2020-11-23 17:25] srosset81 opened #431 "Pouvoir déplacer une ressource LDP vers un autre container"
Garder en mémoire l'ancien URL (pour qu'il ne puisse plus être utilisé) et y mettre une redirection 301.

Mettre à jour les URLs dans le triple store.

[2020-11-23 17:36] srosset81 opened #432 "Ne plus utiliser les sessions Express pour le Connector"
Cela peut facilement poser des problèmes (@nikoPLP a des erreurs sans doute à cause de ça)

De plus, ce n'est pas une bonne pratique car ça empêche de faire du load balancing sur plusieurs serveurs.

Le mieux serait de passer les paramètres via un URL de redirection, s'il est disponible pour les deux types de connecteurs (CAS et OIDC)

[2020-11-23 18:06] srosset81 commented on #317
J'ai des problématiques avec la configuration des container par settings Moleculer, car il est difficile de passer ces settings (en particulier dans mon cas, le contexte JSON-LD par défaut) à d'autres services.

Pour le maximum de flexibilité, il serait préférable que ces paramètres de containers soient enregistré dans le triple store. N'importe quel service pourrait ainsi lire ces paramètres et a

[2020-11-24 13:34] GuillaumeAV commented on #353
Au fait l'idée du [bouton rouge](https://www.figma.com/proto/dgfKKQHSc1sm3JPw68hSL0/Id%C3%A9e-ajout-lien-SemApps?node-id=1%3A2&scaling=min-zoom) (voir début du fil) est très cool je trouve ! que ce soit pour ajouter des ressources présentes sur l'instance ou ailleurs

[2020-11-24 16:15] Rouffi commented on #408
Voici un framadate https://framadate.org/dTBCR4l83okMySH2

[2020-11-24 17:09] simonLouvet commented on #301
j'ai pas d'autre solutions que la désactivation du cache à première vu. Sinon, il faudrait analyser les requêtes de mise à jour envoyées directement au service triplestore (pour invalider le cache des entités concernés) ou que les services  (ldp notament) qui font des mise à jour du triplestore invalident eux-même les caches concernés.

[2020-11-25 04:55] simonLouvet commented on #432
++

[2020-11-25 04:58] simonLouvet commented on #430
j'ai peur d'une chute de perf pour faire la comparaison (lecture + comparaison) mais ok sur le principe

[2020-11-25 04:59] simonLouvet commented on #429
++
précision : si le sparql endpoint est activé, il est possible de connaitre les container par une requete sparql

[2020-11-25 15:00] srosset81 opened #433 "Permettre de créer des PODs SOLID avec SemApps"
**Description**
Créer un nouveau boilerplate qui permet de créer rapidement un serveur SOLID.
Créer un POD à la création du compte d'un utilisateur.

**Estimation du temps de travail en JH**
- @srosset81:
- @simonLouvet:

[2020-11-25 15:55] srosset81 commented on #433
@simonLouvet Tu as parlé de WebID-OIDC qui manque, vois-tu d'autres éléments bloquants ?

[2020-11-25 19:01] srosset81 commented on #406
Pour le site de l'AV, @Alice-Po a suggéré ce site comme inspiration: https://www.rust-lang.org/governance

[2020-11-25 19:06] ValentineMathieu commented on #406
Merci pour ton retour @simonLouvet ! En effet, j'ai pensé que c'était plus simple de diviser un peu la team en "meta-role" étant donné que mon travail était de mettre en lumière votre gouvernance, et non pas les cercles qui étaient définis à l'origine. La dernière slide n'est plus d'actualité, je l'avais laissé à la fin du canva pour m'inspirer ;)
N'hésitez pas à me dire si vous avez une meilleure

[2020-11-25 21:41] simonLouvet commented on #433
c'est david (PoPock, scenaristeur) que je n'arrive pas a taguer qui pourrait bien nous aider sur ce sujet. Je pense au profil /profile/card#me.

[2020-11-25 21:54] srosset81 commented on #433
@scenaristeur ?

[2020-11-25 22:00] srosset81 opened #434 "Implémenter WebID-OIDC"
Nécessaire pour proposer un POD SOLID havec SemApps https://github.com/assemblee-virtuelle/semapps/issues/433

https://github.com/solid/webid-oidc-spec

Je ne sais pas s'il y a une implémentation qui existe en NodeJS ?

[2020-11-25 22:00] srosset81 commented on #433
J'ai fait une issue spécifique pour WebID-OIDC https://github.com/assemblee-virtuelle/semapps/issues/434

[2020-11-26 08:46] GuillaumeAV commented on #434
J'en ai trouvé une ;) https://github.com/ksaito-hiu/idsrv

[2020-11-27 08:45] scenaristeur commented on #433
Yop, en cas d'urgence absolue, @GuillaumeAV a mon numéro ;-)

A la création, les resources à la racine du POD ressemblent à ça
![Screenshot_2020-11-27 cdr solidcommunity net](https://user-images.githubusercontent.com/4020744/100428624-7d468a00-3094-11eb-98cb-371a92c0898f.png)

chaque dossier/container quand on l'interroge au format 'fichier' retourne un 'index.ttl' tel que celui-ci : (ici mon doss

[2020-11-27 09:30] srosset81 commented on #433
Merci pour les infos @scenaristeur ! Il va falloir creuser tout ça...

[2020-11-27 11:47] scenaristeur commented on #433
Bon bah si ça vous plait, je continue...
En plus de tout ça, pour chaque resource (Container ou Fichier) un fichier .acl gère les accès sur cette ressource .
exemple https://cdr.solidcommunity.net/public/.acl  .
Si pas de fichier .acl présent comme par exemple pour https://spoggy-test7.solidcommunity.net/public/gouvernance/groups/Assembl%C3%A9e_Virtuelle/SemApps/Semapps_Team.ttl.acl , c'est le fic

[2020-11-27 17:53] srosset81 opened #435 "Générer un API permettant à GogocartoJS d'afficher des données sémantiques"
**Description**
Un traducteur simple qui va récupérer des éléments du triple store et les transforme selon le modèle de donnée attendu par GogocartoJS. Cela pourrait permettre à Transiscope (par exemple) d'enregistrer les données sous format sémantique, mais de continuer à les afficher dans l'interface de GogocartoJS.

Il suffit de générer ces deux API:
https://gitlab.adullact.net/pixelhumain/GoGo

[2020-11-27 18:14] #31 closed, assigned to nobody

[2020-11-27 18:19] srosset81 opened #436 "Chiffrer le coût de chantiers importants"
Cela pourrait être très utile de prendre un moment pour définir clairement les chantiers envisagés à court et moyen terme et pour évaluer leur coût.

## Chantiers actuels ou envisagés à court/moyen terme

_Sans ordre de priorité_

- Mettre en place les droits ACL #52
- Pouvoir lier deux instances SemApps #451
- Intégrer la nouvelle version de PAIR #452
- Visualiser les ressources sous forme de car

[2020-11-27 18:20] #45 closed, assigned to nobody

[2020-11-27 18:20] #23 closed, assigned to nobody

[2020-11-27 18:20] #46 closed, assigned to nobody

[2020-11-27 18:22] srosset81 commented on #112
Ah non en fait les déploiements sont fait pour le site web, pas pour le frontend SemApps :-)

[2020-11-28 14:38] bouviermullerp commented on #353
@srosset81 , j'ai un besoin de clarifications :)
D'après le titre, je comprends que le besoin fonctionnel auquel répond cette carte est _l'ajout d'un lien_ - je n'ai pas compris s'il existe une seconde issue pour évoquer la recherche (qui est la fonctionnalité mentionnées dans les commentaires).

En tout cas, je pense que l'ajout d'un contenu existant sur un autre serveur est la première étape. Da

[2020-11-28 14:58] bouviermullerp commented on #435
Je suis intéressé par avoir quelques infos - si c'est possible - sur la raison de ce choix. Car c'est une issue technique dans sa description et je pense qu'il est important de la rattacher au besoin utilisateur pour faire un choix avisé.

1- aujourd'hui le besoin utilisateur est celui de visualiser les organisations/lieux (si on prend l'ontologie PAIR) sur la carte, et d'avoir le détails quand on

[2020-11-28 15:02] bouviermullerp commented on #436
@srosset81
- il y a un chantier intégrer sparnatural - peut être après l'intégration de la nouvelle mouture de PAIR ? Le besoin de rechercher/trier des données exprimé par les utilisateurs est très fort.
- Une autre fonctionnalité exprimée serait *traçabilité* - pouvoir suivre l'évolution d'une donnée, qui a fait quoi en terme de création/modification/suppression - et faire de la pédogogie plutôt

[2020-11-28 22:28] srosset81 commented on #435
Cette issue a été créée car c'est une idée qui est apparue pendant le point technique de vendredi. C'était juste pour pas l'oublier mais rien ne dit qu'on va la faire.

Là il est question d'intégrer GogocartoJS, qui est le front javascript. Il n'y a aucun PHP. Il faut juste fournir un API avec les catégories (taxonomy.json) et les points (elements.json) et tout peut s'afficher. Cela semblait donc

[2020-11-28 22:36] srosset81 commented on #353
La recherche multi-instances est très liée à l'ajout de liens, car en terme d'UX, ça va être difficile d'imposer à l'utilisateur de fournir des URLs complets. Selon ce qu'on décide de faire, on pourra créer des issues plus spécifiques.

C'est une toute autre question, qui mériterait sa propre issue.

C'est une discussion que j'ai eu récemment avec @nikoPLP. Le mot fédération est un peu un fourre-t

[2020-11-30 10:55] srosset81 commented on #436
Oui ce serait lié à ActivityPub. Il faudrait que ça vienne après "Pouvoir voir les activités d'un utilisateur / suivre un utilisateur / avoir un fil d'actualité", car la notion d'historique d'un objet (lister les activités liées à l'objet) n'est pas défini dans la spec ActivityPub, il faudra donc un peu de réflexion / concertation en amont.

C'est en lien avec le chantier WebACL, qui est en cours.

[2020-11-30 10:57] srosset81 commented on #436
Oh il y a justement une action Github pour gérer les epics:
https://github.com/marketplace/actions/epic-issues-for-github
S'il n'y a pas d'objection, je pourrai la mettre en place.

L'avantage des checkbox c'est que ça permet d'afficher un truc assez visuel:
![40746749-da4ffd82-6420-11e8-94f4-525d80f5995f](https://user-images.githubusercontent.com/17931931/100601951-9012c600-3303-11eb-8f2b-01ba095

[2020-11-30 18:38] srosset81 commented on #434
Je teste la fermeture d'issue...

[2020-11-30 18:39] srosset81 commented on #434
Ca marche ! La checkbox sur https://github.com/assemblee-virtuelle/semapps/issues/433 a bien été mise à jour.
Il faut juste attendre 10-15 secondes que cela soit fait.

[2020-11-30 18:46] #295 closed, assigned to GuillaumeAV

[2020-11-30 19:11] srosset81 commented on #436
Voilà quelques avancées:
- J'ai mis en place l'action Github mentionnée ci-dessus.
- J'ai créé plusieurs [templates d'issues](https://github.com/assemblee-virtuelle/semapps/projects/3), dont une pour créer un nouveau chantier
- J'ai transformé deux issues existantes en chantiers, [visible ici](https://github.com/assemblee-virtuelle/semapps/issues?q=is%3Aissue+is%3Aopen+label%3Achantier+).
- J'ai a

[2020-11-30 20:49] simonLouvet opened #438 "enlever le rôle du mail comme pivot du WebId"
**les composant concernés**
- @semapps/webId
- Application métier

**Décrire la problématique**
- webid.create
  - Le mail est actuellement obligatoire pour créer un user car il sert de pivot pour calculer le WebId
  - Si un compte foaf existe déjà avec un email le webId renvoyé est automatiquement celui du sujet avec ce webId alors que c'est à l'application métier/spécifique de choisir ce type de

[2020-11-30 22:01] bouviermullerp commented on #436
@srosset81 merci pour ces progrès, très cool. ça me convient d'utiliser les chantiers - on peut tester comme tu le proposes, j'ai plutôt l'habitude de travailler avec plusieurs projets, mais pourquoi pas. merci en tout cas

[2020-11-30 22:07] #38 closed, assigned to nobody

[2020-11-30 22:09] #322 closed, assigned to bouviermullerp, ReX-AV-Gab

[2020-12-01 10:53] GuillaumeAV commented on #436
Helloo !

Très rapidement ..
- Il y a les milestones aussi qu'on utilise pas (ca pourrait correspondre à des Epics / chantiers ?
- Complétion DbPedia / Wikidata : Je persiste à penser que ça doit être une priorité forte, dans la mesure où ça permet de produire des données structurées (plutôt que des chaînes de caractère non sémantiques) et de faciliter grandement le matching sur compétences, centr

[2020-12-01 13:01] srosset81 commented on #436
Je ne crois pas que les milestones peuvent être utilisées, c'est plutôt pour des étapes globales du projet (beta, v1...)

[2020-12-01 14:44] ValentineMathieu opened #440 "Débuter une écriture collaborative du code social - version résumée"
Un travail sur le code social de SemApps avait déjà été initié par @bouviermullerp. Je prends donc l'initiative de revaloriser ce travail qui avait été laissé dans le yeswiki, en débutant une réécriture collaborative de ce document.

Je vais ouvrir 2 requests (que je mettrai en lien dans cette issue) :
- [une](https://github.com/assemblee-virtuelle/semapps/pull/442) pour la version synthétique/rés

[2020-12-01 14:56] bouviermullerp commented on #440
Merci Valentine. Je me demande si cette issue n'est pas "trop grosse" ?
Est-ce que ça vaut le coup d'avancer modèle par modèle peut être ? En tout cas faire une issue + PR pour la version synthétique et une issue + PR pour la version détaillée ?

[2020-12-01 15:00] ValentineMathieu commented on #440
@bouviermullerp Oui c'est vrai qu'il vaudrait mieux la diviser, je pense modèle par modèle ca va être un peu lourd, mais je peux créer une autre issue et modifier celle ci pour avoir la forme issue résumée/PR, issue détaillée/PR :) merci pour tes conseils !

[2020-12-01 15:03] ValentineMathieu opened #441 "Débuter une écriture collaborative du code social - version détaillée"
Un travail sur le code social de SemApps avait déjà été initié par @bouviermullerp. Je prends donc l'initiative de revaloriser ce travail qui avait été laissé dans le yeswiki, en débutant une réécriture collaborative de ce document.

Je vais ouvrir 2 requests :

- une pour la version synthétique/résumée du code social, associée à l'issue #440
- une pour la partie plus détaillée (qui sera associée

[2020-12-01 15:50] bouviermullerp commented on #436
++ seb. Les milestones ont caractère temporel (on peut livrer quelques issues d'un chantier dans une milestone par exemple, puis d'autres dans la suivante).
@GuillaumeAV oui c'est une fonctionnalité importante ! Je te rejoins complètement, mais il y a des fonctionnalités encore plus prioritaires à ce stade (car beaucoup les demandent)

[2020-12-01 16:02] srosset81 commented on #43
Information de @GuillaumeAV:

[2020-12-02 14:57] ValentineMathieu opened #443 "Gérer l'envoi et la communication de la newsletter SemApps"
cette issue se divise en plusieurs petites missions :
* (Créer une nouvelle liste sur MailPoet (wp AV) avec les contributeurs connus de semapps ainsi que les participants ayant donné leur adresse email) ==> **Finalement, il a été décidé d'utiliser Mailchimp à la place de Mailpoet, pour la NL de l'AV comme celle de SemApps. Création de campagnes + ajout de contacts**
* Créer un widget sur le site d

[2020-12-02 22:15] #438 closed, assigned to simonLouvet

[2020-12-02 22:22] simonLouvet opened #444 "support public OIDC"
**Décrivez le bug**
les SSO OIDC public (sans secret) ne sont pas supporté

**Etapes pour reproduire**
créer un client OIDC sur login.lescommuns.org en sélectionnant access_type : public

**Comportement attendu**
pas de bug, tocken et user bien récupéré

**Captures d'écran**
![image](https://user-images.githubusercontent.com/5068825/100938589-3f62bf00-34f5-11eb-84bb-c6d82e0ad20d.png)

[2020-12-02 22:27] #444 closed, assigned to nobody

[2020-12-03 07:26] #310 closed, assigned to srosset81

[2020-12-03 07:26] #311 closed, assigned to srosset81

[2020-12-03 10:32] srosset81 opened #446 "Créer un générateur de résumés ActivityPub"
_Extrait du [document sur les chantiers collaboratifs](https://docs.google.com/document/d/1TVCOhd5xO51S4vXlgtjQUYpN2Zj5RTibj5u9Z7Xbm0U/edit#heading=h.n8mxsddv0na8)_

Utilitaire qui décrirait automatiquement les activités ActivityPub en une phrase compréhensible, et cela possiblement dans plusieurs langues. Ce serait une simple fonction qui prendrait une activités JSON-LD en input et renverrait une

[2020-12-03 10:39] srosset81 opened #447 "Créer un package frontend pour l'affichage des données ActivityPub"
**Tension**
Dans l'ancien package `@semapps/react-admin`, nous avions plusieurs composants liés à ActivityPub qui n'ont pas été inclus dans les nouveaux packages:

- ActivitiesGrid
- ActivitiesList
- ActivityDescription
- ActorsGrid
- CollectionList

Cela permettait d'afficher l'inbox, l'outbox ainsi que la liste d'abonnés ou abonnements, en lisant les endpoints respectifs d'un acteur.

**Proposit

[2020-12-03 10:44] srosset81 opened #448 "Afficher les activités des utilisateurs"
**Description**
Sur la page d'un utilisateur, afficher la liste de ses dernières activités.
Par exemple "Sébastien a modifié le projet SemApps", avec un lien vers la page du projet.

**Issues liées**
- [x] Mettre en cache les activités ActivityPub #311
- [x] Gérer la pagination sur les collections ActivityPub #310
- [x] Rendre plus flexible le choix des containers ActivityPub #491
- [x] Générer un

[2020-12-03 10:51] srosset81 commented on #7
Ce chantier va dépendre de celui-ci: https://github.com/assemblee-virtuelle/semapps/issues/448

[2020-12-03 11:07] srosset81 commented on #2
Suite à la discussion de vendredi dernier, il a été convenu qu'intégrer Gogocarto en entier, avec Symfony, n'était pas désirable car trop lourd à mettre en oeuvre.

Reste le problème de la compatibilité entre le composant d'affichage [GogocartoJS](https://pixelhumain.github.io/GoGoCartoJs/), qui utilise jQuery, et React-Admin.

Une alternative, sans doute plus simple et plus légère, serait d'utili

[2020-12-03 11:19] srosset81 commented on #13
Deux points par rapport à ce chantier:
- Ce serait bien d'avoir une maquette pour mieux voir comment ça pourrait s'intégrer
- Pour l'instant sparnatural utilise jQuery, qui s'intègre mal à React (et utiliser deux librairies augmente le poids du JS à télécharger). Il y a quelques mois, @tfrancart réfléchissait à virer jQuery, il disait (à l'époque) qu'il pourrait y avoir un petit budget pour ce cha

[2020-12-03 11:30] srosset81 opened #449 "Créer un service qui indexe les ressources sur Elasticsearch"
**Tension**
Pour faire de la recherche sur différentes instances, on peut faire une requête SPARQL fédérée, mais ça peut poser des problèmes de performances et aussi de disponibilité.

**Proposition**
On pourrait imaginer un serveur de recherche ElasticSearch dédié qui serait informé (en mode push) des mises à jour des ressources des différentes instances d'un écosystème. Lorsqu'on l'interrogerait

[2020-12-03 11:33] srosset81 opened #450 "Permettre la requête SPARQL fédérée"
**Tension**
Pouvoir facilement faire une recherche sur plusieurs instances de SemApps

**Proposition**
Permettre que le moteur de recherche intégré à React-Admin fasse une requête sur plusieurs endpoints SPARQL, qui seraient définis en configuration.

https://www.w3.org/TR/sparql11-federated-query/

**Alternatives**
- Créer un service qui indexe les ressources sur Elasticsearch #449

[2020-12-03 11:36] srosset81 opened #451 "Pouvoir lier deux instances SemApps"
**Description**
Pouvoir lier une ressource d'une instance SemApps avec une resource d'une autre instance.

**Support de réflexions**
https://docs.google.com/presentation/d/1zqt2n9hgnwlwAR42Zz24pFu7nckDPz_RPhxbEHZhQS8/edit

**Frontend**
- [x] #794  - **4 JH**
  - [x] #686 - _(compris dans issue précédente)_
  - [ ] #855 - **1 JH** _(option en plus des 4 JH)_
  - [x] #845 - **2 JH** _(option en plus

[2020-12-03 11:38] srosset81 commented on #353
J'ai créé plusieurs issues sur le sujet:
- #450
- #449
- #461

[2020-12-03 11:40] srosset81 commented on #451
Dans les discussions avec @simonLouvet, nous avions parlé de gérer la recherche par la requête SPARQL fédérée dans un premier temps, puis de voir pour une solution via Elasticsearch. Personnellement j'ai de la peine à croire à la requête SPARQL fédérée, et je ne suis pas sûr que ce soit si simple à implémenter. Ce serait une option intéressante à proposer, mais est-ce que cela vaut la peine de le

[2020-12-03 11:40] srosset81 commented on #379
Je ferme donc cette issue, on pourra en ouvrir une nouvelle si, à un moment, on pense qu'installer un serveur LDF serait pertinent.

[2020-12-03 11:40] #379 closed, assigned to srosset81

[2020-12-03 11:43] srosset81 opened #452 "Intégrer la nouvelle version de PAIR"
**Issues**
- [x] Gérer owl:SymmetricProperty #456
- [x] Créer une instance pour l'UTT avec la nouvelle ontologie #458
- [x] Migrer Archipel vers la nouvelle ontologie #469
- [x] Réfléchir aux classes et aux relations qu'on veut intégrer à Archipel

[2020-12-03 11:45] srosset81 commented on #436
J'ai mis à jour la description de cette issue, avec la liste de tous les chantiers qui ont été évoqués dans les discussions. A voir encore l'ordre des priorités, en fonction des besoins et des budgets.
Pour la mise en priorité, je propose de le faire via le [kanban](https://github.com/assemblee-virtuelle/semapps/projects/3), ce sera plus simple que d'éditer la description.

[2020-12-03 11:59] srosset81 commented on #436
Pour finir j'ai créé [un autre kanban pour les chantiers](https://github.com/assemblee-virtuelle/semapps/projects/5). C'est expérimental, mais je pense que ça peut aider à mieux s'organiser, notamment à voir ce qui doit encore être spécifié. L'idée serait donc que les issues type "Chantier" n'apparaisse que dans le projet "Chantier", et que les issues spécifiques soient dans le tableau principal.

[2020-12-03 12:08] srosset81 commented on #408
Hey @Rouffi  j'ai l'impression que les dates sont passées ;-)
On propose lundi 7 à 14h pour voir si les gens sont toujours disponibles ?

[2020-12-03 12:20] simonLouvet opened #453 "boutton create sur liste alors que la ressource n'a pas cet écran"
**Décrivez le bug**
la barre d'action au dessus des listes affiche un boutton create même si la ressource ne dispose pas d'écran pour create
cas d'ausage : la ressource user lorsqu'on implémente l'authentification

**Etapes pour reproduire**
1 . aller sur une liste dont la resource n'a pas d'écran create
2 . le boutton create apparaît

**Comportement attendu**
pas de bouton create

[2020-12-03 12:26] #453 closed, assigned to nobody

[2020-12-03 22:58] bouviermullerp commented on #2
Merci pour les précisions @srosset81 - l'analyse me semble vraiment juste et je pense qu'intérer un composant React n'est pas une alternative à négliger.
Est-ce qu'on peut envisager un chiffrage d'un design assez simple ?

En tant qu'utilisateur, quand je suis sur une liste appartenant à un concept qui a des coordonnées géographiques (évènement, organisatiion), je peux visualiser la liste sous for

[2020-12-07 07:10] bouviermullerp commented on #13
Réponse de Thomas :
Salut

J'ai besoin d'aide sur ce sujet. J'avais sollicité Sébastien il y a quelques mois là-dessus, que je remets en copie, pour faire un audit du code et peut-être mieux le structurer, et voir comment se passer de JQuery.
Si l'objectif est de l'intégrer dans React, dont je ne connais pas les contraintes, il me semble que Seb serait le mieux placé pour faire les modifications n

[2020-12-07 08:23] GuillaumeAV commented on #446
Excellent je vote pour !!
Je crois qu'il faudra une issue dédiée pour générer des résumés autour d'un doc ou de tout autre classe n'étant pas un agent ?

[2020-12-07 08:37] GuillaumeAV commented on #449
Oooh oui pas sur de comprendre exactement de quoi il retourne, et encore moins d'avoir un avis pertinent mais j'ai l'impression que la proposition est excellente  :)

[2020-12-07 09:09] srosset81 commented on #446
Je ne vois pas de quoi tu parles, mais oui n'hésites pas à créer une issue pour nous l'expliquer ;-)

[2020-12-07 09:16] srosset81 commented on #13
Merci @tfrancart pour les précisions et merci pour ta mise à disposition.

Bien évidemment il n'est pas question de migrer vers React, ce qui demanderait de toute façon de tout réécrire le code. A la limite, il serait envisageable de créer un composant React qui intégrera le script en JS pur, mais ce sera un plus, distribué éventuellement dans un package à part.

[2020-12-07 09:47] GuillaumeAV commented on #446
Je vais tâcher de l'expliquer ici d'abord, on en avait parlé à l'oral ...

Autour d'un thème par exemple, j'aimerais avoir le fil d'actu du thème : Un projet a été créé en lien avec ce thème, un doc a été créé autour de ce thème, un événement est organisé autour de ce thème .. (Projet & evenement) sont des agents au sens de l'ontologie pair, mais ce n'est pas le cas de doc ou de thème ... Peuvent-

[2020-12-07 10:12] srosset81 commented on #446
Ah oui, ça n'a vraiment rien à voir avec cette issue !! ;-D
Il y a un chantier pour [créer un historique sur une ressource](https://github.com/assemblee-virtuelle/semapps/issues/7), c'est plutôt là qu'il faudrait en parler.

[2020-12-07 10:35] GuillaumeAV commented on #7
Exemple : Autour d'un thème j'aimerais avoir le fil d'actu du thème : Un projet a été créé en lien avec ce thème, un doc a été créé autour de ce thème, un événement est organisé autour de ce thème .. (Projet & evenement) sont des agents au sens de l'ontologie pair, mais ce n'est pas le cas de doc ou de thème ... Peuvent-ils avoir néanmoins des fils d'actus ?

[2020-12-07 19:00] srosset81 commented on #2
Quand tu dis, "s'affiche en plein écran", tu veux dire qu'on change de page, c'est ça ? Et du coup, si on veut sélectionner un autre point sur la carte, on est obligé de revenir en arrière, de recharger la carte et de retrouver un autre point géographique, quitte à devoir scroller à nouveau au bon endroit ? Ca fait un peu lourd non ? :thinking:

L'alternative (pas beaucoup plus compliquée) serait

[2020-12-07 21:28] bouviermullerp commented on #2
Tu as tout juste @srosset81 - l'idée de la petite pop-up est très bonne et oui je pense à une carte OSM + leaflet, comme sur ton exemple.

Oui, c'est lourd - c'était pour trouver un "quick-win" le développement le plus léger possible qui offre les fonctionnalités de base, mais la possibilité d'un pop-up est classe !
L'idéal serait peut être d'afficher le détails complet de la fiche tout en laissan

[2020-12-07 21:42] bouviermullerp commented on #7
Oui, je pense qu'ils peuvent. L'intention aussi est de faciliter le travail du modérateur et de savoir "qui modifie quoi". Si quelqu'un supprime un lien entre un doc et un thème, on doit pouvoir le tracer.

[2020-12-08 13:30] ValentineMathieu commented on #405
Étant donné que cette issue ne peut plus avancer tant que la charte graphique n'est pas finie, je la replace dans le backlog :)

[2020-12-08 13:31] ValentineMathieu commented on #416
Étant donné que cette issue ne peut plus avancer tant que la charte graphique n'est pas finie, je la replace dans le backlog :)

[2020-12-08 13:34] ValentineMathieu commented on #406
Étant donné que cette issue ne peut plus avancer tant que la charte graphique n'est pas finie, je la replace dans le backlog :)

[2020-12-08 13:43] ValentineMathieu commented on #401
Je ferme cette issue, étant donné qu'elle est reprise dans l'issue #410 charte graphique ! :)

[2020-12-08 13:43] #401 closed, assigned to ValentineMathieu, anika-d

[2020-12-09 14:04] #301 closed, assigned to srosset81

[2020-12-09 14:07] #408 closed, assigned to Rouffi

[2020-12-09 14:08] srosset81 commented on #407
@bouviermullerp C'est possible de le faire maintenant !

[2020-12-10 09:33] srosset81 opened #456 "Gérer owl:SymmetricProperty"
**Tension**
L'ontologie PAIR a des propriétés `partnerOf`, `nourishes` et `cooperateWith` qui sont de type `owl:SymmetricProperty`. Cela n'est pas géré par l'InferenceService que j'avais mis en place, et donc quand on ajoute une relation de ce type, la relation inverse n'est pas créée.

**Proposition**
Gérer cette propriété dans l'InferenceService

[2020-12-10 17:49] #456 closed, assigned to srosset81

[2020-12-11 08:05] srosset81 commented on #452
Pour que @J9rem puisse travailler sereinement sur l'instance Archipel en janvier, il me semble qu'il serait important qu'un travail de spec soit fait au préalable: qu'est-ce qu'on veut voir comme type de données, comment est-ce qu'on les lie entre elles ?

Est-ce que quelqu'un pourrait porter ce chantier ?

Ping @bouviermullerp @GuillaumeAV

[2020-12-11 10:28] bouviermullerp commented on #452
++ très favorable à ce travail préalable @srosset81 - une approche par les usages me semble vraiment appropriée. Il me semble que @GuillaumeAV est la meilleure personne pour ce chantier, ravi de l'épauler au besoin.
C'est un joli challenge car - d'après ce que je comprends - l'ontologie PAIR est une conception de Guillaume qui le modélise à la fois via ces observations, mais aussi via ses rêves et

[2020-12-11 14:46] srosset81 opened #460 "Passer tout sur Traefik"
**Problématique**
Pour l'instant on utilise encore Nginx et Certbot, mais c'est lourd à gérer, ça ne marche pas bien pour plusieurs domaines.

**Proposition**
Passer à Traefik qui est beaucoup plus léger et facile.

**Composants concernés**
- https://github.com/assemblee-virtuelle/semapps/blob/master/docker-compose-prod.yaml
- https://github.com/assemblee-virtuelle/semapps_coographie/blob/master/d

[2020-12-11 15:14] srosset81 opened #461 "Aggréger les résultats d'une requête sur plusieurs endpoints SPARQL"
**Tension**
Besoin de faire des requêtes sur plusieurs instances SemApps.

**Proposition**
Pouvoir passer plusieurs endpoints SPARQL au semantic data provider de React-Admin. Lorsqu'on fait une recherche, le provider irait requêter simultanément tous les endpoints SPARQL avec la même query. Il attendrait le retour des données avant d'afficher tous les résultats (le provider ne peut pas renvoyer pr

[2020-12-11 15:18] srosset81 commented on #450
Suite à la discussion de ce jour avec @simonLouvet, nous avons décidé de laisser tomber la requête SPARQL fédérée car c'est compliqué à mettre en oeuvre par rapport aux gains espérés. De plus, cela mets beaucoup de responsabilité sur Fuseki, alors qu'on cherche justement à le décharger.

La requête fédérée est vraiment intéressant lorsqu'on veut faire des requêtes complexes entre plusieurs serveur

[2020-12-11 15:22] srosset81 commented on #451
Suite à la discussion de ce jour, nous avons réalisé qu'il y avait une confusion entre une vraie requête SPARQL fédérée (qui est compliquée) et un simple appel à de multiples endpoints SPARQL. Nous avons donc séparé en deux issues: #461 et #450. Et du coup Elasticsearch devient une option, qu'on aimerait bien pousser s'il y a le budget, car cela améliorera nettement les performances.

[2020-12-11 16:42] srosset81 commented on #131
A noter que cette activité ne peut être générée que si l'utilisateur est loggé.
Comme une activité est nécessairement liée à un acteur, si on veut pouvoir enregistrer l'activité des utilisateurs non-loggés (notamment pour des besoins d'historique complet), il faudra qu'on permette la génération automatique d'identité éphèmère (voir https://github.com/assemblee-virtuelle/semapps/issues/136)

[2020-12-11 17:46] srosset81 opened #462 "Afficher un fil d'actualité personnalisé"
**Description**
Afficher sur une page spéciale le contenu de son inbox ActivityPub, c'est-à-dire son fil personnalisé, avec les activités de tous les comptes qu'on suit.

**Issues liées**
- [ ] Permettre de suivre (ou ne plus suivre) un utilisateur ou une organisation
- [ ] Afficher sur la page des utilisateurs les comptes qu'ils suivent
- [ ] Afficher une page spéciale dans React Admin avec le fi

[2020-12-11 17:57] srosset81 opened #463 "Pouvoir définir une instance SemApps comme un "super-acteur" ActivityPub"
**Description**
Donner la possibilité de créer un "super-acteur" ActivityPub, qui reposte automatiquement toutes les activités publiques générées sur l'instance SemApps. Cela permettrait à deux instances de se suivre mutuellement, par exemple pour garder à jour un cache.

**Issues liées**
- [ ]

**Estimation du temps de travail en JH**
- @srosset81:
- @simonLouvet:

[2020-12-15 16:58] srosset81 commented on #422
Bon pour finir ça ne pose pas de problème, je pense qu'il y avait un bug dans la version que j'avais essayé, bug qui a été depuis fixé.

[2020-12-15 16:58] #422 closed, assigned to srosset81

[2020-12-16 12:18] GuillaumeAV opened #464 "Interopérer Hubl avec SemApps"
**Description**
L'enjeu est de pouvoir greffer le composant de chat de Startin'Blox / Hubl  sur SemApps, et sur l'ontologie PAIR, de manière à pouvoir :
- avoir des salons de chat par type d'entités (personnes, organisations, projets, événements, idées, thèmes, compétences, finalités etc.) Pouvoir donc discuter avec Pierre, Autour de Assemblée Virtuelle, du projet de refonte de l'Assemblée Virtuel

[2020-12-16 18:04] GuillaumeAV opened #465 "Présenter SemApps au Fosdem !!!!!"
[Voir les call for proposals !
](https://fosdem.org/2021/news/2020-12-06-accepted-developer-rooms/) C'est **NOW** !!

Notamment :
- Beyond blockchain, distributed web
- Collaborative Information and Content Management Applications
- Graph Systems and Algorithms

Event les 6 & 7 February 2021

Et à IndieWeb en juillet ?? https://indieweb.org/2020/West

[2020-12-16 20:45] srosset81 commented on #465
"Beyond blockchain, distributed web" c'est organisé par des gens d'Holochain, j'ai pas l'impression que ça colle avec SemApps.

Si on est retenu, il faut enregistrer une conférence avant le 16 janvier

[2020-12-17 08:21] GuillaumeAV commented on #465
On peut envisager d'enregistrer le truc pendant la résidence ...
Pas d'objection à ce qu'on candidate ? Qui serait motivé pour pitcher ? Si personne, à minima Glenn Roland et moi-même, on pourra se chauffer, mais c'est mieux si d'autres que moi se chauffent hein ;)
On peut envisager de faire des propositions sur plusieurs sujets ..

Perspective : recruter du dev
Prérequis souhaitable : Angliciser

[2020-12-17 11:09] bouviermullerp commented on #465
Pas d'objection à ce qu'on candidate ! Laisser Glenn pitcher, ça me plait bien, ça lui permettrait de rentrer un peu plus dans le projet.

[2020-12-17 15:54] GuillaumeAV opened #466 "Avoir la possibilité de renseigner les données en plusieurs langue pour chaque URI."
**Tension**
Il est important de concevoir des interfaces multilingues faciles d'utlisation. Dans protege par exemple, on peut renseigner des labels en différentes langues pour un même concept / URI, ce qui est super parce que la donnée n'est pas fragmentée.

**Proposition**
Avoir la possibilité, quand on crée ou modifie une donnée (personne, projet etc.), d'avoir accès au formulaire en différentes

[2020-12-17 17:50] srosset81 commented on #465
Pas d'objection non plus, et intéressé de voir comment d'autres peuvent présenter SemApps ;-)

Par contre pour angliciser le Github, je pense qu'il faut concertation. On a déjà un site web en anglais, avec toute la doc et même des tutos. Si des anglophones sont intéressés, ils ont déjà de la matière. Par contre si on doit s'obliger à discuter les issues en anglais, avec tout ce que cela implique e

[2020-12-18 14:27] srosset81 commented on #397
Suite à la discussion de ce jour, on a décidé qu'il serait préférable d'utiliser un composant gratuit comme [React Big Calendar](http://jquense.github.io/react-big-calendar/examples/) pour éviter de bloquer des projets commerciaux avec la license de 500$ de [React Scheduler](https://devexpress.github.io/devextreme-reactive/react/scheduler/).

@simonLouvet va regarder s'il retrouve son benchmarks a

[2020-12-18 15:57] srosset81 commented on #2
J'ai mis à jour la description du chantier suite à la discussion de ce jour, et j'ai séparé ce chantier avec celui concernant Gogocarto: https://github.com/assemblee-virtuelle/semapps/issues/435

[2020-12-18 15:57] srosset81 commented on #397
J'ai mis à jour la description du chantier, y compris l'estimation faite ce jour.

[2020-12-21 09:40] srosset81 opened #468 "Permettre d'éditer les données LDP sans être connecté"
**Tension**
Si l'authentification est activée, toutes les opérations LDP qui modifient les données (POST, PUT, DELETE) requiert d'être connecté. Il faudrait que ce comportement puisse être configuré pour permettre de modifier les données même en étant anonyme.

**Proposition**
Ajouter deux options au `ldp.service`:
- `allowAnonymousEdit`
- `allowAnonymousDelete`

Les deux options seraient `false`

[2020-12-21 10:39] srosset81 commented on #452
Pour finir je me suis occupé moi-même de la migration vers la nouvelle version de l'ontologie.
Je n'ai rien ajouté de nouveau, si ce n'est les documents, que j'avais déjà défini dans un autre projet.
Il reste donc la question de ce qu'on veut intégrer de la nouvelle ontologie dans archipel. Je pense que @J9rem pourra s'occuper de l'intégration une fois le plan établi.
Je propose donc de laisser ce

[2020-12-21 11:12] GuillaumeAV commented on #452
C'est super Seb ! Merci beaucoup  Hâte de pouvoir contribuer sur ce sujet !

[2020-12-21 13:29] bouviermullerp opened #473 "Quel design pour Archipel ?"
Cette issue a vocation a préciser les concepts et relations à inclurent dans archipels et éventuellement à les hiérarchiser (peut être qu'on ne souhaite pas mettre tous les concepts aux même niveaux).

Questions :
- Qui décide ? Est-ce que c'est une décision collégiale par consentement ?
- Quelle est la raison d'être de Archipel ? Qui sont ces utilisataurs ? Pourquoi Archipel ? Peut être que répon

[2020-12-21 13:32] bouviermullerp commented on #473
De mon point de vue, j'ai de la difficluté à voir les concepts compétences, documents "au même niveau" (dans l'interface) que les concepts "majeurs" de PAIR (Projets, Acteurs, Idées, Ressources).
Je rêve de naviguer dans les autres concepts (documents, compétences, etc..) mais d'une manière différente.

Et vous ?

[2020-12-22 11:09] bouviermullerp commented on #473
@GuillaumeAV

[2020-12-23 11:58] #468 closed, assigned to nobody

[2020-12-23 17:49] #374 closed, assigned to srosset81, ReX-AV-Gab, ValentineMathieu

[2020-12-27 10:12] GuillaumeAV opened #480 "Les participants à SemApps n'apparaissent pas sur archipel"
**Décrivez le bug**
En lecture seulement, les participants à SemApps n'apparaissent pas ...
J'ai par contre ajouté une nouvelle personne (Valentine) sur Archipel, que j'ai ensuite ajouté en tant que participante à SemApps et elle apparait.
Sans doute en lien avec la mise à jour de l'ontologie ?

**Etapes pour reproduire**
1. Aller sur https://archipel.assemblee-virtuelle.org/
2. Cliquer sur SemApp

[2020-12-27 15:43] GuillaumeAV opened #481 "Les documents ne peuvent être liés aux personnes"
**Décrivez le bug**
Guillaume n'est pas lié au document le concernant.
Le document n'est pas lié à la personne le concernant.

**Etapes pour reproduire**
1. Aller sur https://archipel.assemblee-virtuelle.org/
2. Cliquer sur https://archipel.assemblee-virtuelle.org/#/Document/https%3A%2F%2Fdata.virtual-assembly.org%2Fdocuments%2Fcode-social-guillaume-rouyer/show
3. Voir l'erreur

**Comportement att

[2020-12-27 18:48] srosset81 opened #482 "Pouvoir ajouter une donnée de géolocalisation dans react-admin"
**Tension**
On veut proposer un [affichage par carte géographique](https://github.com/assemblee-virtuelle/semapps/issues/2), mais on a rien dans l'interface de react-admin qui permette de facilement ajouter des données de géolocalisation sur une ressource.

**Proposition**
Un composant react-admin qui permet d'entrer une adresse et qui retourne automatiquement la latitude/longitude, éventuellement

[2020-12-27 18:49] srosset81 commented on #2
On a oublié aussi qu'il faudra gérer l'ajout de données de géolocalisation, j'ai créé une issue https://github.com/assemblee-virtuelle/semapps/issues/482 pour ça. Il faudra sans doute réévaluer ce chantier en conséquence.

[2020-12-27 18:54] srosset81 commented on #482
J'avais fait pas mal de recherches sur le sujet pour le mailer de la Fabrique des Colibris et la seule alternative à Google Places avec une bonne UI que j'avais trouvé, c'était [Algolia Places](https://community.algolia.com/places/). Malheureusement, cet API va être abandonné en mai 2022, donc ce n'est plus une alternative.

YesWiki utilise un script maison qui appelle https://geo.api.gouv.fr mais

[2020-12-28 16:40] scenaristeur commented on #287
Un tuto de l'install sans Docker si ça peut vous être utile https://dfaveris.medium.com/installer-semapps-sans-docker-b92f3574f07f

[2020-12-28 17:49] GuillaumeAV opened #484 "L'entrée de dates ne marche pas sous Firefox"
**Décrivez le bug**
On ne peut saisir les dates, ni les horaires sur les entités de type événement.

**Etapes pour reproduire**
1. Aller sur https://archipel.assemblee-virtuelle.org/#/Event/https%3A%2F%2Fdata.virtual-assembly.org%2Fevents%2Fagora-des-archipels/show
2. Cliquer sur Date de début / fin
3. Voir l'erreur

**Comportement attendu**
Une pop-up avec un calendrier pour sélectionner la date

[2020-12-28 18:00] GuillaumeAV opened #485 "Les personnes ne s'affichent pas sur les événements"
**Décrivez le bug**
Je me suis renseigné en tant que participant à un event, mais ca n'apparait pas en lecture.

**Etapes pour reproduire**
1. Aller sur https://archipel.assemblee-virtuelle.org/#/Event/https%3A%2F%2Fdata.virtual-assembly.org%2Fevents%2Fagora-des-archipels/show
2. Cliquer sur éditer / puis afficher
3. Voir l'erreur

**Comportement attendu**
Afficher les personnes en lecture

[2020-12-29 09:00] GuillaumeAV commented on #473
Oui moi aussi, et je me demande ce qu'en pense @Rouffi ?
Y aura un brainstorming design à la résidence ?

[2020-12-29 10:04] bouviermullerp commented on #473
@GuillaumeAV j'espère qu'il y en aura un - la question est qui s'empare de ce sujet ? Archipel est une instance de SemApps - et je ne crois pas qu'un rôle SemApps ai pour périmètre Archipel. Faut-il créer un nouveau rôle ?

[2020-12-29 11:09] GuillaumeAV commented on #287
Trop la classe merci beaucoup @scenaristeur !!

[2020-12-29 11:22] GuillaumeAV commented on #473
@Rouffi tu viens pas à la résidence ?

[2020-12-30 16:45] scenaristeur opened #489 "Le changement de port 3001 dans .env plante tout"
Hello, encore moi ;-)
c'est p'têt pas pertinent, à vous de voir mais
+  là https://www.w3.org/TR/json-ld/#example-5-referencing-a-json-ld-context
le context a l'extension .jsonld et non .json

 +  j'ai essayé de changer le port dans .env car je voulais faire tourner à la fois semapps et solid community server, donc j'ai changé
SEMAPPS_HOME_URL=http://localhost:3000/, en mettant 3001 au lieu de 300

[2020-12-31 12:17] #199 closed, assigned to nobody

[2020-12-31 12:17] #423 closed, assigned to nobody

[2021-01-01 12:07] scenaristeur opened #490 "update de semapps"
**Tension**
j'ai installé semapps avec ```moleculer init assemblee-virtuelle/semapps-template-ldp my-project```, mais je ne trouve pas comment récupérer la dernière version

**Proposition**
Existe-t-il un truc du style ```moleculer pull``` équivalent à un ```git pull``` pour récupérer le dernier code, mettre à jour mon serveur ?

**Alternatives**
Mettre cette info dans la doc, svp ;-)

[2021-01-01 19:21] srosset81 opened #491 "Rendre plus flexible le choix des containers ActivityPub"
**Tension**
En vue des différents chantiers ActivityPub (notamment https://github.com/assemblee-virtuelle/semapps/issues/448), il est nécessaire de revoir un peu le package `@semapps/activitypub` afin qu'il s'intègre mieux avec LDP.

Pour le moment, les acteurs doivent être dans un container `/actors` et les objets générés dans un container `/objects`. Il faudrait rendre ça plus flexible, afin qu'

[2021-01-02 07:59] GuillaumeAV commented on #491
Rien à voir avec PAIR j'imagine ?
Peut-être que la logique de PAIR pourrait être inspirante, avec les différents niveaux d'abstraction / généricité des classes "Acteur", "Agent", "Sujet" ?

[2021-01-02 08:53] GuillaumeAV opened #493 "Améliorer la classe Document"
**Tension**
J'aimerais pouvoir utiliser la classe documents pour faire de la veille ... Pouvoir renseigner l'URL du doc, et le rattacher à des thèmes, compétences, idées, agents  ... Sujets en général ce qui ne semble pas être le cas à l'heure actuelle

**Proposition**
- Permettre une complétion sur l'ensemble des sujets.
- Permettre de renseigner une URL

**Alternatives**
A terme, on pourra faire

[2021-01-02 22:36] srosset81 commented on #491
Avec ActivityStreams (l'ontologie utilisée par ActivityPub) il y a trois classes principales: `Actor`, `Activity` et `Object`.
Changer cette ontologie n'est pas trop en notre pouvoir...

[2021-01-05 10:06] #443 closed, assigned to ValentineMathieu

[2021-01-05 14:40] srosset81 commented on #482
Décision du jour:
- Utiliser l'API de Geocoding de [MapBox](https://www.mapbox.com/), qui permet de faire gratuitement jusqu'à 100'000 requêtes par mois
- Voir si on peut utiliser un composant React tel que https://github.com/localvore-today/react-mapbox-autocomplete

[2021-01-05 14:43] srosset81 opened #494 "Rechercher des ressources par latitude/longitude"
**Tension**
Si l'on a des milliers de ressources, la [visualisation par carte](https://github.com/assemblee-virtuelle/semapps/issues/2) va obliger de les charger toutes pour en afficher peut-être qu'une petite partie. Cela peut poser des problèmes de performance, non seulement pour le téléchargement mais aussi pour l'affichage en React.

**Proposition**
Avec le data provider de React-Admin, permet

[2021-01-05 14:45] srosset81 commented on #2
Suite à discussion de ce jour avec @simonLouvet, j'ai mis à jour le temps en JH en conséquence.

[2021-01-05 15:46] srosset81 commented on #43
Conclusion du jour:
- DbPedia Lookup (suggéré par @GuillaumeAV) ne marche plus. Wikidata est à jour.
- Faire une requête SPARQL sur Wikidata c'est compliqué et surtout ça peut demander beaucoup de temps.
- Solution la plus simple: passer par Elasticsearch. On pourrait indexer tout Wikidata avec un outil comme https://github.com/MoritzGoeckel/Wikidata-to-ElasticSearch (à intégrer éventuellement com

[2021-01-05 15:52] tfrancart commented on #43
Laissez tomber DBPedia et concentrez-vous sur Wikidata.
Wikidata a un champ de recherche avec autocompletion qui fonctionne bien,
cela doit être exposé par une API. Ca me semblerait à première vue plus
simple de développer un composant custom branché sur l'API de wikidata que
de réindexer tout Wikidata dans un ElasticSearch;

Le mar. 5 janv. 2021 à 16:46, Sébastien Rosset <notifications@github.com

[2021-01-05 17:32] srosset81 opened #495 "Utiliser les containers plutôt que des requêtes SPARQL pour lister les ressources"
**Tension**
Les requêtes SPARQL sont lentes et prennent du CPU à Fuseki. On fait beaucoup de ces requêtes lorsqu'on liste des données sur React-Admin.

**Proposition**
On pourrait plutôt utiliser les données des containers qui, elles, sont mises en cache. On ne ferait une requête SPARQL que si on passe des paramètres particuliers (recherche par mots-clés, filtres...).

[2021-01-05 19:10] srosset81 opened #496 "Créer et lier des documents PAIR en mode wiki"
**Description**
- Afficher un `pair:Document` sur la homepage (utiliser la props `dashboard` de React-Admin).
- Permettre de faire des liens entre les documents, par exemple avec des [liens wiki](https://python-markdown.github.io/extensions/wikilinks/) type `[[ Titre de mon document ]]`.
  - Lorsqu'on clique sur un document inexistant, on peut le créer.
- Ajouter automatiquement le prédicat `pair:

[2021-01-05 23:23] srosset81 commented on #43
Merci @tfrancart !
Effectivement les requêtes par API sur Wikidata semblent très rapides, cela ne semble pas nécessaire de réindexer tout sur Elasticsearch.
https://www.wikidata.org/w/api.php?action=wbsearchentities&format=json&language=fr&type=item&search=s%C3%A9mantique
https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q39645

D'autres problèmes se posent néanmoins autour d

[2021-01-06 11:08] tfrancart commented on #43
1. Un moyen simple serait d'importer au moment de l'install la liste de
   compétences de Wikidata pour les charger dans les données, comme ça on
   fonctionne tout en local, sans développement custom (mais désynchronisé de
   Wikidata, quite à resynchroniser périodiquement)
   2. Autre idée qui me vient : avoir un paramètre ou un élément de config
   qui indique qu'une certaine propriété dans l'o

[2021-01-07 10:12] #491 closed, assigned to srosset81

[2021-01-09 14:10] srosset81 opened #497 "Améliorer la gestion des containers LDP"
**Problématique**
Les résultats retournés dans les containers ne sont pas toujours bien formattés. Voir par exemple https://data.virtual-assembly.org/organizations et en particulier les URI `https://data.virtual-assembly.org/organizations/colibris` et `https://data.virtual-assembly.org/organizations/transiscope` qui sont imbriqués au mauvais endroit.

**Proposition**
Plutôt que faire une requête q

[2021-01-09 14:23] srosset81 commented on #317
Je ferme car ça a été fait dans https://github.com/assemblee-virtuelle/semapps/pull/492, via un fichier de configuration.

[2021-01-09 14:23] #317 closed, assigned to nobody

[2021-01-09 16:46] srosset81 opened #498 "Authentification sans SSO"
**Description**
Cela pourrait intéresser certaines instances SemApps de permettre de créer des comptes utilisateurs sans avoir à configurer l'accès à un SSO.

**Issues liées**
- [ ] Formulaire de connexion
- [ ] Formulaire de création de compte
- [ ] Formulaire de récupération de mot de passe
- [ ] Envoi d'emails à la création de compte et pour récupérer le mot de passe
- [ ] Enregistrement du mot

[2021-01-09 16:56] srosset81 opened #499 "Pouvoir ajouter plusieurs images dans un document"
**Tension**
Actuellement un document (p.ex. PAIR) ne peut contenir qu'une image. C'est limitant.

**Proposition**
A l'intérieur de l'éditeur Markdown actuelle, permettre d'uploader plusieurs images, de les placer à l'intérieur du document (via la syntax MD `![alt text](https://example.com/your-image.png)`) en choisissant si elles s'affichent à gauche, à droite, au centre, etc.
Les images seraient

[2021-01-10 08:59] srosset81 opened #500 "Composant React pour inclure un Document PAIR"
**Tension**
Il faudrait pouvoir inclure des Documents PAIR (ou des parties de Documents) dans des pages React.

**Proposition**
Un composant `Document` qui prend comme props:
- `id`: l'URI du Document
- `truncate`: si true, n'affiche qu'un extrait du document
- `showFooter`: si true, affiche en bas un lien pour éditer le document, évent. la date

[2021-01-10 09:09] srosset81 commented on #500
Deux suggestions:
- Pour choisir l'extrait du document, on pourrait envisager d'inclure un mot clé dans le document qui identifie où faire la césure, par exemple [Docusaurus](https://docusaurus.io/docs/fr/adding-blog) demande d'ajouter ``.
- Lorsque les ACLs seront activés, on pourrait cacher le lien d'édition si l'utilisateur n'a pas les droits d'édition.

[2021-01-11 08:39] simonLouvet commented on #498
Cela pourrait simplifier l'ergonomie mais va poser des problèmes d'interopérabilité. Un user sur une instance ne pourra pas agir (voir naviguer) sur une seconde si elles ne partagent pas le mm sso.

[2021-01-11 11:00] GuillaumeAV opened #501 "Page blanche quand j'édite un event"
**Décrivez le bug**
Une description claire et concise du bug.

**Etapes pour reproduire**
1. Aller sur https://archipel.assemblee-virtuelle.org/#/Event/https%3A%2F%2Fdata.virtual-assembly.org%2Fevents%2Fagora-des-archipels
2. Voir l'erreur

**Comportement attendu**
Qu'on puisse voir l'interface de saisie et éditer ;)

**Captures d'écran**
Si ça peut être utile, ajoutez ici des captures d'écrans po

[2021-01-11 13:34] srosset81 commented on #498
@simonLouvet Je ne crois pas qu'on peut faire ça avec l'implémentation actuelle qui utilise OIDC/CAS.
Il faudra pour cela implémenter [WebID-OIDC](https://github.com/assemblee-virtuelle/semapps/issues/434).

[2021-01-11 16:35] simonLouvet commented on #498
@srosset81 C'est justement pour faire cela pour j'ai poussé à avoir un ou des SSO et pas une authentification "locale". l’implémentation actuelle n'et peut être pas suffisante pour le faire mais c'est bien l'objectif. Lorsque Semapps ne gérait pas lui même un token et que les user était authentifié en OIDC (le front communiquait avec les serveur grâce au token fourni par le fournisseur OIDC direct

[2021-01-11 16:44] srosset81 commented on #498
@simonLouvet Même si deux instances SemApps utilisent le même SSO, un webID doit bien être créé sur l'une ou l'autre des instances. Comment déterminer l'instance de référence pour l'utilisateur ? A mon avis, c'est impossible sans un mécanisme tel que WebID-OIDC, mais on pourra en reparler.

[2021-01-11 16:55] simonLouvet commented on #498
@srosset81 tu as raison pour le webId. Une mécanique comparable au webid-oidc semble nécessaire. Piste à réfléchir : Il serait assez facile de update le serveur OIDC avec un webid associé au profil de manière à l'inclure dans le token.

[2021-01-11 17:02] srosset81 commented on #498
Les Communs, par exemple, pourraient attacher un WebID à chaque utilisateur ? Avec quel URI ?

[2021-01-11 17:05] simonLouvet commented on #497
@srosset81 j'ai compris ta proposition mais pas le probleme.

[2021-01-11 17:17] simonLouvet commented on #498
Une uri fourni par une instance Semapps. Si pas de webId dans le token, l'instance SemApps pourrait créer un profil locale et l'ajouter (par API) eu serveur OIDC. La prochaine fois que le token est transmis à un serveur SemApps, il contiendrait l'uri du webId.

[2021-01-11 17:28] srosset81 commented on #497
Il faut chercher les URIs `https://data.virtual-assembly.org/organizations/colibris` et `https://data.virtual-assembly.org/organizations/transiscope` dans le container https://data.virtual-assembly.org/organizations

[2021-01-11 17:33] srosset81 opened #502 "Enregistrer un WebID au niveau du serveur OIDC"
Commentaires de @simonLouvet sur l'issue https://github.com/assemblee-virtuelle/semapps/issues/498

Cela pourrait constituer une solution intermédiaire à [WebID-OIDC](https://github.com/assemblee-virtuelle/semapps/issues/434)

[2021-01-11 17:33] srosset81 commented on #498
Ah si c'est possible, ça pourrait être une solution intermédiaire.
J'ai créé une issue spécifique https://github.com/assemblee-virtuelle/semapps/issues/502

[2021-01-12 18:31] srosset81 commented on #497
Après réflexion, ce n'est pas évident à mettre en place car il faut adapter non seulement pour le JSON-LD, mais aussi pour le Turtle et les autres format. Cela va compliqué le code et ça risque de générer des bugs.

Je vais voir si la PR https://github.com/assemblee-virtuelle/semapps/pull/503 règle le bug indiqué et, si c'est le cas, je fermerai cette issue.

[2021-01-13 14:57] #316 closed, assigned to srosset81

[2021-01-14 10:14] #497 closed, assigned to srosset81

[2021-01-14 22:25] simonLouvet commented on #490
les template se basent su une version des composants moleculer. Si le template n'est pas préparé avec les dernières versions des composants, il n'y a pas de magie. Tu peux modifier le package.json obtenu pour pointer vers les dernières versions mais il y aura sans doute des breaking change.

[2021-01-14 22:26] simonLouvet commented on #495
++

[2021-01-14 22:30] simonLouvet commented on #489
en cas de bug de ce genre, nous avons besoin de plus d'info. un repo par ex. les fichiers de conf (.env, docker-compose, commandes exécutées, make...) minimum

[2021-01-14 22:33] simonLouvet commented on #460
++

[2021-01-14 22:35] simonLouvet commented on #424
++

[2021-01-14 22:39] srosset81 commented on #490
Je confirme que ce n'est pas possible de rendre une mise à jour automatique.
Mettre à jour les versions des packages dans `package.json` devrait suffire dans la plupart des cas, mais il peut y avoir des breaking changes (j'ai commencé à les [marquer comme telle dans mes PRs](https://github.com/assemblee-virtuelle/semapps/search?q=breaking+changes&type=issues), en attendant qu'on gère mieux le vers

[2021-01-14 22:41] srosset81 commented on #460
Je l'ai fait pour coographie aujourd'hui. Reste le fichier du repo principal.

[2021-01-15 10:00] srosset81 opened #505 "Remettre le menu de côté et le hiérarchiser"
**Tension**
Comme discuté lors de la résidence, le problème avec le menu horizontal c'est qu'il n'est pas adapté lorsqu'il y a trop d'éléments. Comme pour Archipel on aimerait pouvoir inclure à peu près toutes les classes de l'ontologie PAIR, on va avoir vite des problèmes, notamment pour que ça fonctionne sous mobile.

**Proposition**
Il serait plus cohérent et plus simple d'utiliser un menu de c

[2021-01-15 10:27] simonLouvet opened #506 "Docker-compose ne marche plus avec archipelago & pair-ldp-server"
**Décrivez le bug**
l’exécution docker-compose ne fonctionne plus pour lancer archipelago + pair-ldp-server

**Etapes pour reproduire**
1.make start

**Comportement attendu**
lancement sans incident

[2021-01-15 13:54] srosset81 commented on #485
Même problème que https://github.com/assemblee-virtuelle/semapps/issues/480, je ferme.

[2021-01-15 13:54] #485 closed, assigned to nobody

[2021-01-15 14:27] simonLouvet commented on #456
à la différence du inverseof, cooperateWith l'applique au même prédicat

[2021-01-15 15:05] simonLouvet commented on #350
l'issue ne concerne maintenant que la sémantisation des données issue de tableurs des grand voisins. Attente des input que @ancelin doit fournir

[2021-01-15 15:11] srosset81 opened #508 "Mettre à jour les templates Moleculer"
https://github.com/assemblee-virtuelle/semapps-template-ldp
https://github.com/assemblee-virtuelle/semapps-template-activitypub

[2021-01-15 15:18] fluidlog commented on #501
Pour info, j'ai eu aussi une page blanche lorsque j'ai édité le projet Flodio.

[2021-01-15 15:19] J9rem opened #509 "Ne pas pouvoir modifier le contenu d'un autre profil sur archipel"
**Décrivez le bug**
Il est possible de modifier le contenu du profil d'un autre utilisateur sur Archipel

**Etapes pour reproduire**
1. Aller sur https://archipel.assemblee-virtuelle.org
2. Se connecter
3. Cliquer sur `personnes`
4. Choisir une personne
5. Cliquer sur `éditer`
6. Faire une modification
7. Sauvegarder

**Comportement attendu**
Ne pas pouvoir modifier le contenu d'un autre profil

*

[2021-01-15 15:27] simonLouvet commented on #489
@sauvagemathilde & @scenaristeur  je pense qu'il faut couper l'issue en 2.

[2021-01-17 16:31] GuillaumeAV opened #511 "Page blanche"
**Décrivez le bug**
Quand je clique sur un centre d'intérêt à partir du profil d'une personne,  je tombe sur une page blanche ...

**Etapes pour reproduire**
1. Aller sur Le profil de Simon
2. Cliquer sur Nature
3. Voir l'erreur : la page blanche ..

**Comportement attendu**
Qu'il n'y ait pas de page blanche ;)

[2021-01-17 21:39] fluidlog commented on #4
Simon a commencé à tester l'intégration de D3 dans react admin.
J'ai donc commencé une doc pour y mettre les explications de ce qu'il a fait, et mon analyse pour l'estimation
https://pad.lescommuns.org/SrBR_GvSQqK-cav9qM_Ebw#
Je pense terminer l'estimation avant la fin du mois de janvier.

[2021-01-17 22:26] simonLouvet opened #512 "l'autocompletion de AutocompleteArrayInput ne fonctionne plus"
**Décrivez le bug**
il n'est plus possible de créer un lien entre 2 sujets par autocompletion

**Etapes pour reproduire**
1. sur un champs AutocompleteArrayInput, saisir un nombre de caractères sensé déclenché l'autocompletion.
2. Aucun résultats n'est proposé

**Comportement attendu**
les sujets ayant un de leurs objets literaux contenant le texte saisi sont proposé pour créer la relation

[2021-01-18 09:07] #512 closed, assigned to nobody

[2021-01-18 09:10] simonLouvet commented on #509
Je pense que ce n'est pas un bug mais une fonctionnalité

[2021-01-18 10:20] #506 closed, assigned to simonLouvet

[2021-01-18 11:57] sauvagemathilde opened #515 "Erreur du dataProvider lorsqu'on essaie de supprimer un acteur de l'instance DMS du 2ème guide"
**Etapes pour reproduire**
1. Aller sur semapps.org
2. Faire le premier et le deuxième guide
3. Lancer l'instance DMS du deuxième guide
4. Créer un acteur sur le DMS
5. Essayer de supprimer le guide : une erreur apparait "The dataProvider threw an error. It should return a rejected Promise instead"

**Captures d'écran**
![Capture d’écran 2021-01-13 223200](https://user-images.githubusercontent.com

[2021-01-18 12:07] sauvagemathilde opened #516 "Corriger/Améliorer guides sur semapps.org"
**Problématique**
- Manque une petite introduction pour le premier guide (à quoi sert un serveur LDP ? pourquoi on en a besoin ici ? etc.)
- Quelques erreurs dans les résultats attendus, notamment dans les réponses du terminal

[2021-01-18 13:46] srosset81 commented on #490
Je ferme cette issue puisqu'une mise à jour automatique n'est pas possible.
Vendredi on a créé une issue https://github.com/assemblee-virtuelle/semapps/issues/508 pour mettre à jour les templates avec les dernières versions des packages Moleculer.

[2021-01-18 13:46] #490 closed, assigned to nobody

[2021-01-18 16:00] srosset81 opened #517 "Endpoint VOID pour récupérer des informations d'une instance SemApps"
**Tension**
Faire du 100% standards sémantique c'est bien, mais si on pouvait offrir un endpoint qui retournerait des statistiques sur une instance SemApps, ça permettrait à @fluidlog de pouvoir générer une jolie CartoDesCartos, ou d'afficher une liste complète d'instance un peu comme le fait [PeerTube](https://instances.joinpeertube.org/instances) ou [Mastodon](https://instances.social/).

**Prop

[2021-01-18 16:29] srosset81 opened #519 "Ne pas lancer des erreurs pour negotiateType"
**Problématique**
Il faudrait éviter que la fonction `negotiateType` ne lance une erreur pour qu'on ait pas à mettre des try...catch partout.

**Composants concernés**
Fonction `negotiateType` dans le package `@semapps/mime-types`.
Il faut aussi adapter toutes les fonction `negociate` du package qui se basent sur cette même fonction.

**Proposition**
Elle pourrait simplement retourner `false` quan

[2021-01-18 16:33] srosset81 commented on #489
Pour moi il n'y a aucune obligation, en terme de standards, pour utiliser l'extension `jsonld` au lieu de `json`.
Je n'ai d'ailleurs pas souvent vu l'extension `jsonld`.
Je propose donc de laisser tomber la première partie de la proposition, et de voir seulement pour fixer le bug de port (en règle général, éviter de faire des issues fourre-tout, surtout quand les problèmes ne sont pas liés)

[2021-01-18 23:18] simonLouvet commented on #519
je ne sais pas pourquoi cela te dérange de gérer du try catch. pas d'objection à cette modification.

[2021-01-19 02:47] simonLouvet opened #521 "filter of UriArrayField not support multiple value on resource"
**Décrivez le bug**
lors de l'usage de UriArrayField (dans une vue show ) basé sur ReferenceArrayInput, l'usage de l'attribut filter {attr,val} ne permet pas de filtrer les ressources qui ont plusieurs valeur val pour attr.

Le bug semble venir du hook https://github.com/marmelab/react-admin/blob/master/packages/ra-core/src/controller/field/useReferenceArrayFieldController.ts ligne 177

**Etapes p

[2021-01-19 02:50] simonLouvet commented on #501
same as #511

[2021-01-19 06:15] simonLouvet commented on #521
1er piste : améliorer le composant react admin useReferenceArrayFieldController pour passer dans le useGetMany (ligne 72) le filter afin que ce soit le dataAdapter qui fasse le filtrage.

2eme piste : améliorer l'algo de filtrage de useReferenceArrayFieldController

[2021-01-19 06:29] simonLouvet commented on #521
3eme piste testé plusieurs heure sans y arriver : ne pas mettre de filtre à UriArrayField et tenter d'interposer un autre composant entre UriArrayField et GridList pour influencer les données transmises au composant fils.
essayé dans ce composant :
useSafeSetState(props.data)/useSafeSetState(props.ids)
useListContext(propos)+setFilter

[2021-01-19 06:30] simonLouvet commented on #481
linked to #521

[2021-01-19 08:28] srosset81 commented on #521
@simonLouvet J'avais pas compris que tu allais t'occuper de ce bug aussi. J'avais bien identifié le problème. A mon avis il faut proposer une amélioration dans React-Admin.

[2021-01-19 08:31] srosset81 commented on #519
Parce que ça a occasionné un bug récemment, et puis parce que ça alourdit le code en général.

[2021-01-19 08:36] #501 closed, assigned to simonLouvet

[2021-01-19 08:36] #511 closed, assigned to simonLouvet

[2021-01-19 11:25] simonLouvet commented on #480
same as #521

[2021-01-19 11:27] simonLouvet commented on #521
same as #480

[2021-01-19 11:29] simonLouvet commented on #521
oui c'est ce qui ce parait le plus cohérent. Tu trouves plus cohérent que ce soit le dataAdapter ou useReferenceArrayFieldController qui fasse le filtrage? Laisser le fitrage dans useReferenceArrayFieldControllerproduit necessite moins de travaux et changements mais je le trouve moins élégante que le dataAdapter (getMany) customiseable à volonté avec le filter en paramètre.

[2021-01-19 18:44] srosset81 opened #522 "Utiliser un outil pour documenter les composants d'Archipel"
**Tension**
Actuellement les composants dans le package `archipelago-layout` sont documentés nulle part. Certains le sont directement dans le code mais c'est insuffisant.

**Proposition**
Utiliser un outil comme [Storybook](https://storybook.js.org/docs/react/get-started/introduction), [React Styleguidist](https://react-styleguidist.js.org/) ou [React Cosmos](https://reactcosmos.org/) pour documen

[2021-01-20 13:31] scenaristeur opened #523 "Server should give infos about the created resource"
**Tension**
Server does not give the url of the created resource

**Proposition**
Server should give infos about the created resource
same as https://github.com/solid/community-server/issues/441

according to https://stackoverflow.com/questions/38927335/how-to-get-header-location-value-from-a-fetch-request-in-browser
or https://stackoverflow.com/questions/39020385/fetch-api-not-returning-the-locat

[2021-01-21 00:37] scenaristeur opened #524 "post avec axios ne semble pas correct et me sort des propriétés semapps:fileName"
Hello,

je ne parviens pas à poster de ressource avec axios . https://github.com/axios/axios
[code]
A chaque fois, je me retrouve avec des clés

semapps:fileName
semapps:localPath

une idée ?
![image](https://user-images.githubusercontent.com/4020744/105257995-26879900-5b89-11eb-93d4-f6efdbe7ab0b.png)

ça semble être un problème axios qui utilise XMLHTTPrequest https://github.com/axios/axios/searc

[2021-01-21 01:19] #524 closed, assigned to nobody

[2021-01-21 01:53] scenaristeur opened #525 "prise en compte de la migration http vers https de schema.org"
reference https://schema.org/docs/faq.html#19

Q: Should we write 'https://schema.org' or 'http://schema.org' in our markup?

There is a general trend towards using 'https' more widely, and you can already write 'https://schema.org' in your structured data. Over time we will migrate the schema.org site itself towards **using https: as the default version** of the site and our preferred form in exa

[2021-01-21 15:26] GuillaumeAV commented on #482
Ca a l'air solide Mapbox !

Le mar. 5 janv. 2021 à 15:41, Sébastien Rosset <notifications@github.com> a
écrit :

--
Guillaume Rouyer
+33 (0)6 28 34 54 99
<http://assemblee-virtuelle.org>http://virtual-assembly.org

https://www.facebook.com/grouyer
https://twitter.com/Guillaume_AV

[2021-01-21 15:44] GuillaumeAV commented on #496
Aahaha :) C'est ton Semantic Markdown ça non ? Ca pourrait être étendu pas seulement aux documents mais potentiellement aux différentes classes de l'ontologie j'imagine ?

[2021-01-21 19:55] srosset81 commented on #496
Le [semantic markdown](http://blog.sparna.fr/2020/02/20/semantic-markdown/) proposé par Thomas est un peu différent, car on peut annoter des propriétés directement dans un document. Là on pourrait créer des liens vers des objets de classes différentes, mais c'est plus limité et peut-être pas nécessaire d'avoir une annotation particulière.

[2021-01-22 15:06] simonLouvet opened #526 "Pouvoir créer des relations réifiées"
**Description**
Pouvoir créer des relation réifiées (relations Person-Organization ou Agent-Activité par exemple)

**Issues liées**
- [x] Composant React-Admin pour éditer les relations réifiées #551
- [x] Ajouter une relation réifiée via une modale #552
- [x] Générer la relation inverse pour les relations réifiées #553

**Estimation du temps de travail en JH**
- @srosset81:
- @simonLouvet:

[2021-01-22 16:06] bouviermullerp commented on #526
J'aurai besoin d'un petit temps pour bien comprendre le besoin et les enjeux derrière ce sujet. (pour le moment je comprends, mais c'est vague dans ma tête)

[2021-01-22 23:56] scenaristeur commented on #489
@srosset81  extension jsonld ? la question s'est posée là https://github.com/lobid/lodmill/issues/250
avec une reference vers les specs là https://json-ld.org/spec/latest/json-ld/#iana-considerations
où il est evoqué
[code]
Je faisais juste remarquer la différence,
Désolé pour l'issue fourre-tout, le jsonld c'était juste une suggestion...

Je résume ici :

PORT 3000 dans .env :

[code]

PORT 3001

[2021-01-25 08:25] srosset81 opened #527 "Clarifier le lien avec le projet PAIR"

[2021-01-25 09:26] bouviermullerp opened #528 "Rédaction de la newsletter de Février"
Idéation collective sur un PAD avant de le passer sur GitHub https://pad.lescommuns.org/tl0ZtvLjQH61QXYzfYegZA

[2021-01-25 09:35] bouviermullerp opened #529 "Faciliter une réunion sur le feedback"
- [ ] [Framadate](https://framadate.org/EKo6cmjzO2uOiP5V)
- [ ] Choisir la date
- [ ] Invitation !

[2021-01-25 10:32] srosset81 commented on #406
Comme dit vendredi dernier, je me propose de reprendre cette issue en m'inspirant de ce qui avait été proposé par @anika-d  et @ValentineMathieu, mais en simplifiant afin que ce soit simple à mettre en page (HTML basique, adapté aux mobiles).
Il me semble qu'il y a une certaine urgence à améliorer ces pages, et qu'on ne peut pas attendre la charte graphique (il faudra de toute façon qu'on revoie t

[2021-01-25 10:34] srosset81 commented on #392
Où est-ce que ça en est ? On peut fermer cette issue @GuillaumeAV ?

[2021-01-25 10:35] srosset81 commented on #351
@GuillaumeAV Même question que pour https://github.com/assemblee-virtuelle/semapps/issues/392
On ferme cette issue ?

[2021-01-25 10:36] srosset81 commented on #407
@bouviermullerp Ping ?

[2021-01-25 10:38] srosset81 commented on #319
@bouviermullerp D'autres besoins de clarification ? On ferme cette issue ?

[2021-01-25 10:39] srosset81 commented on #300
Réglé par le passage vers Traefik

[2021-01-25 10:39] #300 closed, assigned to nobody

[2021-01-25 10:44] srosset81 commented on #296
Je ferme en faveur de cette issue https://github.com/assemblee-virtuelle/semapps/issues/195, qui est plus documentée

[2021-01-25 10:44] #296 closed, assigned to GuillaumeAV

[2021-01-25 10:45] srosset81 commented on #195
Du coup @bouviermullerp avait mis une objection sur le framavox.
Qu'en penses-tu @simonLouvet en tant que nouveau rôle pérennité économique ? Trop prématuré ?

[2021-01-25 11:02] bouviermullerp commented on #195
@srosset81 pour précision, je n'avais pas émis d'objection cf [la discussion](https://framavox.org/d/HbT1Ia24/est-ce-qu-on-ouvrirait-pas-un-compte-sur-open-collective-)

[2021-01-25 11:11] GuillaumeAV commented on #496
Ce serait déja excellent :)

[2021-01-25 11:29] srosset81 commented on #195
Ah désolé, j'avais zappé ton second message.
Je comprends mieux, et du coup je pense que ce serait intéressant de faire quelque chose suite à cette AGP ?

[2021-01-25 12:13] GuillaumeAV commented on #351
Hey ! Ca va se faire via Data pLayers, on peut du coup la fermer je crois !

A moins que une fois la liste des spec bien chiffrée, on se rende compte qu'il nous manque des sous pour tout bien développer ce qu'on a envie de développer ?

Mais je la fermerais quand même et j'en rouvirrais une autre le moment venu ?

[2021-01-25 12:13] GuillaumeAV commented on #392
Oui, je la ferme, c'est( stand-by avec grand est la ...

[2021-01-25 12:13] #392 closed, assigned to simonLouvet, ReX-AV-Gab

[2021-01-25 13:09] srosset81 commented on #351
OK ça marche !

[2021-01-25 13:09] #351 closed, assigned to GuillaumeAV, ReX-AV-Gab

[2021-01-25 14:02] bouviermullerp commented on #319
ok pour la gestion par consentement. Merci Seb

[2021-01-25 14:02] #319 closed, assigned to bouviermullerp

[2021-01-26 10:28] scenaristeur opened #531 "Création des containers lorsque semapps est lancé"
**Tension**
Pouvoir créer des containers pendant que semapps tourne

**Proposition**
Il semblerait que la création des containers s'effectue dans la config de semapps et soit donc figée une fois que semapps est lancé. Par exemple /persons au premier démarrage, mais lors de l'utilisation, il peut arriver que l'on ai besoin de créer d'autres containers comme '/workspaces', '/todos'... or cela ne sem

[2021-01-26 10:33] scenaristeur opened #532 "documentation, description des api / services sur la page d'accueil"
**Tension**
la page d'accueil/racine du server 127.0.0.1:3000 indique 404 not found

**Proposition**
il serait utile d'avoir à cet endroit une description / documentation des services, containers, paths (/sparql...) disponibles accessibles, offerts comme le ferait une api classique, au format json
Je veux bien jeter un oeil si vous me dites dans quel fichier je peux changer ce contenur

[2021-01-26 11:05] srosset81 commented on #531
Les containers peuvent être créés à la volée en appelant le service `ldp.container`, mais il manquera la route API.
La route API pourra être ajoutée à la volée lorsque @sauvagemathilde aurait fini cette issue: https://github.com/assemblee-virtuelle/semapps/issues/334

En revanche, on peut maintenant associer des configs spécifiques aux containers ([voir par exemple ce fichier](https://github.com/a

[2021-01-26 11:10] srosset81 commented on #532
On a prévu deux fonctionnalités dans ce sens:
- Afficher les containers à la racine https://github.com/assemblee-virtuelle/semapps/issues/429
- Créer un endpoint pour récupérer des informations sur l'instance (dont l'endpoint sparql) https://github.com/assemblee-virtuelle/semapps/issues/517

Comme il y a déjà des issues spécifiques, je ferme celle-ci.
Si tu veux te coller à l'une ou l'autre, bienv

[2021-01-26 11:10] #532 closed, assigned to nobody

[2021-01-26 19:02] srosset81 opened #533 "Précharger les contextes souvent utilisés."
**Problématique**
Actuellement quand on appelle le package jsonld pour faire des opérations de compactage, il appelle les fichiers de context (y compris le fichier /context.json à la racine) à chaque opération. Cela n'est pas très optimal, et en plus ça multiple les appels au fichier /context.json.

**Proposition**
On peut utiliser un custom document loader pour précharger les contextes souvent ut

[2021-01-27 07:56] srosset81 commented on #429
Proposition d'implémentation:
- Lorsqu'on crée un container via `ldp.container.create`, le persister automatiquement dans le container parent, si celui-ci existe. (Ou ajouter une option pour ça dans le service `ldp.container` si on veut pas que ce soit obligatoire)
- Si on veut avoir un container racine, il faut le spécifier dans le fichier `containers.js`.

[2021-01-27 07:59] srosset81 commented on #429
Question restante:
- Comment est-ce qu'on affiche les container enfants dans le container parent ? Est-ce qu'on indique seulement l'URL du container, avec le problème qu'on ne sait pas que c'est un sous-container sauf si on va l'explorer ? Si on déréférence le container enfant, ça risque de rendre la lecture difficile.

@scenaristeur tu sais comment c'est géré au niveau d'un pod SOLID ? Les dossie

[2021-01-27 08:52] srosset81 opened #535 "Définir les options des containers à la volée"
**Tension**
La création de container à la volée est possible via l'action `ldp.container.create` et, bientôt, par l'ajout des routes API #334. En revanche, on ne peut pas pour le moment ajouter des options au container à la volée, car ces options sont définies au moment de l'initialisation des services.

**Proposition**
Maintenant que toute la gestion des settings des containers a été bougé vers l

[2021-01-27 08:54] srosset81 commented on #531
J'ai pensé à un moyen de définir les options des containers à la volée https://github.com/assemblee-virtuelle/semapps/issues/535

Du coup je ferme cette issue car elle sera résolue par les issues #334 et #535

[2021-01-27 08:54] #531 closed, assigned to nobody

[2021-01-27 09:02] simonLouvet commented on #429
@srosset81  ca me parait cohérent dans l’ensemble. Avant d'essayer de répondre aux question il y a un point que je ne suis pas sur d'avoir compris. Les Users seraient bien dans un container enfant?

[2021-01-27 10:46] scenaristeur commented on #429
@srosset81 sur Solid, les containers sont définis de la sorte : exemple /testcontainer/ dans https://spoggy-test6.solidcommunity.net/public/
container vide  :
[code]
![image](https://user-images.githubusercontent.com/4020744/105979919-86ec6e00-6094-11eb-95e8-adcd529909b1.png)

Le même container contenant un fichier bidule.txt
[code]

--> definition d'un container :     a ldp:BasicContainer, ldp:Co

[2021-01-27 10:56] srosset81 commented on #429
Le dossier `/users` dans `pair-ldp-server` est déjà un container. Et oui, dans cette optique, il deviendrait un container enfant du container racine, si un tel container est défini.

[2021-01-27 10:59] scenaristeur opened #536 "Urls relatives au rootContainer à la place d'urls du serveur semapps stockées en dur dans Fuseki"
**Décrivez le bug**
Les ressources sont stockées avec l'url (localhost:3000) en dur dans Fuseki ce qui pourrait nuire à la portabilité du truc et semble hypothétiquement source d'erreur...
exemples :
- lancement depuis un autre port localhost:3001 -> plus rien ne correspond,
-  accès à semapps depuis un autre nom de machine par résolution DNS -> les ressources seront enregistrées sous https://nom_

[2021-01-27 11:05] scenaristeur commented on #429
Pour les users, au vue des cas d'usages que j'envisage, je dirais oui, les users doivent être traités comme un container enfant de rootContainer accessible (à voir après pour les droits de read/write) afin de pouvoir être liés au ressources, comme par exemple le createur d'une ressource, des groupes d'utilisateurs affectés à une tache...

[2021-01-27 11:05] srosset81 commented on #429
Merci @scenaristeur.

Intéressant que le sous-container soit lui-même défini comme un `ldp:Resource` en plus de `ldp:BasicContainer, ldp:Container`, lorsqu'il est lu depuis le container parent, mais pas quand il est lu directement. J'imagine que c'est parce que, dans un container, on ne peut avoir que des ressources ?

En faisant un `GET` sur https://spoggy-test6.solidcommunity.net/public/testcont

[2021-01-27 11:10] srosset81 commented on #429
Et voilà ce que ça donne avec un bon [framing](https://json-ld.org/playground/#startTab=tab-framed&json-ld=%5B%7B%22%40id%22%3A%22https%3A%2F%2Fspoggy-test6.solidcommunity.net%2Fpublic%2Ftestcontainer%2F%22%2C%22http%3A%2F%2Fpurl.org%2Fdc%2Fterms%2Fmodified%22%3A%5B%7B%22%40value%22%3A%222021-01-27T10%3A54%3A00Z%22%2C%22%40type%22%3A%22http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema%23dateTime%22%7D%5D

[2021-01-27 11:11] scenaristeur commented on #429
ta question a disparu... mais non, si tu veux avoir son contenu, tu dois faire un get avec son url, mais c'est vrai que ça manque un peu parfois, dans certains cas, ça peut être utile de savoir s'il est vide, ou combien de ressources/ il contient
mais c'est assez compréhensible est proche d'un système de fichier, quand tu listes un folder sur linux/windows, tu n'as pas plus de détails sur les sous

[2021-01-27 11:14] scenaristeur commented on #429
ah oui, le framing ça le fait, mais ça donne quoi si tu as une arborescence avec des tonnes de sous-dossiers  et de ressources ? tu ramènes tout ?
Si oui, y'a un moment ou il faut stopper, quand même, d'autant qu'une des ressources pourrait références un container enfant du rootContainer... ;-)

[2021-01-27 11:16] scenaristeur commented on #429
et ne sont pas ici listés les .acl qui gèrent les droits .meta
exemple : https://spoggy-test6.solidcommunity.net/public/testcontainer/bidule.txt.acl auquel tu ne dois pas avoir accès

[2021-01-27 11:17] srosset81 commented on #429
Oui ça me semble cohérent, en tout cas ça serait lourd à traiter si on retournait le contenu des containers enfants.
Du coup au niveau de la requête SPARQL qu'on devra faire, il suffira de *filter out* `ldp:contains` des resources retournées, et on aura quelque chose de cohérent et d'utilisable.

Le framing se contente d'ordrer les données fournies, il ne va pas commencer à déréférencer des URLs.

[2021-01-27 11:25] srosset81 commented on #536
Je me trompe peut-être, mais il me semble que dans un triple store comme Fuseki, le principe est d'utiliser des URIs complètes partout. Après si c'est possible d'utiliser des URIs relatives, tant mieux, y a-t-il de la documentation dans ce sens ?

L'exemple de fichier turtle que tu montres, c'est plutôt une question de formattage. On pourrait afficher les données de cette manière sans pour autant

[2021-01-27 11:36] scenaristeur commented on #429
- dans le premier cas, on lit le parent, et pour lui oui, c'est une ressource
- dans le deuxième cas c'est juste un container ;-)
je n'ai jamais vu sur Solid de IndirectContainer ni DirectContainer comme évoqué ici https://www.w3.org/TR/ldp/#ldpc-container

[2021-01-27 17:23] s-ol opened #537 "webfinger broken because activitypub.actor.get is not registered"
**Décrivez le bug**
It seems that `@semapps/webfinger` is broken because `activitypub.actor.get` was removed at some point since 0.1.15, which is the version the molecular installer uses.

[code]

## reproduction
- create a new project (`moleculer init assemblee-virtuelle/semapps-template-activitypub my-activitypub-server`)
- update all packages to the last version (0.1.41)
- create a user account

[2021-01-27 17:36] srosset81 commented on #537
Thanks, I will fix that soon.

[2021-01-27 17:40] s-ol commented on #537
I'm very new to molecular and semapps, but it seems that the cause is that in 9896553eeea81011b827af2afee6cf98c4f5038c the `DbService` that implements `get` was removed.

[2021-01-28 10:37] srosset81 opened #540 "Empêcher plusieurs acteurs ActivityPub d'avoir le même preferredUsername"
Actuellement c'est possible, si les acteurs sont dans des containers différents. Cela pose un problème pour le webfinger, qui ne s'attend à avoir qu'un seul username par nom de domaine.

Il faudrait ajouter un mécanisme pour vérifier, via une requête SPARQL, que le `preferredUsername` n'est pas déjà utilisé, et si c'est le cas, l'incrémenter.

[2021-01-28 10:42] srosset81 commented on #508
Les derniers breaking changes sont listés ici, attention à bien les prendre en compte:
https://github.com/assemblee-virtuelle/semapps/issues?q=label%3A%22breaking+changes%22+is%3Aclosed

[2021-01-28 10:47] srosset81 commented on #537
It is fixed by https://github.com/assemblee-virtuelle/semapps/pull/539 and in the latest version 0.1.42
Please beware that there is a breaking change (explained in the PR). There is a running issue https://github.com/assemblee-virtuelle/semapps/issues/508 to update the Moleculer templates with the latest versions.

[2021-01-28 10:47] #537 closed, assigned to srosset81

[2021-01-28 11:15] s-ol commented on #537
Thanks for the quick response!

[2021-01-28 14:46] s-ol commented on #508
These two PRs should be all that is required as far as I can tell, but I would appreciate someone who knows the project better to confirm everything works as expected.

- assemblee-virtuelle/semapps-template-activitypub#1
- assemblee-virtuelle/semapps-template-ldp#3

[2021-01-28 17:27] srosset81 opened #541 "Permettre de déréférencer des ressources sur plusieurs niveaux"
## Tensions
Sur https://dev.colibris.social/projects/new-proj-proche, `as:location` est déréférencé, mais pas la sous-propriété `schema:address`.

## Proposition
Pour l'option `dereference` des containers, permettre de définir plusieurs niveaux, par exemple séparés par un point:

[code]

[2021-01-28 17:45] srosset81 commented on #508
Thanks a lot ! I've suggested a fix for the activitypub template.
@sauvagemathilde could you have a look at @s-ol's work ?

[2021-01-28 17:57] srosset81 opened #542 "Accepter le format JSON par défaut partout"
**Problématique**
Lorsque je dois appeler `ldp.resource.get` ou `ldp.container.get` depuis d'autres services, c'est toujours pour avoir les données en JSON. Cela oblige à importer les `MIME_TYPES` du package `@semapps/mime-types` partout.

**Proposition**
Plutôt que d'imposer de fournier un `accept` ou un `contentType`, avoir le format JSON par défault.

[2021-01-28 17:57] srosset81 commented on #542
OK pour toi @simonLouvet ?

[2021-01-28 21:20] srosset81 opened #543 "Mettre en place une stratégie UX"
- Trouver / associer des UX designers
  - Pistes actuelles Romain Rouyer, Fabrice Liut
- Proposer des réunions de travail UX
- Participer aux réunions techniques du vendredi lorsqu'il y a des sujets UX

[2021-01-28 21:22] srosset81 opened #544 "Assurer un suivi des personnes qui s'approchent de SemApps"
- Faire un fichier des contributeurs potentiels ?

[2021-01-28 21:25] srosset81 opened #545 "Identifier les logiciels qui pourraient être "semappsisés""
Identifier des logiciels dont on pourrait remplacer le backend par SemApps, pour que les utilisateurs entre dans l'interopérabilité sans même le savoir ;-)

Voir par exemple YesWikiLDP

[2021-01-28 21:29] srosset81 opened #546 "Transférer tout ce qui est sur Roam Research sur le wiki Github"
Passer tout ce qui est sur Roam Research en faisant une valoratisation du contenu

https://github.com/assemblee-virtuelle/semapps/wiki

[2021-01-28 21:31] srosset81 opened #547 "Soliciter le CA de l'AV pour arbitrer la répartition des apports d'affaire"

[2021-01-28 21:32] srosset81 opened #548 "Fournir au groupe projet un calendrier de financements acquis"

[2021-01-28 21:35] srosset81 opened #549 "Avancer sur le processus de corémunération"
Parler au personnes qui utilisent cette méthodologie, pour bien comprendre comment elle fonctionne et pour pouvoir offrir des solutions à tous les membres du projet (pas seulement aux développeurs) lorsqu'il y aura de l'argent.

https://movilab.org/wiki/Coremuneration

[2021-01-28 21:37] srosset81 opened #550 "Garder un historique de qui a financé quoi"
Garder un historique de qui (organationss/projets) a financé quoi (chantiers ?) afin de pouvoir le communiquer

Cela permettra de mettre en valeur les contributions aux communs.

En lien peut-être avec https://github.com/assemblee-virtuelle/semapps/issues/318

[2021-01-28 21:49] srosset81 commented on #536
Une idée @simonLouvet ?

[2021-01-28 21:52] srosset81 opened #551 "Composant React-Admin pour éditer les relations réifiées"
S'inspirer du composant ArrayInput de React-Admin, en tout cas au niveau de l'UX:
https://marmelab.com/react-admin/Inputs.html#arrayinput

[2021-01-28 21:55] srosset81 opened #552 "Ajouter une relation réifiée via une modale"
- Afficher [une modale comme celle de cette maquette](https://www.figma.com/proto/dgfKKQHSc1sm3JPw68hSL0/Id%C3%A9e-ajout-lien-SemApps?node-id=1%3A2&scaling=min-zoom) où l'on sélectionne:
  - L'organisation (éventuellement via une recherche fédérée)
  - Le rôle (avec éventuellement possibilité d'en créer un nouveau)
- Cette modale pourrait être déclenchée sur la page "Show" (à différents endroits)

[2021-01-28 21:58] srosset81 opened #553 "Générer la relation inverse pour les relations réifiées"
Si l'on ajoute une relation type "Sébastien a pour rôle Président dans l'organisation AV", il faut s'assurer que l'inference service génère bien la relation inverse "L'organisation AV a un rôle Président tenu par Sébastien".

[2021-01-28 21:58] srosset81 commented on #526
J'ai créé des issues pour chaque point du chantier et j'ai modifié la description de ce chantier en concordance.

[2021-01-28 22:22] simonLouvet commented on #536
J'aurais pas dit mieux @srosset81

[2021-01-29 07:28] simonLouvet commented on #542
Il me semble que le accept par défaut est déjà configurable dans le options du container et géré au niveau du ldp.resource.get. get.js ligne 45. ok pour faire la même chose pour le content-type.
Nous pourrions souhaiter différencier la configuration du container (au sens appi) du service associé et ne pas mélanger les configuration des deux couches dans containers.js.
pas d'objection dans l'absolu

[2021-01-29 08:35] srosset81 opened #554 "Décider des prochaines classes à ajouter à Archipel"
On a pas mal de développeurs débutants en ce moment. Ce serait bien de les mettre sur l'ajout de classes à Archipel, mais encore faut-il savoir quoi et dans quel ordre de priorité.

Objectif: créer des issues claires (taggées `Archipel`) avec la classe, les relations et propriétés désirées

[2021-01-29 08:39] srosset81 opened #555 "Compléter les tests d'intégration"
**Problématique**
Nous avons développé beaucoup de fonctionnalités côté Moleculer, mais la plupart ne font pas l'objet de tests d'intégration. Pourtant ces tests sont très utiles pour détecter des problématiques, et le middleware ne serait pas aussi stable si on en avait pas déjà mis.

**Proposition**
Lister tous les tests qu'il faudrait faire, par ordre de priorité, avec l'objectif d'avoir une co

[2021-01-29 08:45] srosset81 commented on #293
Remplacé par https://github.com/assemblee-virtuelle/semapps/issues/405

[2021-01-29 08:45] #293 closed, assigned to GuillaumeAV, ReX-AV-Gab

[2021-01-29 08:57] srosset81 opened #556 "Tester la pagination des collections ActivityPub"

[2021-01-29 09:03] srosset81 opened #557 "Tester les différentes options des containers LDP"
Fichier `container-options.test.js`

- [ ] `accept` (le format turtle est déjà testés dans ldp/resource.test.js)
- [ ] `jsonContext`
- [x] `queryDepth`
- [x] `dereference`
- [ ] `filters`

[2021-01-29 09:04] srosset81 opened #558 "Tester l'endpoint webfinger"
- Créer un acteur
- Vérifier qu'on peut le récupérer via l'endpoint webfinger

[2021-01-29 09:05] srosset81 opened #559 "Tester l'upload de fichiers via le protocole LDP"

[2021-01-29 09:07] srosset81 opened #560 "Tester le cache LDP"
- Vérifier qu'au deuxième appel, la resource provient du cache
- Vérifier que, quand on mets à jour une ressource, le cache est invalidé

[2021-01-29 09:08] srosset81 commented on #555
Travail en cours avec des issues taggées `tests`: https://github.com/assemblee-virtuelle/semapps/issues?q=is%3Aissue+is%3Aopen+label%3Atests

[2021-01-29 09:15] srosset81 commented on #554
A mon avis il faut réfléchir en terme d'usages et plus précisément: qu'est-ce qui serait utile pour l'AV ? Qu'est-ce qu'on pourrait mettre en place comme pratiques ?

Par exemple:
- Créer des événements pour les réunions
- Créer des documents de compte-rendu
- Rendre visible les rôles de l'AV et de SemApps
- Avoir un CRM des organisations partenaires
- Etc...

[2021-01-29 09:51] scenaristeur commented on #536
totalement d'accord, je soumettais juste l'idée que si on y accède par le port 3001 au lieu de 3000 ou part un nom de domaine, les urls complètes risquent de ne plus être cohérentes les unes entre elles... ou il faudrait prévoir un système de migration.

[2021-01-29 09:51] #536 closed, assigned to nobody

[2021-01-29 09:59] srosset81 commented on #536
J'ai déjà eu à faire ce type de migration, une requête SPARQL avait suffit, mais je ne crois pas l'avoir sauvegardée. Peut-être qu'on pourrait proposer un service Moleculer pour faciliter ce type de migration, ou d'autres types d'opérations complexes. Par exemple une action `migration.changeBaseUri` avec comme paramètres `oldUri` et `newUri`.

Une idée sur d'autres besoins qu'il pourrait y avoir e

[2021-01-29 10:12] simonLouvet commented on #536
++ pour un service de migration. Idéalement il pourrait être déclenché automatiquement lors d'un changement d'URL de base.

[2021-01-29 10:23] srosset81 opened #561 "Proposer un service de migration"
Suite aux discussions sur https://github.com/assemblee-virtuelle/semapps/issues/536, il apparait qu'un service Moleculer `migration` permettant de facilement réaliser des opérations complexes de migration sur le triple store pourrait être utile. Cela éviterait d'avoir à se souvenir de requête SPARQL complexe ou, pire, de se tromper et de perdre des données.

Actions envisagées:
- `changeBaseUri` a

[2021-01-29 10:24] srosset81 commented on #536
OK j'ai créé une issue spécifique https://github.com/assemblee-virtuelle/semapps/issues/561. Continuons la discussion là-bas.

[2021-01-29 14:52] srosset81 commented on #554
@GuillaumeAV @bouviermullerp
Pour le prochain sprint de 2 semaines qui commence maintenant, @capucinemasson est motivée pour faire avancer Archipel. Auriez-vous une idée d'une classe qui pourrait être ajoutée, sans qu'elle demande un travail spécial ? (p.ex. les rôles ce n'est pas possible tant que @simonLouvet n'a pas terminé les [relations réifiées](https://github.com/assemblee-virtuelle/semapps

[2021-01-29 14:56] srosset81 opened #562 "Indiquer les breaking changes sur les releases"
Trouver la manière la plus efficace et la plus facile pour noter les breaking changes sur les releases:

https://github.com/assemblee-virtuelle/semapps/releases

[2021-01-29 14:56] srosset81 commented on #562
Attention: pour l'instant on a un tag pour le middleware, et le tag pour le frontend n'est pas publié. On ne peut donc pas noter les breaking changes sur le frontend.

Au préalable, il faudrait donc voir si on arrive à dissocier les packages frontend et middleware. ?

@simonLouvet

[2021-01-29 15:00] srosset81 opened #563 "Proposer des moments réguliers de rencontres au bd Voltaire"
Tous les mois au minimum ?
Sur une journée entière ?
Pour l'équipe de dev et non-dev ?

Peut-être voir avec chacun-e quelles seraient ses attentes ?

[2021-01-29 15:25] simonLouvet commented on #562
j'ai vu ca et c'a fait chi...
la seul solution que je voies c'est front.X.X.X / back.X.X.X pour différencier les 2.

[2021-01-29 16:44] GuillaumeAV commented on #554
Salut !

Je me suis dit que ce serait utile d'avoir une arborescence des classes, sans avoir besoin de passer par protege ...
Du coup, voici [une arborescence de l'ontologie PAIR](https://docs.google.com/document/d/1jsvD2ly_yt1IqtCZxYSnjwBjNYClziG-rl63ExyejHo/edit?usp=sharing), [complémentaire du diagramme](https://raw.githubusercontent.com/assemblee-virtuelle/pair/master/3-Dissemination/Diagramme

[2021-01-29 17:01] GuillaumeAV commented on #554
La comme ça je dirais :
- Idées : Pour pouvoir partager des idées sur tout et n'importe quoi #brainstorming, feedbacks, amélioration continue, idéation
- Tâches : Pour tester une gestion des tâches liées à l'asso via SemApps
- Lieu : Pour cartographier notre communauté
- Types : L'implémentation des différents types nous permettrait de gagner à fond en structuration des données ..

On aurait les p

[2021-01-29 17:03] GuillaumeAV commented on #543
Lise Gloria pourrait également rejoindre la team, j'ai un call lundi avec Fabrice et je m'occupe de ce sujet globalement la semaine prochaine !

[2021-01-29 17:43] srosset81 commented on #562
J'ai vu certains projets OS qui faisaient ça en effet, mais je ne retrouve plus lesquels. Je regarde s'il y a d'autres solutions.

Sinon je suis tombé sur ce logiciel qui permet d'automatiser pas mal de choses. Mais je sais pas s'il pourrait bien gérer des packages front/back différents. Je vais y passer un peu de temps.
https://github.com/release-it/release-it

[2021-01-29 19:24] srosset81 commented on #554
Les plus simples semblent Idées et Lieux. Il s'agira juste de déterminer les relations et propriétés qu'on veut implémenter.

Pour les tâches, je me demande si, au niveau de la pratique, ça ne va pas entrer en conflit avec les issues Github ? En clair, est-ce que les contributeurs de l'AV vont passer par SemApps pour ça, alors que ça marche déjà plutôt bien sur Gituhub ? A moins qu'on crée un serv

[2021-01-30 23:38] srosset81 commented on #466
Bonne nouvelle, react-admin a maintenant (v3.12.0) ajouté des "translatable inputs", ça devrait faciliter la saisie de données multi-langues.

https://marmelab.com/react-admin/Inputs.html#translatable-inputs

Exemple ici: https://github.com/marmelab/react-admin/pull/5810

[2021-01-31 17:20] bouviermullerp commented on #554
Salut !
Je m'excuse pour le manque de réactivité, mon ordi est mort il y a 3 jours et c'est donc tout mon setup qui est tombé - ça m'a pris du temps de rmonter une config avec les bouts d'ordi que j'avais récupéré (et c'est pas encore fini :-/ )

Ce passage est hyper intéressant :) et c'est (de mon point de vue) la clef qui permettra de déduire les réponses (quelles classes ?).

Autrement dit, est

[2021-01-31 23:45] srosset81 commented on #554
Merci @bouviermullerp d'amener ces réflexions intéressantes et même essentielles :-)

Voilà mon avis sur les différentes raison d'être potentielles que tu as énoncées:

**1. Pour créer une espace de démo**
Pour moi c'est le moins intéressant. Cela ne va motiver personne de remplir des données si elles sont juste à usage de démo. S'il faut faire une vraie démo plus tard, je pense que ce sera plus s

[2021-02-01 07:16] bouviermullerp commented on #554
Très juste, je suis en phase avec tes réflexions @srosset81 .

Dans l'atente d'une discussion de vive voix (et d'une décision :) ), et pour ne pas bloquer les développeurs débtants, aurait-on un espace de "bac à sable" dans lequel on puisse venir ajouter une classe/jouer ? (je pense éventuellement à la précédente instance DMS ?) Sinon, possible de se limiter a du local ?

Pour alimenter la réflexi

[2021-02-01 08:05] tfrancart commented on #554
Bonjour

La définition d'arborescence détaillées de types ne devrait pas se faire directement dans PAIR. Cela devrait prendre la forme de vocabulaires contrôlés type SKOS, donc des _instances_ de IdeaType, ResourceType, ActivityType, OrganizationType, etc... organisées hiérarchiquement.

Ces arborescences pourront ne pas avoir le même cycle de vie que le modèle PAIR. Ces vocabulaires contrôlés ser

[2021-02-01 09:03] srosset81 commented on #554
Il est possible de faire des modifications sur Archipel en local puis même de les déployer sur un URL temporaire avec [Vercel](https://vercel.com/download). C'est aussi possible de faire une branche à part avec ces changements, même s'ils ne sont pas amenés à être fusionnés avec la branche principale.
La précédente instance DMS est toujours là mais elle n'est plus mise à jour.

C'est une bonne que

[2021-02-01 09:06] #505 closed, assigned to srosset81

[2021-02-01 09:20] srosset81 commented on #562
Pour info j'ai fait un publish des packages du front, il y avait des breaking changes mais j'ai pas fait une major release car sinon les packages front serait passé avant les packages middleware au niveau du numéro de version, et ça aurait rendu les choses encore plus illisibles.
Il faut donc qu'on résolve ce problème front/middleware avant de pouvoir appliquer nos décisions.

[2021-02-01 09:40] srosset81 commented on #562
Une solution serait d'utiliser le mode independent pour le versioning.
https://samhogy.co.uk/2018/08/lerna-independent-mode-with-semver.html
Cela a pour résultat que, plutôt que d'avoir qu'un seul tag pour tout le repo, on aurait un tag par package.
On pourrait quand même forcer le packages front et middleware d'être publiés ensemble.
L'inconvénient au niveau des releases https://github.com/assemb

[2021-02-01 09:44] GuillaumeAV commented on #554
Helloo tout le monde !

Très intéressante cette discussion ! Voici ci-dessous ma vision ...

Sur la définition et le périmètre d'archipel, je me dis qu'Archipel est un "produit" basé sur SemApps + PAIR, destiné à outiller les organisations, communautés, archipels dans leurs modes d'organisation en réseau.

Là ou SemApps adresse le **volet technique** des modes d'organisation en réseau, Archipel en

[2021-02-01 10:32] simonLouvet commented on #554
Il me semble que nous avions décidé en Normandie que archipel devait être (entre autre) notre espace de démo technique et que cela prévalait au besoin fonctionnel de l'AV. Nous en étions arrivé à cette conclusion notamment par rapport au menu arborescent. Est ce que nous remettons en cause cette décisions?

[2021-02-01 10:46] GuillaumeAV commented on #554
Pour moi ce n'est pas incompatible, au contraire ... Il faut qu'on soit en capacité de démontrer qu'Archipel peut être utile et fonctionnel pour une communauté ..

[2021-02-01 11:05] srosset81 commented on #484
@GuillaumeAV J'ai l'impression que le problème est réglé, du moins je n'ai plus d'erreur quand je suis les étapes pour reproduire le bug.
Concernant cette remarque:

Il y a un popup qui est disponible en cliquant tout à droite du champ.

[2021-02-02 10:51] srosset81 opened #565 "Proposer une version du site en français"
Depuis la version alpha 71, Docusaurus supporte le multi-langue

https://v2.docusaurus.io/docs/next/i18n/introduction/

Ce serait pas mal de proposer aussi le site en français, non ?

[2021-02-02 12:54] GuillaumeAV commented on #565
Ooh oui en effet ce serait pas mal !

Le mar. 2 févr. 2021 à 11:51, Sébastien Rosset <notifications@github.com> a
écrit :

[2021-02-03 11:13] #541 closed, assigned to srosset81

[2021-02-03 11:21] srosset81 opened #568 "OrderedCollection: persist items order"
**Issue**
Currently, to manage `OrderedCollection`, items are ordered according to a predicate (for example `as:published`). But normally the order of items is persisted.

**Proposal**
- Use [rdf:Seq](https://ontola.io/blog/ordered-data-in-rdf/) or `rdf:List` to persist the order of items.
- This library could be used (or not): https://github.com/ontola/rdfdev-js/tree/master/packages/collections
-

[2021-02-03 16:45] srosset81 commented on #521
@GuillaumeAV Comme dit aujourd'hui, je vais m'occuper de cette issue, dès que possible, qui est à la base de la plupart des problèmes sur Archipel que tu as identifié.

[2021-02-03 17:02] #556 closed, assigned to srosset81

[2021-02-03 17:58] srosset81 commented on #562
@simonLouvet J'ai fait une release en utilisant l'independent versioning: https://github.com/assemblee-virtuelle/semapps/commit/8706ec9f710755edc5bbdf56ea7c475b1875bd85
Ca ne change pas grand chose, sauf qu'il faut valider le choix de version pour chaque package.
Le changement principal c'est que ça crée un tag pour chaque package https://github.com/assemblee-virtuelle/semapps/releases
C'est un pe

[2021-02-04 15:16] srosset81 opened #569 "Prendre en compte les droits ACL en lecture et en écriture"
Se référer à ce document: https://hackmd.io/LD_u-qoNQhm2p-UMEflTjg

[2021-02-04 15:18] srosset81 opened #570 "Ne pas retourner les résultats du graph avec les webacl"
Commentaire de @tfrancart

[2021-02-04 15:31] srosset81 opened #571 "Connaître les droits ACL d'une ressource ou d'un container"
## Raison d'être
En terme de frontend, c'est très utile de pouvoir connaître les droits sur une ressource ou un container. Cela évite par exemple de mettre un bouton "Editer" si l'utilisateur n'a que des droits de visualisation. Cela évite d'attendre l'erreur 403 !

## Spécifications
Il existe une [spécification](https://github.com/solid/web-access-control-spec/blob/master/README.md#acl-resource-l

[2021-02-04 15:42] srosset81 opened #572 "Modifier les droits ACL d'une ressource ou d'un container"
## Raison d'être
Il serait important que, depuis le frontend, on puisse facilement changer les droits sur une ressource ou un container. Cela permettrait, par exemple, de donner un droit d'écriture sur une ressource. Il faudrait pour cela passer par des standards.

## Spécifications
Dans les [anciennes specs](https://www.w3.org/wiki/WebAccessControl), il est expliqué le moyen de modifier les ACL d

[2021-02-04 15:56] srosset81 opened #573 "Attribuer les droits à la création d'une ressource"
## Spécifications
Dans les dernières specs de WebACL, il a été décidé de ne pas prendre en compte la notion de [Resource Owner](https://github.com/solid/web-access-control-spec/blob/master/README.md#resource-owners).
Il faut néanmoins donner certains droits (surtout `acl:Control`) au créateur d'une ressource pour qu'il puisse continuer à la gérer.

## Implémentation
- Quand un utilisateur crée une

[2021-02-04 16:07] srosset81 opened #574 "Gérer correctement les erreurs de permission"
Si un utilisateur essaie de voir ou modifier une ressource sans en avoir le droit, Fuseki doit renvoyer une erreur claire, et le middleware doit renvoyer une erreur 403 au frontend.

**Attention**: Si on fait une requête de type `DELETE { } INSERT { } WHERE { }` et que l'utilisateur a seulement le droit `acl:Append`, la requête `INSERT` va fonctionner mais pas la requête `DELETE`. Il faut que tout

[2021-02-04 16:45] srosset81 opened #575 "Gérer des groupes webACL"
## Spécifications

Les specs WebACL permettent de définir des [groupes d'agents](https://github.com/solid/web-access-control-spec/blob/master/README.md#groups-of-agents). On utilise pour ça la classe `vcard:Group`:

[code]

On peut ensuite donner les droits d'une ressource à un groupe plutôt qu'à un utilisateur en particulier, via le prédicat `acl:agentGroup`.

## Implémentation
- Lorsqu'on crée u

[2021-02-04 17:13] srosset81 commented on #526
@simonLouvet @tfrancart Petite interrogation suite à une discussion avec Niko ce matin:
Est-ce que dans l'ontologie PAIR, un rôle peut être utilisé pour plusieurs organisations ou est-ce qu'il est spécifique à une organisation ?
Plus précisément, est-ce qu'on va avoir un rôle "Administrateur de l'organisation Assemblée Virtuelle" (avec un URI de type `/organisations/assemblee-virtuelle/roles/admin

[2021-02-04 17:24] tfrancart commented on #526
J'imaginais plutôt la seconde solution. Dans l'idée les rôles possibles
seraient fournis dans un référentiel contrôlé type SKOS. Qui pourrait être
adapté/étendu pour un déploiement spécifique, mais qui resterait une liste
générique.
L'ensemble de "tous les administrateurs de l'assemblée virtuelle" doit donc
se définir par croisement d'un rôle générique "Administrateur" et de
l'organisation spécifi

[2021-02-04 17:35] srosset81 commented on #509
Je ferme car cela sera ajouté via le chantier sur les webacl https://github.com/assemblee-virtuelle/semapps/issues/52

[2021-02-04 17:35] #509 closed, assigned to nobody

[2021-02-04 18:33] simonLouvet commented on #526
Les 2 sont possible

Les 2 sont possibles sémantiquement. Cependant, circonstancier des rôles à des organisations nécessiterait un prédicat "rôle" entre Les classes d'Organization et de Role ce qui n'est pas actuellement le cas dans PAIR. Cela voudrait également dire que nous gérons les container imbriqué `/organisations/assemblee-virtuelle/roles` ce qui n'est pas le cas pour le moment.

Pour Pass

[2021-02-05 08:19] srosset81 commented on #526
@simonLouvet @tfrancart
Après réflexion, ce que vous proposez ne semble pas pouvoir marcher.
Imaginez que l'objectif soit de cartographier "Guillaume est administrateur de l'AV" et "Thomas est administrateur de Sparna". On aurait donc plus ou moins ces triplets:

[code]

Mais il y aurait aucun moyen de savoir, à partir de ces triplets, de quelle organisation Guillaume et Thomas sont les administra

[2021-02-05 08:39] tfrancart commented on #526
Le ven. 5 févr. 2021 à 09:19, Sébastien Rosset <notifications@github.com> a
écrit :

Non, c'est faux. On aurait la structure en étoile suivante :

</users/guillaume/membership1> a pair:MembershipAssociation .
</users/guillaume/membership1> pair:membershipActor </users/guillaume> .
</users/guillaume/membership1> pair:membershipRole </roles/admin> .
</users/guillaume/membership1> pair:membershipOrga

[2021-02-05 09:02] srosset81 commented on #526
Merci pour les précisions Thomas. C'est plus évident avec un exemple !
Je continue à trouver que c'est compliqué tout ça, mais bon, c'est les choix que vous avez fait, on va essayer de s'y adapter. :+1:
Pour respecter les normes des webACL, on n'aura cependant pas d'autres choix que de créer des groupes, générés automatiquement à partir de ces données "en étoile". Du coup on aura potentiellement d

[2021-02-05 09:12] srosset81 commented on #575
Comme le dit @tfrancart dans [son commentaire ici](https://github.com/assemblee-virtuelle/semapps/issues/526#issuecomment-773884192), les associations dans PAIR vont ressembler à ça:

</users/guillaume/membership1> pair:membershipActor </users/guillaume> .
</users/guillaume/membership1> pair:membershipRole </roles/admin> .
</users/guillaume/membership1> pair:membershipOrganization </organizations/

[2021-02-05 09:13] srosset81 commented on #526
Cela dit, certaines instances pourraient aussi faire le choix de ne pas utiliser les rôles et de se contenter de créer des `pair:Group` qui sont `pair:partOf` des organisations.

[2021-02-05 09:14] tfrancart commented on #526
Le ven. 5 févr. 2021 à 10:02, Sébastien Rosset <notifications@github.com> a
écrit :

Le besoin métier était de pouvoir exprimer le rôle de la personne dans une
organisation ou une actitivté. L'ontologie ORG propose ce modèle de
Membership (https://www.w3.org/TR/vocab-org/).

Oui, c'est une bonne chose. Instinctivement je me dis que c'est une bonne
chose de dériver et séparer les groupes d'utilisat

[2021-02-05 09:17] simonLouvet commented on #526
Vous allez plus vite que moi; j'ai pas le temps de répondre mais je voie que la discussion va dans le bon sens :-).
Merci @tfrancart pour ta réactivité et @srosset81 de challenger et de faire progresser la réflexion.

[2021-02-05 09:18] tfrancart commented on #526
Il faut certainement qu'il y ait une solution de modélisation qui ne passe
pas par les associations de Membership.
Je ne sais pas si ca se ferait via Group et partOf, cependant. Group a
plutôt un sens de "sous-organisation", alors qu'un ensemble
d'administrateurs par exemple est plutôt une notion transverse au découpage
fonctionnel d'une organisation.
ORG là-aussi propose une variante de modélisat

[2021-02-05 09:31] srosset81 commented on #521
@GuillaumeAV @simonLouvet
J'ai posté une issue sur react-admin avec une proposition de solution:
https://github.com/marmelab/react-admin/issues/5871
Normalement ils sont assez réactifs. S'ils ne veulent pas de cette amélioration, on verra pour implémenter la solution de notre côté.

[2021-02-05 11:05] tfrancart commented on #418
Si c'est possible, de 2 façons :
  - façon simple : le comportement par défaut de la plupart des triplestores est que quand aucun graph n'est explicitement donné dans la requête, la requête porte sur tous les graphes. Dans Fuseki c'est contrôlé par l'option `tdb2:unionDefaultGraph true`
  - plus exotique, il est possible de mettre l'identifiant du graphe en variable

[code]

[2021-02-05 11:14] simonLouvet commented on #562
J'y ai réfléchi plusieurs fois depuis nos dernière discussions et j'ai une autre proposition que  `"version": "independent"`.
nous pourrions tout simplement avoir deux application différentes en terme de package. Actuellement tout est relié à @semapps. nous pourion dissocié les tags en @semapps-server et @semapps-archipel et @semapps-dms et @semapps-react....
Cela résout le probleme des tags, ne r

[2021-02-05 14:23] GuillaumeAV commented on #544
Yop ! J'amorce le suivi des personnes qui s'approchent de SemApps [sur ce doc](https://docs.google.com/spreadsheets/d/1sr9QOyLhzlvz_ERbfkBANXawcKbKf0DlzBfcIOi6I5o/edit?usp=sharing) !

Si quelqu'un veut m'aider à structurer le gsheet j'en serais très heureux !

[2021-02-05 14:28] GuillaumeAV commented on #545
C'est une excellente idée ! On peut partir de l'issue #314 sur laquelle on avait commencé à brainstormer des trucs ;)

[2021-02-07 21:00] srosset81 commented on #562
C'est une idée intéressante. Normalement le [scope](https://docs.npmjs.com/cli/v6/using-npm/scope) est lié à une organisation, mais apparemment c'est possible de faire des scopes différents.
Personnellement j'éviterai quand même de démultiplier les scopes. Je me limiterais à `semapps-front` et `semapps-back`.

Ca ne les résout pas, car en version non-indépendent, le tag est lié au numéro de versio

[2021-02-08 08:30] GuillaumeAV commented on #550
Oui en effet, ce serait super !
Sur SemApps, on pourrait le modéliser en utilisant _offered "MoneyBasedRessource"_

[2021-02-08 08:33] GuillaumeAV commented on #548
Oui ce serait top ! Petite question, il faut une compta prévisionnelle côté DP, une autre côté SemApps, une autre côté AV : N'y aurait il pas un enjeu à s'accorder sur une structure commune et à automatiser les partages d'infos ?

A ce sujet, je me permets de partager le super outil de prévisionnel financier de Finacoop .. https://www.finacoop.fr/boite-a-outils/#previsionnel-financier-fisy-finacoo

[2021-02-08 09:24] GuillaumeAV commented on #484
Hey ! Je suis désolé, ca ne marche toujours pas de mon côité, quand j'essaie de renseigner des dates sur un event que je crée ...
Exemple : https://archipel.assemblee-virtuelle.org/#/Event/https%3A%2F%2Fdata.virtual-assembly.org%2Fevents%2Fatelier-refonte-assemblee-virtuelle-1/show

[2021-02-08 09:48] GuillaumeAV commented on #521
C'est super ! Du coup je rois qu'ils acceptent que tu fasses un PR ;)
<https://github.com/marmelab/react-admin/issues/5871>

Le ven. 5 févr. 2021 à 10:31, Sébastien Rosset <notifications@github.com> a
écrit :

--
Guillaume Rouyer
+33 (0)6 28 34 54 99
<http://assemblee-virtuelle.org>http://virtual-assembly.org

https://www.facebook.com/grouyer
https://twitter.com/Guillaume_AV

[2021-02-08 10:27] srosset81 commented on #521
Oh yeah !

[2021-02-08 10:32] srosset81 commented on #484
J'ai besoin de plus de détails car je ne reproduis toujours pas.
- Si tu as une erreur, merci de faire un screenshot ou un copier-coller.
- S'il y a un autre comportement qui ne marche pas, il faut le préciser.

[2021-02-08 13:15] GuillaumeAV commented on #484
Désolé !

En fait, chez moi ca marche sur Chrome mais pas sur Firefox : Voici une vidéo pour mon expérience sur firefox ;) https://drive.google.com/file/d/1yWPMnMENfLMgOJrm1cuO7M56_t-sHhMS/view?usp=sharing

[2021-02-08 14:14] srosset81 commented on #484
Ah merci d'avoir identifié ça ! :-)

Le DateTimeInput est un composant core de react-admin.
Je vais voir pour mettre à jour react-admin vers la dernière version et, sinon, poster un bug chez eux.

[2021-02-08 14:17] srosset81 commented on #484
Ah c'est un problème connu sous Firefox: https://github.com/marmelab/react-admin/issues/2685
Ils recommendent d'utiliser un autre composant: https://github.com/vascofg/react-admin-date-inputs
Je m'en occupe

[2021-02-08 17:52] srosset81 opened #576 "Image uploadée ne s'affiche pas correctement dans le navigateur"
**Décrivez le bug**
Si j'upload cette image via le composant React-Admin, elle s'affiche bien en thumbnail, mais si je la charge seul, le JPEG s'affiche en format texte.
![MONTFRANC_JohanBarrot_DJI_FINAL-e1605546466528](https://user-images.githubusercontent.com/17931931/107260562-85c92280-6a3e-11eb-8635-66c58feb8832.jpg)

Voir l'exemple ici:
https://colibris.social/files/outilslibres.png

**Compor

[2021-02-08 17:53] srosset81 commented on #576
Le `content-type` est effectivement `application/ld+json`, alors qu'il devrait être `image/jpeg`

[2021-02-08 20:16] srosset81 commented on #562
Il y a une option [--tag-version-prefix](https://github.com/lerna/lerna/blob/main/commands/version/README.md#--tag-version-prefix) qui permettrait de tagger les packages `frontend-0.1.2` ou `middleware-0.2.3` mais sans pour autant que ça ne change le numéro de version sur NPM (d'après ce que je comprends).

Du coup on aurait plus besoin d'utiliser le versioning `independent`.

Je suis pour essayer

[2021-02-08 22:21] simonLouvet commented on #562
Cette solution me semble pertinente

[2021-02-09 08:46] srosset81 opened #577 "Composant React-Admin qui affiche les données sur une carte Leaflet"
- Créer un composant React qui utilise la librairie [react-leaflet](https://react-leaflet.js.org) et charge les données via un itérateur React-Admin ([voir exemple ici](https://marmelab.com/react-admin/List.html#using-a-custom-iterator))
- Afficher en clusters avec la librairie [react-leaflet-markercluster](https://github.com/YUzhva/react-leaflet-markercluster#readme)
- Passer en paramètre du comp

[2021-02-09 09:29] srosset81 opened #578 "Utiliser yarn au lieu de npm"
On a choisi NPM au lieu de Yarn lorsqu'on a commencé à utiliser Lerna.

Cependant je remarque aujourd'hui qu'il y a une option de Lerna qui permet d'utiliser un autre client: `npmClient`.

OK pour qu'on repasse tout sur Yarn ?

Motivation:
- Beaucoup plus rapide, notamment pour `yarn link`
- Plus facile de faire une contribution à react-admin, qui utilise aussi Yarn

[2021-02-10 08:04] J9rem commented on #550
@bouviermullerp a initié ce document : https://pad.lescommuns.org/mjckrHy3TTuXq3qt7XJ9yw?both# qu'en pensez-vous ?

[2021-02-12 15:20] fluidlog opened #581 "Amélioration de la spatialisation de la carto en réseau"
**Description**
- Mettre tous les paramètres en variable pour pouvoir les customiser par projet (AV, Fabmob, UTT...)
- Lors du focus, regrouper les noeuds autour du noeud central
- Ajouter un ou plusieurs curseurs pour modifier ces paramètres en live.

**Estimation du temps de travail en JH**
- @fluidlog : 4h

Voir PAD spécifique à la spatialisation de la cartoSemapps : https://pad.lescommuns.org/

[2021-02-12 15:22] fluidlog commented on #581
J'ai déjà passé 2h cette semaine, en modifiant pas mal de paramètres, mais aucun ne permet ce que je veux, et il n'y a pas beaucoup d'aide sur le net à ce sujet...
Voir PAD : https://pad.lescommuns.org/-uFdHWkRQ7yjPcUBLRwAXg?view#

[2021-02-15 08:45] srosset81 commented on #554
Pour moi la décision qui a été prise pendant la résidence était de ne pas trop s'occuper de l'UX d'Archipel, car le périmètre de cette plateforme est trop flou. On restait donc plutôt sur une interface type "backoffice", et c'est dans ce sens qu'a été ajouté le menu hiérarchique de côté. Mais pour moi ça ne voulait pas dire qu'Archipel devenait un "espace de démo technique". Il faut quand même qu'

[2021-02-15 08:55] GuillaumeAV commented on #554
Super ! Si tu implémentes les rôles sur le mini site, ça pourrait valoir le coup d'implémenter aussi les tâches non ?

[2021-02-16 11:22] srosset81 commented on #521
La PR devrait être acceptée bientôt, dès qu'une nouvelle version de react-admin sera dispo, on pourra fixer ce bug.

[2021-02-17 08:16] #482 closed, assigned to srosset81

[2021-02-17 08:16] #577 closed, assigned to srosset81

[2021-02-17 08:55] srosset81 commented on #562
Je viens de publier des packages front et middlware, et j'ai testé, ça marche bien:
https://github.com/assemblee-virtuelle/semapps/releases
Ca va permettre de pouvoir attacher des messages aux releases, notamment pour indiquer les breaking changes.

[2021-02-17 12:38] simonLouvet commented on #562
j'ai pas compris comment attacher des messages.

[2021-02-17 15:07] srosset81 commented on #562
On peut lier une release à chaque tag.
Ca peut être fait manuellement ici: https://github.com/assemblee-virtuelle/semapps/releases/new
Il y a une option dans Lerna pour faire ça de manière plus automatique: https://github.com/lerna/lerna/tree/main/commands/version#--create-release-type
C'est à expérimenter...

[2021-02-17 19:18] srosset81 opened #585 "Regrouper les types et statuts dans des mêmes containers"
**Problématique**
Nous allons bientôt ajouter pas mal de classes sur data.virtual-assembly.org, et notamment les types. Dans l'ontologie il y a beaucoup de types différents (TaskType, ProjectType, GroupType) et beaucoup de statuts différents (TaskStatus, ProjectStatus, etc).

**Proposition**
Créer un container `/types` et un container `/status` sur data.virtual-assembly.org qui regroupera toutes c

[2021-02-18 09:16] srosset81 opened #586 "Trouver un bon format Markdown pour créer des liens entre les ressources."
Dans la PR https://github.com/assemblee-virtuelle/semapps/pull/584, je permets d'ajouter des liens vers d'autres ressources en faisant une recherche par mots-clé ([voir la vidéo ici](https://drive.google.com/file/d/1Ooo5t-0VjXe4Tc_74m39U8eamCbsNRbx/view)). Cela génère des liens Markdown du type:

[code]

Le problème, du point de vue du web sémantique, c'est qu'on enregistre des données qui concern

[2021-02-18 15:14] tfrancart commented on #586
Si ca peut aider, le document de specs Semantic Markdown dans sa version très très très alpha était ici : https://hackmd.io/KtR5fUhXRuS_XnNEo_gpow

Dans ce que tu fais il me semble que tu as l'objet, mais il te manque un sujet et un prédicat pour faire un triplet, si je comprends bien ?
Ce serait rigolo en tous cas de faire un tout petit pas en direction d'un Semantic Markdown...

[2021-02-18 16:06] srosset81 commented on #586
Merci pour le document de specs.

Le sujet serait la ressource qu'on édite. Quant au prédicat, ce serait par défaut `pair:referrs`, à moins qu'on implémente une notion de typage de relation comme dans l'exemple 7.

:+1:

[2021-02-18 16:51] tfrancart commented on #586
L'idée dans Semantic Markdown est d'arriver à produire un balisage RDFa, comme ca ce serait "parsable" par n'importe quel parser RDFa.
Dans cette idée:
  - le sujet serait bien le document lui-même
  - l'objet est bien la cible du lien HTML
  - mais il faudrait baliser avec la propriété aussi, c'est-à-dire mettre un `property="pair:refersTo"` dans le HTML généré

Du coup ca voudrait dire mettre le

[2021-02-18 18:35] #484 closed, assigned to srosset81

[2021-02-19 17:33] srosset81 opened #587 "L'effacement des ressources n'est pas complet"
**Décrivez le bug**
Si on fait un `DELETE` sur une ressource, les blank nodes liées à la ressource ne sont pas effacés. On peut les retrouver dans le triple store, même s'ils sont orphelins puisqu'aucune ressource ne permet de les retrouver.

**Comportement attendu**
Il faudrait qu'en plus des triplets liés directement à la ressource, on efface tous les blank nodes liés à cette ressource.

[2021-02-19 18:20] srosset81 commented on #43
**Solution trouvée suite à 2h de réunions aujourd'hui avec @simonLouvet:**

On va garder une référence vers la source, via deux types de prédicats:

- `synchronizedWith`: pour indiquer que les donnes de la ressources sont synchronisées avec la source.
- `forkedFrom`: pour indiquer que les données ont été importées mais qu'elles ont depuis été modifiées

_(Nom précis des prédicats à brainstormer, a

[2021-02-20 05:58] nikoPLP commented on #569
Je propose de modifier ceci :
Fuseki reçoit du middleware un header X-SemappsUser avec `anon` si l’utilisateur n’est pas connecté.
Car l'absence de ce header, ou l'absence d'une valeur, est déjà utilisé comme un synonyme de `system`.
Ca marche pour vous @srosset81 et @simonLouvet ?

[2021-02-20 06:11] nikoPLP commented on #569
Pouvons nous décider à propos de ça :
Questions:
- A quoi correspond `acl:Append` pour les containers et pour les resources ?
    - Pour les containers: possibilité d'ajouter une nouvelle resource dans le container.
    - Pour les resources: possibilité d'ajouter des triplets à la resource, mais pas d'en supprimer.
- A quoi correspond `acl:Write` pour les containers ?
    - possibilité de modifier

[2021-02-20 13:20] nikoPLP commented on #572
A ce propos, il reste une incertitude sur comment appeler les resources (RDF nodes) qui contiennent les info d'authorization pour chaque resource.
la doc webACL met des `<#authorization1>` dans ses exemples. Mais il faut rajouter une baseURL... et surtout, comment créer cet identifiant ? un numéro de série ? un compteur incrémental ?
Voir ce que que fait inrupt [ici](https://forum.solidproject.org

[2021-02-20 13:37] GuillaumeAV commented on #43
C'est génial tout ça !!!!!

Le ven. 19 févr. 2021 à 19:20, Sébastien Rosset <notifications@github.com>
a écrit :

[2021-02-21 02:04] nikoPLP commented on #574
Une issue avec un patch corrigeant ce probleme dans fuseki a été soumis à Jena.
https://issues.apache.org/jira/browse/JENA-2055

en attendant, il suffit de rempalcer le fichier `fuseki-server.jar` par celui que je vens de compiler. Mais... je ne sais pas comment l'envoyer (il fait 29 MB)

[2021-02-21 23:13] nikoPLP commented on #569
The permissions are only checked on the Subject of any tuple. Therefor all relations to other resources are visible when the user has access to a Resource and if the relation is of the form AccesibleResource -> relation -> AnyOtherResource.

Note that blank nodes cannot receive Authorization with webACL so I don't know what to do with them. Let anyone see them? or nobody?

[2021-02-22 09:01] srosset81 commented on #569
Cela semble être inévitable. Un utilisateur qui n'a pas accès pourra voir l'URI de la ressource, mais pas son contenu.

Aïe on avait pas pensé à ça. :-/ Les blank nodes sont généralement liés à une ressource avec un ID. Voir par exemple le prédicat `pair:hasLocation` sur cette URI: https://data.virtual-assembly.org/organizations/cheznous_mareuil. Ne pourrait-on pas vérifier les ACL de la ressource

[2021-02-22 09:10] srosset81 commented on #569
Cela semble cohérent.

Il faut qu'on en rediscute. C'est pas clair pour moi.

[2021-02-22 11:17] nikoPLP commented on #569
Decision: blank nodes that are not attached to any resource, should not be returned !

[2021-02-22 14:16] nikoPLP commented on #573
les droits doivent etre ajouté au triple store AVANT de créer les triples de la resource elle même.

[2021-02-22 15:10] srosset81 commented on #572
Je trouve que l'option `defaultForNew` est la plus facile à utiliser, la plus performante et qu'elle mériterait d'être mise en avant, même si on se doit de respecter toutes les autres options des specs. Apparemment elle est déjà implémentée dans le serveur Solid.

https://github.com/solid/solid-spec/blob/master/acl-inheritance.md

Ping @tfrancart pour info.

[2021-02-22 16:51] srosset81 commented on #484
@GuillaumeAV Le fix est déployé sur Archipel

[2021-02-23 04:02] nikoPLP opened #590 "install inference and test user groups defined in the defaultGraph"
configure Fuseki to have inference engine on defaultGraph
then test that `rdfs:subPropertyOf vcard:hasMember` works properly in evaluator (make some more unit tests)

[2021-02-23 04:10] nikoPLP opened #592 "check that all calls to triplestore have a webId (URI or anon)"
this also implies to check all the calls that need to have a webId set to `system`.

Run the tests for all packages and see where it breaks. Some permissions are missing. See why and how to create them.

[2021-02-23 04:13] nikoPLP commented on #574
Cette partie a été vérifiée. Si le delete est refusé, c'est toute la transaction qui est annulée et on recoit bien une erreur 403

[2021-02-23 07:35] srosset81 commented on #590
Je pense que ce serait important aussi de faire un benchmark. Si l'ajout des inférences côté Fuseki est trop coûteux en performance, on pourrait continuer à les gérer manuellement côté middleware (comme on le fait déjà avec l'[inference service](https://github.com/assemblee-virtuelle/semapps/blob/master/src/middleware/packages/inference/service.js) qui ajoute automatiquement les relations `owl:inv

[2021-02-23 08:35] nikoPLP commented on #573
Voir [ce commentaire à propos de `defaultForNew`](https://github.com/assemblee-virtuelle/semapps/issues/572#issuecomment-783442281)

[2021-02-23 08:49] nikoPLP commented on #572
le PATCH ne pourra qu'ajouter des `agent`, `agentClass` ou `agentGroup`.
le PUT remplacera toutes les données `agent`, `agentClass` ou `agentGroup`. Voir si un diff de l'existant ne serait pas plus sain à faire. Le reste des données visibles dans le fichier acl ne sont pas modifiables.

Les permissions héritées d'un container sont affichées dans le fichier d'acl d'une ressource, mais ne sont pas m

[2021-02-23 11:26] pdehaye opened #594 "Poster un nouvel article de blog"
**Tension**
Votre dernier (et premier) [article de blog](https://semapps.org/blog) date de septembre 2019. En meme temps le projet a l'air extremement actif sur Github.

**Proposition**
Je propose que vous ecriviez un article tres bref mettant a jour sur le progres du projet depuis 2019.

[2021-02-23 15:39] srosset81 commented on #397
J'ai noté que React-Admin entreprise edition utilise ce composant:
https://fullcalendar.io/docs/react
Ca a l'air de bien s'intégrer dans le design:
https://marmelab.com/ra-enterprise/modules/ra-calendar

[2021-02-23 16:48] srosset81 commented on #417
Vu aujourd'hui avec Niko, pas nécessaire car c'est passé via le contexte.

[2021-02-23 16:48] #417 closed, assigned to srosset81

[2021-02-23 16:49] simonLouvet commented on #397
Les fonctions les plus intéressante sont payante mais c'est la lib de référence

[2021-02-24 18:02] fluidlog opened #596 "Faire le point sur les 3 projets de carto en réseau"
**Problématique**
Actuellement, au sein de l'AV, 3 projets de carto en réseau existent (Spoggy, Flodio et Grezzi).
L'objectif de ce projet est d'étudier comment on pourrait converger sur les cartos en réseaux effectuées spécifiquement sur Semapps.

**Proposition**
Organiser des réunions pour lister l'existant des fonctionalités de chaque logiciel, et voir quelle fonctionnalité pourrait être effect

[2021-02-24 18:04] fluidlog commented on #596
Une première réunion a eu lieu entre Adrien, David et Yannick le 11/12/2020
Un PAD a été créé pour ce projet, listant l'existant des 3 projets avec leurs fonctionnalités.
https://pad.lescommuns.org/k52s_XG-TMue-WTaCsy8Hg?view#

[2021-02-24 18:05] fluidlog commented on #596
La prochaine réunion aura lieu vendredi 26/02/2021

[2021-02-24 18:11] fluidlog commented on #581
J'ai trouvé un exemple de code qui fait ce que je veux en D3v4
https://bl.ocks.org/steveharoz/8c3e2524079a8c440df60c1ab72b5d03
J'aimerais l'ajouter dans une prochaine version de CartoSemapps.

[2021-02-24 18:29] fluidlog opened #597 "Rendre compatible la carto en réseau avec REACT"
**Problématique**
L'objectif de cette issue est de faire fonctionner la carto en réseau dans Semapps, c'est à dire de la rendre compatible avec React.

**Proposition**
Attention au JQuery contenu dans Semantic UI présent dans le code de Flodio...

[2021-02-24 18:31] fluidlog commented on #597
A suivre ici : https://pad.lescommuns.org/SrBR_GvSQqK-cav9qM_Ebw#

[2021-02-24 18:57] fluidlog opened #598 "Carto des cartos (en réseau)"
**Tension**
Difficulté à connaitre rapidement la liste de tous les serveurs et projets Semapps et de savoir qui fait quoi.

**Proposition**
Créer un serveur semapps spécifique, avec peut-être une ontologie spécifique, faire une carto dessus, et mettre cette carto en accueil de CartoSemapps.

[2021-02-24 18:58] fluidlog commented on #598
Un PAD a été ouvert pour ça : https://pad.lescommuns.org/iHx4e9rDTLC7Szn8YuTxgA#
Une réunion aura lieu entre Pierre et Yannick mercredi 4/03/20

[2021-02-25 03:33] nikoPLP commented on #569
Clarification: il s'agit des cas où une ressource se treouve dans plusieurs containers et qu'on appele une API qui enlève la ressource d'un des containers, puis ainsi de suite jusqu'à enlever la ressource de son dernier container. Dans ce cas, la ressource se retrouve sans container, ce qui va lui poser un problème pour avoir une URI...

Mais, comme pour le moment, les actions attach et detach une

[2021-02-25 09:07] srosset81 opened #599 "Ajouter pair:Group à Archipel"
Reprendre les mêmes prédicats que `pair:Organization`

[2021-02-25 09:09] srosset81 commented on #585
J'ai commencé à le faire pour les CDLT, ça marche bien. Quelques petites adaptations au niveau des inputs, afin qu'un `pair:Project` ne puisse choisir un type que parmi les `pair:ProjectType`. Je le commite bientôt sur Archipel.

[2021-02-25 09:52] simonLouvet commented on #585
Ca me convient très bien.

[2021-02-25 09:56] srosset81 opened #600 "Ajouter pair:Task à Archipel"
**Propriétés**
- `label`
- `description`

**Relations**
- `partOf` -> Project
- `concerns` -> Group
- `assignedTo` -> [Person]
- `hasType` -> TaskType
- `hasStatus` -> TaskStatus

[2021-02-25 10:01] srosset81 opened #601 "Ajouter pair:Idea à Archipel"
**Propriétés**
- `label`
- `description`

**Relations**
- `about` -> [Subject]
- `brainstormedBy` -> [Actor]
- `concretizedBy` -> [Activity]
- `hasType` -> IdeaType
- `hasStatus` -> IdeaStatus

[2021-02-25 10:06] srosset81 commented on #554
J'ai créé des issues pour les ajouts qui peuvent être fait en vue de la [nouvelle instance SemApps](https://github.com/assemblee-virtuelle/semapps/wiki/R%C3%A9union-brainstorming-interface-AV-17-02-2021):

https://github.com/assemblee-virtuelle/semapps/issues/599
https://github.com/assemblee-virtuelle/semapps/issues/600
https://github.com/assemblee-virtuelle/semapps/issues/601

L'idée est donc qu'

[2021-02-25 10:06] #554 closed, assigned to GuillaumeAV, bouviermullerp

[2021-02-25 10:36] srosset81 opened #602 "Permettre d'indiquer plusieurs pair:webPage"
**Enjeu**
A l'avenir on aimerait pouvoir indiquer plusieurs liens, et faire un affichage en fonction du lien. Par exemple un lien qui commence par "app.element.io" pourrait être indiqué comme "Salon Matrix" et un lien qui commence par "facebook.com" comme "Page Facebook".

**Implémentation**
Utiliser un ArrayInput de React-Admin pour permettre d'indiquer plusieurs URL, par exemple pour les pair:Pr

[2021-02-25 12:12] scenaristeur commented on #596
De mon côté, les données de visualisation (visjs) sont assez simples et je crois que pour D3 c'est assez similaire ?
Ça se résume à deux tableaux : un tableau
 nodes et un tableau edges du type
[code]
Il me paraît peu pertinent d'effectuer une requête sparql sur semapps pour extraire les triplets et reconstruire les tableaux de noeuds alors que l'on peut partir directement du jsonld.
En parcourant

[2021-02-26 14:09] srosset81 opened #604 "Afficher le logo des organisations sur la barre de côté"
Faire comme les utilisateurs.

![Capture d’écran de 2021-02-26 15-09-14](https://user-images.githubusercontent.com/17931931/109310283-9ce08080-7844-11eb-9628-1441afb1c178.png)

[2021-02-26 14:24] GuillaumeAV commented on #594
Salut @pdehaye !

En effet, on est pas très bon sur la comm' externe, et pourtant on a conscience que ce serait cool de partager des news, d'autant plus qu'il y en a plein !!
Du coup, je prends l'initiative, c'est parti pour une newsletter SemApps #2 !
@srosset81 @simonLouvet @bouviermullerp @fluidlog @nikoPLP  @scenaristeur @tfrancart @J9rem @sauvagemathilde @capucinemasson  & co
n'hésitez pas à

[2021-02-26 14:27] bouviermullerp commented on #594
@GuillaumeAV j'ai pas été bon sur le timing, mais j'avais créé une issue et un pad à ce sujet : la #528 !
Merci du rappel @pdehaye - tu trouveras la précédente newsletter Autonome 2020 [à cette adresse](https://www.virtual-assembly.org/semapps-news/)

[2021-02-27 19:06] nikoPLP commented on #418
Pour les besoins des webacl, un graph contenant les ACLs est ajouté dans le dataset. Et l'option `unionDefaultGraph` n'est pas mise car nous utilisons les caracterisques d'isolation des graphs pour optimiser les requetes sur les ACLs.
En gros, et pour faire court, lorsque `unionDefaultGraph` est utilisé, ce sont tous les grpahs nommés qui sont joints et qui se comportent comme le graph par défaut

[2021-02-27 20:50] nikoPLP commented on #575
je propose de donner une option pour créer des groupes ACL independant de toute autre ontologie, pour le moment.
Evidemment, connecter les groupes avec des relations existantes (notamment avec le subPropertyOf vcard:memberOf ) sera a terme interessant. C'est deja implementé dans le code Jena (mais il reste a activer les inferences)

De toute facon, il faudra toujours avoir la possibilité de créer

[2021-02-27 20:57] nikoPLP commented on #571
implementé ainsi :

- `GET /_acl/{resourcePath}`
    - Retourne les droits sur la ressource.
        - Si l'utilisateur a un droit `acl:Control` sur la ressource, retourne toutes les informations, sinon retourne seulement les informations qui concerne l'utilisateur connecté.
        - Dans tous les cas, retourne les `acl:default` de tous les containers parents (auxquels l'utilisateur a acces).

[2021-02-27 21:26] nikoPLP commented on #573
l'action `webacl.resource.addRights` avec les parametres suivants est appelée avant de créer la resource dans le triplestore.
[code]

attention: utilisez addRigths avec le paramatre newRights seulement pour les nouvelles resources pas encore créées. pour les resources deja existantes, utilisez `additionalRights`

[2021-02-27 21:44] nikoPLP opened #605 "Supprimer les droits ACL lorsqu'une ressource est supprimée"

[2021-02-28 09:34] nikoPLP commented on #573
Pour les nouveaux containers, la logique est la suivante :
- si c'est le system qui crée le container, on applique les droits Read pour anon, et Read+Write pour tous les utilisateurs identifiés.
- si c'est l'utilisateur anonymous qui crée le container, on donne Read et Write a anonymous.
- si c'est un utilisateur authentifié qui crée le container, on donne Read+Write+Control pour cet utilisateur.

[2021-02-28 12:15] bouviermullerp commented on #407
J'embarque cette information dans la prochaine newsletter @srosset81 lié à #528

[2021-02-28 12:27] bouviermullerp commented on #370
@GuillaumeAV peut-on fermer cette issue ? les liens sont cliquables maintenant.

[2021-02-28 18:50] #370 closed, assigned to srosset81

[2021-02-28 19:55] GuillaumeAV commented on #370
Aaah super merci  !!

[2021-03-01 07:13] srosset81 commented on #575
OK pour moi !
Oui la réflexion autour de comment lier un groupe avec des relations existantes sera vue plus tard.

[2021-03-01 07:20] srosset81 commented on #573
`allowAnonymousEdit` et `allowAnonymousDelete` avaient été ajoutés de manière temporaire et elle est peu utilisée.
Je pense qu'il pourrait être plus clair d'utiliser une option qui se rapproche de celle de l'action `webacl.resource.addRights` dont tu donnes un exemple au-dessus.

[2021-03-01 07:22] srosset81 commented on #571
Si je comprends bien le path `/_acl` retourne des ACLs conformes aux standards WebACL, alors que le path `/_rights` renvoie un JSON plus facilement digestible côté frontend ?
C'est intéressant comme option, merci. Après au niveau frontend, je pense que j'essaierai quand même de privilégier l'utilisation des standards pour que l'interface ne soit pas dépendante d'un serveur SemApps.

[2021-03-01 08:26] nikoPLP commented on #574
The issue in Jena is fixed, it will appear in the next version 4.0.0. When it is released, we will switch to that version.
I already tested with their working branch and it works well.
https://issues.apache.org/jira/browse/JENA-2055

[2021-03-01 11:53] J9rem commented on #594
@GuillaumeAV d'après la définition du rôle [Infoculteur](https://semapps.org/docs/governance/organisation-and-roles#information-gardening---informational-heritage) la rédaction des lettres d'informations n'est pas dans mon périmètre.
Je dois juste faire attention à ce que la substantifique moelle du contenu de chaque lettre d'info soit résumé dans un endroit accessible à tous.
Donc @GuillaumeAV me

[2021-03-01 18:14] srosset81 opened #607 "Forcer les containers LDP à n'avoir pas de slash à la fin"
Nécessaire pour harmoniser le code des WebACL

[2021-03-01 19:24] srosset81 opened #609 "Mettre un _ devant tous les path système"
**Tension**
Si à l'avenir on veut avoir une gestion plus souple des containers LDP, avec notamment une création à la volée, il serait utile de bien différencier les containers LDP des autres types de path, par exemple /sparql

**Proposition**
Pour les ACL, Niko a créé des paths `/_acl` et `/_groups`. On pourrait généraliser cet usage, par exemple pour l'endpoint SPARQL qui pourrait être (par défau

[2021-03-01 19:32] srosset81 opened #610 "Configurer un groupe ACL de superadmin"
**Tension**
Par défaut, il n'y a aucune authorisation `acl:Control` sur les containers LDP. Cela fait qu'on ne peut pas les changer. De même une ressource créé anonymement n'a aucune authorisation `acl:Control` donc il est impossible de modifier les droits d'accès, sauf en insérant des triples directement dans Fuseki.

**Proposition**
Ajouter une configuration au service `webacl` qui permet de cré

[2021-03-02 08:09] srosset81 opened #611 "Imaginer une interface pour gérer les droits sur une ressource"
Avec les ACL, un utilisateur qui crée une ressource va pouvoir choisir avec qui il veut partager les différents droits. On pourrait imaginer qu'il y ait un lien "Droits d'accès" en haut à droite (avec les liens Editer, Voir, etc), qui affiche une modal ou qui permette d'accéder à une page particulière.

Il y a 4 droits à gérer:

- Read
- Write (ajout et effacement de données)
- Append (ajout de do

[2021-03-02 08:16] srosset81 opened #612 "Cacher les bouton créer/éditer/supprimer en fonction des droits ACL"
- Le bouton "Editer" ne devrait s'afficher que si on a le droit `acl:Write` ou `acl:Append` sur la ressource.
- Le bouton "Supprimer" ne devrait s'afficher que si on a le droit `acl:Write` sur la ressource.
- Le bouton "Créer" ne devrait s'afficher que si on a le droit `acl:Write` ou `acl:Append` sur le container.

Voir si on peut adapter les composants `EditButton` et `CreateButton` de React-Admi

[2021-03-02 08:20] srosset81 commented on #612
Il existe un package qui permet de gérer les permissions par type de ressource:
https://github.com/marmelab/ra-auth-acl
Cela pourrait jouer pour les containers (peut-on ajouter ou non une ressource dans un container) mais pas pour savoir si on peut éditer une ressource en particulier. Donc on va devoir pousser les choses un peu plus loin.

[2021-03-02 08:25] srosset81 opened #613 "Invalider le cache des ressources dont les droits ACL ont été modifiés"
**Tension**
Avec les nouveaux droits ACL, si les droits sur une ressource sont modifiés, il est possible que la ressource en cache ne doit plus être affichée.

**Proposition**
Envoyé un événement Moleculer lorsque le service `webacl` modifie un droit sur une ressource. Ensuite écouter cet événement dans le service `ldp.cache-cleaner` pour invalider le cache de cette ressource.

[2021-03-02 08:31] srosset81 opened #614 "Intégrer la gestion des droits ACL côté frontend"
**Description**
Les droits ACL sont fait par Niko dans le chantier #52. Ils concernent l'implémentation côté Fuseki et Moleculer. Ensuite il va falloir ajouter la gestion des droits sur l'interface.

**Issues liées**
- [x] Cacher les bouton créer/éditer/supprimer en fonction des droits ACL #612
- [x] Imaginer une interface pour gérer les droits sur une ressource #611

**Estimation du temps de trav

[2021-03-02 08:33] GuillaumeAV commented on #52
C'est génial !!!! Félicitations @nikoPLP !!!!

[2021-03-02 09:03] srosset81 opened #615 "Assigner des ACL par défaut sur Archipel"
**Tension**
Dès que le travail de Niko sera fini, on va essayer de déployer les ACLs sur Archipel. Comme il n'y avait pas de droits ACL jusqu'à maintenant, il va falloir qu'on décide comment on gére ça à partir de maintenant.

**Proposition**
- Les utilisateurs auront un droit `acl:Control` et `acl:Write` sur leurs propres profils. Les autres utilisateurs auront seulement un droit `acl:Read`.
- Au

[2021-03-02 09:39] GuillaumeAV commented on #615
Hey !
De mon point de vue, je trouverais dommage de rester en mode wiki, l'un des objectifs étant d'expérimenter les fonctionnalités ACL...
Pour l'intérêt de l'expérimentation,  je proposerais donc la deuxième option qui suppose néanmoins d'implémenter l'interface de modification des droits .. Qui peut le plus pouvant faire le moins, on pourra facilement communiquer sur le fait qu'en fonction des

[2021-03-02 09:49] srosset81 commented on #615
L'interface pour modifier les droits va prendre du temps à être implémentée. Compte-tenu des chantiers actuels, j'estime que ce ne sera pas disponible avant fin mars.
Mais Archipel restera fonctionnel pendant ce temps.

Par contre ce qu'il sera urgent de faire, c'est https://github.com/assemblee-virtuelle/semapps/issues/612 car sinon l'expérience utilisateur sera pas top. Ca pourrait peut-être êtr

[2021-03-02 10:27] simonLouvet commented on #615
La proposition me parait cohérente : read pour tous et write pour les connecté. Je pense même qu'il faut garder cela comme base pour les ressources nouvellement créée (pouvoir configurer sur le container?) à terme.

[2021-03-02 10:32] GuillaumeAV commented on #611
Dans SemApps v1, on avait 2 champs avec complétion (Qui peut accéder en lecture ? Qui peut accéder en écriture ?) et les utilisateurs renseignaient par complétion les champs. Pour la lecture ils pouvaient cocher une case "Open data".

Pour la v2 qui est plus fine, une proposition (attention qui est hyper innovante ;) ) pourrait être d'avoir les cases à cocher en haut à droite comme tu le suggères,

[2021-03-02 10:49] srosset81 commented on #611
J'aime bien le terme "Enrichir", je crois que ça va bien avec la philosophie du web sémantique. "Administrer" c'est bien aussi.
Dans la configuration par défaut, j'autoriserai quand même la lecture aux utilisateurs non-connectés.

Pour l'interface tu proposes donc de reprendre ça...

![Capture d’écran de 2021-03-02 11-45-19](https://user-images.githubusercontent.com/17931931/109637257-d7039800-7b4

[2021-03-02 13:07] nikoPLP commented on #610
je dirais, cette config pourrait etre plutot dans le service ldp. c'est lui qui crée les containers, et leurs donne les droits par default.

je peux faire un settings qui prend une variable d'environnement avec l'URI de l'utilisateur qui sera propriétaire du groupe superAdmin, et qui pourra par la suite y rajouter des membres

[2021-03-02 13:08] nikoPLP commented on #615
je pense que ca vaudrait le coup de faire ca des maintenant. ca eviterait aisni d'avoir a injecter des triples dans  le graph des acls a la main.

on peut tres bien rajouter ces permissions au données actuelles

[2021-03-02 13:11] nikoPLP commented on #52
@GuillaumeAV avec plaisir !

[2021-03-02 13:24] GuillaumeAV commented on #611
Huum je crois qu'on se comprend, cependant je précise que je verrais bien (à l'inverse de google) :
- en entrées de formulaire les types d'accès (ce qqui supposerait donc d'avoir 4 entrées de formulaire)
- puis en cases à cocher les utilisateurs (pas connectés, connectés, individus ou groupes en particuliers à remplir par complétion ou via des adresses mails)

[2021-03-02 13:39] srosset81 commented on #611
Du coup je vois absolument pas ce que tu vois, et je t'invite à faire un figma ou autre.

[2021-03-02 14:42] GuillaumeAV commented on #611
Voila un figma pour matérialiser ce que j'essayais de dire .. Mais je suis pas sur que ce soit pertinent hein ;)
https://www.figma.com/file/yBjGKU923bGxqnk8hxAQnG/Essai-interface-ACL?node-id=0%3A1

[2021-03-02 15:20] srosset81 commented on #611
Hmm je trouve que sur ta proposition la visibilité des utilisateurs et des groupes est très faible. Il faut cliquer deux fois juste pour voir les utilisateurs ? En plus si un utilisateur a plusieurs droits, il faudra cliquer sur plusieurs + pour le voir.

[2021-03-02 15:26] srosset81 commented on #430
Maintenant que les ACL sont presque prêt, il va falloir qu'on traite ce problème car sinon le droit `acl:Append` sera inutilisable.
Heureusement @nikoPLP a déblayé le terrain en faisant le travail au niveau du service `webacl.resource`, on pourra s'en inspirer.

[2021-03-02 15:27] GuillaumeAV commented on #611
Oui Google n'a pas doute pas fait les choses au hasard ..

[2021-03-02 15:57] srosset81 commented on #611
Voilà ma proposition:

![Capture d’écran de 2021-03-02 16-56-04](https://user-images.githubusercontent.com/17931931/109675588-3aef8600-7b78-11eb-89a0-f6d14cf50baf.png)

Elle a l'avantage d'être basée sur du [véritable code](https://codesandbox.io/s/acl-rights-rbi24) en Material-UI ;-)

[2021-03-02 15:59] srosset81 opened #617 "Acheter le kit Figma pour Material UI"
Material-UI est le framework sur lequel se base React-Admin.

https://material-ui.com/store/items/figma-react/

Cela pourrait faciliter le travail de design d'interfaces non ?

[2021-03-02 18:32] nikoPLP opened #620 "SPARQL injection. Verifier les strings qui sont inserées dans les requests SPARQL"
Notamment sur les endpoints des groupes ACL. qui sont executé en mode system.

[2021-03-03 08:14] #569 closed, assigned to nikoPLP

[2021-03-03 08:14] #570 closed, assigned to nikoPLP

[2021-03-03 08:14] #571 closed, assigned to nobody

[2021-03-03 08:14] #572 closed, assigned to nobody

[2021-03-03 08:15] #573 closed, assigned to nobody

[2021-03-03 08:15] #574 closed, assigned to nikoPLP

[2021-03-03 08:15] #575 closed, assigned to nobody

[2021-03-03 16:09] fluidlog commented on #597
Pour info, j'ai complété le PAD : https://pad.lescommuns.org/SrBR_GvSQqK-cav9qM_Ebw?view
Avec l'explication que m'a donné Simon la semaine dernière.
A présent, j'attends de faire qq issue Semapps en mars pour commencer l'intégration en Avril ou mai (projet Fabmob en parallèle et prioritaire).

[2021-03-04 11:24] #481 closed, assigned to nobody

[2021-03-04 11:24] #521 closed, assigned to srosset81

[2021-03-04 11:24] #480 closed, assigned to nobody

[2021-03-04 11:24] #604 closed, assigned to nobody

[2021-03-04 15:50] scenaristeur commented on #517
Le vocabulaire Hydra a l'air d'être fait pour décrire une API est les actions que l'on peut effectuer sur une ressource 🙂
- http://www.hydra-cg.com/spec/latest/core/
- https://youtu.be/fJCtaNRxg9M
- https://nordicapis.com/hydra-for-hypermedia-apis-benefits-components-and-examples/

[2021-03-04 19:24] #620 closed, assigned to nikoPLP

[2021-03-04 19:24] #418 closed, assigned to srosset81

[2021-03-04 19:27] #605 closed, assigned to nikoPLP

[2021-03-04 19:31] srosset81 opened #622 "Finaliser l'intégration des WebACL dans le code existant"
**Description**
Il y a plusieurs choses qui étaient en dehors du scope du travail de Niko, mais qui vont être nécessaires pour pouvoir déployer en prod ce travail.

**Issues liées**
- [x] Assigner des ACL par défaut sur Archipel #615
- [x] Proposer un container LDP racine #429
- [x] Configurer un groupe ACL de superadmin #610
- [x] Invalider le cache des ressources dont les droits ACL ont été modi

[2021-03-05 10:44] GuillaumeAV opened #632 "Les relations de document ne s'affichent pas bien dans la colonne de droite"
**Décrivez le bug**
Sur la droite des documents, il y a juste des micro bulle sans rien dedans

**Etapes pour reproduire**
1. Aller sur code social de Guillaume Rouyer
2. Voir l'erreur

[2021-03-05 10:57] srosset81 commented on #632
Oui noté. Je dois faire une amélioration de fond pour le régler, cela prendra un petit peu de temps.

[2021-03-05 11:02] #465 closed, assigned to GuillaumeAV

[2021-03-05 11:04] srosset81 commented on #290
Non c'est différent. L'issue #112 concerne le déploiement du frontend, celle-ci le déploiement du middleware. Les problèmatiques sont très différentes.

[2021-03-05 11:08] srosset81 commented on #112
C'est fait !
Maintenant on aura un déploiement d'Archipel à chaque nouvelle PR. Lorsque la PR sera mergée sur `master`, elle sera automatiquement déployée sur archipel.assemblee-virtuelle.org.

Au niveau des config Vercel, je lance un `npm run bootstrap` à la racine de /src/frontend, ce qui a pour résultat que, même si on n'a pas encore publié le package (ce qui se fait normalement seulement quand

[2021-03-05 11:08] #112 closed, assigned to srosset81

[2021-03-05 16:22] srosset81 commented on #517
Concernant Hydra, le projet API Platform a adapté React-Admin pour plus facilement utiliser des API de type Hydra.

https://api-platform.com/docs/admin/

Cette adaptation pourrait nous fournir de belles inspirations.

[2021-03-06 09:19] scenaristeur opened #635 "Utiliser rdfs:label au lieu de pair:label"
**Problématique**
De ce que j'ai lu sur jsonld, le context est là pour apporter des précisions sur un json classique  comme

[code]

Or en utilisant la lib jsonld avec la fonction compacted je me retrouve avec des choses comme

[code]
Ce qui est à mon sens anti-interoperabilité et contre productif pour les devs qui souhaitent se brancher sur semapps

**Proposition**
Le context devrait inclure des

[2021-03-06 09:37] srosset81 commented on #635
En quoi utiliser label au lieu de pair:label favorise l'interoperabilité ? Les deux sont parfaitement compatible JSON-LD et le premier à l'avantage d'indiquer explicitement l'ontologie utilisée, au cas où il y en a plusieurs (c'est le cas pour Archipel, où on utilise PAIR et ActivityPub)

Dans tous les cas, chaque logiciel est libre d'utiliser le contexte qu'il préfère, en recompactant éventuellem

[2021-03-06 22:25] srosset81 commented on #635
Deux remarques:
- On ne devrait pas utiliser `pair:label` mais `rdfs:label`, qui est plus standard. A mon avis ça n'a pas trop de sens d'avoir réinventé un concept de label pour l'ontologie PAIR.
- Ce qui pourrait être chouette, c'est une spécification officielle qui permettrait d'indiquer (par exemple dans le header) le contexte JSON dans lequel on veut recevoir la donnée. De cette manière, plutô

[2021-03-08 08:20] simonLouvet commented on #635
++ pour que le client précise les contexte à utiliser par le middleware : l'AV va se mettre à faire des specs :-)

pour le pair:label. Il y a un intérêt limité:  Définir des range ou d'autre information sur cette property qui est très large en rdfs:label. de plus rdfs:label est conçu pour mettre un label dans des ontologies et pas sur des data. Spécifier un label dans une ontologie permet de disso

[2021-03-08 09:01] srosset81 opened #636 "Déduire l'URI de la ressource par son slug"
Plutôt qu'avoir des URLs de type:

`https://archipel.assemblee-virtuelle.org/Organization/https%3A%2F%2Fdata.virtual-assembly.org%2Forganizations%2Fassemblee_virtuelle/show`

déduire l'URI du slug en fonction du container défini dans les options.

`https://archipel.assemblee-virtuelle.org/Organization/assemblee_virtuelle/show`

Il faut un système assez flexible pour quand même pouvoir passer un UR

[2021-03-08 11:40] simonLouvet opened #638 "Cannot find module 'cas'"
**Décrivez le bug**
Au lancement de pair-ldp-server
[code]

**Etapes pour reproduire**
make start

**Comportement attendu**
pas de platage

**Captures d'écran**
voir erreur ci dessus

**contournement**
middleware.packages.connector.index.js
[code]

[2021-03-08 13:35] srosset81 opened #639 "Utiliser le chaînage optionel partout dans le code frontend"
https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Operators/Optional_chaining

Permet de remplacer ça :

`record => record && record['pair:hostedIn'] && record['pair:hostedIn']['pair:hasPostalAddress'] && record['pair:hostedIn']['pair:hasPostalAddress']['pair:longitude']`

Par ça:

`record => record?.['pair:hostedIn']?.['pair:hasPostalAddress']?.['pair:longitude']`

Pas de soucis de v

[2021-03-08 15:42] #585 closed, assigned to srosset81

[2021-03-08 17:11] srosset81 opened #641 "Faire un meetup en avril"
D'ici à avril, on devrait avoir les WebACL en prod et peut-être même la complétion wikidata.

Cela pourrait être un bon moment pour faire une petite présentation-célébration non ? Dans un format visio pas prise de tête ?

Qu'en pensez-vous @assemblee-virtuelle/semapps ?

[2021-03-09 09:23] #615 closed, assigned to srosset81

[2021-03-09 10:05] #551 closed, assigned to simonLouvet

[2021-03-10 11:23] srosset81 commented on #43
@tfrancart @GuillaumeAV @simonLouvet

J'essaie de m'occuper aujourd'hui de plus spécifier ce chantier. J'ai cependant une première remarque à chaud: les données de Wikidata me semblent très pauvres. La description d'une ressource Wikidata se limite à une petite ligne.

Par exemple pour [web developement](https://www.wikidata.org/wiki/Q386275), on a juste "type de développement de logiciel".
Pour [

[2021-03-10 15:17] srosset81 opened #643 "Générer automatiquement un pair:label pour les classes Person"
Actuellement la classe Person est la seule qui n'utilise pas de `pair:label`, ce qui oblige à faire toutes sortes d'adaptation.

En utilisant la prop `transform` ([voir la doc ici](https://marmelab.com/react-admin/CreateEdit.html#transform)), on pourrait facilement compiler le prénom et le nom afin de générer un `pair:label` automatiquement.

[2021-03-11 08:10] GuillaumeAV commented on #43
Huum c'est chelou tout de même ... Ca vaudrait le coup de contacter Maxime
Lathuillères, un ami et expert de wikidata, à l'origine de
https://inventaire.io qui est basé dessus.
Le wiki <https://wiki.inventaire.io/wiki/Main_Page> d'inventaire.io vaut le
détour, de même que la présentation de la stack
<https://inventaire.github.io/stack/>, dans laquelle on trouve leur
implémentation en node.js d'un

[2021-03-11 10:39] tfrancart commented on #43
Non c'est tout à fait normal. Il n'y a pas de descriptions détaillées dans
Wikidata, juste des libellés, des synonymes, et de micro-définitions, tout
cela en multilingue. Et des assertions bien sûr. Mais pas de description
"encyclopédique" et textuelle comme Wikipedia. Wikidata est fait pour de la
data structurée.
Ceci dit il est possible de rebondir dans une requête entre Wikidata et
l'entrée cor

[2021-03-11 11:59] srosset81 opened #644 "Permettre de centrer la carte sur les markers"
Ajouter une option `markersBounds` qui, si elle est true, centre la carte sur les markers.

Utiliser https://leafletjs.com/reference-1.7.1.html#latlngbounds

Voir https://jsfiddle.net/4p7u56wy/

[2021-03-12 14:11] simonLouvet commented on #612
rien dire, coherent

[2021-03-12 20:28] scenaristeur opened #646 "difference de comportement lors d'ajout d'une limit sur https://colibris.social/sparql"
En repartant de la requête de @fluidlog

la requête
[code]
me renvoie 5575 objets dans @graph

![image](https://user-images.githubusercontent.com/4020744/110993491-a8b96000-8377-11eb-9128-c3aca90f922b.png)

mais si j'ajoute une limite 100 à ma requête, j'ai quelque chose de totalement différent

[code]

![image](https://user-images.githubusercontent.com/4020744/110993717-ef0ebf00-8377-11eb-9bf8-37

[2021-03-14 14:53] srosset81 commented on #646
Ce n'est pas un bug, mais c'est effectivement une difficulté pour faire une requête SPARQL en CONSTRUCT avec une LIMIT. La limite s'applique au nombre de triples recherchés, pas au nombre de ressources (les ressources n'existent pas pour le triple store).

@tfrancart m'avais recommandé de faire un sub-SELECT dans le WHERE, mais son message était dans le chat Matrix et je ne peux pas le retrouver p

[2021-03-14 20:40] tfrancart commented on #646
Syntaxe générale pour un sous-select avec un limit, puis un construct par-dessus:

[code]

[2021-03-15 07:40] srosset81 commented on #646
Merci beaucoup !

[2021-03-15 07:40] #646 closed, assigned to nobody

[2021-03-15 09:12] srosset81 commented on #644
Fait ici https://github.com/assemblee-virtuelle/semapps/pull/645

[2021-03-15 09:12] #644 closed, assigned to srosset81

[2021-03-16 13:06] bouviermullerp commented on #617
ça aurait du sens, mais ça me pose la question de la place du front dans SemApps, non ?
Il me semble qu'on avait dit qu'on ne maintenait pas de front, mais vu qu'on en fait pas mal, peut être faut il adapter notre stratégie ?

[2021-03-16 15:39] simonLouvet commented on #643
++ sur le principe.

J'aurais plus mis cette transformation de données au niveau du dataProvider en terme d'architecture.

[2021-03-16 15:40] srosset81 commented on #617
C'est une vaste question, mais là on maintient Archipel depuis plusieurs mois.
Cela permet de proposer des composants réutilisables par d'autres instances (carte géographique, relations réifiées...)

[2021-03-16 15:41] simonLouvet commented on #639
++, t'es sur que ca fonctionne sur les properties obtenue par key ( record?.[key] ) et non par chaînage classique ( record?.key ) ?

[2021-03-16 15:44] simonLouvet opened #647 "FilteredArrayField & ReifiedArrayField pour show les relation réifiées"
**Tension**
Le ArrayField classique ne permet pas d'afficher toutes les personnes qui ont un role dans une organsiation groupé par rôle. Besoin issue du projet Passerelle Normandie

**Proposition**
implémenté FilteredArrayField qui permettra d'afficher un ArrayField en filtrant son contenu
implémenté ReifiedArrayField qui affichera plusieurs FilteredArrayField groupé par un attribut configurable (

[2021-03-16 16:07] bouviermullerp commented on #617
Perso je suis bien d'accord, je suis plutôt pour investir dans du front aussi !

[2021-03-16 16:28] GuillaumeAV commented on #617
Yop !
Perso ca me semble avoir beaucoup de sens en effet, j'imagine que le temps
qu'on pourrait gagner + la qualité des résultats devrait être très
largement supérieurs à l'économie que l'on pourrait faire en n'achetant pas
ce kit ...

Concernant notre positionnement, mon point de vue est que tant que les Web
Components de SiB ou autre ne sont pas matures, on aura besoin de faire du
front si on ve

[2021-03-16 22:26] srosset81 commented on #639
Oui ça fonctionne pour les deux.

[2021-03-16 22:27] srosset81 commented on #643
Le data provider ne devrait pas être dépendant de l'ontologie utilisée.

[2021-03-17 08:44] srosset81 commented on #647
OK pour FilteredArrayField.
Je ne serai pas pour merger ReifiedArrayField dans le repo semapps car on sort des bonnes pratiques de React-Admin (un seul label par Field)

[2021-03-17 09:25] simonLouvet commented on #647
@srosset81 si je ne merge pas ReifiedArrayField, il faudra faire du code spécifique pour afficher les relation réifié groupées par une des propriété de la relation.

[2021-03-17 10:59] bouviermullerp opened #649 "Migrer Parlepeuple vers SemApps"
**Description**
Il existe toujours une instance de parlepeuple [ici](https://lemondeapres.org/) pour montrer les différentes fonctionnalités de parlepeuple qui forme comme un réseau social. (les fonctionnalités sont assez similaires à communecter).

Ce chantier est destiné à recevoir les estimations de @nikoPLP suite à la discussion que nous avons eu le 14 Mars.
Peut-être est-il intéressant ce cas

[2021-03-17 15:11] srosset81 commented on #647
Il suffit que tu gardes ce composant sur le repo spécifique, et que tu ne les mettes pas dans @semapps/semantic-data-provider

[2021-03-17 15:21] simonLouvet commented on #647
Oui, ce que tu dis fonctionne pour Passerlle-Normandie mais ne pourra pas être réutilisé pour un autre projet si ce n'est pas inclue dans le noyau. Je pense que c'est une fonctionnalité utile. Rien que Archipel je suis parti pour présenter les relations réifiées comme pour passerelle.

[2021-03-19 16:42] srosset81 opened #651 "GogocartoLDP"
**Description**
Si Gogocarto pouvait devenir [LDP](https://www.w3.org/TR/ldp-primer/)-compatible, cela pourrait permettre d'aller lire les données de Transiscope et autres projets directement, sans avoir à les importer. Le travail avait été commencé pour [rendre sémantique les données de Gogocarto](https://gitlab.adullact.net/pixelhumain/GoGoCarto/-/merge_requests/38). Il suffirait de finir ce tra

[2021-03-19 16:59] srosset81 commented on #517
Une autre information qu'il serait très pertinent d'avoir dans un endpoint de ce type, c'est les interfaces qui permettent de voir les données. Ca permettre à une instance SemApps qui voudrait envoyer un utilisateur directement sur une autre interface de savoir comment s'y prendre.

Par exemple pour `data.virtual-assembly.org`, on pourrait avoir une info de type:
[code]

[2021-03-19 17:08] bouviermullerp commented on #649
La région Bourgogne Franche-Comté a récemment mis en place un réseau social local grâce à l'outil libre HumHub (https://www.humhub.com/en). Voir ici leur implémentation : https://resonum-bfc.fr/dashboard

[2021-03-19 17:18] srosset81 opened #652 "InferenceService: ajouter la relation inverse sur le serveur fédéré"
![Interopérabilité entre instances SemApps (2)](https://user-images.githubusercontent.com/17931931/133049208-ed2df8d6-b18c-4eb9-9d9c-a73564b2cb33.png)

**Tension**
Lorsqu'on ajoute une relation vers une donnée d'un serveur fédéré, on ne peut pas, comme pour des données internes, ajouter la relation inverse directement dans le triple store. C'est dommage car cela permettrait de rendre visible les r

[2021-03-19 17:20] srosset81 commented on #451
@simonLouvet @bouviermullerp J'ai ajouté l'issue #652 à ce chantier et j'ai augmenté de 2 jours le temps nécessaire pour son implémentation.

[2021-03-22 15:05] GuillaumeAV commented on #652
Ce serait une bonne chose non que toutes les instances SemApps supportent ActivityPub non ?

Je comprends l'intérêt de la modularité mais s'il y a des besoins d'interopérabilité et de fédération, je me dis qu'AP peut faire partie de la solution ...

[2021-03-22 15:06] GuillaumeAV commented on #651
Ce serait beau !

[2021-03-22 15:37] srosset81 commented on #652
Pour maintenir une instance avec ActivityPub depuis une année (pour Colibris), je peux dire que ça ajoute plus de complexité, notamment au niveau des données. Je pense pas qu'il faut obliger à utiliser ActivityPub, sauf s'il y a un réel besoin.

[2021-03-24 10:00] srosset81 commented on #611
Je vais implémenter ça prochainement dans le cadre du financement de PDGE.
Je n'inclurais pas la gestion des groupes dans un premier temps car elle pose pas mal de questions, et je pense que c'est bien de déjà voir les problématiques qui vont naître de l'usage.

Il faudra aussi prévoir la gestion des droits au niveau du container, lorsqu'un utilisateur a un droit `acl:Control` sur le container. Il

[2021-03-24 13:24] GuillaumeAV commented on #611
C'est déjà un premier pas absolument génial !!!!

[2021-03-25 09:01] srosset81 commented on #622
Plus que https://github.com/assemblee-virtuelle/semapps/issues/430 (que je fais la semaine prochaine) et on devrait être bon pour ce chantier :-)

[2021-03-25 09:09] srosset81 commented on #429
Fait ici https://github.com/assemblee-virtuelle/semapps/pull/642

[2021-03-25 09:09] #429 closed, assigned to sauvagemathilde

[2021-03-25 09:09] srosset81 commented on #610
Fait ici https://github.com/assemblee-virtuelle/semapps/pull/642

[2021-03-25 09:09] #610 closed, assigned to nobody

[2021-03-25 09:09] srosset81 commented on #613
Fait ici https://github.com/assemblee-virtuelle/semapps/pull/642

[2021-03-25 09:09] #613 closed, assigned to nobody

[2021-03-25 10:00] GuillaumeAV commented on #622
Hip hip hip .... :)

[2021-03-26 11:38] srosset81 commented on #632
Ce sera réglé par https://github.com/assemblee-virtuelle/semapps/issues/643

[2021-03-26 11:38] #632 closed, assigned to srosset81

[2021-03-26 13:12] simonLouvet commented on #643
J'ai pas compris ta réponse (le lien avec ma proposition/remarque). Je parlais de pourvoir indiquer au DataProvider des transformations à faire sur les data  par configuration.

[2021-03-26 14:30] srosset81 commented on #643
Ce serait une option en effet. Sauf que ça prend du temps à implémenter et documenter, alors que la solution que je propose est réglée en une ligne de code, et cela avec du code standard React-Admin.
Je l'ai implémentée ici https://github.com/assemblee-virtuelle/semapps/pull/654

[2021-03-26 17:01] #643 closed, assigned to srosset81

[2021-03-27 11:06] scenaristeur commented on #596
chargement du jsonld

`Suite à notre conversation  d'hier
un proto de chargement des containers jsonld semapps
dans une page html (sans webpack ;-)) et avec un module /class
https://scenaristeur.github.io/ipgs/simple.html
le source https://github.com/scenaristeur/ipgs/blob/main/public/simple.html et https://github.com/scenaristeur/ipgs/tree/main/public/simple

les nodes seraient certainement à net

[2021-03-29 10:15] srosset81 opened #657 "Les filtres par thème ne s'affichent pas bien"
- Limité à 25
- Pas le même ordre sur Chrome ou Firefox
- Pour réduire la liste, ce serait bien d'enlever les thèmes orphelins

[2021-03-30 07:06] srosset81 commented on #657
Corrigé normalement sur Archipel
@bouviermullerp

[2021-03-30 07:06] #657 closed, assigned to nobody

[2021-03-30 10:08] GuillaumeAV commented on #596
Super classe @scenaristeur !!

[2021-03-30 12:01] srosset81 opened #659 "Le container /files renvoie une image"
https://data.virtual-assembly.org/files

Il devrait renvoyer la liste des fichiers

[2021-03-31 08:48] srosset81 opened #660 "Créer un AuthService"
**Tension**
Configurer les connecteur est compliqué. Cela pourrait être fait automatiquement, d'autant plus qu'on peut maintenant ajouter les routes API depuis d'autres services.

**Proposition**
Renommer le package `@semapps/connector` en `@semapps/auth` (comme proposé dans #248) et créer un AuthService qui aurait comme configuration:

[code]

Dans un premier temps on pourrait garder la classe Co

[2021-03-31 08:49] #647 closed, assigned to simonLouvet

[2021-04-01 08:20] J9rem opened #661 "Définir la notion de template"
Lors de la réunion SemApps du [31 mars 2021](https://github.com/assemblee-virtuelle/semapps/wiki/R%C3%A9union-planning-SemApps-31-03-2021), nous avons parlé d'avoir des templates.

Toutefois, cette notion peut représenter différentes notions:
- onthologie
- tempalte css
- une version archipel
- ...

Je m'occupe de caler une réunion pour définir cette notion et affiner le besoin de tempaltes.

[2021-04-01 08:56] J9rem opened #662 "S'inspirer des https://contribateliers.org de Framasoft"
- S'inspirer des https://contribateliers.org de Framasoft voire créer un partenariat ?
_Vient des échanges du [31 mars 20210](https://github.com/assemblee-virtuelle/semapps/wiki/R%C3%A9union-planning-SemApps-31-03-2021)_

@GuillaumeAV est-ce toi qui suit cette issue ?

[2021-04-01 08:59] J9rem opened #663 "Proposer une install party pendant les 10 ans de l'AV"
Proposer une install party pendant les 10 ans de l'AV
(cf. [échanges du 31 mars 2021](https://github.com/assemblee-virtuelle/semapps/wiki/R%C3%A9union-planning-SemApps-31-03-2021))

@GuillaumeAV je te l'ai assigné car il me semble que tu avais énergisé cette idée mais n'hésite pas à assigner aux autres bonnes personnes.

[2021-04-01 10:24] J9rem commented on #546
J'ai terminé le transfert des informations depuis Roam Research https://roamresearch.com/#/app/virtual-assembly/page/af0djawNO

1. Création de la page [SemApps en quelques mots](https://github.com/assemblee-virtuelle/semapps/wiki/SemApps-en-quelques-mots) et ajout à la page [d'accueil](https://github.com/assemblee-virtuelle/semapps/wiki)
2. Création de la page [Nos outils](https://github.com/assem

[2021-04-01 10:24] #546 closed, assigned to J9rem

[2021-04-01 12:04] srosset81 commented on #546
Super boulot, merci !

[2021-04-01 17:24] GuillaumeAV opened #666 "Problème de prise en compte des rôles renseignés quand on passe en lecture .."
**Décrivez le bug**
Quand je crée un nouveau rôle et que je l'enregistre, j'ai un problème quand je passe en affichage :
Les rôles ne s'affichent pas en lecture.

**Etapes pour reproduire**
1. Aller sur 'Assemblée Virtuelle'
2. Renseigner une nouvelle personne avec son rôle'
3. Cliquer sur Afficher
4. Voir l'erreur

Il faut alors que j'actualise la page pour que les ajouts s'affichent correctement

[2021-04-01 17:29] GuillaumeAV opened #667 "Enlever en affichage, les rôles avec aucune donnée ..."
**Décrivez le bug**
Tous les rôles sont listés même s'il n'y a personne ...

**Etapes pour reproduire**
1. Aller sur 'AV'
2. Voir qu'il n'y a personne sous "Associé.e"

**Comportement attendu**
Les rôles avec personne ne devraient pas être affichés ..

[2021-04-01 17:32] GuillaumeAV opened #668 "Peaufiner le design de l'affichage des rôles"
**Décrivez le bug**
Il y a un espace en trop entre les rôles et les personnes ;
Il manque un espace entre les personnes et les rôles suivants...

**Etapes pour reproduire**
1. Aller sur [AV](https://archipel.assemblee-virtuelle.org/Organization/https%3A%2F%2Fdata.virtual-assembly.org%2Forganizations%2Fassemblee_virtuelle/show)
2. Voir la petite amélioration possible

**Comportement attendu**
Que l

[2021-04-01 17:35] GuillaumeAV opened #669 "Il manque les relations inverses aux rôles .."
**Décrivez le bug**
Quand je vais sur le profil de Guillaume je ne retrouve pas les orgas dont je suis associé (DP), Admin (AV) etc...

**Etapes pour reproduire**
1. Aller sur 'Guillaume '
2. Voir l'erreur

**Comportement attendu**
Avoir les relations inverses ... Mais peut-être est-ce lié l'issue à ce sujet dans l'ontologie ?

[2021-04-01 18:10] srosset81 commented on #669
Lié à https://github.com/assemblee-virtuelle/pair/issues/166, on ne peut rien faire.

[2021-04-01 18:10] #669 closed, assigned to simonLouvet

[2021-04-01 19:58] J9rem commented on #565
Comment procédons-nous ?
J'identifie :
 - installer les packages nécessaires (j'ai besoin d'aide)
 - traduire les pages en Français ou en Anglais (pour ce qui proviendra du wiki Github) (je veux bien énergiser ceci)

Est-ce qu'il y a d'autres specs à voir ensemble ?
(genre ajouter une autre langue esperanto ? attention nous sommes le  1/4 ;-p)

[2021-04-02 06:40] J9rem commented on #565
Sinon, plus sérieusement, est-ce que nous pourrions déjà proposer quelques pages en français dans un dossier /fr/, qui serait appelable par un lien (version Fr/version En), .... je sais que c'est du bricolage mais ça permettrait déjà de générer du contenu en Français qui sera nécessaire au moment où l'extension i18n sera installée.

En plus, ça éviterait la duplication d'information en Français qu

[2021-04-02 07:33] GuillaumeAV commented on #663
Oui c'est moi qui avait proposé cette idée en effet, au côté des **aPAIRos** : proposition d'événements de carto collaborative des PAIRs au sein des communautés d'utilisateurs d'archipelago !
Je suis sûr que ca pourra boter notre cher ami @Ancelin-Moulherat-AV !

[2021-04-02 07:36] GuillaumeAV commented on #546
Génial bravo @J9rem !!

[2021-04-02 07:42] GuillaumeAV commented on #565
Je vote pour :)

Le ven. 2 avr. 2021 à 08:41, Jérémy Dufraisse ***@***.***> a
écrit :

--
Guillaume Rouyer
+33 (0)6 28 34 54 99
<http://assemblee-virtuelle.org>http://virtual-assembly.org

https://www.facebook.com/grouyer
https://twitter.com/Guillaume_AV

[2021-04-02 10:22] GuillaumeAV opened #670 "Proposer une rencontre du club des utilisateurs !"
Suite à la réunion planification, la proposition est d'organiser une visio d'échanges entre représentants des premières communautés d'utilisateurs de SemApps / Archipelago, parmi lesquels (**complétez si j'en oublie**) :

1. Archipel AV
2. Passerelle Normandie
3. Colibris
4. Chemins de la Transition
5. UTT
6. FabMob
7. DataFood Consortium
8. Prats de Mollo
9. Aimeraudes
10. Glocal Low Tech

NB
On

[2021-04-02 13:22] srosset81 commented on #670
P**ain ça commence à faire un paquet d'instances ! :laughing:

[2021-04-02 13:24] srosset81 commented on #663
Je suis partant moi aussi !
Idéalement il faudrait qu'on soit une petite équipe de 2-3 personnes pour accompagner les installeurs.

[2021-04-02 13:40] srosset81 commented on #565
Je crois pas que la création d'un second docusaurus sera évidente, on va perdre du temps pour un résultat insatisfaisant.
Le mieux est de mettre à jour Docusaurus et d'utiliser la méthode recommandées pour gérer les traductions.

C'est un travail d'au moins une journée complète, sans parler de la traduction elle-même. Si tu es motivé @J9rem, c'est cool ! :-) Mais on peut aussi prendre le temps pou

[2021-04-02 14:30] srosset81 opened #673 "Finaliser et documenter YesWikiLDP"
**Description**
YesWiki est en théorie compatible LDP depuis septembre 2020: les formulaires Bazar, s'ils sont typés sémantiquement, fournissent un container LDP avec les fiches sous forme de ressources LDP. Cela permet à une instance type Archipel d'afficher (et modifier !) des événements d'un YesWiki, par exemple.

**Issues liées**
- [ ] Ajouter une documentation sur qu'est-ce qu'un serveur LDP

[2021-04-02 14:36] srosset81 opened #674 "Permettre au semantic data provider d'aggréger les données de plusieurs serveurs"
**Tension**
Actuellement le semantic data provider utilisé par l'interface Archipel ne lit les données d'une classe donnée (par exemple des événements) que d'un URL de container LDP ou d'un endpoint SPARQL. Mais du coup cela ne montre pas vraiment l'intérêt de dissociation de l'interface et des données.
Si on pouvait aggréger les données de différents serveurs, cela permettrait, par exemple, d'aff